<template>
    <div :class="sidebarClasses"
         :data-background-color="backgroundColor"
         :data-active-color="activeColor">
        <div class="sidebar-wrapper" id="style-3">
            <slot>

            </slot>
            <ul :class="navClasses">
                <router-link v-for="(link,index) in sidebarLinks" :to="link.path" tag="li" :ref="link.name"
                             :key="link.name + index"
                             @click.native="onPathClick()"
                             data-cy="navbar-item">
                    <a>
                        <i :class="link.icon"></i>
                        <p>{{$t(link.name)}}</p>
                    </a>
                </router-link>

                <li class="clickable" v-for="(link,index) in sidebarActions" :key="link.name + index" data-cy="navbar-item">
                    <a @click.stop.prevent="onSidebarActionClick(link.dispatchAction)" >
                        <i :class="link.icon"></i>
                        <p >{{$t(link.name)}}</p>
                    </a>
                </li>
            </ul>
<!--            <moving-arrow :move-y="arrowMovePx">-->
<!--            </moving-arrow>-->
        </div>
    </div>
</template>
<script>
// import MovingArrow from './MovingArrow.vue'

export default {
  props: {
    type: {
      type: String,
      default: 'sidebar',
      validator: (value) => {
        const acceptedValues = ['sidebar', 'navbar']
        return acceptedValues.indexOf(value) !== -1
      },
    },
    backgroundColor: {
      type: String,
      default: 'review-primary-color',
    },
    activeColor: {
      type: String,
      default: 'active',
    },
    sidebarLinks: {
      type: Array,
      default: () => [],
    },
    sidebarActions: {
      type: Array,
      default: () => [],
    },
  },
  // components: {
  //   MovingArrow,
  // },
  computed: {
    sidebarClasses() {
      if (this.type === 'sidebar') {
        return 'sidebar'
      }
      return 'collapse navbar-collapse off-canvas-sidebar'
    },
    navClasses() {
      if (this.type === 'sidebar') {
        return 'nav'
      }
      return 'nav navbar-nav'
    },
    /**
         * Styles to animate the arrow near the current active sidebar link
         * @returns {{transform: string}}
         */
    arrowMovePx() {
      return this.linkHeight * this.activeLinkIndex
    },
  },
  data() {
    return {
      linkHeight: 60,
      activeLinkIndex: 0,

      windowWidth: 0,
      isWindows: false,
      hasAutoHeight: false,
    }
  },
  methods: {
    findActiveLink() {
      this.sidebarLinks.find((element, index) => {
        const found = element.path === this.$route.path
        if (found) {
          this.activeLinkIndex = index
        }
        return found
      })
    },
    onSidebarActionClick(dispatchAction) {
      this.$sidebar.displaySidebar(false)
      this.$store.dispatch(dispatchAction)
    },
    onPathClick() {
      this.$sidebar.displaySidebar(false)
    },
  },
  mounted() {
    this.findActiveLink()
  },
  watch: {
    $route(newRoute, oldRoute) {
      this.findActiveLink()
    },
  },
}
</script>
<style>

    .clickable {
        cursor: pointer;
    }

</style>
