<template>
  <div>
    <div v-if="isFetchingStatistics">
      <progress-bar />
      <md-empty-state
        :md-label="$t('statistics.wait')"
        :md-description="$t('statistics.loading')"
        md-icon="hourglass_empty"
        md-rounded
        class="empty-state"
        data-cy="statistics-empty">
      </md-empty-state>
    </div>
    <div v-else>
      <md-toolbar v-if="!statisticsAvailable" class="md-layout" id="toolbar" md-elevation="1" data-cy="toolbar">
        <div class="md-layout-item md-size-5 md-small-hide"/>
        <!--Location Auswahl-->
        <div class="md-layout-item md-size-15 md-small-size-33 text-wrap">
          <md-menu v-if="locations.length > 1" md-direction="bottom-start">
            <md-button md-menu-trigger data-cy="location-menu">
              {{currentLocation ? currentLocation.name : ''}}
            </md-button>
            <md-menu-content>
              <div v-for="location in sortedLocations"
                   :key="location.id">
                <md-menu-item @click="onOtherLocationClicked(location.id)"
                              data-cy="location-item">
                  {{location.name}}
                </md-menu-item>
              </div>
            </md-menu-content>
          </md-menu>
          <div id="single-location-text" v-else>{{locations[0] ? locations[0].name.toUpperCase(): ''}}</div>
        </div>
      </md-toolbar>
      <md-empty-state
        v-if="!statisticsAvailable"
        :md-label="$t('statistics.error.notAvailable')"
        :md-description="errorText"
        md-icon="bar_chart"
        md-rounded
        class="empty-state"
        data-cy="statistics-empty">
      </md-empty-state>
      <div v-else>
        <md-toolbar class="md-layout" id="toolbar" md-elevation="1" data-cy="toolbar">
          <div class="md-layout-item md-size-5 md-small-hide"/>
          <!--Location Auswahl-->
          <div class="md-layout-item md-size-15 md-small-size-33 text-wrap">
            <md-menu v-if="locations.length > 1" md-direction="bottom-start">
              <md-button md-menu-trigger data-cy="location-menu" class="cut-text">
                {{currentLocation ? currentLocation.name : ''}}
              </md-button>
              <md-menu-content>
                <div v-for="location in sortedLocations"
                     :key="location.id">
                  <md-menu-item @click="onOtherLocationClicked(location.id)"
                                data-cy="location-item">
                    {{location.name}}
                  </md-menu-item>
                </div>
              </md-menu-content>
            </md-menu>
            <div id="single-location-text" v-else>{{locations[0] ? locations[0].name.toUpperCase(): ''}}</div>
          </div>

          <!--Platform Auswahl-->
          <div class="md-layout-item md-size-15 md-small-size-33">
            <md-menu v-if="!!currentLocation
            && !!currentLocation.representations
            && currentLocation.representations.length > 1"
                     md-direction="bottom-start" data-cy="platform-menu">
              <!--Welche Plattform wird angezeigt-->
              <md-button md-menu-trigger v-if="currentPlatform === 0">
                {{$t('statistics.platforms')}}
              </md-button>
              <md-button md-menu-trigger v-else>
                {{capitalizeFirstLetter(currentPlatform)}}
              </md-button>

              <md-menu-content>
                <md-menu-item @click="currentPlatform = 0">{{$t('statistics.all')}}</md-menu-item>
                <div v-for="representation in currentLocationRepresentations"
                     :key="representation.id">
                  <md-menu-item @click="currentPlatform = representation.platform">
                    {{capitalizeFirstLetter(representation.platform)}}
                  </md-menu-item>
                </div>
              </md-menu-content>
            </md-menu>
            <div class="single-selection-button"
                 v-else-if="!!currentLocation
                 && currentLocation.representations
                 && currentLocation.representations.length > 0"
                 data-cy="platform-menu-single">
              {{currentLocation.representations[0].platform.toUpperCase()}}
            </div>
          </div>

          <!--Zeitraum Auswahl-->
          <div class="md-layout-item md-size-15 md-small-size-33">
            <md-menu md-direction="bottom-start">
              <md-button v-if="currentDateRange === 4" md-menu-trigger data-cy="time-menu">
                {{$t('statistics.period')}}
              </md-button>
              <md-button v-else data-cy="time-menu-range">
                {{filterDateText(currentDateRange)}}
              </md-button>

              <md-menu-content>
<!--                <md-menu-item @click="onDateClicked(0)" data-cy="time-menu-item">{{filterDateText(0)}}-->
<!--                </md-menu-item>-->
                <md-menu-item @click="onDateClicked(1)" data-cy="time-menu-item">{{filterDateText(1)}}
                </md-menu-item>
                <md-menu-item @click="onDateClicked(2)" data-cy="time-menu-item">{{filterDateText(2)}}
                </md-menu-item>
                <md-menu-item @click="onDateClicked(3)" data-cy="time-menu-item">{{filterDateText(3)}}
                </md-menu-item>
                <md-menu-item @click="onDateClicked(4)" data-cy="time-menu-item">{{filterDateText(4)}}
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </div>
        </md-toolbar>

        <div id="statistics-box">
          <statistics-header
            :delta="currentStatisticsDelta"
            :current="currentUnifiedEndStatistics"
            :key="statisticsForCurrentTimeRangeLength"
            :start-moment="currentStartMoment || oldestStatisticsMoment"
            :end-moment="currentEndMoment || newestStatisticsMoment"
            :oldest-moment="oldestStatisticsMoment"
            :has-statistics-for-current-time-range="hasStatisticsForCurrentTimeRange"/>

          <hr>

          <div class="md-layout md-gutter md-alignment-center">
            <statistics-average-chart
              class="md-layout-item md-size-45 md-small-size-95"
              :statistics-data="statisticsForCurrentTimeRange"
              :key="`average_${statisticsForCurrentTimeRangeLength}`"
              :representations="currentRepresentations"
              :excluded-platforms="averageChartExcluded"
              data-cy="average-chart"/>

            <statistics-growth-chart
              class="md-layout-item md-size-45 md-small-size-95"
              :statistics-data="statisticsForCurrentTimeRange"
              :key="`growth_${statisticsForCurrentTimeRangeLength}`"
              :representations="currentRepresentations"
              :excluded-platforms="growthChartExcluded"
              data-cy="growth-chart"/>

            <statistics-platform-distribution-chart
              class="md-layout-item md-size-45 md-small-size-95"
              :statistics-data="statisticsForCurrentTimeRange"
              :representations="currentRepresentations"
              :key="`platform_distribution_${statisticsForCurrentTimeRangeLength}`"
              :excluded-platforms="platformDistributionChartExcluded"
              :should-compare-to-empty-stats="needsOldestStatistics"
              data-cy="platform-distribution-chart"/>

            <statistics-rating-distribution-chart
              class="md-layout-item md-size-45 md-small-size-95"
              :statistics-data="statisticsForCurrentTimeRange"
              :representations="currentRepresentations"
              :key="`rating_distribution_${statisticsForCurrentTimeRangeLength}`"
              :excluded-platforms="ratingDistributionChartExcluded"
              :should-compare-to-empty-stats="needsOldestStatistics"
              data-cy="rating-distribution-chart"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import _ from 'lodash'
import moment from 'moment'
import DateHelper from '../../../helper/DateHelper'
import StatisticsHeader from './StatisticsHeader.vue'
import StatisticsAverageChart from './StatisticsAverageChart.vue'
import StatisticsGrowthChart from './StatisticsGrowthChart.vue'
import StatisticsPlatformDistributionChart from './StatisticsPlatformDistributionChart.vue'
import StatisticsRatingDistributionChart from './StatisticsRatingDistributionChart.vue'
import ProgressBar from '../../../GeneralViews/ProgressBar.vue'
import { HookListener } from '../../../store/modules/hooks'
import { EventType, EventName } from '../../../store/modules/event'
import { capitalize } from '../../../helper/StringHelper'
import StatisticsHelper from '../../../helper/StatisticsHelper'

export default {
  name: 'Statistics',
  data: () => ({
    // everything for filters
    currentLocationId: null,
    /**
     * 0 - All platforms
     * String - specific values
     */
    currentPlatform: 0,
    /**
     * 0 - All time
     * 1 - This month
     * 2 - Last month
     * 3 - Last 6 month
     * 4 - This Year
     */
    currentDateRange: 4,
    currentStartMoment: null,
    currentEndMoment: null,

    // excluded platforms
    averageChartExcluded: [],
    growthChartExcluded: [],
    platformDistributionChartExcluded: [],
    ratingDistributionChartExcluded: ['facebook'],
  }),
  components: {
    StatisticsHeader,
    StatisticsAverageChart,
    StatisticsGrowthChart,
    StatisticsPlatformDistributionChart,
    StatisticsRatingDistributionChart,
    ProgressBar,
  },
  computed: {
    ...mapGetters({
      locations: 'getLocationsForCurrentUser',
      statisticsForUser: 'getStatisticsForCurrentUser',
      statisticsPerRepresentation: 'getStatisticsPerRepresentation',
      isFetchingStatistics: 'isFetchingStatistics',
      platforms: 'getAllPlatforms',
    }),
    statisticsAvailable() {
      if (!this.hasLocations) return false
      if (!this.hasLocationWithRepresentations) return false
      if (!this.hasCurrentLocationRepresentations) return false
      return this.hasCurrentLocationStatistics
    },
    hasLocations() {
      return this.locations.length > 0
    },
    hasLocationWithRepresentations() {
      return !!this.locations.find(location => !!location.representations && location.representations.length > 0)
    },
    hasCurrentLocationRepresentations() {
      return !!this.currentLocation
        && this.currentLocation.representations
        && this.currentLocation.representations.length > 0
    },
    hasCurrentLocationStatistics() {
      const filledRepresentationIds = Reflect.ownKeys(this.statisticsPerRepresentation)
      return _.intersection(this.currentRepresentationIds, filledRepresentationIds).length > 0
    },
    errorText() {
      if (!this.hasLocations) return this.$t('statistics.error.noLocation')
      if (!this.hasLocationWithRepresentations) return this.$t('statistics.error.noRepresentation')
      if (!this.hasCurrentLocationRepresentations) return this.$t('statistics.error.noRepresentation')
      if (!this.hasCurrentLocationStatistics) return this.$t('statistics.error.noStatistics')
      return null
    },
    sortedLocations() {
      /* This eslint error seems to be a bug in the rule, because we're not assigning
        anything to this or a property of this
        */
      // eslint-disable-next-line vue/no-side-effects-in-computed-properties
      return this.locations.sort((location1, location2) => {
        const name1 = location1.name.toLowerCase()
        const name2 = location2.name.toLowerCase()
        if (name1 === name2) return 0
        if (name1 < name2) return -1
        return 1
      })
    },
    currentLocation() {
      return this.sortedLocations.find(location => location.id === this.currentLocationId)
    },
    currentLocationRepresentations() {
      if (this.currentLocation && this.currentLocation.representations) {
        return this.currentLocation.representations.filter(representation => representation.platform !== 'instagram')
      }
      return null
    },
    currentRepresentations() {
      if (!this.currentLocation) return null
      if (this.currentPlatform && this.currentLocation.representations) {
        return [
          this.currentLocation.representations.find(representation => representation.platform === this.currentPlatform),
        ]
      }
      return this.currentLocationRepresentations
    },
    currentRepresentationIds() {
      return this.currentRepresentations.map(r => r.id)
    },
    statisticsForCurrentRepresentations() {
      if (!this.currentRepresentations) return []
      const current = {}
      this.currentRepresentationIds.forEach((id) => {
        if (this.statisticsPerRepresentation[id]) current[id] = this.statisticsPerRepresentation[id]
      })
      return current
    },
    statisticsForCurrentTimeRangeLength() {
      if (Reflect.ownKeys(this.statisticsForCurrentTimeRange).length === 0) return 0
      const id = Reflect.ownKeys(this.statisticsForCurrentTimeRange)[0]
      return this.statisticsForCurrentTimeRange[id].length
    },
    statisticsForCurrentTimeRange() {
      const stats = _.cloneDeep(this.statisticsForCurrentRepresentations)
      const representationIds = Reflect.ownKeys(stats)
      if (!stats || representationIds.length === 0) return stats
      let startIndex = 0
      if (representationIds.length === 0
        || Reflect.ownKeys(stats).length === 0
        || !stats[representationIds[0]]) return {}
      let endIndex = stats[representationIds[0]].length - 1
      if (this.currentStartMoment) {
        startIndex = stats[representationIds[0]].findIndex(({ date }) => {
          const statsMoment = DateHelper.getMomentFromTimestamp(date)
          return this.currentStartMoment.isSame(statsMoment, 'day')
        })
        if (startIndex === -1) startIndex = 0
      }
      if (this.currentEndMoment) {
        const outerEndMoment = this.currentEndMoment.clone().add(1, 'day')
        endIndex = stats[representationIds[0]].findIndex(({ date }) => {
          const statsMoment = DateHelper.getMomentFromTimestamp(date)
          return outerEndMoment.isSame(statsMoment, 'day')
        })
        if (endIndex === -1) endIndex = stats[representationIds[0]].length
      }
      if (startIndex !== 0 || endIndex !== stats[representationIds[0]].length - 1) {
        representationIds.forEach((id) => {
          stats[id] = stats[id].splice(startIndex, endIndex - startIndex)
        })
      }
      return stats
    },
    hasStatisticsForCurrentTimeRange() {
      return Reflect.ownKeys(this.statisticsForCurrentTimeRange).length > 0
    },
    oldestStatisticsMoment() {
      if (this.oldestStatistics.length === 0) return null
      return DateHelper.getMomentFromTimestamp(this.oldestStatistics[0].date)
    },
    oldestStatistics() {
      const allOldest = []
      this.currentRepresentationIds.forEach((id) => {
        if (!this.statisticsPerRepresentation[id]) return
        allOldest.push(this.statisticsPerRepresentation[id][0])
      })
      return allOldest
    },
    newestStatisticsMoment() {
      if (this.newestStatistics.length === 0) return null
      return DateHelper.getMomentFromTimestamp(this.newestStatistics[0].date)
    },
    newestStatistics() {
      const allNewest = []
      this.currentRepresentationIds.forEach((id) => {
        if (!this.statisticsPerRepresentation[id]) return
        const lastIndex = this.statisticsPerRepresentation[id].length - 1
        allNewest.push(this.statisticsPerRepresentation[id][lastIndex])
      })
      return allNewest
    },
    needsOldestStatistics() {
      if (!this.currentStartMoment) return true
      const startStatistics = this.getStatisticsForMoment(this.currentStartMoment)
      return startStatistics && startStatistics.length <= 0
    },
    currentStartStatistics() {
      return this.needsOldestStatistics ? this.oldestStatistics : this.getStatisticsForMoment(this.currentStartMoment)
    },
    currentEndStatistics() {
      if (!this.currentEndMoment || this.currentEndMoment.isBefore(moment())) return this.newestStatistics
      const endStatistics = this.getStatisticsForMoment(this.currentEndMoment)
      return endStatistics && endStatistics.length > 0 ? endStatistics : this.newestStatistics
    },
    currentUnifiedStartStatistics() {
      return StatisticsHelper.unify(this.currentStartStatistics)
    },
    currentUnifiedEndStatistics() {
      return StatisticsHelper.unify(this.currentEndStatistics)
    },
    currentStatisticsDelta() {
      const end = this.currentUnifiedEndStatistics
      if (this.needsOldestStatistics) return StatisticsHelper.getDeltaToEmptyStatistics(end)
      const start = this.currentUnifiedStartStatistics
      return StatisticsHelper.getDeltaStatistics(start, end)
    },
  },
  methods: {
    capitalizeFirstLetter: capitalize,
    getStatisticsForMoment(momentDate) {
      const stats = this.statisticsForCurrentRepresentations
      if (!stats || Reflect.ownKeys(stats).length === 0 || !momentDate) return null
      const id = Reflect.ownKeys(stats)[0]
      const index = stats[id].findIndex(({ date }) => {
        const statsMoment = DateHelper.getMomentFromTimestamp(date)
        return statsMoment.isSame(momentDate, 'day')
      })
      let statisticsForMoment = []
      Reflect.ownKeys(stats).forEach((representationId) => {
        statisticsForMoment.push(stats[representationId][index])
      })
      statisticsForMoment = statisticsForMoment.filter(s => !!s)
      return statisticsForMoment
    },
    onOtherLocationClicked(id) {
      this.currentPlatform = 0
      this.currentDateRange = 4
      this.currentLocationId = id
    },
    filterDateText(value) {
      switch (value) {
        case 0:
          return this.$t('statistics.periodFilter.all')
        case 1:
          return this.$t('statistics.periodFilter.thisMonth')
        case 2:
          return this.$t('statistics.periodFilter.lastMonth')
        case 3:
          return this.$t('statistics.periodFilter.lastSixMonths')
        case 4:
          return this.$t('statistics.periodFilter.thisYear')
        default:
          return null
      }
    },
    onDateClicked(value) {
      this.currentDateRange = value
      this.calculateDates()
    },
    calculateDates() {
      switch (this.currentDateRange) {
        case 0:
          this.currentStartMoment = this.oldestStatisticsMoment.subtract(1, 'day')
          this.currentEndMoment = this.newestStatisticsMoment
          break
        case 1:
          this.currentStartMoment = moment().startOf('month')
          this.currentEndMoment = null
          break
        case 2:
          this.currentStartMoment = moment().subtract(1, 'month').startOf('month')
          this.currentEndMoment = moment().subtract(1, 'month').endOf('month')
          break
        case 3:
          this.currentStartMoment = moment().subtract(6, 'month').startOf('day')
          this.currentEndMoment = null
          break
        case 4:
          this.currentStartMoment = moment().startOf('year')
          this.currentEndMoment = null
          break
        default:
        // Do nothing
      }
    },
    adjustReviewBoxHeight() {
      window.setTimeout(() => {
        const windowHeight = $(window).height()
        const navbarHeight = $('#navbar-header').height()
        const toolbarHeight = $('#toolbar').height()
        $('#statistics-box').height(windowHeight - navbarHeight - toolbarHeight)
      }, 100)
    },
    setCurrentLocationId() {
      const location = this.sortedLocations.find(loc => !!loc.representations
        && loc.representations.length > 0)
      if (!location) return
      this.currentLocationId = location.id
    },
  },
  created() {
    this.$store.commit('setHeadline', { text: this.$t('menu.statistics') })
    this.$store.dispatch('writeEvent', { name: EventName.Statistics, type: EventType.Visit })
    this.$store.dispatch('fetchStatistics')

    this.$router.onReady(() => {
      this.currentLocationId = this.$route.params.id
      if (!this.currentLocationId) {
        this.setCurrentLocationId()
      }
      if (!this.statisticsAvailable) {
        const hookId = HookListener.Identifier.RepresentationFetch
        const listener = new HookListener({
          hookId,
          handler: () => {
            this.setCurrentLocationId()
            return Promise.resolve()
          },
        })
        this.$store.commit('addHookListener', listener)
      }
    })
  },
  mounted() {
    this.adjustReviewBoxHeight()
    $(window).resize(() => {
      this.adjustReviewBoxHeight()
    })
  },
}
</script>
<style lang="scss" scoped>

  @import "../../../../assets/sass/variables";

  .empty-state {
    top: 100px;
  }

  .single-selection-button {
    cursor: default;
    font-weight: 500;
    font-size: 14px;
    padding-left: 10px;
  }

  #statistics-box {
    overflow: hidden;
    margin-left: 5px;
  }

  .md-list-item-content.md-disabled {
    color: lightgray !important;
  }

</style>

<style>
  .echarts {
    width: 100% !important;
    height: unset !important;
    min-height: 400px !important;
  }

  .text-wrap {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
</style>
