<template>
    <div>
        <div class="md-layout md-alignment-center-left">
            <h4 class="md-layout-item md-size-85">{{$t('statistics.perDay')}}</h4>
            <tooltip :id="'stats-growth'" class="md-layout-item md-size-10"></tooltip>
        </div>
        <chart v-if="representationsAndStatisticsAvailable" :options="growth" :auto-resize="true"></chart>
        <div v-else class="no-data">{{$t('statistics.error.noData')}}</div>
    </div>
</template>

<script>
import 'echarts/lib/chart/line'
import 'echarts/lib/chart/bar'
import 'echarts/lib/component/tooltip'
import 'echarts/lib/component/toolbox'
import ECharts from 'vue-echarts'
import Tooltip from '../../../GeneralViews/Tooltip.vue'
import ChartMixin from './ChartMixin'

export default {
  name: 'StatisticsGrowthChart',
  props: {
    excludedPlatforms: {
      type: Array,
      default() {
        return []
      },
    },
  },
  mixins: [ChartMixin],
  components: {
    Tooltip, chart: ECharts,
  },
  computed: {
    values() {
      return this.defaultValues
    },
    growth() {
      return {
        xAxis: {
          type: 'category',
          data: this.timeline,
        },
        yAxis: {
          type: 'value',
        },
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'cross',
          },
        },
        toolbox: {
          feature: {
            magicType: {
              type: ['line', 'bar'],
              title: {
                line: '',
                bar: '',
              },
              iconStyle: {
                color: '#fff',
                emphasis: {
                  color: '#000',
                  borderColor: '#000',
                },
              },
            },
          },
        },
        series: this.values,
        animationDuration: 1500,
      }
    },
  },
  methods: {
    getOverallData({ series }) {
      const dataOverall = []
      for (let i = 0; i < series[0].data.length; i++) {
        let value = 0
        for (let k = 0; k < series.length; k++) {
          value += series[k].data[i]
        }
        dataOverall.push(value)
      }
      return dataOverall
    },
    getData(stats) {
      const data = []
      for (let i = 1; i < stats.length; i += 1) {
        data.push(stats[i].totalReviews - stats[i - 1].totalReviews)
      }
      return data
    },
  },
}
</script>

<style scoped>

    .no-data {
        width: 200px;
        height: 200px;
    }

</style>
