<template>
    <div>
        <div class="md-layout md-alignment-center-left">
            <h4 class="md-layout-item md-size-85">{{$t('statistics.distribution')}}</h4>
            <tooltip :id="'stats-distribution-platform'" class="md-layout-item md-size-10"></tooltip>
        </div>
        <chart v-if="representationsAndStatisticsAvailable" :options="data" :auto-resize="true"></chart>
        <div v-else class="no-data">{{$t('statistics.error.noData')}}</div>
    </div>
</template>

<script>
import 'echarts/lib/chart/pie'
import 'echarts/lib/component/tooltip'
import ECharts from 'vue-echarts'
import IconResolver from '../../../helper/IconResolver'
import Tooltip from '../../../GeneralViews/Tooltip.vue'
import ChartMixin from './ChartMixin'

export default {
  name: 'StatisticsPlatformDistributionChart',
  props: {
    excludedPlatforms: {
      type: Array,
      default() {
        return []
      },
    },
    shouldCompareToEmptyStats: {
      type: Boolean,
      default() {
        return false
      },
    },
  },
  mixins: [ChartMixin],
  components: {
    Tooltip, chart: ECharts,
  },
  computed: {
    values() {
      if (!this.representationsAndStatisticsAvailable) return null

      const self = this
      const values = []

      Reflect.ownKeys(this.statisticsData).forEach((representationId) => {
        const statsPerRepresentation = this.statisticsData[representationId]
        const representation = self.representations.find(representation => representation.id === representationId)
        const platform = self.allPlatforms.find(platform => platform.name === representation.platform)
        const newest = statsPerRepresentation[statsPerRepresentation.length - 1]
        const oldest = statsPerRepresentation.filter(stat => !stat.isFiller)[0]
        const value = this.shouldCompareToEmptyStats ? newest.totalReviews : newest.totalReviews - oldest.totalReviews

        values.push({
          value,
          id: platform.id,
          name: platform.displayName,
          itemStyle: {
            color: IconResolver.getPlatformColorByName(platform.name),
          },
        })
      })
      return values
    },
    data() {
      return {
        series: [{
          type: 'pie',
          radius: '60%',
          center: ['50%', '50%'],
          data: this.values,
        }],
        animationDuration: 1500,
        tooltip: {
          trigger: 'item',
          formatter: '{b} : {c} ({d}%)',
        },
      }
    },
  },
}
</script>

<style scoped>

    .no-data {
        width: 200px;
        height: 200px;
    }

</style>
