<template>
    <div>
        <div class="md-layout md-alignment-center-left">
            <h4 class="md-layout-item md-size-85">{{$t('statistics.average')}}</h4>
            <tooltip :id="'stats-average'" class="md-layout-item md-size-10"/>
        </div>
        <chart v-if="representationsAndStatisticsAvailable" :options="averageRating" :auto-resize="true"/>
        <div v-else class="no-data">{{$t('statistics.error.noData')}}</div>
    </div>
</template>

<script>
import 'echarts/lib/chart/line'
import 'echarts/lib/chart/bar'
import 'echarts/lib/component/tooltip'
import 'echarts/lib/component/toolbox'
import ECharts from 'vue-echarts'
import Tooltip from '../../../GeneralViews/Tooltip.vue'
import ChartMixin from './ChartMixin'

export default {
  name: 'StatisticsAverageChart',
  props: {
    excludedPlatforms: {
      type: Array,
      default() {
        return []
      },
    },
  },
  mixins: [ChartMixin],
  components: {
    Tooltip, chart: ECharts,
  },
  computed: {
    values() {
      return this.defaultValues
    },
    averageRating() {
      return {
        xAxis: {
          boundaryGap: false,
          type: 'category',
          data: this.timeline,
        },
        yAxis: {
          type: 'value',
        },
        series: this.values,
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'cross',
          },
          feature: {

          },
        },
        toolbox: {
          feature: {
            magicType: {
              type: ['line', 'bar'],
              title: {
                line: '',
                bar: '',
              },
              iconStyle: {
                color: '#fff',
                emphasis: {
                  color: '#000',
                  borderColor: '#000',
                },
              },
            },
          },
        },
        animationDuration: 1500,
      }
    },
  },
  methods: {
    getOverallData({ statisticsData }) {
      const dataOverall = []
      const id = Reflect.ownKeys(statisticsData)[0]
      for (let i = 0; i < statisticsData[id].length; i += 1) {
        let value = 0
        let totalReviews = 0
        Reflect.ownKeys(statisticsData).forEach((representationId) => {
          const stat = statisticsData[representationId][i]
          value += (stat.totalReviews * stat.avgRating)
          totalReviews += stat.totalReviews
        })
        dataOverall.push((value / totalReviews).toFixed(2))
      }
      return dataOverall
    },
    getData(stats) {
      return stats.map(statsData => statsData.avgRating.toFixed(2))
    },
  },
}
</script>

<style scoped>

    .no-data {
        width: 200px;
        height: 200px;
    }

</style>
