<template>
    <div id="header" class="md-layout md-gutter md-alignment-center">
      <div class="md-layout-item md-size-100">
        <p v-if="hasStatisticsForCurrentTimeRange">{{statisticsDescription}}</p>
        <h4 v-else>{{noStatsText}}</h4>
      </div>
        <md-card class="md-layout-itemmd-small-size-45 md-xsmall-size-100 md-layout md-alignment-center"
                 :title="trendTitle"
                 v-if="hasStatisticsForCurrentTimeRange"
                 data-cy="trend-card">
            <div class="md-layout-item md-size-30">
                <md-icon v-if="trend > 0" class="md-size-2x">trending_up</md-icon>
                <md-icon v-else-if="trend < 0" class="md-size-2x">trending_down</md-icon>
                <md-icon v-else-if="total === 0" class="md-size-2x">trending_flat</md-icon>
                <md-icon v-else class="md-size-2x">trending_up</md-icon>
            </div>
            <div class="md-layout-item md-size-70">
                <md-card-header>{{$t('statistics.header.trend')}}</md-card-header>
                <md-card-content>
                    {{formattedTrend}}
                </md-card-content>
            </div>
        </md-card>

        <md-card class="md-layout-item md-small-size-45 md-xsmall-size-100 md-layout md-alignment-center"
                 data-cy="average-card"
                 v-if="hasStatisticsForCurrentTimeRange">
            <div class="md-layout-item md-size-30">
                <md-icon class="md-size-2x">star</md-icon>
            </div>
            <div class="md-layout-item md-size-70">
                <md-card-header>{{$t('statistics.header.average')}}</md-card-header>
                <md-card-content>
                    {{formattedAverage}}
                </md-card-content>
            </div>
        </md-card>

        <md-card class="md-layout-item md-small-size-45 md-xsmall-size-100 md-layout md-alignment-center"
                 data-cy="total-card"
                 v-if="hasStatisticsForCurrentTimeRange">
            <div class="md-layout-item md-size-30">
                <md-icon class="md-size-2x">rate_review</md-icon>
            </div>
            <div class="md-layout-item md-size-70">
                <md-card-header>{{$t('statistics.header.count')}}</md-card-header>
                <md-card-content>{{total}}</md-card-content>
            </div>
        </md-card>

        <md-card class="md-layout-item md-small-size-45 md-xsmall-size-100 md-layout md-alignment-center"
                 data-cy="open-card"
                 v-if="hasStatisticsForCurrentTimeRange">
            <div class="md-layout-item md-size-30">
                <md-icon class="md-size-2x">check_circle</md-icon>
            </div>
            <div class="md-layout-item md-size-70">
                <md-card-header>{{$t('statistics.header.read')}}</md-card-header>
                <md-card-content>{{open}}/{{total}}</md-card-content>
            </div>
        </md-card>
    </div>
</template>

<script>
export default {
  name: 'StatisticsHeader',
  props: {
    delta: {
      type: Object,
    },
    current: {
      type: Object,
    },
    startMoment: {
      type: Object,
    },
    endMoment: {
      type: Object,
    },
    oldestMoment: {
      type: Object,
    },
    hasStatisticsForCurrentTimeRange: {
      type: Boolean,
    },
  },
  components: {},
  computed: {
    average() {
      return this.delta ? this.delta.avgRating : null
    },
    formattedAverage() {
      if (!this.average) return '---'
      return (typeof this.average === 'number') ? this.average.toFixed(2) : this.average
    },
    total() {
      return this.delta ? this.delta.totalReviews : null
    },
    trend() {
      return this.delta ? this.delta.trend : null
    },
    open() {
      return this.delta ? this.delta.answered : null
    },
    isTrendNumber() {
      return typeof this.trend === 'number'
    },
    hasTrend() {
      // in javascript !!0 is false. that's why we test the type here
      if (this.isTrendNumber) return true
      return !!this.trend
    },
    formattedTrend() {
      if (!this.hasTrend) return '---'
      return (typeof this.trend === 'number') ? `${this.trend.toFixed(2)}%` : this.trend
    },
    trendTitle() {
      return this.startMoment ? this.$t('statistics.header.compare') : null
    },
    formattedStartDate() {
      if (!this.startMoment) return ''
      return this.startMoment.format('DD.MM.YYYY')
    },
    formattedEndDate() {
      if (!this.endMoment) return ''
      return this.endMoment.format('DD.MM.YYYY')
    },
    formattedOldestDate() {
      if (!this.oldestMoment) return ''
      return this.oldestMoment.format('DD.MM.YYYY')
    },
    statisticsDescription() {
      if (!this.startMoment || !this.endMoment) return ''
      let text = this.$t('statistics.header.period', { start: this.formattedStartDate, end: this.formattedEndDate })
      if (this.hasDeviantStart) {
        text += ' '
        text += this.$t('statistics.header.dataEntry', { date: this.formattedOldestDate })
      }
      if (!this.hasTrend) {
        text += ' '
        text += this.$t('statistics.header.noTrend')
      }
      return text
    },
    hasDeviantStart() {
      if (!this.oldestMoment) return false
      return this.oldestMoment.isAfter(this.startMoment)
    },
    noStatsText() {
      return this.$t('statistics.header.noStatistics', { start: this.formattedStartDate, end: this.formattedEndDate })
    },
  },
}
</script>

<style lang="scss" scoped>
    #header {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .md-card {
        text-align: center;
        vertical-align: middle;
        cursor: default;
        overflow: hidden;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 5px;
        height: 125px;
    }

    .md-card-header {
        font-size: 16px;
        margin-top: 5px;
        color: grey;
    }

    .md-card-content {
        font-size: 20px;
        color: #F04D38;
    }

</style>
