<template>
    <div>
        <div class="md-layout md-alignment-center-left">
            <h4 class="md-layout-item md-size-85">{{$t('statistics.ratingDistribution')}}</h4>
            <tooltip :id="'stats-distribution-rating'" class="md-layout-item md-size-10"></tooltip>
        </div>
        <chart v-if="representationsAndStatisticsAvailable" :options="data" :auto-resize="true"></chart>
        <div v-else class="no-data">{{$t('statistics.error.noData')}}</div>
    </div>
</template>

<script>
import 'echarts/lib/chart/bar'
import 'echarts/lib/component/tooltip'
import ECharts from 'vue-echarts'
import IconResolver from '../../../helper/IconResolver'
import Tooltip from '../../../GeneralViews/Tooltip.vue'
import ChartMixin from './ChartMixin'
import StatisticsHelper from '../../../helper/StatisticsHelper'

export default {
  name: 'StatisticsRatingDistributionChart',
  props: {
    excludedPlatforms: {
      type: Array,
      default() {
        return []
      },
    },
    shouldCompareToEmptyStats: {
      type: Boolean,
      default() {
        return false
      },
    },
  },
  mixins: [ChartMixin],
  components: {
    Tooltip, chart: ECharts,
  },
  methods: {
    getRatingDistributionFromStatsItem: statsData => [statsData.ratingOne,
      statsData.ratingTwo,
      statsData.ratingThree,
      statsData.ratingFour,
      statsData.ratingFive],
  },
  computed: {
    values() {
      if (!this.representationsAndStatisticsAvailable) return null

      const self = this
      let series = []

      Reflect.ownKeys(this.statisticsData).forEach((representationId) => {
        const statsPerRepresentation = this.statisticsData[representationId]
        const representation = self.representations.find(representation => representation.id === representationId)
        const platform = self.allPlatforms.find(platform => platform.name === representation.platform)

        const newest = statsPerRepresentation[statsPerRepresentation.length - 1]
        const oldest = statsPerRepresentation.filter(stat => !stat.isFiller)[0]
        const delta = this.shouldCompareToEmptyStats ? newest : StatisticsHelper.getDeltaStatistics(newest, oldest)
        series.push({
          name: platform.displayName,
          type: 'bar',
          data: this.getRatingDistributionFromStatsItem(delta),
          color: IconResolver.getPlatformColorByName(platform.name),
          label: {
            normal: {
              show: true,
            },
          },
        })
      })

      if (series.length > 1) {
        const values = [0, 0, 0, 0, 0]
        for (let i = 0; i < series.length; i++) {
          for (let k = 0; k < 5; k++) {
            values[k] += series[i].data[k]
          }
        }

        const overallSeries = {
          name: this.$t('statistics.overall'),
          type: 'bar',
          data: values,
          color: '#000',
          label: {
            normal: {
              show: true,
            },
          },
        }
        series = [overallSeries, ...series]
      }

      return series
    },
    data() {
      return {
        yAxis: {
          boundaryGap: true,
          type: 'category',
          data: [
            this.$tc('statistics.stars', 1),
            this.$tc('statistics.stars', 2),
            this.$tc('statistics.stars', 3),
            this.$tc('statistics.stars', 4),
            this.$tc('statistics.stars', 5),
          ],
        },
        xAxis: {
          type: 'value',
          data: this.values,
        },
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'cross',
          },
        },
        series: this.values,
        animationDuration: 1500,
      }
    },
  },
}
</script>

<style scoped>

    .no-data {
        width: 200px;
        height: 200px;
    }

</style>
