<template>
    <p class="chat-field">
        <slot/>
    </p>
</template>

<script>
export default {
  name: 'ChatField',
}
</script>

<style scoped lang="scss">
    .chat-field {
        border-radius: 15px;
        background: #F2F2F2;
        padding: 7px;
        width: auto;
    }
</style>
