<template>
    <div class="row">
        <br><br>
        <div class="md-layout md-gutter md-alignment-top-center">
            <p class="md-layout-item md-size-100 info-message" data-v-step="no-filtered-reviews">{{this.text}}</p>
        </div>
    </div>
</template>

<script>
export default {
  name: 'EmptyReviews',
  props: ['text'],
}
</script>

<style scoped lang="scss">
    @import "../../../../assets/sass/variables";
.info-message {
    padding-left: 10% !important;
    padding-right: 10% !important;
    text-align: center;
}
</style>
