<template>
  <div class="review-mobile-page">
    <div class="review">
      <div id="head">
        <review-card-platform-rating :review="currentReview" :is-mobile="true"/>
        <div class="infos">
          <p class="text-wrapper name">{{reviewerName}}</p>
          <p class="text-wrapper date">{{reviewDate}}</p>
        </div>
        <review-card-read-state :review="currentReview" :is-mobile="true"/>
        <md-divider class="divider"/>
      </div>
      <div id="body">
        <review-card-body :review="currentReview"/>
        <review-card-reply
          ref="reply"
          :review="currentReview"
          :location="location"
          @open-external="openExternal"/>
      </div>
    </div>
    <div class="button-bar md-layout md-gutter">
      <md-button v-if="previousReviewPossible" class="md-raised md-layout-item" @click="onPreviousClicked">&lt; {{$t('review.mobile.previous')}}</md-button>
      <md-button v-else class="md-raised md-layout-item" disabled @click="onPreviousClicked" data-cy="review-prev-button">&lt; {{$t('review.mobile.previous')}}</md-button>

      <md-button class="md-raised md-layout-item" @click="onFilterClicked">
        <md-icon v-if="isFilterShown">expand_less</md-icon>
        <md-icon v-else>expand_more</md-icon>
        {{filterCaption}}
      </md-button>

      <md-button v-if="nextReviewPossible" class="md-raised md-layout-item" @click="onNextClicked" data-cy="review-next-button">{{$t('review.mobile.next')}} &gt;</md-button>
      <md-button v-else class="md-raised md-layout-item" disabled @click="onPreviousClicked">{{$t('review.mobile.next')}} &gt;</md-button>
    </div>
  </div>
</template>

<script>
import DateHelper from '../../../helper/DateHelper'
import ReviewHelper from '../../../helper/ReviewHelper'
import { capitalize } from '../../../helper/StringHelper'
import ReviewCardPlatformRating from './ReviewCard/ReviewCardPlatformRating.vue'
import ReviewCardReadState from './ReviewCard/ReviewCardReadState.vue'
import ReviewCardBody from './ReviewCard/ReviewCardBody.vue'
import ReviewCardReply from './ReviewCard/ReviewCardReply.vue'

export default {
  name: 'ReviewMobilePage',
  components: { ReviewCardReply, ReviewCardBody, ReviewCardReadState, ReviewCardPlatformRating },
  props: ['reviews', 'location', 'isFilterActive', 'isFilterShown'],
  data() {
    return {
      currentReviewIndex: 0,
    }
  },
  computed: {
    currentReview() {
      return this.currentReviewIndex < this.reviews.length ? this.reviews[this.currentReviewIndex] : this.reviews[this.currentReviewIndex - 1]
    },
    previousReviewPossible() {
      return this.currentReviewIndex > 0
    },
    nextReviewPossible() {
      return this.currentReviewIndex < this.reviews.length - 1
    },
    filterCaption() {
      return this.isFilterActive ? this.$t('review.mobile.filterActive') : this.$t('review.mobile.filterInactive')
    },
    reviewerName() {
      const reviewerName = ReviewHelper.getReviewerName(this.currentReview)
      return reviewerName || this.$t('review.card.unknown', { platform: capitalize(this.currentReview.platform) })
    },
    reviewDate() {
      return DateHelper.getFormattedDateForReview(this.currentReview)
    },
    replyLink() {
      if (!!this.currentReview.url && this.currentReview.url.length > 0) {
        return this.currentReview.url
      }
      const { representations } = this.location
      const condition = representation => representation.platform === this.currentReview.platform
      const representationForReview = representations.find(condition)

      if (!!representationForReview.url && representationForReview.url > 0) {
        return representationForReview.url
      }

      if (representationForReview.platform === 'google') {
        return 'https://mybusiness.google.com'
      }
      return ''
    },
  },
  methods: {
    onPreviousClicked() {
      if (this.previousReviewPossible) {
        this.currentReviewIndex = this.currentReviewIndex - 1
      }
    },
    onNextClicked() {
      if (this.nextReviewPossible) {
        this.currentReviewIndex = this.currentReviewIndex + 1
      }
    },
    onFilterClicked() {
      this.$emit('filter-clicked')
    },
    openExternal() {
      this.openReviewInWindow()
    },
    openReviewInWindow() {
      const relativeMargin = 0.8
      const w = window.innerWidth * relativeMargin
      const h = window.innerHeight * relativeMargin

      // Credits: https://stackoverflow.com/questions/4068373/center-a-popup-window-on-screen
      const dualScreenLeft = window.screenLeft ? window.screenLeft : window.screenX
      const dualScreenTop = window.screenTop ? window.screenTop : window.screenY

      const width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width
      const height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height

      const left = ((width / 2) - (w / 2)) + dualScreenLeft
      const top = ((height / 2) - (h / 2)) + dualScreenTop
      const newWindow = window.open(this.replyLink, '', `scrollbars=yes, width=${w}, height=${h}, top=${top}, left=${left}`)

      const self = this
      const pollTimer = window.setInterval(() => {
        if (newWindow.closed !== false) { // !== is required for compatibility with Opera
          window.clearInterval(pollTimer)
          self.onReviewWindowClosed()
        }
      }, 200)
    },
    onReviewWindowClosed() {
      const self = this
      this.$store.dispatch('setState', {
        reviewId: this.currentReview.id,
        state: 'seen',
      }).then(() => {
        self.$forceUpdate()
      })
    },
    onFilterChanged() {
      this.currentReviewIndex = 0
    },
    adjustReviewBoxHeight() {
      window.setTimeout(() => {
        const availableHeight = $('.review-mobile-page').height()
        const buttonBarHeight = $('.button-bar').height()
        $('.review').height(availableHeight - buttonBarHeight - 5)
      }, 100)
    },
  },
  beforeUpdate() {
    /*
      This is important because:
      If the last available review has been replied to, we need to move the index to the new last review.
     */
    if (this.currentReviewIndex >= this.reviews.length) {
      this.currentReviewIndex = this.currentReviewIndex - 1
    }
  },
  watch: {
    currentReviewIndex() {
      this.$refs.reply.clearInput()
    },
  },
}
</script>

<style scoped lang="scss">
  @import '../../../../assets/sass/variables.scss';

  .review-mobile-page {
    position: relative;
    padding: 5px;
  }

  .review {
    display: flex;
    flex-flow: column;
    background-color: $gridCardBackgroundColor;
    padding: 5px;
    height: 95%
  }

  .button-bar {
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
  }

  .divider {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #head {
    height: 150px;
  }

  #body {
    position: relative;
    overflow: scroll;
  }

  .infos {
    position: relative;
    width: 100%;
    height: 30px;
    margin-top: 10px;
  }

  .text-wrapper {
    position: absolute;
    height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &.name {
      left: 0;
      width: 55%;
    }

    &.date {
      right: 0;
      width: 40%;
      text-align: right;
    }
  }
</style>
