<template>
    <v-tour :name="tourName"
            :steps="steps"
            :callbacks="callbacks"
            :options="options"/>
</template>

<script>
import { mapGetters } from 'vuex'
import SmallScreenHelper from '@/components/helper/SmallScreenHelper'

export default {
  name: 'ReviewsIntroTour',
  props: {
    hasReviews: {
      type: Boolean,
      default() {
        return false
      },
    },
    hasNoFilteredReviews: {
      type: Boolean,
      default() {
        return false
      },
    },
  },
  data() {
    return {
      tourName: 'ReviewsIntroTour',
      options: {
        startTimeout: 500,
        labels: {
          buttonSkip: this.$t('message.skip'),
          buttonPrevious: this.$t('message.back'),
          buttonNext: this.$t('message.goOn'),
          buttonStop: this.$t('message.finish'),
        },
      },
      defaultStepsMobile: [
        {
          target: '[data-v-step="0"]',
          content: this.$t('walkthrough.reviews.defaultAll'),
          order: 0,
        },
        {
          target: '[data-v-step="mobile-filter-button"]',
          content: this.$t('walkthrough.reviews.filter'),
          order: 4,
          params: {
            enableScrolling: false,
          },
        },
        {
          target: '[data-v-step="mobile-statistics"]',
          content: this.$t('walkthrough.reviews.statistics'),
          order: 7,
          params: {
            enableScrolling: false,
          },
        },
      ],
      defaultStepsDesktop: [
        {
          target: '[data-v-step="0"]',
          content: this.$t('walkthrough.reviews.defaultAll'),
          order: 0,
        },
        {
          target: '[data-v-step="sort-button"]',
          content: this.$t('walkthrough.reviews.sort'),
          order: 4,
          params: {
            enableScrolling: false,
          },
        },
        {
          target: '[data-v-step="rating-filter"]',
          content: this.$t('walkthrough.reviews.filterStars'),
          order: 5,
          params: {
            enableScrolling: false,
          },
        },
        {
          target: '[data-v-step="review-search"]',
          content: this.$t('walkthrough.reviews.search'),
          order: 6,
          params: {
            enableScrolling: false,
          },
        },
        {
          target: '[data-v-step="go-to-stats"]',
          content: this.$t('walkthrough.reviews.statistics'),
          order: 7,
          params: {
            enableScrolling: false,
          },
        },
      ],
      additionalReviewSteps: [
        {
          target: '[data-v-step="reviewtext"]',
          content: this.$t('walkthrough.reviews.oneReview'),
          order: 1,
        },
        {
          target: '[data-v-step="respond-to-review"]',
          content: this.$t('walkthrough.reviews.reply'),
          order: 2,
        },
        {
          target: '[data-v-step="seenbutton"]',
          content: this.$t('walkthrough.reviews.setUnseen'),
          params: {
            enableScrolling: false,
          },
          order: 3,
        },
      ],
      noFilteredReviewsFallbackSteps: [
        {
          target: '[data-v-step="no-filtered-reviews"]',
          content: this.$t('walkthrough.reviews.noFilteredReviews'),
          order: 1,
        },
      ],
      noReviewsFallbackSteps: [
        {
          target: '[data-v-step="empty-reviews"]',
          content: this.$t('walkthrough.reviews.noReviews'),
          order: 1,
        },
      ],
      callbacks: {
        onStop: this.onHasSeenIntroTour,
      },
    }
  },
  computed: {
    ...mapGetters([
      'hasSeenReviewIntroduction',
    ]),
    defaultSteps() {
      return SmallScreenHelper.isSmallScreen() ? this.defaultStepsMobile : this.defaultStepsDesktop
    },
    shouldShowIntroTour() {
      return !this.hasSeenReviewIntroduction
    },
    steps() {
      let unorderedSteps = this.defaultSteps
      if (!this.hasReviews) {
        unorderedSteps = unorderedSteps.concat(this.noReviewsFallbackSteps)
      } else if (this.hasNoFilteredReviews) {
        unorderedSteps = unorderedSteps.concat(this.noFilteredReviewsFallbackSteps)
      } else {
        unorderedSteps = unorderedSteps.concat(this.additionalReviewSteps)
      }
      return unorderedSteps.sort((a, b) => a.order - b.order)
    },
  },
  methods: {
    onHasSeenIntroTour() {
      this.$store.commit('setHasSeenReviewIntroduction', true)
    },
    startIntroTour() {
      this.$tours[this.tourName].start()
    },
  },
  mounted() {
    if (this.shouldShowIntroTour) this.startIntroTour()
  },
}
</script>

<style scoped>

</style>
