<template>
    <div class="main">
        <reviews-intro-tour :has-reviews="hasReviews"
                            :has-no-filtered-reviews="!hasFilteredReviews && hasReviews"/>

        <md-toolbar v-if="!isMobile || showFilter" md-elevation="1" class="md-layout md-gutter md-alignment-center" id="toolbar">
            <div class="md-layout-item md-size-10 md-small-size-50">
                <md-menu id="sorting-menu" :md-active="menuActive[0]" v-on:md-closed="onMenuClosed(0)" md-direction="bottom-start">
                    <md-button md-menu-trigger @click="onMenuClicked(0)" data-v-step="sort-button">
                        <md-icon>sort</md-icon>
                    </md-button>

                    <md-menu-content>
                        <md-menu-item @click="onSortClicked(0)">{{$t('review.filter.timeDesc')}}
                            <md-icon :class="this.sortMode !== 0 ? 'hide':''">check</md-icon>
                        </md-menu-item>
                        <md-menu-item @click="onSortClicked(1)">{{$t('review.filter.timeAsc')}}
                            <md-icon :class="this.sortMode !== 1 ? 'hide':''">check</md-icon>
                        </md-menu-item>
                        <md-menu-item @click="onSortClicked(2)">{{$t('review.filter.ratingDesc')}}
                            <md-icon :class="this.sortMode !== 2 ? 'hide':''">check</md-icon>
                        </md-menu-item>
                        <md-menu-item @click="onSortClicked(3)">{{$t('review.filter.ratingAsc')}}
                            <md-icon :class="this.sortMode !== 3 ? 'hide':''">check</md-icon>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
            <div class="vl md-layout-item md-small-hide"></div>

            <div class="md-layout-item md-size-15 md-small-size-50">
                <md-button v-if="!this.disableAllButton" @click="this.onShowAllClicked" data-cy="all-button">{{$t('review.filter.showAll')}}</md-button>
                <md-button v-else @click="this.onShowAllClicked" disabled data-cy="all-button">{{$t('review.filter.showAll')}}</md-button>
            </div>
            <div class="vl md-layout-item md-small-hide"></div>

            <div class="md-layout-item md-size-15 md-small-size-50">
                <md-menu :md-active="menuActive[1]" v-on:md-closed="onMenuClosed(1)" md-direction="bottom-start">
                    <md-button md-menu-trigger @click="onMenuClicked(1)" v-if="this.filterPlatform === 0">
                        {{$t('review.filter.platforms')}}
                    </md-button>
                    <md-button md-menu-trigger v-else>
                        {{this.filterPlatform.displayName}}
                    </md-button>

                    <md-menu-content>
                        <md-menu-item @click="onPlatformClicked(0)">{{$t('review.filter.all')}}</md-menu-item>
                        <md-menu-item v-for="platform in this.platformsPerLocation"
                                      :key="platform.id"
                                      @click="onPlatformClicked(platform)">{{platform.displayName}}
                        </md-menu-item>

                    </md-menu-content>
                </md-menu>
            </div>
            <div class="vl md-layout-item md-small-hide"></div>

            <div class="md-layout-item md-size-15 md-small-size-50">
                <md-menu :md-active="menuActive[2]" v-on:md-closed="onMenuClosed(2)" md-direction="bottom-start">
                    <md-button md-menu-trigger @click="onMenuClicked(2)" v-if="this.filterState === 0">
                        {{$t('review.filter.all')}}
                    </md-button>
                    <md-button md-menu-trigger v-else-if="this.filterState === 1" @click="onMenuClicked(2)">
                        {{filterStateText(1)}}
                        <md-icon>fiber_new</md-icon>
                    </md-button>
                    <md-button md-menu-trigger v-else-if="this.filterState === 2" @click="onMenuClicked(2)">
                        {{filterStateText(2)}}
                        <md-icon>check</md-icon>
                    </md-button>
                    <md-button md-menu-trigger v-else-if="this.filterState === 3" @click="onMenuClicked(2)">
                        {{filterStateText(3)}}
                        <md-icon>comment</md-icon>
                    </md-button>

                    <md-menu-content>
                        <md-menu-item @click="onStateClicked(0)">{{$t('review.filter.all')}}</md-menu-item>
                        <md-menu-item @click="onStateClicked(1)">{{filterStateText(1)}}
                            <md-icon>fiber_new</md-icon>
                        </md-menu-item>
                        <md-menu-item @click="onStateClicked(2)">{{filterStateText(2)}}
                            <md-icon>check</md-icon>
                        </md-menu-item>
                        <md-menu-item @click="onStateClicked(3)">{{filterStateText(3)}}
                            <md-icon>comment</md-icon>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>

            </div>
            <div class="vl md-layout-item md-small-hide"></div>

            <div class="md-layout-item md-size-15 md-small-size-50">
                <md-menu :md-active="menuActive[3]" v-on:md-closed="onMenuClosed(3)" md-direction="bottom-start">
                    <md-button md-menu-trigger @click="onMenuClicked(3)" v-if="filterRating === 0" data-v-step="rating-filter">
                        {{$t('review.filter.rating')}}
                    </md-button>
                    <md-button md-menu-trigger v-else-if="filterRating > 0 && filterRating < 6">
                        <star-range :value="this.filterRating ? this.filterRating : 0"/>
                    </md-button>
                    <md-button md-menu-trigger v-else-if="filterRating === 6">
                        <md-icon class="green">thumb_up</md-icon>
                    </md-button>
                    <md-button md-menu-trigger v-else-if="filterRating === 7">
                        <md-icon class="red">thumb_down</md-icon>
                    </md-button>

                    <md-menu-content>
                        <md-menu-item @click="onRangeClicked(0)">{{$t('review.filter.all')}}</md-menu-item>
                        <md-menu-item @click="onRangeClicked(5)">
                            <star-range :value="5"></star-range>
                        </md-menu-item>
                        <md-menu-item @click="onRangeClicked(4)">
                            <star-range :value="4"></star-range>
                        </md-menu-item>
                        <md-menu-item @click="onRangeClicked(3)">
                            <star-range :value="3"></star-range>
                        </md-menu-item>
                        <md-menu-item @click="onRangeClicked(2)">
                            <star-range :value="2"></star-range>
                        </md-menu-item>
                        <md-menu-item @click="onRangeClicked(1)">
                            <star-range :value="1"></star-range>
                        </md-menu-item>
                        <md-menu-item @click="onRangeClicked(6)">
                            <md-icon class="green">thumb_up</md-icon>
                        </md-menu-item>
                        <md-menu-item @click="onRangeClicked(7)">
                            <md-icon class="red">thumb_down</md-icon>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
            <div class="vl md-layout-item md-small-hide"></div>

            <div class="md-layout-item md-size-15 md-small-size-50">
                <md-menu :md-active="menuActive[4]" v-on:md-closed="onMenuClosed(4)" md-direction="bottom-start">
                    <md-button v-if="this.filterDate === 0" md-menu-trigger @click="onMenuClicked(4)">
                      {{$t('review.filter.period')}}
                    </md-button>
                    <md-button v-else>
                        {{this.filterStartDate.toLocaleDateString()}}
                        <br>
                        {{this.filterEndDate.toLocaleDateString()}}
                    </md-button>

                    <md-menu-content>
                        <md-menu-item @click="onDateClicked(0), menuIsOpen = false">{{$t('review.filter.all')}}</md-menu-item>
                        <md-menu-item @click="onDateClicked(1)">{{filterDateText(1)}}</md-menu-item>
                        <md-menu-item @click="onDateClicked(2)">{{filterDateText(2)}}</md-menu-item>
                        <md-menu-item @click="onDateClicked(3)">{{filterDateText(3)}}</md-menu-item>
                        <md-menu-item @click="onDateClicked(4)">{{filterDateText(4)}}</md-menu-item>
                        <md-menu-item @click="onDateClicked(5)">{{filterDateText(5)}}</md-menu-item>
                    </md-menu-content>
                </md-menu>

            </div>
            <div class="vl md-layout-item md-small-hide"></div>

            <div class="md-layout-item md-size-15 md-small-size-100">
                <md-field md-clearable data-v-step="review-search">
                    <md-icon>search</md-icon>
                    <md-input v-model="filterText"></md-input>
                </md-field>
            </div>

            <div id="dashboard-box" class="md-layout md-gutter md-layout-item md-alignment-center-right md-small-hide">
                <tooltip :id="'review-stats'"></tooltip>
                <div class="md-layout-item md-size-25">
                    <p data-cy="review-count-text">{{$t('review.count', { count: getReviewCount })}}</p>
                    <p data-cy="review-average-text">{{$t('review.average', { average: getAverageStars })}}</p>
                </div>
                <md-button class="md-raised md-layout-item md-size-20" @click="onStatisticsClicked" data-cy="statistics-button" data-v-step="go-to-stats">
                    {{$t('review.toStatistics')}}
                </md-button>
            </div>
        </md-toolbar>

        <!--Review Part-->
        <div v-if="hasFilteredReviews" id="review-box">

            <div v-if="isMobile">
              <review-mobile-page id="mobile"
                :reviews="filteredReviews"
                :location="location"
                ref="reviewMobilePage"
                :is-filter-shown="showFilter"
                :is-filter-active="isFilterActive"
                @filter-clicked="onFilterClicked"
                data-cy="review-mobile-page"/>
            </div>
            <div v-else>
              <review-card v-for="(review) in paginationPageReviews"
                           :location="currentLocation"
                           :key="review.id"
                           :review="review"></review-card>

              <!-- Pagination part -->
              <div v-if="paginationNecessary" class="md-layout md-gutter md-alignment-center">
                <md-button v-if="paginationPrevButtonAvailable" @click="onPrevPageClicked">
                  <md-icon>navigate_before</md-icon>
                  {{$t('review.pagination.previous')}}
                </md-button>
                <md-button v-else disabled @click="onPrevPageClicked">
                  <md-icon>navigate_before</md-icon>
                  {{$t('review.pagination.previous')}}
                </md-button>
                <md-menu md-direction="bottom-start">
                  <md-button md-menu-trigger>
                    {{this.paginationCurrentIndex + 1}}
                  </md-button>

                  <md-menu-content>
                    <md-menu-item v-for="page in this.paginationPageCount" :key="page"
                                  @click="onPageSelected(page-1)">{{page}}
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
                <md-button v-if="paginationNextButtonAvailable" @click="onNextPageClicked">{{$t('review.pagination.next')}}
                  <md-icon>navigate_next</md-icon>
                </md-button>
                <md-button v-else disabled @click="onNextPageClicked">{{$t('review.pagination.next')}}
                  <md-icon>navigate_next</md-icon>
                </md-button>
              </div>
            </div>
        </div>
        <div v-else-if="!hasFilteredReviews && hasReviews" class="empty">
            <empty-reviews :text=noFilteredReviewsText></empty-reviews>
            <div class="md-layout md-alignment-top-center">
                <md-button class="md-layout-item md-size-40 md-small-size-60 md-xsmall-size-80" @click="this.onShowAllClicked">{{$t('review.resetFilter')}}</md-button>
            </div>
        </div>
        <div v-else class="empty">
          <empty-reviews data-v-step="empty-reviews" data-cy="no-reviews-text" :text="$t('review.noReviews')"></empty-reviews>
        </div>

        <!-- Dialog part -->
        <md-dialog-confirm
            :md-active.sync="showUnseenOldDialog"
            :md-title="$t('terms.attention')"
            :md-content="$t('review.unseenText', { count: this.unseenOldReviews.length })"
            :md-confirm-text="$t('message.yes')"
            :md-cancel-text="$t('message.no')"
            data-cy="unseen-dialog"
            @md-confirm="onConfirmUnseenOldReviews"/>

    </div>
</template>
<script>
import { mapGetters } from 'vuex'
import moment from 'moment/moment'
import LocationMixin from '../../../mixin/LocationMixin'
import DateHelper from '../../../helper/DateHelper'
import Tooltip from '../../../GeneralViews/Tooltip.vue'
import ReviewsIntroTour from './ReviewsIntroTour.vue'
import RepresentationHelper from '../../../helper/RepresentationHelper'
import StatisticsHelper from '../../../helper/StatisticsHelper'
import { EventName, EventType } from '../../../store/modules/event'
import EmptyReviews from './EmptyReviews.vue'
import ReviewCard from './ReviewCard/ReviewCard.vue'
import StarRange from './StarRange.vue'
import ReviewMobilePage from './ReviewMobilePage.vue'

export default {
  data() {
    return {
      showFilterInSmall: false,
      /**
                 * 0 - No filter
                 * String - specific values
                 */
      filterPlatform: 0,
      /**
                 * 0 - No filter
                 * 1 - Unseen
                 * 2 - Seen
                 * 3 - Responded
                 */
      filterState: 1,
      /**
                 * 0 - No filter
                 * 1-5 - specific values
                 * 6 - Thumb up
                 * 7 - Thumb down
                 */
      filterRating: 0,
      filterText: '',
      /**
                 * 0 - No filter
                 * 1 - This week
                 * 2 - Last week
                 * 3 - This month
                 * 4 - Last month
                 * 5 - This year
                 */
      filterDate: 0,
      /**
                 * 0 - time desc
                 * 1 - time asc
                 * 2 - rating desc
                 * 3 - rating asc
                 */
      sortMode: 0,
      filterStartDate: null,
      filterEndDate: null,
      paginationSize: 20,
      paginationCurrentIndex: 0,
      showUnseenOldDialog: false,
      menuActive: [false, false, false, false, false],
      isMobile: false,
      showFilter: false,
    }
  },
  mixins: [LocationMixin],
  components: {
    ReviewsIntroTour,
    StarRange,
    ReviewCard,
    EmptyReviews,
    Tooltip,
    ReviewMobilePage,
  },
  computed: {
    locationId() {
      return this.$route.params.id
    },
    location() {
      return this.getLocationsForCurrentUser.find(location => location.id === this.locationId)
    },
    ...mapGetters([
      'getLocationsForCurrentUser',
      'getReviewsForCurrentUser',
      'getAllPlatforms',
      'getCurrentUserId',
      'getUnseenOldReviewsTimestamp',
      'runningReplyTasksIds',
    ]),
    reviews() {
      const locationReviews = this.getReviewsForCurrentUser.filter(review => review.locationId === this.locationId)
      // Enrich review information with state of replyTask, canReply
      return locationReviews.map((review) => {
        const isRunning = !!this.runningReplyTasksIds.find(id => review.id === id)
        const reviewLocation = this.getLocationsForCurrentUser.find(location => location.id === this.locationId)
        const canReply = RepresentationHelper.canReply(review.platform, reviewLocation.representations.find(r => r.id === review.representationId))
        return {
          ...review,
          taskState: {
            isRunning,
          },
          canReply,
        }
      })
    },
    paginationPageReviews() {
      return this.filteredReviews.slice(this.paginationSize * this.paginationCurrentIndex, this.paginationSize * this.paginationCurrentIndex + this.paginationSize)
    },
    paginationNecessary() {
      return this.filteredReviews.length > this.paginationSize
    },
    paginationPageCount() {
      return Math.ceil(this.filteredReviews.length / this.paginationSize)
    },
    paginationPrevButtonAvailable() {
      return this.paginationCurrentIndex > 0
    },
    paginationNextButtonAvailable() {
      return this.paginationCurrentIndex < this.paginationPageCount - 1
    },
    filteredReviews() {
      let list = this.reviews
      if (this.filterPlatform !== 0) {
        list = list.filter(review => review.platform === this.filterPlatform.name.toLowerCase())
      }
      if (this.filterState !== 0) {
        switch (this.filterState) {
          case 1:
            list = list.filter(review => !review.state || review.state === 'unseen' || review.state === 'changed')
            break
          case 2:
            list = list.filter(review => review.state === 'seen')
            break
          case 3:
            list = list.filter(review => review.response)
            break
          default:
            break
        }
      }
      if (this.filterRating !== 0) {
        switch (this.filterRating) {
          case 1:
          case 2:
          case 3:
          case 4:
          case 5:
            list = list.filter(review => review.rating === this.filterRating)
            break
          case 6:
            list = list.filter(review => review.ratingType === 'positive')
            break
          case 7:
            list = list.filter(review => review.ratingType === 'negative')
            break
        }
      }
      if (this.filterText) {
        list = list.filter(review => review.text.includes(this.filterText)
                        || (!!review.reviewer && review.reviewer.name.includes(this.filterText))
                        || (!!review.title && review.title.includes(this.filterText)))
      }
      if (this.filterDate !== 0 && this.filterStartDate !== null && this.filterEndDate !== null) {
        list = list.filter(review => DateHelper.getDateFromTimestamp(review.created).getTime() > this.filterStartDate.getTime()
                            && new DateHelper.getDateFromTimestamp(review.created).getTime() < this.filterEndDate.getTime())
      }
      switch (this.sortMode) {
        case 0:
          list = list.sort((review1, review2) => (DateHelper.getDateFromTimestamp(review2.created) - DateHelper.getDateFromTimestamp(review1.created)))
          break
        case 1:
          list = list.sort((review1, review2) => (DateHelper.getDateFromTimestamp(review1.created) - DateHelper.getDateFromTimestamp(review2.created)))
          break
        case 2:
          list = list.sort((review1, review2) => (review2.rating - review1.rating))
          break
        case 3:
          list = list.sort((review1, review2) => (review1.rating - review2.rating))
          break
        default:
          break
      }
      return list
    },
    hasReviews() {
      return this.reviews.length > 0
    },
    hasFilteredReviews() {
      return this.filteredReviews.length > 0
    },
    currentLocation() {
      return this.getLocationsForCurrentUser.find(location => location.id === this.locationId)
    },
    unseenReviews() {
      return this.reviews.filter(review => !review.state || review.state === 'unseen' || review.state === 'changed')
    },
    disableAllButton() {
      return !this.isFilterActive
    },
    isFilterActive() {
      return this.filterPlatform !== 0
                    || this.filterState !== 0
                    || this.filterRating !== 0
                    || this.filterDate !== 0
                    || this.filterText !== ''
    },
    platformsPerLocation() {
      if (!this.currentLocation || !this.currentLocation.representations) return []
      const names = this.currentLocation.representations.map(representation => representation.platform)
      return this.getAllPlatforms.filter(platform => names.includes(platform.name.toLowerCase()))
    },
    noFilteredReviewsText() {
      let filterSummary = ''
      let hasPrecusor = false
      if (this.filterPlatform !== 0) {
        filterSummary += this.filterPlatform.displayName
        hasPrecusor = true
      }
      if (this.filterState !== 0) {
        if (hasPrecusor) filterSummary += ', '
        filterSummary += this.filterStateText(this.filterState)
        hasPrecusor = true
      }
      if (this.filterRating !== 0) {
        if (hasPrecusor) filterSummary += ', '
        switch (this.filterRating) {
          case 1:
          case 2:
          case 3:
          case 4:
          case 5:
            filterSummary += this.$tc('review.stars', { count: this.filterRating })
            break
          case 6:
            filterSummary += this.$t('review.positive')
            break
          case 7:
            filterSummary += this.$t('review.negative')
            break
        }
        hasPrecusor = true
      }
      if (this.filterDate !== 0) {
        if (hasPrecusor) filterSummary += ', '
        filterSummary += this.filterDateText(this.filterDate)
        hasPrecusor = true
      }
      if (!!this.filterText && this.filterText.length > 0) {
        if (hasPrecusor) filterSummary += ', '
        filterSummary += `"${this.filterText}"`
      }
      return this.$t('review.noReviewsFilter', { summary: filterSummary })
    },
    unseenOldReviews() {
      const previousMonth = moment().month() - 1
      const oneMonthAgo = moment().month(previousMonth)
      return this.reviews
        .filter(review => !review.state || review.state === 'unseen' || review.state === 'changed')
        .filter((review) => {
          if (!review.created) return false
          return moment(DateHelper.getDateFromTimestamp(review.created)) < oneMonthAgo
        })
    },
    getReviewCount() {
      return this.filteredReviews.length
    },
    getAverageStars() {
      return StatisticsHelper.getAverage(this.filteredReviews)
    },
  },
  methods: {
    onMenuClosed(value) {
      if (this.menuActive[value] === true) {
        this.menuActive = [false, false, false, false, false]
      }
    },
    onMenuClicked(value) {
      this.menuActive = [false, false, false, false, false]
      this.menuActive[value] = true
      this.$forceUpdate()
    },
    filterStateText(value) {
      switch (value) {
        case 1:
          return this.$t('review.state.unseen')
        case 2:
          return this.$t('review.state.seen')
        case 3:
          return this.$t('review.state.answered')
      }
    },
    filterDateText(value) {
      switch (value) {
        case 1:
          return this.$t('review.date.thisWeek')
        case 2:
          return this.$t('review.date.lastWeek')
        case 3:
          return this.$t('review.date.thisMonth')
        case 4:
          return this.$t('review.date.lastMonth')
        case 5:
          return this.$t('review.date.thisYear')
      }
    },
    onFilterClicked() {
      this.showFilter = !this.showFilter
      this.adjustReviewBoxHeight()
    },
    onShowAllClicked() {
      this.filterPlatform = 0
      this.filterState = 0
      this.filterRating = 0
      this.filterText = ''
      this.filterDate = 0
      this.onFilterChanged()
    },
    onPlatformClicked(value) {
      this.filterPlatform = value
      this.onFilterChanged()
    },
    onStateClicked(value) {
      this.filterState = value
      this.onFilterChanged()
    },
    onRangeClicked(rating) {
      this.filterRating = rating
      this.onFilterChanged()
    },
    onDateClicked(value) {
      this.filterDate = value
      this.onFilterChanged()
    },
    onSortClicked(value) {
      this.sortMode = value
      this.onFilterChanged()
    },
    calculateDates() {
      switch (this.filterDate) {
        case 0:
          this.filterStartDate = null
          this.filterEndDate = null
          break
        case 1:
          this.filterStartDate = moment().day(0).toDate()
          this.filterEndDate = moment().toDate()
          break
        case 2:
          this.filterStartDate = moment().day(-7).toDate()
          this.filterEndDate = moment().day(-1).toDate()
          break
        case 3:
          this.filterStartDate = moment().date(1).toDate()
          this.filterEndDate = moment().toDate()
          break
        case 4:
          const previousMonth = moment().month() - 1
          const startPreviousMonth = moment().month(previousMonth).date(1)
          this.filterStartDate = startPreviousMonth.toDate()
          this.filterEndDate = startPreviousMonth.endOf('month').toDate()
          break
        case 5:
          this.filterStartDate = moment().month(0).date(1).toDate()
          this.filterEndDate = moment().toDate()
          break
        default:
                    // Do nothing
      }
    },
    onFilterChanged() {
      this.paginationCurrentIndex = 0
      this.scrollToTop()
      this.adjustReviewBoxHeight()
      if (this.$refs.reviewMobilePage) {
        this.$refs.reviewMobilePage.onFilterChanged()
      }
    },
    onPageSelected(page) {
      this.paginationCurrentIndex = page
      this.scrollToTop()
    },
    onPrevPageClicked() {
      this.paginationCurrentIndex--
      this.scrollToTop()
    },
    onNextPageClicked() {
      this.paginationCurrentIndex++
      this.scrollToTop()
    },
    scrollToTop() {
      window.setTimeout(() => {
        $('#review-box').animate({
          scrollTop: 0,
        }, 300)
      }, 100)
    },
    checkForUnseenOldReviews() {
      const previousMonth = moment().month() - 1
      const oneMonthAgo = moment().month(previousMonth)
      if (!this.currentLocation) return
      const locationId = this.currentLocation.id
      if (!this.getUnseenOldReviewsTimestamp(locationId)
                    || DateHelper.getDateFromTimestamp(this.getUnseenOldReviewsTimestamp(locationId)) < oneMonthAgo) {
        this.$store.dispatch('writeOldUnseenDialogTimestamp', this.currentLocation)
        this.showUnseenOldDialog = this.unseenOldReviews.length > 0
      }
    },
    onConfirmUnseenOldReviews() {
      this.unseenOldReviews.forEach((review) => {
        this.$store.dispatch('setState', {
          reviewId: review.id,
          state: 'seen',
        })
      })
      this.showUnseenOldDialog = false
    },
    onStatisticsClicked() {
      this.$router.push(`/app/statistics/${this.locationId}`)
    },
    adjustReviewBoxHeight() {
      window.setTimeout(() => {
        const windowHeight = $(window).height()
        const windowWidth = $(window).width()
        const navbarHeight = $('#navbar-header').height()
        const toolbarHeight = $('#toolbar').height() ? $('#toolbar').height() : 0
        const reviewBoxHeight = windowHeight - navbarHeight - toolbarHeight
        $('#review-box').height(reviewBoxHeight)
        $('.empty').height(reviewBoxHeight)
        $('#mobile').height(reviewBoxHeight - 10)

        this.isMobile = windowWidth <= 944
        if (this.$refs.reviewMobilePage) {
          this.$refs.reviewMobilePage.adjustReviewBoxHeight()
        }
      }, 100)
    },
    getFilterFromQuery() {
      const platformString = this.$route.query.platform
      if (platformString) {
        this.filterPlatform = this.platformsPerLocation.find(platform => platform.name === platformString)
      }

      const stateString = this.$route.query.state
      if (stateString) {
        this.filterState = parseInt(stateString, 10)
      }

      const ratingString = this.$route.query.rating
      if (ratingString) {
        this.filterRating = parseInt(ratingString, 10)
      }

      const ratingDate = this.$route.query.date
      if (ratingDate) {
        this.filterDate = parseInt(ratingDate, 10)
      }

      const filterTextString = this.$route.query.text
      if (filterTextString) {
        this.filterText = filterTextString
      }
    },
  },
  created() {
    this.$store.dispatch('writeEvent', { name: EventName.Review, type: EventType.Visit, data: { locationId: this.locationId } })
    this.checkForUnseenOldReviews()
    if (!this.currentLocation) return
    this.$store.commit('setHeadline', { text: `${this.currentLocation.name}` })
  },
  mounted() {
    this.adjustReviewBoxHeight()
    $(window).resize(() => {
      this.adjustReviewBoxHeight()
    })
    window.setTimeout(() => {
      this.adjustReviewBoxHeight()
    }, 150)
  },
  watch: {
    getReviewsForCurrentUser(val) {
      if (!!val && val.length > 0) {
        this.getFilterFromQuery()
      }
    },
    unseenReviews() {
      const unseenCount = this.unseenReviews.length
      let text = ''
      if (unseenCount === 0) {
        text = `${this.currentLocation.name}`
      } else {
        text = `${this.currentLocation.name} (${unseenCount})`
      }
      this.$store.commit('setHeadline', { text })
    },
    filterDate() {
      this.calculateDates()
    },
    filteredReviews() {
      this.adjustReviewBoxHeight()
    },
    filterText() {
      this.paginationCurrentIndex = 0
    },
  },
}
</script>
<style lang="scss" scoped>

  @import "../../../../assets/sass/variables";

  .vl {
    border-left: 1px solid grey;
    height: 30px;
    width: 1px !important;
    display: none;
  }

  .hide {
    display: none
  }

  .filter-hide {
    @include small-screen {
      display: none;
      min-height: 0;
      height: 0;
    }
  }

  #review-box {
    overflow: scroll;
    background-color: $review-light-color !important;
  }

  #dashboard-box {
    padding: 10px;
    background-color: #fff;
  }

  #toolbar {
    margin-left: 0;
    margin-right: 0;
  }

  .md-icon.red {
    color: $starRedColor !important;
  }

  .md-icon.green {
    color: $starGreenColor !important;
  }

  .main {
    background-color: $review-light-color !important;
  }

</style>
