<template>
    <ul>
        <li>
            <md-icon :class="getStarColor()">{{getIcon(0)}}</md-icon>
        </li>
        <li>
            <md-icon :class="getStarColor()">{{getIcon(1)}}</md-icon>
        </li>
        <li>
            <md-icon :class="getStarColor()">{{getIcon(2)}}</md-icon>
        </li>
        <li>
            <md-icon :class="getStarColor()">{{getIcon(3)}}</md-icon>
        </li>
        <li>
            <md-icon :class="getStarColor()">{{getIcon(4)}}</md-icon>
        </li>
    </ul>
</template>

<script>

export default {

  props: ['value'],
  methods: {
    getIcon(number) {
      if (this.value > 4.75) {
        return 'star'
      } if (this.value > 4.25) {
        if (number === 4) {
          return 'star_half'
        }
        return 'star'
      } if (this.value > 3.75) {
        if (number === 4) {
          return 'star_border'
        }
        return 'star'
      } if (this.value > 3.25) {
        if (number === 4) {
          return 'star_border'
        } if (number === 3) {
          return 'star_half'
        }
        return 'star'
      } if (this.value > 2.75) {
        if (number >= 3) {
          return 'star_border'
        }
        return 'star'
      } if (this.value > 2.25) {
        if (number >= 3) {
          return 'star_border'
        } if (number === 2) {
          return 'star_half'
        }
        return 'star'
      } if (this.value > 1.75) {
        if (number >= 2) {
          return 'star_border'
        }
        return 'star'
      } if (this.value > 1.25) {
        if (number >= 2) {
          return 'star_border'
        } if (number === 1) {
          return 'star_half'
        }
        return 'star'
      } if (this.value > 0.75) {
        if (number >= 1) {
          return 'star_border'
        }
        return 'star'
      } if (this.value > 0.25) {
        if (number >= 1) {
          return 'star_border'
        }
        return 'star_half'
      }
      return 'star_border'
    },
    getStarColor() {
      if (this.value >= 0 && this.value <= 2) {
        return 'red'
      } if (this.value > 2 && this.value <= 3) {
        return 'orange'
      } if (this.value > 3 && this.value <= 5) {
        return 'green'
      }
    },
  },
}
</script>

<style scoped lang="scss">
    @import "src/assets/sass/variables";

    ul {
        list-style: none;
        display: flex;
        -webkit-padding-start: 0;
        -moz-padding-start: 0;
    }

    .md-icon.red {
        color: $starRedColor !important;
    }

    .md-icon.orange {
        color: $starOrangeColor !important;
    }

    .md-icon.green {
        color: $starGreenColor !important;
    }
</style>
