<template>
    <div class="page-container">
        <md-app>
            <md-app-toolbar class="md-primary">
                <span class="md-title">Respondo Admin</span>
            </md-app-toolbar>

            <md-app-drawer md-permanent="full">
                <md-toolbar class="md-transparent" md-elevation="0">
                </md-toolbar>

                <md-list>
                    <md-list-item to="/user">
                        <md-icon>account_circle</md-icon>
                        <span class="md-list-item-text">User</span>
                    </md-list-item>

                    <md-list-item to="/status">
                        <md-icon>traffic</md-icon>
                        <span class="md-list-item-text">Status</span>
                    </md-list-item>
                    <md-list-item to="/actions">
                        <md-icon>flight_takeoff</md-icon>
                        <span class="md-list-item-text">Actions</span>
                    </md-list-item>
                  <md-list-item to="/direct">
                    <md-icon>add_comment</md-icon>
                    <span class="md-list-item-text">Direct</span>
                  </md-list-item>
                </md-list>
            </md-app-drawer>

            <md-app-content>
                <router-view/>
            </md-app-content>
        </md-app>
    </div>
</template>

<style lang="scss" scoped>
    @import "src/assets/sass/variables";

    .md-app-toolbar.md-primary {
        background-color: $review-primary-color !important;
    }
</style>

<script>
export default {
  name: 'AdminDashboard',
}
</script>
