<template>
    <div class="contact">

        <md-dialog-alert
            :md-active.sync="showOkDialog"
            :md-content="$t('landing.contact')"
            :md-confirm-text="$t('message.ok')"/>

        <div class="content md-layout md-alignment-center">
            <div id="content-box" class="md-layout-item md-size-70 md-small-size-90 form">
                <p id="header-question"><b>{{$t('contact.title')}}</b></p>

                <form class="form" autocomplete="on">

                    <md-field>
                        <label>{{$t('contact.input.firstName')}}*</label>
                        <md-input type="text" v-model="form.firstName" id="firstName"
                                  @focus="onTouch('firstName')"></md-input>
                    </md-field>
                    <p class="md-error" v-if="!$v.form.firstName.required && this.touched['firstName']">
                      {{$t('contact.error.firstName')}}</p>

                    <md-field>
                        <label>{{$t('contact.input.lastName')}}*</label>
                        <md-input type="text" v-model="form.lastName" id="lastName"
                                  @focus="onTouch('lastName')"></md-input>
                    </md-field>
                    <p class="md-error" v-if="!$v.form.lastName.required && this.touched['lastName']">
                      {{$t('contact.error.lastName')}}</p>

                    <md-field>
                        <label>{{$t('contact.input.company')}}*</label>
                        <md-input type="text" v-model="form.company" id="company"
                                  @focus="onTouch('company')"></md-input>
                    </md-field>
                    <p class="md-error" v-if="!$v.form.company.required && this.touched['company']">
                      {{$t('contact.error.company')}}</p>

                    <md-field>
                        <label>{{$t('contact.input.phone')}}*</label>
                        <md-input type="text" v-model="form.phone" id="phone" @focus="onTouch('phone')"></md-input>
                    </md-field>
                    <p class="md-error" v-if="!$v.form.phone.required && this.touched['phone']">
                      {{$t('contact.error.phone')}}</p>

                    <md-field>
                        <label>{{$t('terms.email')}}</label>
                        <md-input type="email" v-model="form.email" id="email"></md-input>
                    </md-field>

                    <div>
                        <p id="favorite-date"><b>{{$t('contact.input.date')}}</b></p>
                        <div class="md-layout">
                            <div class="md-layout-item md-size-60">
                                <md-field>
                                  <datepicker :input-class="'picker'"
                                              id="datepicker"
                                              v-on:selected="onDateSelected"
                                              v-model="form.date"></datepicker>
                                </md-field>
                            </div>
                            <div class="md-layout-item md-size-40">
                                <timepicker id="timepicker"
                                            v-model="form.time"
                                            :minute-interval="15"
                                            :disabled="!dateSelected"
                                            hide-clear-button
                                            style="width: 100%"/>
                            </div>
                        </div>
                    </div>
                    <action-button id="send-button" @click.prevent="onSend" class="md-raised button md-elevation-10">
                      {{$t('contact.submit')}}
                    </action-button>

                    <progress-bar v-if="sending"/>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, email } from 'vuelidate/lib/validators'
import Datepicker from 'vuejs-datepicker'
import ProgressBar from '../ProgressBar.vue'
import ActionButton from '../../UIComponents/Buttons/ActionButton.vue'
import Timepicker from '../Timepicker.vue'

export default {
  name: 'BusinessContactForm',
  mixins: [validationMixin],
  components: {
    Timepicker,
    ActionButton,
    ProgressBar,
    Datepicker,
  },
  data: () => ({
    dateSelected: false,
    form: {
      firstName: null,
      lastName: null,
      company: null,
      phone: null,
      date: null,
      time: {
        HH: '12',
        mm: '00',
      },
      email: null,
    },
    touched: {
      firstName: false,
      lastName: false,
      company: false,
      phone: null,
    },
    sending: false,
    showOkDialog: false,
  }),
  validations: {
    form: {
      firstName: {
        required,
      },
      lastName: {
        required,
      },
      company: {
        required,
      },
      phone: {
        required,
      },
      email: {
        email,
      },
    },
  },
  methods: {
    onTouch(field) {
      this.touched[field] = true
    },
    onSend() {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.saveRequest()
      }
    },
    saveRequest() {
      this.sending = true
      this.$store.dispatch('writeBusinessContactRequest', {
        firstName: this.form.firstName,
        lastName: this.form.lastName,
        company: this.form.company,
        phone: this.form.phone,
        email: this.form.email,
        date: this.form.date,
        time: this.form.time,
      }).then(() => {
        this.sending = false
        this.showOkDialog = true
        this.$emit('contactSubmissionFinished')
      })
    },
    onDateSelected() {
      this.dateSelected = true
    },
  },

}
</script>

<style scoped lang="scss">
    @import "../../../assets/sass/variables";

    .picker, time-picker, display-time {
        width: 100% !important;
    }

    .contact {
        background-color: #fff;
        overflow-y: scroll;
    }

    .form {
        margin-top: 0px;
    }

    .button {
        margin-left: 0;
        width: 100%;
    }

    .md-error {
        color: red;
        font-size: small;
        margin-top: 5px !important;
    }

    #send-button {
        margin-left: 0;
        width: 100%;
        margin-bottom: 30px;
    }

    #favorite-date {
        color: rgba(0, 0, 0, 0.54);
        font-family: 'Maven Pro', sans-serif;
        font-weight: bold;
    }

    #content-box {
        margin-top: 50px;
    }

    #header-question {
        color: black;
        font-size: 26px;
        letter-spacing: 1.17px;
        line-height: 38px;
        text-align: center;
        @media (max-width: 600px) {
            font-size: 18px;
            line-height: 25px;
            letter-spacing: 1px;
        }
    }

    label {
        font-family: 'Maven Pro', sans-serif;
        font-weight: bold;
    }
</style>

<style>
  input#timepicker {
    height: 26px;
    color: rgba(0, 0, 0, 0.54);
    border: 1px solid darkgrey;
  }

  input#datepicker {
    height: 26px;
    color: rgba(0, 0, 0, 0.54);
    border: 1px solid darkgrey;
  }
</style>
