<template>
    <div class="contact">

        <md-dialog-alert
            :md-active.sync="showOkDialog"
            :md-content="$t('landing.contact')"
            :md-confirm-text="$t('message.ok')" />

        <div class="content md-layout md-alignment-center">
            <div class="md-layout-item md-size-50 md-small-size-90 form">
                <p><b>
                    Lust bekommen? Dann einfach jetzt registrieren oder wir melden uns bei dir und beantworten jede Frage :)
                    <!--<br>-->
                    <!--<br>-->
                    <!--Dann ist hier der heiße Draht zu uns.-->
                </b></p>
                <form class="form" autocomplete="on">
                    <md-field>
                        <label>Dein Vorname</label>
                        <md-input type="text" v-model="form.firstName" id="firstName" @focus="onTouch('firstName')"></md-input>
                    </md-field>
                    <p class="md-error" v-if="!$v.form.firstName.required && this.touched['firstName']">Bitte gib Deinen Vornamen an!</p>

                    <md-field>
                        <label>Dein Nachname</label>
                        <md-input type="text" v-model="form.lastName" id="lastName" @focus="onTouch('lastName')"></md-input>
                    </md-field>
                    <p class="md-error" v-if="!$v.form.lastName.required && this.touched['lastName']">Bitte gib Deinen Nachnamen an!</p>

                    <md-field>
                        <label>Deine E-Mail-Adresse</label>
                        <md-input type="email" v-model="form.email" id="email" @focus="onTouch('email')"></md-input>
                    </md-field>
                    <p class="md-error" v-if="!$v.form.email.required && this.touched['email']">Bitte gib Deine E-Mail-Adresse an.</p>
                    <p class="md-error" v-else-if="!$v.form.email.email && this.touched['email']">Bitte gib eine gültige E-Mail-Adresse an.</p>

                    <md-field>
                        <label>Deine Nachricht</label>
                        <md-textarea type="text" v-model="form.text" id="text" @focus="onTouch('text')"></md-textarea>
                    </md-field>
                    <p class="md-error" v-if="!$v.form.text.required && this.touched['text']">Bitte hinterlasse uns eine Nachricht!</p>

                    <md-button @click.prevent="onSend" class="md-raised send-button md-elevation-10">Abschicken</md-button>

                    <progress-bar v-if="sending"/>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, email } from 'vuelidate/lib/validators'
import ProgressBar from '../ProgressBar.vue'

export default {
  name: 'SimpleContactForm',
  mixins: [validationMixin],
  components: { ProgressBar },
  data: () => ({
    form: {
      firstName: null,
      lastName: null,
      email: null,
      text: null,
    },
    touched: {
      firstName: false,
      lastName: false,
      email: false,
      text: false,
    },
    sending: false,
    showPasswordOkDialog: false,
    showOkDialog: false,
  }),
  validations: {
    form: {
      firstName: {
        required,
      },
      lastName: {
        required,
      },
      email: {
        required,
        email,
      },
      text: {
        required,
      },
    },
  },
  methods: {
    onTouch(field) {
      this.touched[field] = true
    },
    onSend() {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.saveRequest()
      }
    },
    saveRequest() {
      this.sending = true
      this.$store.dispatch('writeContactRequest', {
        firstName: this.form.firstName,
        lastName: this.form.lastName,
        email: this.form.email,
        message: this.form.text,
      }).then(() => {
        this.sending = false
        this.showOkDialog = true
      })
    },
  },

}
</script>

<style scoped lang="scss">
    @import "../../../assets/sass/variables.scss";

    .contact {
        background-color: #fff;
    }
    .form {
        margin-top: 50px;
    }
    .button {
        margin-left: 0;
        width: 100%;
    }
    .send-button{
        margin-left: 0;
        width: 100%;
        background-color: $review-primary-color !important;
        color: white !important;
    }
    .md-error {
        color: red;
        font-size: small;
        margin-top: 5px !important;
    }
</style>
