<template>
    <div class="md-layout md-alignment-top-center">
        <split-content-text-part v-if="isLeftActive"
                                 :class="`split-content-text-part md-layout-item ${textPartSizeClass} left`"
                                 :title="title"
                                 :text="text"
                                 :to="to"
                                 :button-text="buttonText"
                                 :isTextLeft="isTextLeft"/>
        <div :class="`md-layout md-alignment-top-center md-layout-item md-small-size-100 ${this.customPartSizeClass} imageDiv`">
            <slot/>
        </div>
        <split-content-text-part v-if="!isLeftActive"
                                 :class="`split-content-text-part md-layout-item md-small-size-100 ${textPartSizeClass} right`"
                                 :title="title"
                                 :text="text"
                                 :to="to"
                                 :button-text="buttonText"
                                 :isTextLeft="isTextLeft"/>
    </div>
</template>

<script>
import SplitContentTextPart from 'src/components/GeneralViews/LearnMore/SplitContentTextPart'

export default {
  name: 'BaseSplitContent',
  components: { SplitContentTextPart },
  props: {
    title: {
      type: String,
    },
    text: {
      type: String,
    },
    to: {
      type: String,
      default() {
        return '/onboarding/start'
      },
    },
    isTextLeft: {
      type: Boolean,
      default() {
        return false
      },
    },
    buttonText: {
      type: String,
      default() {
        return this.$t('message.startNow')
      },
    },
    textPartSize: {
      type: Number,
      default() {
        return 45
      },
    },
    customPartSize: {
      type: Number,
      default() {
        return 45
      },
    },
  },
  data() {
    return {
      windowWidth: window.innerWidth,
    }
  },
  computed: {
    textPartSizeClass() {
      return `md-size-${this.textPartSize}`
    },
    customPartSizeClass() {
      return `md-size-${this.customPartSize}`
    },
    isSmallScreen() {
      return this.windowWidth < 944
    },
    isLeftActive() {
      return this.isSmallScreen ? false : this.isTextLeft
    },
  },
  mounted() {
    this.$nextTick(() => {
      window.addEventListener('resize', () => {
        this.windowWidth = window.innerWidth
      })
    })
  },
}
</script>

<style scoped lang="scss">
    @import "../../../assets/sass/variables";

    .left {
        display: compact;
        text-align: right;
    }

    .right {
        display: compact;
        text-align: left;
    }

    .imageDiv {
        margin-left: 50px;
        margin-right: 50px;
        @include small-screen{
            margin-left: 0px;
            margin-right: 0px;
        }
    }

</style>
