<template>
    <div class="md-layout md-alignment-top-center blog-item">
        <div class="md-layout md-alignment-top-left md-layout-item md-size-35 md-small-size-100">
            <div class="md-layout md-alignment-top-center md-layout-item md-size-90 md-small-size-100">
                <img @click="showBlogPost" v-lazy="blogEntry.previewImageUrl" class="md-layout-item md-elevation-1">
            </div>
        </div>
        <div class="md-layout md-layout-item md-size-65 md-small-size-100">
            <h1 @click="showBlogPost" class="md-layout-item md-size-100">
                {{blogEntry.title}}
            </h1>
            <p @click="showBlogPost" class="md-layout-item md-small-hide md-size-100">
                {{blogEntry.previewText}}
            </p>
            <md-button class="md-layout-item md-primary md-raised md-size-25 md-small-size-50 md-xsmall-size-60"
                       :to="to">{{$t('more.blog.further')}}
            </md-button>
        </div>
    </div>

</template>

<script>

import BaseSplitContent from '@/components/GeneralViews/LearnMore/BaseSplitContent'

export default {
  name: 'LearnMoreBlogItem',
  components: { BaseSplitContent },
  props: {
    blogEntry: {
      type: Object,
    },
  },
  computed: {
    to() {
      return `/blog/${this.blogEntry.order}`
    },
  },
  methods: {
    showBlogPost() {
      this.$router.push(this.to)
    },
  },
}
</script>

<style scoped lang="scss">

    @import "../../../assets/sass/variables";

    .md-button {
        margin-left: 0;
        background-color: $review-accent-color !important;
    }

    .blog-item {
        padding: 10px;
        padding-bottom: 55px;
        &:last-child {
            padding-bottom: 0px;
        }
    }

    img {
        color: white;
        cursor: pointer;
        margin-bottom: 15px;
        border-radius: 8px;
    }

    h1 {
        color: white;
        cursor: pointer;
        margin-top: 0;
        font-size: 30px;
        @include small-screen {
            font-size: 20px !important;
            text-align: justify;
            hyphens: auto;
        }
    }

    p {
        color: white;
        cursor: pointer;
        @include small-screen {
            text-align: justify;
            hyphens: auto;
        }
    }

</style>
