<template>
    <div v-lazy:background-image="backgroundImageUrl" class="learn-more-header md-layout md-alignment-center-center">
        <div :class="`md-layout md-layout-item ${contentSizeClass}  md-alignment-center-center`">
            <h1 class="md-layout-item md-size-100">
                {{$t('more.title')}}
            </h1>
            <p class="md-layout-item md-size-100" v-html="$t('more.subTitle')"/>
            <md-icon class="md-layout-item md-size-15 md-size-3x scrollButton"
                     v-scroll-to="{
                           el: '#product',
                           container: '.scrollable'}">
                expand_more
            </md-icon>
        </div>
    </div>
</template>

<script>
import BaseLearnMoreSection from '@/components/GeneralViews/LearnMore/BaseLearnMoreSection'

export default {
  name: 'LearnMoreHeader',
  extends: BaseLearnMoreSection,
  computed: {
    backgroundImageUrl() {
      return 'https://res.cloudinary.com/foodiscovr/image/upload/c_scale,e_colorize:65,q_auto:best,w_1900/v1541170106/respondo/grayBG.jpg'
    },
  },
}
</script>

<style scoped lang="scss">
    @import "../../../assets/sass/variables.scss";

    $backgroundOverlayColor: rgba(100, 100, 100, .65);

    .learn-more-header {
        background-color: gray;
        background-size: cover;
    }

    h1 {
        font-size: 50px;
        font-weight: 800;
        letter-spacing: 2.26px;
        line-height: 74px;
        text-align: center;
        color: white;
        word-wrap: break-word;
        @include small-screen {
            font-size: 30px;
            line-height: 40px;
            hyphens: auto;
        }
    }

    p {
        font-size: 25px;
        font-weight: 500;
        letter-spacing: 1.13px;
        line-height: 35px;
        text-align: center;
        color: white;
        @include small-screen {
            font-size: 20px;
            line-height: 25px;
            hyphens: auto;
        }
    }

    .md-icon {
        color: white !important;
        cursor: pointer;
    }

    .scrollButton {
        margin-top: 50px;
        @include small-screen {
            margin-top: 20px;
        }
    }
</style>
