<template>
    <div class="md-layout md-alignment-top-center">
        <div class="md-layout md-alignment-top-center md-layout-item md-size-100">
            <img class="md-layout-item md-size-50" :src="src">
        </div>
        <div class="md-layout md-alignment-top-center md-layout-item md-size-100">
            <h1 class="md-layout-item md-size-50">{{number}}%</h1>
        </div>
        <div class="md-layout md-alignment-top-center md-layout-item md-size-100">
            <p class="md-layout-item md-size-80">{{text}}</p>
        </div>
    </div>
</template>

<script>
export default {
  name: 'LearnMoreFactsItem',
  props: {
    src: {
      type: String,
    },
    number: {
      type: Number,
    },
    text: {
      type: String,
    },
  },
}
</script>

<style scoped>
    h1, p {
        color: black;
        text-align: center;
    }

    h1 {
        font-size: 40px;
        font-weight: bold;
        letter-spacing: 1.81px;
        line-height: 49px;
    }

    p {
        font-size: 20px;
        letter-spacing: 0.9px;
        line-height: 24px;
    }

    img {
        height: 120px;
        width: 120px;
    }
</style>
