<template>
    <div class="md-layout md-alignment-top-center background">
        <div :class="`md-layout md-alignment-center-center md-layout-item ${contentSizeClass}`">
            <h1 class="md-layout-item md-size-100">{{$t('more.factsTitle')}}</h1>
            <div class="md-layout md-layout-item md-size-100 md-alignment-top-center"
                 v-match-heights="{el: ['.container', '.box']}">
              <stats-box
                v-for="box in boxes"
                :kex="box.number"
                :text="box.text"
                :image="box.image"
                :number="box.number"
                class="md-layout-item md-small-size-50 md-size-25"/>
            </div>
        </div>
    </div>
</template>

<script>
import Growth from '../../../assets/landingpage/Growth.svg'
import Consumers from '../../../assets/landingpage/Consumers.svg'
import Stars from '../../../assets/landingpage/Stars.svg'
import Reviews from '../../../assets/landingpage/Reviews.svg'

import BaseLearnMoreSection from './BaseLearnMoreSection.vue'
import StatsBox from './StatsBox.vue'

export default {
  name: 'LearnMoreFacts',
  extends: BaseLearnMoreSection,
  components: { StatsBox },
  computed: {
    boxes() {
      return [
        {
          number: '278%',
          text: this.$t('more.statistics.box1'),
          image: Growth,
        },
        {
          number: '85%',
          text: this.$t('more.statistics.box2'),
          image: Consumers,
        },
        {
          number: '52%',
          text: this.$t('more.statistics.box3'),
          image: Stars,
        },
        {
          number: '77%',
          text: this.$t('more.statistics.box4'),
          image: Reviews,
        },
      ]
    },
  },
}
</script>

<style scoped lang="scss">

    @import "../../../assets/sass/variables";

    h1 {
        padding-bottom: 50px;
        color: white;
        font-size: 40px;
        letter-spacing: 1.81px;
        line-height: 59px;
        text-align: center;
    }

    .background {
        background: $review-primary-color;
    }

</style>
