<template>
    <div class="md-layout md-alignment-top-center">
        <base-split-content :class="`md-layout-item ${contentSizeClass}`"
                            :title="$t('more.video.title')"
                            :text="$t('more.video.subTitle')">
            <div id="respondo-video" class="md-layout-item md-size-100"/>
        </base-split-content>
    </div>
</template>

<script>
import BaseSplitContent from '@/components/GeneralViews/LearnMore/BaseSplitContent'
import BaseLearnMoreSection from '@/components/GeneralViews/LearnMore/BaseLearnMoreSection'

export default {
  name: 'LearnMoreVideo',
  extends: BaseLearnMoreSection,
  components: { BaseSplitContent },
  mounted() {
    const width = $('#respondo-video').width()
    const height = width / 16 * 9
    $('#respondo-video').height(height)
    this.$nextTick(() => {
      $('#respondo-video').html(`<iframe id="respondo-video-iframe" width="${width}" height="${height}" src="https://www.youtube.com/embed/aUtck-ojKKU?rel=0&showinfo=0&autoplay=1&mute=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>`)
      this.$nextTick(() => {
        $('#respondo-video-iframe').height(height)
        $('#respondo-video').parent().children('.split-content-text-part').height(height)
      })
    })
  },
}
</script>

<style scoped lang="scss">
    @import "../../../assets/sass/variables";
</style>
