<template>
    <div class="scrollable touchscroll" id="learn-more-page">
        <landing-page-header>
            <template slot="buttons">
                <md-button id="product-button"
                           class="md-layout-item md-size-10 md-small-hide"
                           v-scroll-to="{
                           el: '#product',
                           container: '.scrollable'}"
                           data-cy="product-button">{{$t('more.menu.product')}}
                </md-button>
                <md-button id="facts-button"
                           class="md-layout-item md-size-10 md-small-hide"
                           v-scroll-to="{
                           el: '#facts',
                           container: '.scrollable'}"
                           data-cy="facts-button">{{$t('more.menu.facts')}}
                </md-button>
                <md-button id="benefits-button"
                           class="md-layout-item md-size-10 md-small-hide"
                           v-scroll-to="{
                           el: '#benefits',
                           container: '.scrollable'}"
                           data-cy="benefits-button">{{$t('more.menu.benefits')}}
                </md-button>
                <md-button id="pricing-button"
                           class="md-layout-item md-size-10 md-small-hide"
                           v-scroll-to="{
                           el: '#pricing',
                           container: '.scrollable'}"
                           data-cy="pricing-button">{{$t('more.menu.prices')}}
                </md-button>
                <md-button id="blog-button"
                           class="md-layout-item md-size-10 md-small-hide"
                           v-scroll-to="{
                           el: '#blog',
                           container: '.scrollable'}"
                           data-cy="blog-button">{{$t('more.menu.blog')}}
                </md-button>
            </template>
        </landing-page-header>

        <div id="learn-more-content" class="md-layout">
            <learn-more-header id="header" class="section md-layout-item md-size-100"/>
            <learn-more-video id="product" class="section md-layout-item md-size-100"/>
            <learn-more-facts id="facts" class="section md-layout-item md-size-100"/>
            <learn-more-benefits id="benefits" class="section md-layout-item md-size-100 margin"/>
            <learn-more-pricing id="pricing" class="section md-layout-item md-size-100"/>
            <learn-more-blog id="blog" class="section md-layout-item md-size-100"/>
        </div>
        <div id="learn-more-footer" class="md-layout">
            <landing-footer class="md-layout-item md-size-100 landing-footer" data-cy="footer-section"/>
        </div>
    </div>

</template>

<script>
import LandingFooter from 'src/components/GeneralViews/LandingPage/LandingFooter'
import SectionScrollMixin from 'src/components/mixin/SectionScrollMixin'
import LearnMoreBenefits from './LearnMoreBenefits'
import LearnMoreFacts from './LearnMoreFacts'
import LearnMorePricing from './LearnMorePricing'
import LearnMoreBlog from './LearnMoreBlog'
import LearnMoreVideo from './LearnMoreVideo'
import LearnMoreHeader from './LearnMoreHeader'
import LandingPageHeader from '../LandingPageHeader'

export default {
  name: 'LearnMore',
  mixins: [SectionScrollMixin],
  components: {
    LandingPageHeader,
    LearnMoreHeader,
    LandingFooter,
    LearnMoreBenefits,
    LearnMoreFacts,
    LearnMorePricing,
    LearnMoreBlog,
    LearnMoreVideo,
  },
  methods: {
    // The following functions are needed so that the section scroll mixin will work correct
    getContainerSelector() {
      return '.scrollable'
    },
    getSectionsSelector() {
      return '.scrollable > #learn-more-content > .section'
    },
    getRelatedButtonSelector(sectionSelector) {
      return `${sectionSelector}-button`
    },
    getNavigationButtonsSelector() {
      return '.scrollable > div > nav > div > .md-button'
    },
  },
  mounted() {
    const offset = $('nav').height()
    $('#learn-more-content').css('margin-top', offset)
  },
}
</script>

<style scoped lang="scss">
    @import "../../../assets/sass/variables.scss";

    #learn-more-page {
        overflow-x: hidden;
        overflow-y: auto;
        height: 100vh;
    }

    #more-infos-button {
        @include small-screen {
            font-size: 12px;
        }
    }

    nav {
        margin-left: 20px;
        position: fixed;
        z-index: 10;
        background-color: white;
        h1 {
            font-weight: 500;
            font-size: 30px;
            color: $review-primary-color;
            margin-top: 6px;
        }
        img {
            padding-left: 8px;
        }
        .active {
            color: $review-primary-color;
        }
    }

    .touchscroll {
        overflow-y: scroll !important;
        -webkit-overflow-scrolling: initial !important;
        -webkit-overflow-scrolling: touch !important;
    }

    $sectionPadding: 80px;
    $sectionPaddingMobile: 40px;
    #learn-more-content {
        .section {
            padding-bottom: $sectionPadding;
        }
        .section#product {
            padding-top: $sectionPadding;
        }
        @include small-screen {
            .section {
                padding-bottom: $sectionPaddingMobile;
            }
            .section#product {
                padding-top: $sectionPaddingMobile;
            }
        }
    }

    .margin {
        margin-top: 100px;
    }

</style>
