<template>
    <div class="md-layout md-alignment-top-center blog">
        <div :class="`md-layout md-alignment-top-center md-layout-item ${contentSizeClass}`">
            <h1 class="md-layout-item md-size-100">{{$t('more.blog.title')}}</h1>
            <blog-item class="md-layout-item md-size-100" v-for="entry in displayEntries" :key="entry.order"
                       :blog-entry="entry"/>


            <div @click="onClick" class="md-layout md-layout-item md-alignment-top-center">
                <div v-if="isCompact" class="md-layout md-layout-item md-alignment-top-center">
                    <md-button class="md-dense md-primary md-size-100">{{$t('more.blog.more')}}</md-button>
                    <md-icon class="md-layout-item md-size-100 md-size-3x">
                        expand_more
                    </md-icon>
                </div>
                <div v-else class="md-layout md-layout-item md-alignment-top-center">
                    <md-icon class="md-layout-item md-size-100 md-size-3x">
                        expand_less
                    </md-icon>
                    <md-button class="md-dense md-primary md-size-100">{{$t('more.blog.less')}}</md-button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import BaseLearnMoreSection from '@/components/GeneralViews/LearnMore/BaseLearnMoreSection'
import BlogItem from './LearnMoreBlogItem'
import { mapGetters } from 'vuex'

export default {
  name: 'LearnMoreBlog',
  extends: BaseLearnMoreSection,
  components: { BlogItem },
  data() {
    return {
      isCompact: true,
    }
  },
  methods: {
    onClick() {
      this.isCompact = !this.isCompact
    },
  },
  computed: {
    ...mapGetters({
      entries: 'getSortedBlogs',
    }),
    displayEntries() {
      return this.isCompact ? this.entries.slice(0, 3) : this.entries
    },

  },
}
</script>

<style scoped lang="scss">

    @import "../../../assets/sass/variables";

    * {
        color: white;
    }

    .blog {
        background-color: $review-background-blue;
    }

    h1 {
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 40px;
        letter-spacing: 1.81px;
        line-height: 59px;
        text-align: center;
        @include small-screen {
            font-size: 30px;
            line-height: 40px;
            text-align: center;
            hyphens: auto;
        }
    }

    .blogpost {
        padding-bottom: 30px;
    }

    .md-icon {
        color: white !important;
        cursor: pointer;
    }

    .md-button {
        color: white !important;
    }

</style>
