<template>
    <div class="md-layout md-alignment-top-center">
        <div :class="`md-layout md-alignment-top-center md-layout-item ${contentSizeClass}`"
             v-match-heights="{
             el: ['.plan-description', 'ul']}">
            <h1 class="md-layout-item md-size-100">{{$t('more.menu.prices')}}</h1>
            <pricing-plan-item class="plan-item md-layout-item md-size-33 md-small-size-100"
                               v-for="plan in plans"
                               :key="plan.order"
                               :plan="plan"/>
        </div>
    </div>
</template>

<script>
import BaseLearnMoreSection from '@/components/GeneralViews/LearnMore/BaseLearnMoreSection'
import PricingPlanItem from '@/components/GeneralViews/LearnMore/PricingPlanItem'
import { mapGetters } from 'vuex'

export default {
  name: 'LearnMorePricing',
  components: { PricingPlanItem },
  extends: BaseLearnMoreSection,
  computed: {
    ...mapGetters({
      plans: 'getOrderedPricingPlans',
    }),
  },
}
</script>

<style scoped lang="scss">

    h1 {
        padding-bottom: 50px;
        font-size: 40px;
        letter-spacing: 1.81px;
        line-height: 59px;
        text-align: center;
        color: black;
    }

    div {
        margin-bottom: 20px;
    }

</style>
