<template>
    <div class="md-layout md-alignment-top-center">
        <base-split-content :class="`base-split-content md-layout-item ${contentSizeClass}`"
                            :title="$t('more.benefits.overview.title')"
                            :text="$t('more.benefits.overview.text')">
            <div class="md-layout-item md-size-85">
                <img :src="reviewIphone"/>
            </div>
        </base-split-content>
        <base-split-content :class="`base-split-content md-layout-item ${contentSizeClass}`"
                            :isTextLeft="true"
                            :title="$t('more.benefits.platforms.title')"
                            :text="$t('more.benefits.platforms.text')">
            <img :src="laptopReviews"/>
        </base-split-content>
        <base-split-content :class="`base-split-content md-layout-item ${contentSizeClass}`"
                            :title="$t('more.benefits.direct.title')"
                            :text="$t('more.benefits.direct.text')">
            <img :src="chatDialog"/>
        </base-split-content>
        <base-split-content :class="`base-split-content md-layout-item ${contentSizeClass}`"
                            :isTextLeft="true"
                            :title="$t('more.benefits.statistics.title')"
                            :text="$t('more.benefits.statistics.text')">
            <img :src="laptopStatistics"/>
        </base-split-content>
    </div>
</template>

<script>
import ReviewIphone from '@/assets/landingpage/reviewIphone.png'
import LaptopReviews from '@/assets/landingpage/desktop-respondo.png'
import ChatDialog from '@/assets/landingpage/chat.png'
import LaptopStatistics from '@/assets/landingpage/desktop-statistics.png'
import BaseSplitContent from '@/components/GeneralViews/LearnMore/BaseSplitContent'
import BaseLearnMoreSection from '@/components/GeneralViews/LearnMore/BaseLearnMoreSection'

export default {
  name: 'LearnMoreBenefits',
  extends: BaseLearnMoreSection,
  components: {
    BaseSplitContent,
  },
  computed: {
    reviewIphone() {
      return ReviewIphone
    },
    laptopReviews() {
      return LaptopReviews
    },
    chatDialog() {
      return ChatDialog
    },
    laptopStatistics() {
      return LaptopStatistics
    },
  },
}
</script>

<style scoped lang="scss">
    @import "../../../assets/sass/variables.scss";

    .base-split-content {
        padding-bottom: 120px;
        @include small-screen {
            padding-bottom: 60px;
            &:not(:last-child) {
                padding-bottom: 90px;
            }
        }
    }
</style>
