<template>
    <div class="md-layout md-alignment-top-center">
        <div :class="`md-layout md-alignment-top-center md-layout-item md-size-95 md-elevation-3 ${isHighlighted} ${hasWhiteBackground}`">
            <h1 class="md-layout-item md-size-100 text">
                {{$t(plan.name)}}
            </h1>
            <h1 class="md-layout-item md-size-100 price price">
                {{$t('more.pricing.monthly')}}:<br>
                {{$t(plan.price)}}
            </h1>
            <ul class="md-layout-item md-size-90 md-layout md-alignment-top-center md-small-hide">
                <li class="md-layout-item md-size-100 md-layout md-alignment-top-center"
                    v-for="feature in plan.features" :key="feature">
                    <div class="md-layout-item md-size-10 md-layout md-alignment-top-left">
                        <img class="md-layout-item md-size-80"
                             src="https://res.cloudinary.com/foodiscovr/image/upload/q_auto:good/v1541401840/respondo/verified_icon.jpg">
                    </div>
                    <p class="md-layout-item md-size-90 text">{{$t(feature)}}</p>
                </li>
            </ul>
            <div v-if="!!plan.description" class="md-layout-item md-size-100 md-layout md-alignment-top-center">
                <p :class="`md-layout-item md-size-90 ${descriptionClass}`">{{$t(plan.description)}}</p>
            </div>
            <div class="md-layout-item md-size-100 md-layout md-alignment-top-center" v-if="showButton">
                <action-button :to="plan.to" :href="plan.href" class="md-layout-item md-size-50" :disabled="!plan.active">{{$t(plan.buttonText)}}</action-button>
            </div>
        </div>
    </div>
</template>

<script>
import ActionButton from 'src/components/UIComponents/Buttons/ActionButton'

export default {
  name: 'PricingPlanItem',
  components: {
    ActionButton,
  },
  props: {
    plan: {
      type: Object,
    },
    showHighlighting: {
      type: Boolean,
      default() {
        return true
      },
    },
    showButton: {
      type: Boolean,
      default() {
        return true
      },
    },
    whiteBackground: {
      type: Boolean,
      default() {
        return false
      },
    },
  },
  computed: {
    descriptionClass() {
      return this.plan.hideDescription ? 'plan-description hidden-plan-description' : 'plan-description'
    },
    isHighlighted() {
      return this.plan.isHighlighted && this.showHighlighting ? 'highlight' : ''
    },
    hasWhiteBackground() {
      return this.whiteBackground ? 'whiteBackground' : ''
    },
  },
}
</script>

<style scoped lang="scss">
    @import "../../../assets/sass/variables.scss";

    h1 {
        text-align: center;
        font-size: 35px;
        letter-spacing: 1.35px;
        line-height: 45px;
        &.price {
            font-size: 20px;
            letter-spacing: 1.1px;
            line-height: 25px;
            color: $review-accent-color;
        }
    }

    ul {
        padding-left: 0;
        li:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    .plan-description {
        font-size: 15px;
        letter-spacing: 0.68px;
        line-height: 17px;
        text-align: justify;
        hyphens: auto;
    }

    .hidden-plan-description {
        color: transparent;
    }

    .text {
        color: black
    }

    .price {
        margin-bottom: 50px;
    }

    .md-button {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .highlight {
        border-bottom: 5px solid $review-primary-color;
    }

    .whiteBackground {
        background-color: white;
    }

</style>
