<template>
    <div :class="`md-layout md-alignment-center-${alignment} ${contentModeClass}`">
        <div :class="`md-layout-item md-size-100 md-layout md-alignment-center-${alignment}`">
            <h1 class="md-layout-item md-size-100">
                {{title}}
            </h1>
            <p class="md-layout-item md-size-100">
                {{text}}
            </p>
            <md-button
                class="md-layout-item md-primary md-raised md-size-35 md-small-size-50 md-xsmall-size-60"
                :to="to">{{buttonText}}
            </md-button>
        </div>
    </div>
</template>

<script>
export default {
  name: 'SplitContentTextPart',
  props: {
    title: {
      type: String,
    },
    text: {
      type: String,
    },
    to: {
      type: String,
      default() {
        return '/onboarding/start'
      },
    },
    buttonText: {
      type: String,
      default() {
        return this.$t('message.startNow')
      },
    },
    hasDarkBackground: {
      type: Boolean,
      default() {
        return false
      },
    },
    isTextLeft: {
      type: Boolean,
      default() {
        return false
      },
    },
  },
  data() {
    return {
      windowWidth: window.innerWidth,
    }
  },
  computed: {
    contentModeClass() {
      return this.hasDarkBackground ? 'light-content' : 'dark-content'
    },
    alignment() {
      if (this.isSmallScreen) {
        return 'center'
      }

      return this.isTextLeft ? 'right' : 'left'
    },
    isSmallScreen() {
      return this.windowWidth < 944
    },
  },
}
</script>

<style scoped lang="scss">
    @import "../../../assets/sass/variables.scss";

    .light-content {
        h1, p {
            color: white;
        }
    }

    .dark-content {
        h1, p {
            color: black;
        }
    }

    h1 {
        margin-top: 0;
        font-size: 30px;
        letter-spacing: 1.35px;
        line-height: 45px;
    }

    p {
        font-size: 20px;
        letter-spacing: 0.9px;
        line-height: 29px;
    }

    //TODO ggf. hier das include weglassen
    div {
        @include small-screen {
            hyphens: auto;
            text-align: justify;
        }
    }

    .md-button {
        background-color: $review-accent-color !important;
        height: 50px;
        margin-top: 30px;
        margin-left: 0;
        alignment: right;
    }
</style>
