<template>
  <div class="container">
    <div class="box md-layout md-alignment-top-center">
      <img :src="image" class="md-layout-item md-size-100"/>
      <h2 class="text md-layout-item md-size-100"><b>{{number}}</b></h2>
      <p class="text md-layout-item md-size-100">{{text}}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'StatsBox',
  props: {
    image: {
      type: String,
    },
    number: {
      type: String,
    },
    text: {
      type: String,
    },
  },
}
</script>

<style scoped>

  .container {
    padding: 10px;
  }

  .box {
    background-color: white;
    color: black;
    padding: 10px;
  }

  img {
    height: 50px;
  }

  .text {
    text-align: center;
  }

</style>
