<template>
    <div class="md-layout old-versions-container" v-if="hasOldVersions">
        <div v-for="(version, index) in oldVersions" :key="version.key">
            <chat-field class="md-layout md-layout-item md-size-100 md-alignment-top-left">
                <div class="md-layout-item md-size-100 header">
                    <b>{{getVersionDescription(index)}}</b>
                    <star-range v-if="version.rating" :value="version.rating" />
                </div>
                <div class="content">{{version.text}}</div>
            </chat-field>
        </div>
    </div>
</template>

<script>
import { hashCode } from '../../../../helper/StringHelper'
import DateHelper from '../../../../helper/DateHelper'
import StarRange from '../StarRange.vue'
import ChatField from '../ChatField.vue'

export default {
  name: 'OldReviewVersionsCardSection',
  components: { ChatField, StarRange },
  props: {
    review: {
      type: Object,
    },
  },
  computed: {
    hasOldVersions() {
      if (!this.review.oldVersions) return false
      return this.review.oldVersions.length > 0
    },
    oldVersions() {
      return this.review.oldVersions.map(version => ({
        ...version,
        key: version.id ? version.id : hashCode(version.text),
        formattedDate: DateHelper.getFormattedDateForTimestamp(version.created, this.review.platform),
      }))
    },
  },
  methods: {
    getVersionDescription(index) {
      if (!this.review.oldVersions) return null
      const version = this.oldVersions.length - index
      return `${version}. Version`
    },
  },
}
</script>

<style scoped lang="scss">
    .old-versions-container {
        padding-left: 50px;

        .header {
            b {
                float: left;
                padding-top: 2px;
                margin-right: 8px;
            }
        }

        .content {
            padding-left: 18px;
        }
    }
</style>
