<template>
  <div class="md-layout md-alignment-top-left" data-cy="review-response">
    <div class="md-layout-item md-size-5 spinner-container">
      <vue-spinner class="spinner" :color="'#2592e1'" :size="'20px'"/>
    </div>
    <p class="md-layout-item"><b>{{$t('review.card.sending')}}</b></p>
  </div>
</template>

<script>
import ClipLoader from 'vue-spinner/src/ClipLoader.vue'

export default {
  name: 'ReviewCardReplyProgress',
  components: {
    'vue-spinner': ClipLoader,
  },
}
</script>

<style scoped>

</style>
