<template>
  <div class="container">
    <div class="vertical-divider"/>
    <review-card-platform-rating :review="review" class="rating"/>
    <p class="name" data-cy="review-reviewer" :title="reviewerName"><b>{{reviewerName}}</b></p>
    <p class="date"><b>{{reviewDate}}</b></p>
    <review-card-read-state :review="review" class="readstate"/>
  </div>
</template>

<script>
import DateHelper from '../../../../helper/DateHelper'
import ReviewHelper from '../../../../helper/ReviewHelper'
import { capitalize } from '../../../../helper/StringHelper'
import ReviewCardReadState from './ReviewCardReadState.vue'
import ReviewCardPlatformRating from './ReviewCardPlatformRating.vue'

export default {
  name: 'ReviewCardMetaInfos',
  components: {
    ReviewCardPlatformRating,
    ReviewCardReadState,
  },
  props: ['review'],
  computed: {
    reviewerName() {
      const reviewerName = ReviewHelper.getReviewerName(this.review)
      return reviewerName || this.$t('review.card.unknown', { platform: capitalize(this.review.platform) })
    },
    reviewDate() {
      return DateHelper.getFormattedDateForReview(this.review)
    },
  },
}
</script>

<style scoped lang="scss">

  .vertical-divider {
    position: absolute;
    top: 10px;
    left: 226px;
    bottom: 10px;
    width: 2px;
    border-right: 2px solid #D8D8D8;
  }

  .readstate {
    position: absolute;
    bottom: 10px;
  }

  .rating {
    position: absolute;
    top: 0;
  }

  .name {
    position: absolute;
    top: 45px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 216px;
  }

  .date {
    position: absolute;
    top: 70px;
  }

  .container {
    padding: 10px;
    position: relative;
  }
</style>
