<template>
  <div :class="!isMobile ? 'container' : 'container-mobile'">
    <platform-icon :platform-name="review.platform" class="icon" data-cy="platform-icon"/>

    <div v-if="review.ratingType" class="rating-icon" data-cy="rating-icon">
      <md-icon v-if="review.ratingType === 'positive'" class="green">thumb_up</md-icon>
      <md-icon v-else class="red">thumb_down</md-icon>
    </div>
    <div id="star-rating" v-else-if="review.rating" class="rating-icon" data-cy="star-rating">
      <star-range :value="review.rating"></star-range>
    </div>
  </div>
</template>

<script>
import StarRange from '../StarRange.vue'
import PlatformIcon from '../../../../UIComponents/Icons/PlatformIcon.vue'

export default {
  name: 'ReviewCardPlatformRating',
  components: {
    PlatformIcon,
    StarRange,
  },
  props: {
    review: {
      type: Object,
    },
    isMobile: {
      type: Boolean,
      default: false,
    },
  },
}
</script>

<style scoped lang="scss">

  @import '../../../../../assets/sass/variables.scss';

  .md-icon.red {
    color: $starRedColor !important;
  }

  .md-icon.green {
    color: $starGreenColor !important;
  }

  .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
  }

  .rating-icon {
    position: absolute;
    top: 0;
    right: 0;
  }

  .container {
    position: relative;
    width: $reviewcard-left;
    height: 30px
  }

  .container-mobile {
    position: relative;
    width: 100%;
    height: 30px;
  }

</style>
