<template>
  <div class="body">
    <div v-if="hasPost" class="md-layout-item md-size-25">
      <img :src="review.post.image_url" class="post-image"/>
    </div>
    <div class="md-layout">
      <div class="md-layout md-layout-item md-size-100">
        <div class="md-layout-item md-size-100 md-xsmall-size-90">
          <div data-v-step="reviewtext" class="invisible-step"/>
          <p v-if="this.review.title"><b id="review-title">{{review.title}}</b></p>
          <b v-if="review.oldVersions">{{$t('review.card.currentVersion')}}</b>
          <p data-cy="review-text1">{{text}}</p>
        </div>
        <div class="md-layout md-layout-item md-size-100 md-xsmall-size-90 md-alignment-center-right">

          <div class="md-layout-item md-size-95" v-for="comment in review.comments"
               :key="comment.id">
            <p class="comment-title" data-cy="review-comment-date">
              {{getCommentTitle(comment)}}
            </p>
            <p class="comment-text" data-cy="review-comment">
              {{getCommentText(comment)}}
            </p>
            <div v-for="subComment in comment.subcomments" :key="subComment.id" class="subcomment">
              <p class="comment-title">
                {{getCommentTitle(subComment)}}
              </p>
              <p class="comment-text">
                {{getCommentText(subComment)}}
              </p>
            </div>
          </div>

        </div>
        <old-review-versions-card-section class="md-layout-item md-size-75 md-xsmall-size-90" :review="review"/>
      </div>
    </div>
  </div>
</template>

<script>
import { capitalize } from '../../../../helper/StringHelper'
import DateHelper from '../../../../helper/DateHelper'
import OldReviewVersionsCardSection from './OldReviewVersionsCardSection.vue'

export default {
  name: 'ReviewCardBody',
  components: {
    OldReviewVersionsCardSection,
  },
  props: ['review'],
  computed: {
    hasPost() {
      return !!this.review.post
    },
    text() {
      return this.review.text ? this.review.text : this.$t('review.card.noText')
    },
  },
  methods: {
    getCommentText(comment) {
      return comment.message === '' ? this.$t('review.card.noText') : comment.message
    },
    getCommentTitle(comment) {
      const text = comment.from && comment.from.name ? comment.from.name : this.$t('review.card.unknown', { platform: capitalize(this.review.platform) })
      const formattedDate = DateHelper.getFormattedDateForTimestamp(comment.created_time, this.review.platform)
      return `${text}, ${formattedDate}`
    },
  },
}
</script>

<style scoped>

  .post-image {
    height:  60px;
    width: 60px;
    margin-bottom: 10px;
  }

  .comment-title {
    padding-top: 5px;
    color: gray;
    font-size: small;
  }

  .comment-text {
    font-size: small;
  }

  .body {
    padding: 10px;
  }

</style>
