<template>
  <div>
    <!--Dialog for switch to QuickReply page-->
    <md-dialog-confirm
      :md-active.sync="showQuickReplyDialog"
      :md-title="$t('review.card.quickreply')"
      :md-content="$t('review.card.noQuickreply')"
      :md-confirm-text="$t('message.yes')"
      :md-cancel-text="$t('message.no')"
      @md-cancel="onQuickReplyCancel"
      @md-confirm="onQuickReplyConfirm"/>
    <!--Dialog for QuickReply selection -->
    <choice-dialog v-if="showQuickReplySelection"
                   :headline="$t('review.card.quickreply')"
                   :description="$t('review.card.selectQuickreply')"
                   :active="showQuickReplySelection"
                   @confirmed="onQuickReplySelectionConfirmed"
                   @close="onQuickReplySelectionCanceled"
                   :choices="quickreplyChoices"
                   :isMultipleSelectionAllowed="false"
                   :confirmationNecessary="false"/>
    <!--Dialog to show crawler connection hint-->
    <md-dialog-confirm
      :md-active.sync="showConnectionHint"
      :md-title="$t('review.connection.title')"
      :md-content="$t('review.connection.description', { platform: platform })"
      :md-confirm-text="$t('review.connection.showSteps')"
      :md-cancel-text="$t('review.connection.openPlatform', { platform: platform })"
      @md-confirm="showConnectionSteps"
      @md-cancel="onOpenWindowClicked"/>
    <!--Dialog to show connection steps-->
    <platform-explanation-dialog
      :md-active.sync="showConnectionDialog"
      :platform-name="review.platform"
      @confirmed="showConnectionDialog = false"
      class="confirm-dialog"/>
    <!-- Reply area -->
    <div class="md-layout md-alignment-top-right" data-cy="review-response-field">
      <md-field :md-clearable="true" class="md-layout-item md-size-100 response-field">
        <md-textarea @click="onTextareaClicked"
                     :placeholder="$t('review.card.answerPlaceholder')"
                     v-model="replyText" data-cy="review-response-area"
                     data-v-step="respond-to-review"></md-textarea>
      </md-field>
      <md-button id="quickreply-button"
                 @click="onQuickReplyClick()"
                 data-cy="review-response-button"
                 class="md-layout-item md-size-20 md-small-size-45">
        {{$t('review.card.quickreply')}}
      </md-button>
      <action-button id="send-button"
                     :disabled="!isResponseTextFilled"
                     @click="onSendClick()"
                     data-cy="review-response-button"
                     class="md-layout-item md-size-20 md-small-size-45">
        {{$t('review.card.send')}}
      </action-button>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import ActionButton from '../../../../UIComponents/Buttons/ActionButton.vue'
import LocationMixin from '../../../../mixin/LocationMixin'
import ChoiceDialog from '../../../../UIComponents/Dialogs/ChoiceDialog.vue'
import { findFittingReply } from '../../../../helper/QuickReplyHelper'
import { capitalize } from '../../../../helper/StringHelper'
import PlatformExplanationDialog from '../../Representation/PlatformExplanationDialog.vue'

export default {
  name: 'ReviewCardReplyField',
  mixins: [LocationMixin],
  components: {
    PlatformExplanationDialog,
    ChoiceDialog,
    ActionButton,
  },
  data() {
    return {
      replyText: '',
      showQuickReplyDialog: false,
      showQuickReplySelection: false,
      showConnectionHint: false,
      showConnectionDialog: false,
      quickreplyChoices: [],
    }
  },
  props: ['review', 'location'],
  computed: {
    ...mapGetters([
      'getQuickReplies',
    ]),
    isResponseTextFilled() {
      return this.replyText !== null && this.replyText !== ''
    },
    platform() {
      return capitalize(this.review.platform)
    },
  },
  methods: {
    showConnectionSteps() {
      this.showConnectionDialog = true
    },
    onOpenWindowClicked() {
      this.$emit('open-external')
    },
    onTextareaClicked() {
      this.showConnectionHint = !this.review.canReply
    },
    onQuickReplyClick() {
      const reply = findFittingReply(this.getQuickReplies, this.review)

      if (!reply) {
        this.showQuickReplyDialog = true
        return
      }

      const depositedTexts = []
      reply.texts.forEach((text, index) => {
        if (text.length > 0) depositedTexts.push({ label: text, id: index.toString() })
      })

      if (depositedTexts.length === 0) {
        this.showQuickReplyDialog = true
      } else if (depositedTexts.length === 1) {
        this.replyText = depositedTexts[0].label
      } else {
        this.quickreplyChoices = depositedTexts
        this.showQuickReplySelection = true
      }
    },
    onQuickReplySelectionConfirmed(data) {
      this.replyText = data.label
      this.showQuickReplySelection = false
    },
    onQuickReplySelectionCanceled() {
      this.showQuickReplySelection = false
    },
    onSendClick() {
      if (this.review.platform.toLowerCase() === 'instagram') {
        this.sendReply(`@${this.review.reviewer.name} ${this.replyText}`)
      } else {
        this.sendReply(this.replyText)
      }
    },
    sendReply(text) {
      this.$store.dispatch('sendReply', {
        review: this.review,
        text,
      })
    },
    onQuickReplyConfirm() {
      this.showQuickReplyDialog = false
      this.$router.push('/app/quick')
    },
    onQuickReplyCancel() {
      this.showQuickReplyDialog = false
    },
    clearInput() {
      this.replyText = ''
    },
  },
}
</script>

<style scoped>

  .response-field {
    background: white;
  }

</style>
