<template>
  <div class="md-layout" data-cy="review-response">
    <div class="md-layout-item md-size-95">
      <p><b>{{$t('review.card.answer')}}</b></p>
      <p>{{response}}</p>
    </div>
    <div class="md-layout-item md-layout md-alignment-center-right">
      <md-button @click="onOpenWindowClicked"
                 class="md-raised md-layout-item md-size-30 md-small-size-50"
                 data-cy="response-link">{{$t('review.card.answerAgain')}}</md-button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ReviewCardReplyResponse',
  props: ['response'],
  methods: {
    onOpenWindowClicked() {
      this.$emit('open-external')
    },
  },
}
</script>

<style scoped>

</style>
