<template>
    <md-card class="card md-elevation-5 md-layout md-gutter md-alignment-top-left" data-cy="review-card">

        <div class="md-layout-item md-size-100 header">
          <review-card-header :review="review" @open-external="openExternal"/>
        </div>

        <div class="md-layout-item md-size-100 md-layout content">
          <review-card-meta-infos :review="review" class="md-layout-item md-size-25 md-small-size-100"/>

          <div class="md-layout-item md-size-75 md-small-size-100">
            <review-card-body :review="review"/>
            <review-card-reply :review="review" :location="location" @open-external="openExternal"/>
          </div>
        </div>
    </md-card>
</template>

<script>
import ReviewCardHeader from './ReviewCardHeader.vue'
import ReviewCardMetaInfos from './ReviewCardMetaInfos.vue'
import OldReviewVersionsCardSection from './OldReviewVersionsCardSection.vue'

import ReviewCardReply from './ReviewCardReply.vue'
import ReviewCardBody from './ReviewCardBody.vue'

export default {
  components: {
    ReviewCardBody,
    ReviewCardReply,
    OldReviewVersionsCardSection,
    ReviewCardHeader,
    ReviewCardMetaInfos,
  },
  props: ['review', 'location'],
  computed: {
    replyLink() {
      if (!!this.review.url && this.review.url.length > 0) {
        return this.review.url
      }
      const { representations } = this.location
      const condition = representation => representation.platform === this.review.platform
      const representationForReview = representations.find(condition)

      if (!!representationForReview.url && representationForReview.url > 0) {
        return representationForReview.url
      }

      if (representationForReview.platform === 'google') {
        return 'https://mybusiness.google.com'
      }
      return ''
    },
  },
  methods: {
    openExternal() {
      this.openReviewInWindow()
    },
    openReviewInWindow() {
      const relativeMargin = 0.8
      const w = window.innerWidth * relativeMargin
      const h = window.innerHeight * relativeMargin

      // Credits: https://stackoverflow.com/questions/4068373/center-a-popup-window-on-screen
      const dualScreenLeft = window.screenLeft ? window.screenLeft : window.screenX
      const dualScreenTop = window.screenTop ? window.screenTop : window.screenY

      const width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width
      const height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height

      const left = ((width / 2) - (w / 2)) + dualScreenLeft
      const top = ((height / 2) - (h / 2)) + dualScreenTop
      const newWindow = window.open(this.replyLink, '', `scrollbars=yes, width=${w}, height=${h}, top=${top}, left=${left}`)

      const self = this
      const pollTimer = window.setInterval(() => {
        if (newWindow.closed !== false) { // !== is required for compatibility with Opera
          window.clearInterval(pollTimer)
          self.onReviewWindowClosed()
        }
      }, 200)
    },
    onReviewWindowClosed() {
      const self = this
      this.$store.dispatch('setState', {
        reviewId: this.review.id,
        state: 'seen',
      }).then(() => {
        self.$forceUpdate()
      })
    },
  },
}
</script>

<style scoped lang="scss">
  @import '../../../../../assets/sass/variables.scss';

  .card {
    width: 904px;
    background-color: $gridCardBackgroundColor;
    min-height: 220px;
    margin: 20px auto;
    overflow: hidden;

    .header {
      background-color: white;
      height: 30px;
      padding: 0 !important;
    }

    .content {
      padding: 0 !important;
      min-height: 190px;
    }
  }

</style>
