<template>
  <div class="md-layout md-alignment-top-right">
    <div class="md-layout-item md-size-80 md-small-size-100 md-layout md-alignment-top-right">
      <md-icon class="md-layout-item md-size-5 icon md-small-hide">send</md-icon>
      <div class="md-layout-item md-size-95 reply">
        <review-card-reply-progress v-if="inProgress"/>
        <div v-else>
          <review-card-reply-response v-if="hasResponse"
                                      :response="response"
                                      @open-external="openExternal"/>
          <review-card-reply-field v-else ref="reply" :review="review" :location="location" @open-external="openExternal"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ReviewCardReplyField from './ReviewCardReplyField.vue'
import ReviewCardReplyProgress from './ReviewCardReplyProgress.vue'
import ReviewCardReplyResponse from './ReviewCardReplyResponse.vue'

export default {
  name: 'ReviewCardReply',
  components: {
    ReviewCardReplyResponse,
    ReviewCardReplyProgress,
    ReviewCardReplyField,
  },
  props: ['review', 'location'],
  computed: {
    hasResponse() {
      return !!this.review.response
    },
    response() {
      return this.review.response.text
    },
    inProgress() {
      return this.review.taskState.isRunning
    },
  },
  methods: {
    openExternal() {
      this.$emit('open-external')
    },
    clearInput() {
      if (this.$refs.reply) {
        this.$refs.reply.clearInput()
      }
    },
  },
}
</script>

<style scoped lang="scss">

  .icon {
    margin: 0 !important;
  }

  .reply {
    padding: 0 10px 10px;
  }

  .button {
    margin: 0 !important;
  }

</style>
