<template>
    <div class="header">
      <md-button class="button" @click="onOpenButtonClicked">
        {{buttonTitle}}
        <md-icon>launch</md-icon>
      </md-button>
    </div>
</template>

<script>
import { capitalize } from '../../../../helper/StringHelper'

export default {
  name: 'ReviewCardHeader',
  props: ['review'],
  computed: {
    buttonTitle() {
      return this.$t('review.card.open', { platform: capitalize(this.review.platform) })
    },
  },
  methods: {
    onOpenButtonClicked() {
      this.$emit('open-external')
    },
  },
}
</script>

<style scoped>

  .header {
    background-color: white;
  }

  .button {
    position: absolute;
    top: 0;
    right: 0;
    height: 20px !important;
  }

</style>
