<template>
  <div>
    <!--Confirmation dialog for seen/unseen review-->
    <md-dialog-confirm
      :md-active.sync="showConfirmationDialog"
      :md-title="$t('terms.attention')"
      :md-content="$t('review.card.readQuestion')"
      :md-confirm-text="$t('message.yes')"
      :md-cancel-text="$t('message.no')"
      @md-cancel="onStateCancel"
      @md-confirm="onStateConfirm"/>

    <div :class="!isMobile ? 'container' : 'container-mobile'">
      <md-icon :class='iconClass'>{{icon}}</md-icon>
      <p :class='textClass'><b>{{text}}</b></p>
      <md-button class="md-raised" :class="!isMobile ? 'button' : 'button-mobile'" data-v-step="seenbutton" @click="onButtonClick">
        {{buttonText}}
      </md-button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ReviewCardReadState',
  props: {
    review: {
      type: Object,
    },
    isMobile: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      showConfirmationDialog: false,
    }
  },
  computed: {
    isSeen() {
      return this.review.state !== undefined && this.review.state === 'seen'
    },
    text() {
      return this.isSeen ? this.$t('review.state.seen') : this.$t('review.state.unseen')
    },
    iconClass() {
      return this.isSeen ? 'icon gray' : 'icon black'
    },
    textClass() {
      return this.isSeen ? 'text gray' : 'text black'
    },
    icon() {
      return this.isSeen ? 'check' : 'fiber_new'
    },
    buttonText() {
      return this.isSeen ? this.$t('review.card.markUnseen') : this.$t('review.card.markSeen')
    },
  },
  methods: {
    onButtonClick() {
      if (this.isSeen) {
        this.showConfirmationDialog = true
      } else {
        this.setState('seen')
      }
    },
    onStateConfirm() {
      this.showConfirmationDialog = false
      this.setState('unseen')
    },
    onStateCancel() {
      this.showConfirmationDialog = false
    },
    setState(state) {
      this.$store.dispatch('setState', {
        reviewId: this.review.id,
        state,
      }).then(() => {
        this.$forceUpdate()
      })
    },
  },
}
</script>

<style scoped lang="scss">

  @import '../../../../../assets/sass/variables.scss';

  .icon {
    position: absolute;
    bottom: 45px;
    left: 0;
    color: black !important;

    &.black {
      color: black !important;
    }

    &.gray {
      color: gray !important;
    }
  }

  .button {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 !important;
    width: 206px;
  }

  .button-mobile {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 !important;
    width: 100%;
  }

  .text {
    position: absolute;
    bottom: 35px;
    left: 30px;

    &.black {
      color: black !important;
    }

    &.gray {
      color: gray !important;
    }
  }

  .container {
    position: relative;
    height: 70px;
    width: $reviewcard-left;
  }

  .container-mobile {
    position: relative;
    height: 70px;
    width: 100%;
  }

</style>
