<template>
  <md-card class="card md-elevation-5 md-layout md-alignment-center-left">
    <div class="header md-layout-item md-size-100 md-layout" @click="onShowMoreClicked">
      <div class="md-layout-item md-size-50 md-small-size-80">
        <p><b>{{location.name}}</b></p>
        <p>{{depositedRepliesText}}</p>
      </div>

      <div class="md-layout-item md-size-50 md-small-size-10 md-layout md-alignment-right">
        <span class="md-layout-item md-size-60 md-small-hide"></span>

        <action-button v-if="!isCompact" class="md-layout-item md-size-20 md-small-hide" @click="onSaveClicked">{{$t('message.save')}}</action-button>
        <span v-else class="md-layout-item md-size-20"></span>
        <div class="md-layout-item md-size-10 md-xsmall-size-10">
          <md-button class="md-icon-button">
            <md-icon v-if="isCompact">expand_more</md-icon>
            <md-icon v-else>expand_less</md-icon>
          </md-button>
        </div>
      </div>
    </div>

    <div class="replies md-layout-item md-size-100 md-layout md-alignment-top-center" v-if="!isCompact">
      <div v-for="(rating, index) in ratingFields"
       class="md-size-100 md-layout-item md-layout section"
       :key="index"
       >

        <div class="md-layout-item md-layout md-alignment-left">
          {{placeholderForRating(rating)}}
          <star-range v-if="rating.type === RatingTypes.star_rating" :value="rating.value" class="md-layout-item md-small-hide star-range"></star-range>
          <md-icon v-else-if="rating.type === RatingTypes.bad_rating" class="red md-layout-item md-small-hide rating-type">thumb_down</md-icon>
          <md-icon v-else-if="rating.type === RatingTypes.good_rating" class="green md-layout-item md-small-hide rating-type">thumb_up</md-icon>
          <md-button
            v-if="!isCopyButtonFirstElement(index)"
            @click="copyButtonClicked(index)"
            class="md-raised">{{$t('quickreply.copy')}}</md-button>
        </div>

        <md-tabs md-sync-route class="md-layout-item md-size-100">
          <md-tab v-for="i in 3"
            :key="i"
            :md-label="`Option ${i}`">
            <md-field :md-clearable="true" >
              <md-textarea v-model="ratingFields[index].texts[i-1]" :placeholder="$t('quickreply.placeholder')"/>
            </md-field>
          </md-tab>
        </md-tabs>

        <md-divider class="md-layout-item md-size-100"/>
      </div>

      <action-button class="md-layout-item md-size-25 md-small-size-50" @click="onSaveClicked">{{$t('message.save')}}</action-button>
    </div>
  </md-card>
</template>

<script>
import StarRange from '../../Dashboard/Views/Reviews/StarRange.vue'
import RatingTypes from '../../helper/constants'
import ActionButton from '../../UIComponents/Buttons/ActionButton.vue'

const defaultTexts = ['', '', '']

export default {
  name: 'QuickReplyCard',
  components: {
    StarRange, ActionButton,
  },
  data() {
    return {
      RatingTypes,
      ratingFields: [{
        type: RatingTypes.no_rating,
        texts: [...defaultTexts],
      }, {
        type: RatingTypes.star_rating,
        value: 1,
        texts: [...defaultTexts],
      }, {
        type: RatingTypes.star_rating,
        value: 2,
        texts: [...defaultTexts],
      }, {
        type: RatingTypes.star_rating,
        value: 3,
        texts: [...defaultTexts],
      }, {
        type: RatingTypes.star_rating,
        value: 4,
        texts: [...defaultTexts],
      }, {
        type: RatingTypes.star_rating,
        value: 5,
        texts: [...defaultTexts],
      }, {
        type: RatingTypes.bad_rating,
        texts: [...defaultTexts],
      }, {
        type: RatingTypes.good_rating,
        texts: [...defaultTexts],
      }],
      isCompact: true,
    }
  },
  props: ['location', 'replies'],
  computed: {
    depositedRepliesText() {
      let replyCount = 0
      this.replies.forEach((quickReply) => {
        quickReply.texts.forEach((text) => {
          if (text.length > 0) {
            replyCount += 1
          }
        })
      })
      let overallCount = 0
      this.ratingFields.forEach((rating) => {
        rating.texts.forEach(() => {
          overallCount += 1
        })
      })
      return this.$t('quickreply.deposits', { count: replyCount, total: overallCount })
    },
  },
  methods: {
    onSaveClicked() {
      const replies = []
      this.ratingFields.forEach((rating) => {
        let option = {}
        switch (rating.type) {
          case RatingTypes.no_rating: {
            option = { type: 'rating', value: 0 }
            break
          }
          case RatingTypes.star_rating: {
            option = { type: 'rating', value: rating.value }
            break
          }
          case RatingTypes.good_rating: {
            option = { type: 'rating', value: 'positive' }
            break
          }
          case RatingTypes.bad_rating: {
            option = { type: 'rating', value: 'negative' }
            break
          }
          default: {
            option = {}
            break
          }
        }

        const newReply = {
          locationId: this.location.id,
          options: [option],
          texts: rating.texts,
        }
        if (rating.id) newReply.id = rating.id

        replies.push(newReply)
      })

      this.$emit('confirmed', replies)
      this.isCompact = true
    },
    findQuickReplyForRating(rating) {
      switch (rating.type) {
        case RatingTypes.no_rating: return this.replies.find(reply => reply.options.find(option => option.type === 'rating' && option.value === 0))
        case RatingTypes.star_rating: {
          return this.replies.find(reply => reply.options.find(option => option.type === 'rating' && option.value === rating.value)) }
        case RatingTypes.good_rating: return this.replies.find(reply => reply.options.find(option => option.type === 'rating' && option.value === 'positive'))
        case RatingTypes.bad_rating: return this.replies.find(reply => reply.options.find(option => option.type === 'rating' && option.value === 'negative'))
        default: return null
      }
    },
    placeholderForRating(rating) {
      switch (rating.type) {
        case RatingTypes.no_rating: return this.$t('quickreply.template.without')
        case RatingTypes.bad_rating: return this.$t('quickreply.template.negative')
        case RatingTypes.good_rating: return this.$t('quickreply.template.positive')
        case RatingTypes.star_rating: return this.$t('quickreply.template.stars', { value: this.$tc('quickreply.template.starsCount', rating.value) })
      }
    },
    isCopyButtonFirstElement(index) {
      return index === 0
    },
    copyButtonClicked(index) {
      this.ratingFields[index].texts = JSON.parse(JSON.stringify(this.ratingFields[index - 1].texts))
      this.$forceUpdate()
    },
    onShowMoreClicked() {
      this.isCompact = !this.isCompact
    },
    fillRatingFields() {
      this.ratingFields.forEach((rating, index) => {
        const quickReply = this.findQuickReplyForRating(rating)
        if (quickReply) {
          this.ratingFields[index].texts = quickReply.texts
          this.ratingFields[index].id = quickReply.id
        }
      })
    },
  },
  mounted() {
    this.fillRatingFields()
  },
  watch: {
    replies() {
      this.fillRatingFields()
    },
  },
}

</script>

<style scoped lang="scss">
  @import "../../../assets/sass/variables";

  .card {
    margin: 20px;
    overflow: hidden;
  }

  .replies {
    padding: 20px;
  }

  .header {
    background-color: #f4f3f4;
  }

  .rating-type {
    margin-left: 10px;
    margin-right: 10px;
  }

  .md-icon.red {
    color: $starRedColor !important;
  }

  .md-icon.green {
    color: $starGreenColor !important;
  }

  .section {
    padding: 5px;
    margin-bottom: 10px;
  }

  .md-tabs {
    height: 200px !important;
    overflow: hidden !important;
  }

  .md-tab {
    overflow: hidden !important;
  }

  .star-range {
    margin-left: 10px;
  }

  .md-divider {
    margin-top: 10px;
    margin-bottom: 10px;
  }

</style>
