<template>
  <div class="scrollable">
    <div v-if="hasLocations">
      <quick-reply-card v-for="location in locations"
                        :key="location.id"
                        :location="location"
                        :replies="repliesForLocationId(location.id)"
                        @confirmed="onRepliesConfirmed">
      </quick-reply-card>
    </div>
    <md-empty-state
      v-else
      :md-label="$t('quickreply.noData')"
      :md-description="$t('quickreply.noLocations')"
      md-icon="message"
      md-rounded
      class="empty-state">
    </md-empty-state>
  </div>

</template>

<script>
import { mapGetters } from 'vuex'
import QuickReplyCard from './QuickReplyCard.vue'
import { EventName, EventType } from '../../store/modules/event'

export default {
  name: 'QuickReply',
  data() {
    return {
      replyText: '',
    }
  },
  components: {
    QuickReplyCard,
  },
  computed: {
    ...mapGetters({
      locations: 'getLocationsForCurrentUser',
      replies: 'getQuickReplies',
    }),
    hasLocations() {
      return this.locations.length > 0
    },
  },
  methods: {
    onSaveClicked() {
      this.$store.dispatch('writeQuickReply', { text: this.replyText })
    },
    repliesForLocationId(locationId) {
      return this.replies.filter(reply => reply.locationId === locationId)
    },
    onRepliesConfirmed(replies) {
      this.$store.dispatch('writeQuickReplies', replies)
    },
  },
  created() {
    this.$store.commit('setHeadline', { text: this.$t('menu.quickReplies') })
    this.$store.dispatch('writeEvent', { name: EventName.QuickReply, type: EventType.Visit })
  },
}

</script>

<style scoped lang="scss">

    @import "../../../assets/sass/variables";

    .scrollable {
        height: $content-height;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .empty-state {
      top: 100px;
    }

</style>
