<template>
    <div class="wrapper">
        <!--<side-bar type="sidebar" :sidebar-links="$sidebar.sidebarLinks">

        </side-bar>
        <notifications>

        </notifications>-->
        <div class="main-panel">
            <top-navbar class="top-navbar"></top-navbar>

            <dashboard-content class="dashboard-content" @click.native="toggleSidebar">
            </dashboard-content>
        </div>
    </div>
</template>
<style lang="scss">
@import "../../../assets/sass/variables";
.main-panel {
    display: block;
    .top-navbar {
        height: $header-height;
    }
    .dashboard-content {
        height: $content-height;
        .md-tab, #review-box, #statistics-box {
            height: $content-height;
            overflow-y: scroll;
        }
    }
}
</style>
<script>
import TopNavbar from './TopNavbar.vue'
import DashboardContent from './Content.vue'

export default {
  components: {
    TopNavbar,
    DashboardContent,
  },
  methods: {
    toggleSidebar() {
      if (this.$sidebar.showSidebar) {
        this.$sidebar.displaySidebar(false)
      }
    },
  },
}
</script>
