<template>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header" id="navbar-header">
                <div class="md-layout md-alignment-center" id="header-row">
                    <div class="md-layout-item md-size-15 md-small-size-5"></div>
                    <div class="md-layout-item md-size-20 md-small-size-15">
                        <router-link :to="{path:'/app/locations'}">
                            <md-icon class="md-size-2x" :md-src="headerIcon"></md-icon>
                        </router-link>
                    </div>
                    <div  class="md-layout-item md-size-40 md-small-size-60">
                        <div data-v-step="0" class="invisible-step"/>
                        <h4 id="location-title">{{getShortHeadline()}}</h4>
                    </div>
                    <div class="md-layout-item md-size-5 md-small-size-5">
                        <div class="spinner-container" @click="onSpinnerClicked">
                            <vue-spinner class="spinner" :loading="showSpinner" :color="'#2592e1'" :size="'20px'"/>
                        </div>
                    </div>
                    <div class="md-layout-item md-size-15">
                        <button type="button"
                                class="navbar-toggle"
                                :class="{toggled: $sidebar.showSidebar}"
                                @click="toggleSidebar"
                                data-cy="navbar-button"
                                data-v-step="4">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar bar1"></span>
                            <span class="icon-bar bar2"></span>
                            <span class="icon-bar bar3"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <drop-down v-if="this.currentUser" :title="this.nick" icon="ti-settings">
                        <li>
                            <a>Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a @click="onLogout">{{$t('terms.logout')}}</a>
                        </li>
                    </drop-down>
                </ul>
            </div>
        </div>
    </nav>
</template>
<script>
import { mapGetters } from 'vuex'
import ClipLoader from 'vue-spinner/src/ClipLoader.vue'
import RespondoLogo from '../../../assets/respondo-logo-only.svg'
import { capitalize } from '../../helper/StringHelper'
import DropDown from '../../UIComponents/DropDown.vue'

export default {
  components: {
    'vue-spinner': ClipLoader,
    DropDown,
  },
  computed: {
    ...mapGetters({
      headline: 'getHeadline',
      showSpinner: 'showProgress',
    }),
    nick() {
      return this.$store.state.user.currentUser.nick
    },
    currentUser() {
      return this.$store.state.user.currentUser
    },
    routeName() {
      const { name } = this.$route
      return this.capitalizeFirstLetter(name)
    },
    headerIcon() {
      return RespondoLogo
    },
  },
  data() {
    return {
      shortHeadline: '',
    }
  },
  methods: {
    capitalizeFirstLetter(string) {
      return capitalize(string)
    },
    toggleSidebar() {
      this.$sidebar.displaySidebar(!this.$sidebar.showSidebar)
    },
    hideSidebar() {
      this.$sidebar.displaySidebar(false)
    },
    getShortHeadline() {
      return this.headline.replace(/ *\([^)]*\) */g, '')
    },
    onLogout() {
    },
    onSpinnerClicked() {
      this.$store.dispatch('showSpinnerTasks')
    },
  },
  watch: {
    headline(newValue) {
      document.title = newValue
    },
  },
}
</script>
<style lang="scss">

    @import "../../../assets/sass/variables";

    .invisible-step {
        width: 0;
        position: absolute;
        height: $header-height;
        background-color: transparent;
    }

    #header-row {
        .md-icon {
            margin-top: 10px;
        }
        h4 {
            margin-top: 20px;
        }
    }

    @media (max-width: 767px) {
        .navbar .navbar-brand {
            padding-bottom: 50px;
        }
        #location-title {
            font-size: 20px;
        }
    }

</style>
