<template>
    <router-link :id="item.id" :to="{path: path + item.idurl, params: { idurl: item.idurl }, query: {label: item.name}}"
                 tag="tr">
        <td style="width:40%">{{item.name}}</td>
        <td style="width:40%">{{item.description}}</td>
        <td class="td-chevron" style="width:20%">
            <img style="width:20px;height:20px" src="/static/img/chevronRight_copy.svg"></img>
        </td>
    </router-link>
</template>
<script>
export default {
  props: ['item', 'path'],
}
</script>
<style>
.td-chevron {
    padding: 25px !important;
    width: 5%;
    height: 5%;
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
</style>
