<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="padding:15px">
                <div class="content table-responsive">
                    <table class="table table-hover">
                        <tbody class="striped-table">
                        <link-list-row :item="item" :path="path" v-for="item in items" :key="item.id"
                                       v-on:click.native="onItemClick(item)"></link-list-row>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import LinkListRow from './LinkListRow.vue'

export default {
  components: {
    LinkListRow,
  },
  props: ['items', 'path'],
  methods: {
    onItemClick(item) {
      this.$emit('on-item-click', item)
    },
  },
}
</script>
<style>
.table {
    table-layout: fixed;
    word-wrap: break-word;
}

.striped-table tr:nth-child(odd) {
    background-color: #fafafa;
}
</style>
