<template>
  <md-dialog :md-active.sync="active">
    <md-dialog-title>{{$t('settings.widget.example.title')}}</md-dialog-title>
    <md-content class="dialog-content">
      <div class="md-layout md-gutter md-alignment-top-center">
        <p class="md-layout-item">{{$t('settings.widget.example.description')}}</p>
      </div>
      <img src="https://res.cloudinary.com/foodiscovr/image/upload/v1568819647/respondo/widget_preview.png"/>
    </md-content>
    <md-dialog-actions>
      <md-button class="md-primary" @click="onConfirm">{{$t('message.ok')}}</md-button>
    </md-dialog-actions>
  </md-dialog>
</template>

<script>
export default {
  name: 'WidgetExampleDialog',
  props: {
    active: Boolean,
  },
  methods: {
    onConfirm() {
      this.$emit('confirmed')
    },
  },
}

</script>

<style scoped>

  .dialog-content {
    height: 100%;
    padding-left: 25px;
    padding-right: 25px;
    overflow-y: scroll !important;
  }

  .md-dialog {
    flex-flow: row;
  }

</style>
