<template>
  <md-dialog :md-active.sync="active">
    <md-dialog-title>
      {{$t('settings.widget.snippet.title')}}
    </md-dialog-title>
    <md-content class="dialog-content">
      <div class="md-layout md-gutter md-alignment-top-center">
        <p class="md-layout-item">{{$t('settings.widget.snippet.description')}}</p>
      </div>
      <p class="snippet">{{snippet}}</p>
    </md-content>
    <md-dialog-actions>
      <md-button class="md-primary" @click="onConfirm">{{$t('message.ok')}}</md-button>
    </md-dialog-actions>
  </md-dialog>
</template>

<script>
export default {
  name: 'WidgetSnippetDialog',
  props: {
    snippet: String,
    active: Boolean,
  },
  methods: {
    onConfirm() {
      this.$emit('confirmed')
    },
  },
}
</script>

<style scoped lang="scss">

  @import "../../../../../assets/sass/variables";

  .dialog-content {
    height: 100%;
    padding-left: 25px;
    padding-right: 25px;
    overflow-y: scroll !important;
  }

  .md-dialog {
    flex-flow: row;
  }

  .snippet {
    padding: 10px;
    background-color: $gridCardBackgroundColor;
    color: black;
    font-size: 14px;
    font-family: monospace;
  }

</style>
