<template>
  <md-dialog :md-active.sync="active">
    <md-dialog-title>{{$t('settings.widget.position.title')}}</md-dialog-title>
    <md-content class="dialog-content">
      <div class="md-layout md-gutter md-alignment-top-center">
        <p class="md-layout-item">{{$t('settings.widget.position.description')}}</p>
      </div>
      <div class="md-layout md-alignment-top-center config">
        <p class="md-layout-item">{{$t('settings.widget.position.horizontal')}}</p>
        <div class="md-layout-item md-size-100">
          <md-radio v-model="horizontal" value="left">{{$t('settings.widget.position.left')}}</md-radio>
          <md-radio v-if="!isVerticalMiddleSelected" v-model="horizontal" value="middle">{{$t('settings.widget.position.middle')}}</md-radio>
          <md-radio v-else v-model="horizontal" value="middle" disabled>{{$t('settings.widget.position.middle')}}</md-radio>
          <md-radio v-model="horizontal" value="right">{{$t('settings.widget.position.right')}}</md-radio>
        </div>
        <p class="md-layout-item">{{$t('settings.widget.position.vertical')}}</p>
        <div class="md-layout-item md-size-100">
          <md-radio v-model="vertical" value="top">{{$t('settings.widget.position.top')}}</md-radio>
          <md-radio v-if="!isHorizontalMiddleSelected" v-model="vertical" value="middle">{{$t('settings.widget.position.middle')}}</md-radio>
          <md-radio v-else v-model="vertical" value="middle" disabled>{{$t('settings.widget.position.middle')}}</md-radio>
          <md-radio v-model="vertical" value="bottom">{{$t('settings.widget.position.bottom')}}</md-radio>
        </div>
      </div>
      <div class="preview">
        <div :class="previewBoxClass"></div>
      </div>
    </md-content>
    <md-dialog-actions>
      <md-button class="md-primary" @click="onCancel">{{$t('message.cancel')}}</md-button>
      <md-button class="md-primary" @click="onConfirm">{{$t('message.goOn')}}</md-button>
    </md-dialog-actions>
  </md-dialog>
</template>

<script>
export default {
  name: 'WidgetPositionDialog',
  props: {
    active: Boolean,
    defaultPosition: {
      default: '0',
      type: String,
    },
  },
  mounted() {
    const alignments = this.getAlignment(this.defaultPosition).split('-')
    this.horizontal = alignments[0]
    this.vertical = alignments[1]
  },
  data() {
    return {
      horizontal: 'left',
      vertical: 'top',
    }
  },
  computed: {
    previewBoxClass() {
      return `preview-box ${this.positionClass}`
    },
    positionClass() {
      return `${this.horizontal}-${this.vertical}`
    },
    isHorizontalMiddleSelected() {
      return this.horizontal === 'middle'
    },
    isVerticalMiddleSelected() {
      return this.vertical === 'middle'
    },
  },
  methods: {
    onConfirm() {
      this.$emit('confirmed', this.getPositionId())
    },
    onCancel() {
      this.$emit('cancel')
    },
    getPositionId() {
      switch (this.positionClass) {
        case 'left-top': return '0'
        case 'middle-top': return '1'
        case 'right-top': return '2'
        case 'left-middle': return '7'
        case 'right-middle': return '3'
        case 'left-bottom': return '6'
        case 'middle-bottom': return '5'
        case 'right-bottom': return '4'

        default: return '0'
      }
    },
    getAlignment(positionId) {
      switch (positionId) {
        case '0': return 'left-top'
        case '1': return 'middle-top'
        case '2': return 'right-top'
        case '7': return 'left-middle'
        case '3': return 'right-middle'
        case '6': return 'left-bottom'
        case '5': return 'middle-bottom'
        case '4': return 'right-bottom'

        default: return 'left-top'
      }
    },
  },
}
</script>

<style lang="scss">

  @import "../../../../../assets/sass/variables";

  .dialog-content {
    height: 100%;
    padding-left: 25px;
    padding-right: 25px;
    overflow-y: scroll !important;
  }

  .md-dialog {
    flex-flow: row;
  }

  .config {
    margin-top: 20px;
  }

  .preview {
    display: inline-block;
    background-color: $gridCardBackgroundColor;
    position: relative;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .preview-box {
    position: absolute;
    background-color: $review-primary-color;
    height: 10px;
    width: 10px;

    &.left-top {
      top: 0;
      left: 0;
    }

    &.middle-top {
      top: 0;
      left: 45px;
    }

    &.right-top {
      top: 0;
      right: 0;
    }

    &.left-middle {
      top: 45px;
      left: 0;
    }

    &.right-middle {
      top: 45px;
      right: 0;
    }

    &.left-bottom {
      bottom: 0;
      left: 0;
    }

    &.middle-bottom {
      bottom: 0;
      left: 45px;
    }

    &.right-bottom {
      bottom: 0;
      right: 0;
    }
  }

</style>
