<template>
  <md-dialog :md-active.sync="active">
    <md-dialog-title>{{$t('settings.widget.color.title')}}</md-dialog-title>
    <md-dialog-content>
      <div class="md-layout md-gutter md-alignment-top-center">
        <p class="md-layout-item">{{$t('settings.widget.color.description')}}</p>
      </div>
      <chrome v-model="color"/>
    </md-dialog-content>
    <md-dialog-actions>
      <md-button class="md-primary" @click="onCancel">{{$t('message.cancel')}}</md-button>
      <md-button class="md-primary" @click="onConfirm">{{$t('message.save')}}</md-button>
    </md-dialog-actions>
  </md-dialog>
</template>

<script>
import { Chrome } from 'vue-color'

export default {
  name: 'WidgetColorDialog',
  props: {
    active: Boolean,
    defaultColor: {
      default: '#2592e1',
      type: String,
    },
  },
  components: {
    Chrome,
  },
  data() {
    return {
      color: '#2592e1',
    }
  },
  mounted() {
    this.color = this.defaultColor
  },
  methods: {
    onConfirm() {
      this.$emit('confirmed', this.color.hex ? this.color.hex : this.color)
    },
    onCancel() {
      this.$emit('cancel')
    },
  },
}
</script>

<style scoped>

</style>
