<template>
    <md-dialog :md-active.sync="active">
        <md-dialog-title>{{headline}}</md-dialog-title>
        <md-content class="dialog-content">
            <div class="md-layout md-gutter md-alignment-top-center">
                <p class="md-layout-item">{{description}}</p>
            </div>
            <div v-if="isChoicesEmpty">
                <p class="md-layout-item"><b>{{$t('connector.noChoice')}}</b></p>
            </div>
            <div v-else-if="isOnlyOneChoicePossible" class="md-layout md-gutter md-alignment-top-center">
                <p class="md-layout-item">{{$t('connector.oneChoice')}}:<br><b>{{choices[0].label}}</b></p>
            </div>
            <div v-else v-for="choice in choices" :key="choice.id">
                <md-checkbox v-if="isMultipleSelectionAllowed" v-model="groupSelected" :value="choice.id" :id="choice.id">{{choice.label}}</md-checkbox>
                <md-radio v-else v-model="radioSelected" :value="choice.id" :id="choice.id">{{choice.label}}</md-radio>
            </div>
        </md-content>
        <md-dialog-actions v-if="confirmationNecessary">
            <slot name="additional-action"/>
            <md-button v-if="isChoicesEmpty" class="md-primary" @click="onCancel">{{emptyText}}</md-button>
            <md-button v-else class="md-primary" @click="onCancel">{{cancelText}}</md-button>
            <md-button v-if="!isChoicesEmpty && isOnlyOneChoicePossible" @click="onConfirm">{{singleConfirmText}}</md-button>
            <md-button v-else-if="!isChoicesEmpty" class="md-primary" @click="onConfirm">{{confirmText}}</md-button>
        </md-dialog-actions>
    </md-dialog>
</template>

<script>
export default {
  props: {
    active: Boolean,
    choices: Array,
    description: String,
    headline: String,
    isMultipleSelectionAllowed: {
      type: Boolean,
      default() {
        return true
      },
    },
    confirmationNecessary: {
      type: Boolean,
      default() {
        return true
      },
    },
    cancelText: {
      type: String,
      default() {
        return this.$t('message.cancel')
      },
    },
    emptyText: {
      type: String,
      default() {
        return this.$t('message.cancel')
      },
    },
    confirmText: {
      type: String,
      default() {
        return this.$t('message.ok')
      },
    },
    singleConfirmText: {
      type: String,
      default() {
        return this.$t('message.ok')
      },
    },
  },
  computed: {
    isOnlyOneChoicePossible() {
      return this.choices ? this.choices.length === 1 : false
    },
    isChoicesEmpty() {
      return this.choices ? this.choices.length === 0 : true
    },
  },
  data: () => ({
    groupSelected: [],
    radioSelected: null,
  }),
  methods: {
    onConfirm() {
      this.$emit('confirmed', this.getSelectedObjects())
      this.groupSelected = []
      this.radioSelected = null
      this.close()
    },
    onCancel() {
      this.$emit('cancel')
      this.close()
    },
    close() {
      this.$emit('close')
    },
    getSelectedObjects() {
      if (this.isMultipleSelectionAllowed) {
        if (this.isOnlyOneChoicePossible) {
          return this.choices
        }
        return this.choices.filter(choice => this.groupSelected.includes(choice.id))
      }
      if (this.isOnlyOneChoicePossible) {
        return this.choices[0]
      }
      return this.choices.find(choice => this.radioSelected.includes(choice.id))
    },
  },
  watch: {
    radioSelected() {
      if (!this.confirmationNecessary) {
        this.onConfirm()
      }
    },
  },
}
</script>

<style lang="scss">
    @import "src/assets/sass/variables";

    .dialog-content {
        height: 100%;
        padding-left: 25px;
        padding-right: 25px;
        overflow-y: scroll !important;
    }

    .md-dialog {
      flex-flow: row;
    }

    .md-checkbox.md-theme-default.md-checked .md-checkbox-container {
        background-color: $review-primary-color !important;
        border-color: $review-primary-color !important;
    }

    .md-radio.md-theme-default.md-checked .md-radio-container {
        background-color: $review-primary-color !important;
        border-color: $review-primary-color !important;
    }
</style>
