<template>
    <md-dialog-confirm
        :md-active.sync="showDeleteLocationOkDialog"
        md-title="Achtung"
        :md-content="getOnLocationDeleteText"
        md-confirm-text="Ja, löschen"
        md-cancel-text="Abbrechen"
        @md-confirm="onDeleteLocationConfirmed"
        class="confirm-dialog"
    />
</template>

<script>
export default {
  name: 'DeleteDialog',
  props: {
    confirmText: {
      type: String,
      default() {
        return 'Ja, löschen'
      },
    },
    cancelText: {
      type: String,
      default() {
        return 'Abbrechen'
      },
    },
    title: {
      type: String,
      default() {
        return 'Achtung'
      },
    },
  },
}
</script>

<style scoped lang="scss">
    .confirm-dialog {
        .md-dialog-actions {
            .md-button:nth-child(2) {
                color: red !important;
            }
        }
    }
</style>
