<template>
    <md-dialog :md-active="true">
        <md-dialog-title>{{title}}</md-dialog-title>
        <md-dialog-content>
            <p>{{description}}</p>
            <md-progress-bar md-mode="indeterminate"></md-progress-bar>
            <br>
            <p v-if="!!this.skipButtonText">{{skipDescription}}</p>
        </md-dialog-content>
        <md-dialog-actions v-if="!!this.skipButtonText">
            <md-button @click="onHideLoading">{{skipButtonText}}</md-button>
        </md-dialog-actions>
    </md-dialog>
</template>

<script>
export default {
  name: 'LoadingDialog',
  props: {
    title: {
      type: String,
      default() {
        return 'Laden...'
      },
    },
    description: {
      type: String,
      default() {
        return 'Bitte warten einen kurzen Moment...'
      },
    },
    skipDescription: {
      type: String,
      default() {
        return null
      },
    },
    skipButtonText: {
      type: String,
      default() {
        return null
      },
    },

  },
}
</script>

<style scoped>

</style>
