<template>
    <div>
        <md-field :class="getValidationClass($v.formEmail)">
            <label for="email">{{$t('terms.email')}}</label>
            <md-input type="email"
                      name="email"
                      id="email"
                      autocomplete="email"
                      v-model="$v.formEmail.$model"
                      :disabled="sending"
                      data-cy="email-input"/>
            <span class="md-error" data-cy="email-error">{{getValidationError($v.formEmail)}}</span>
        </md-field>

        <md-field :class="getValidationClass($v.formPassword)">
            <label for="password">{{$t('terms.password')}}</label>
            <md-input type="password"
                      name="password"
                      id="password"
                      v-model="$v.formPassword.$model"
                      :disabled="sending"
                      data-cy="password-input"/>
            <span class="md-error" data-cy="password-error">{{getValidationError($v.formPassword)}}</span>
        </md-field>

        <md-field :class="getValidationClass($v.formPasswordRepeat)">
            <label for="email">{{$t('terms.passwordRepeat')}}</label>
            <md-input type="password"
                      name="repeatPassword"
                      id="repeatPassword"
                      v-model="$v.formPasswordRepeat.$model"
                      :disabled="sending"
                      @keyup.enter="onEnter"
                      data-cy="repeatpassword-input"/>
            <span class="md-error" data-cy="repeatpassword-error">{{getValidationError($v.formPasswordRepeat)}}</span>
        </md-field>
    </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import {
  required, email, minLength, sameAs,
} from 'vuelidate/lib/validators'

export default {
  name: 'RegistrationDialog',
  mixins: [validationMixin],
  data: () => ({
    formEmail: '',
    formPassword: '',
    formPasswordRepeat: '',
  }),
  props: {
    sending: {
      type: Boolean,
      default() {
        return false
      },
    },
  },
  validations: {
    formEmail: {
      required,
      email,
    },
    formPassword: {
      required,
      minLength: minLength(8),
    },
    formPasswordRepeat: {
      required,
      sameAsPassword: sameAs('formPassword'),
    },
  },
  methods: {
    getValidationError(validation) {
      switch (validation) {
        case this.$v.formEmail: {
          if (!this.$v.formEmail.required) return this.$t('error.mailRequired')
          if (!this.$v.formEmail.email) return this.$t('error.mailInvalid')
          return ''
        }

        case this.$v.formPassword: {
          if (!this.$v.formPassword.required) return this.$t('error.passwordRequired')
          if (!this.$v.formPassword.minLength) return this.$t('error.passwordTooShort', { count: this.$v.formPassword.$params.minLength.min })
          return ''
        }

        case this.$v.formPasswordRepeat: {
          if (!this.$v.formPasswordRepeat.sameAsPassword) return this.$t('error.inputNotMatch')
          return ''
        }

        default: {
          return ''
        }
      }
    },
    getValidationClass(validation) {
      return {
        'md-invalid': validation.$invalid && validation.$dirty,
      }
    },
    isValidInput() {
      this.$v.$touch()
      return !this.$v.$invalid
    },
    getInput() {
      return {
        email: this.formEmail,
        password: this.formPassword,
      }
    },
    clearForm() {
      this.$v.$reset()
      this.formEmail = ''
      this.formPassword = ''
      this.formPasswordRepeat = ''
    },
    onEnter() {
      this.$emit('enterkey')
    },
  },
}
</script>

<style scoped lang="scss">
    .md-error {
        color: red;
    }
</style>
