<template>
    <div class="md-layout md-alignment-center">

        <md-empty-state
            class="md-layout-item empty-state"
            :md-label="$t('error.serviceUnavailable')"
            :md-description="$t('error.tryItLater')"
            md-icon="sentiment_very_dissatisfied">
        </md-empty-state>

        <md-button class="md-layout-item md-size-100 md-primary" @click="onButtonClicked">
            {{$t('error.backToStart')}}
        </md-button>

    </div>
</template>

<script>
export default {
  name: 'ApplicationError',
  methods: {
    onButtonClicked() {
      this.$router.push('/start')
    },
  },
}
</script>

<style scoped lang="scss">

    .empty-state {
        margin: 25px;
    }

</style>
