<template>
    <div class="modal-container">
        <router-view></router-view>
    </div>
</template>

<script>
export default {
  name: 'AuthContainer',
}
</script>

<style scoped lang="scss">

    @import "src/assets/sass/variables";

    .modal-container {
        background-color: $review-primary-color;
        width: 100%;
        height: 100vh;
        padding-right: 20%;
        padding-left: 20%;
        padding-top: 1%;
    }

    @media (max-width: 960px) {
        .modal-container {
            background-color: $review-primary-color;
            width: 100%;
            height: 100vh;
            padding-right: 0;
            padding-left: 0;
            padding-top: 0;
        }
    }

    html {
        height: 100%;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    body {
        height: 100%;
    }
</style>
