<template>

    <div class="md-layout">
        <landing-page-header></landing-page-header>
        <md-content class="md-layout md-layout-item md-alignment-top-center md-size-100">
            <div class="md-layout md-layout-item md-size-80 md-alignment-top-center">
                <img :src="blog ? blog.headerImageUrl: false" class="header-image"/>
                <vue-markdown class="blog md-layout-item md-size-100">{{blog ? blog.markdown : ''}}</vue-markdown>
                <md-button @click.prevent="$router.go(-1)" id="back-button"
                           class="md-layout-item md-raised md-size-10 md-small-size-50">{{$t('message.back')}}
                </md-button>
                <landing-footer class="footer md-layout-item md-size-100"/>
            </div>
        </md-content>
    </div>


</template>

<script>
import VueMarkdown from 'vue-markdown'
import { mapGetters } from 'vuex'
import LandingFooter from './LandingPage/LandingFooter.vue'
import LandingPageHeader from './LandingPageHeader.vue'

export default {
  name: 'Blogpost',
  components: {
    LandingFooter,
    VueMarkdown,
    LandingPageHeader,
  },
  computed: {
    ...mapGetters({
      entries: 'getSortedBlogs',
    }),
    blogOrderIndex() {
      return parseInt(this.$route.params.blogOrderIndex, 10)
    },
    blog() {
      return this.entries.find(entry => entry.order === this.blogOrderIndex)
    },
    imageUrl() {
      return this.blogEntry.previewImageUrl
    },
  },
}
</script>

<style scoped lang="scss">
    @import "../../assets/sass/variables";

    .md-content {
        height: 100vh;
        overflow: scroll;
        padding-top: 30px;
        .footer {
            margin-top: 1vh;
            height: 7vh !important;
            margin-bottom: 0;
            margin-right: 0;
        }
        .blog {
            min-height: 90vh;
            margin-top: 0;
            margin-bottom: 0;
            text-align: justify;
            hyphens: auto;
        }
    }

    .blog-header {
        height: 200px;
    }

    #blog-post {
        overflow-x: hidden;
        overflow-y: auto;
        height: 100vh;
    }

    #back-button {
        background-color: $review-primary-color;
        color: white;
    }
</style>
