<template>
    <div class="modal-container">
        <router-view></router-view>
    </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
    .modal-container {
        background-image: url("./assets/pineapples.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center bottom;
        width: 100%;
        height: 100%;
        padding-right: 20%;
        padding-left: 20%;
        padding-top: 6%;
    }

</style>
