<template>
    <div :class="`imprint md-layout ${scrollClass}`">
        <div v-if="isOwnPage" class="md-layout md-layout-item md-size-100 md-alignment-center">
            <landing-page-header></landing-page-header>
        </div>
        <md-content class="md-layout md-layout-item md-size-100 md-alignment-top-center">
            <div v-if="isOwnPage" class="md-layout md-layout-item md-size-100 md-alignment-center">
                <h4 class="md-layout-item">{{$t('terms.imprint')}}</h4>
            </div>
            <div class="md-layout-item md-size-100 md-layout md-alignment-top-center">
                <div class="md-layout-item md-size-50 md-small-size-90 md-xsmall-size-100">
                    <md-list>
                        <md-list-item>
                            <md-icon>pin_drop</md-icon>
                            <span class="md-list-item-text">
                    {{$t('imprint.address')}}: <br/>
                    {{$t('imprint.company')}} <br/>
                    {{$t('imprint.street')}}<br/>
                    {{$t('imprint.city')}}</span>
                        </md-list-item>
                        <md-divider class="md-inset"></md-divider>
                        <md-list-item>
                            <md-icon>phone</md-icon>
                            <span class="md-list-item-text">
                    {{$t('imprint.phoneNumber')}}:<br/>
                    {{$t('imprint.number')}}</span>
                        </md-list-item>
                        <md-divider class="md-inset"></md-divider>
                        <md-list-item>
                            <md-icon>person</md-icon>
                            <span class="md-list-item-text">
                            {{$t('imprint.ceo')}}<br/>
                            {{$t('imprint.cto')}}</span>
                        </md-list-item>
                        <md-divider class="md-inset"></md-divider>
                        <md-list-item>
                            <md-icon>location_city</md-icon>
                            <span class="md-list-item-text">
                            {{$t('imprint.court')}}<br/>
                            {{$t('imprint.courtNumber')}}</span>
                        </md-list-item>
                        <md-divider class="md-inset"></md-divider>
                        <md-list-item>
                            <md-icon>business_center</md-icon>
                            <span class="md-list-item-text">
                            {{$t('imprint.taxNumber')}}<br/>
                            {{$t('imprint.vat')}}<br/>
                            {{$t('imprint.ust')}}</span>
                        </md-list-item>
                        <md-divider class="md-inset"></md-divider>
                    </md-list>
                </div>
            </div>
            <div class="md-layout-item md-layout md-size-100 md-alignment-center">
                <md-button id="back-button2" @click.prevent="$router.go(-1)"
                           class="md-layout-item md-size-15 md-small-size-35 md-raised">
                  {{$t('message.back')}}
                </md-button>
            </div>
            <div v-if="isOwnPage" class="md-layout md-layout-item md-size-80 md-alignment-center">
                <landing-footer class="footer md-layout-item md-size-100"></landing-footer>
            </div>
        </md-content>
    </div>
</template>

<script>
import LandingPageHeader from 'src/components/GeneralViews/LandingPageHeader'
import LandingFooter from 'src/components/GeneralViews/LandingPage/LandingFooter'

export default {
  name: 'Imprint',
  components: {
    LandingFooter,
    LandingPageHeader,
  },
  computed: {
    scrollClass() {
      return this.isOwnPage ? 'scrollable' : 'scrollable-with-header'
    },
    isOwnPage() {
      return this.$route.fullPath === '/imprint'
    },
  },
  created() {
    this.$store.commit('setHeadline', { text: this.$t('terms.imprint') })
  },
}
</script>

<style scoped lang="scss">
    @import "../../assets/sass/variables";

    .md-divider {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .scrollable {
        overflow-y: scroll;
        max-height: 100vh;
    }

    .scrollable-with-header {
        height: $content-height;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    h4 {
        text-align: center;
    }

    .md-content {
        height: 100vh;
        overflow: scroll;
        padding-top: 30px;
        padding-bottom: 0px;
        .footer {
            margin-top: 1vh;
            height: 7vh !important;
            margin-bottom: 0;
            margin-right: 0;
        }
    }

    #back-button {
        padding-bottom: 20px;
        background-color: $review-primary-color;
        color: white;
    }
</style>
