<template>
    <div class="md-layout">
        <nav class="md-layout md-layout-item md-size-100 md-alignment-center-center navbar-default">
            <div class="md-layout md-layout-item md-size-70 md-small-size-20 md-alignment-center-left">
                <router-link to="/start"
                             class="md-layout-item md-size-10 md-small-size-50 md-layout md-alignment-center-left">
                    <img :src="respondoLogoOnly" class="md-layout-item md-small-size-100 md-size-80"/>
                </router-link>
                <h1 id="header-button" class="md-layout-item md-size-20 md-small-hide">respondo</h1>
                <slot name="buttons"></slot>
            </div>
            <div class="md-layout md-layout-item md-small-size-80 md-size-30 md-alignment-center-right">
                <md-button v-show="showDefaultButtons" id="login-button" class="md-layout-item md-size-20" to="/auth/login" data-cy="login-button">{{$t('terms.login')}}
                </md-button>
            </div>
        </nav>
    </div>
</template>

<script>
import RespondoLogoOnly from '@/assets/respondo-logo-only.svg'


export default {
  name: 'LandingPageHeader',
  computed: {
    respondoLogoOnly() {
      return RespondoLogoOnly
    },
  },
  props: {
    showDefaultButtons: {
      type: Boolean,
      default: true,
    },
  },
}
</script>

<style scoped lang="scss">
    @import "../../assets/sass/variables";

    nav {
        margin-left: 20px;
        position: fixed;
        z-index: 10;
        background-color: white;
        h1 {
            font-weight: 500;
            font-size: 30px;
            color: $review-primary-color;
            margin-top: 6px;
        }
        img {
            padding: 8px;
        }
        .active {
            color: $review-primary-color;
        }
    }

    #more-infos-button {
        @include small-screen {
            font-size: 12px;
        }
    }

</style>
