<template>
    <md-dialog class="loading-dialog" :md-active.sync="show">
        <md-dialog-content>
            <p>{{description}}</p>
            <md-progress-bar md-mode="indeterminate"></md-progress-bar>
        </md-dialog-content>
        <md-dialog-actions v-if="showButton">
            <md-button class="md-primary" @click="onOkClicked">{{buttonText}}</md-button>
        </md-dialog-actions>
    </md-dialog>
</template>

<script>

export default {
  name: 'LoadingDialog',
  props: {
    show: Boolean,
    description: String,
    buttonText: String,
  },
  computed: {
    showButton() {
      return (!!this.buttonText && this.buttonText.length > 0)
    },
  },
  methods: {
    onOkClicked() {
      this.show = false
    },
  },
}

</script>

<style lang="scss">
    @import "../../assets/sass/variables";

    .md-progress-bar-fill {
        background-color: $review-accent-color;
    }
</style>
