<template>
    <div class="scrollable">
        <md-card>
            <md-card-header>
                <div class="md-title">{{$t('terms.login')}}</div>
            </md-card-header>

            <md-card-content>
                <md-field :class="getValidationClass($v.formEmail)">
                    <label for="email">{{$t('terms.email')}}</label>
                    <md-input type="email"
                              name="email"
                              id="email"
                              autocomplete="email"
                              v-model="$v.formEmail.$model"
                              data-cy="email-input"
                              :disabled="sending"/>
                    <span class="md-error" data-cy="email-error">{{getValidationError($v.formEmail)}}</span>
                </md-field>

                <md-field :class="getValidationClass($v.formPassword)">
                    <label for="password">{{$t('terms.password')}}</label>
                    <md-input type="password"
                              name="password"
                              @keyup.enter="onLogin"
                              id="password"
                              v-model="$v.formPassword.$model"
                              data-cy="password-input"
                              :disabled="sending"/>
                    <span class="md-error" data-cy="password-error">{{getValidationError($v.formPassword)}}</span>
                </md-field>
            </md-card-content>

            <progress-bar v-if="sending"/>

            <div class="custom-actions md-layout md-alignment-center">
                <p class="agb md-layout-item md-size-80">{{$t('login.confirmation1')}}
                    <router-link to="/terms-of-service">{{$t('terms.tos')}}</router-link>
                    {{$t('login.confirmation2')}}</p>

                <action-button
                    @click.prevent="onLogin"
                    type="submit"
                    class="md-layout-item md-size-50 md-small-size-90"
                    data-cy="login-btn"
                    :disabled="sending">{{$t('terms.login')}}
                </action-button>

                <facebook-login-button class="md-layout-item md-size-50 md-small-size-90 fb-button"
                                       @on-facebook-login="onFacebookLogin"
                                       data-cy="facebook-button"
                                       :disabled="sending"/>
            </div>

            <div class="to-register-container">
                <md-button id="forgot-password" @click="onForgotPassword" data-cy="password-button">{{$t('login.passwordForgotten')}}</md-button>
            </div>
        </md-card>

        <md-dialog :md-active.sync="showForgotPasswordDialog" :md-fullscreen="false" data-cy="password-dialog">
            <md-dialog-title>{{$t('login.passwordForgotten')}}</md-dialog-title>
            <md-dialog-content>
                <div>{{$t('login.password.description')}}</div>
                <div class="error-message" v-if="passwordResetErrorMessage">{{$t('login.password.error')}}</div>

                <md-field md-clearable>
                    <md-input
                        v-model="emailInput"
                        data-cy="forgot-email"
                        :placeholder="$t('login.password.email')"></md-input>
                </md-field>
            </md-dialog-content>

            <progress-bar v-if="sendingShort"/>

            <md-button @click="onForgotPasswordOk()"
                       data-cy="confirm-forgot-password-button"
                       class="md-raised md-primary password-reset-button">{{$t('login.password.newPassword')}}
            </md-button>
        </md-dialog>

        <md-dialog-alert
            :md-active.sync="showOkDialog"
            :md-content="$t('login.password.sent')"
            :md-confirm-text="$t('message.ok')"/>
        <md-dialog-alert
            :md-active.sync="showError"
            :md-content="$t('error.passwordMailInvalid')"
            :md-confirm-text="$t('message.ok')"/>

    </div>
</template>
<script>
import { validationMixin } from 'vuelidate'
import { required, email } from 'vuelidate/lib/validators'
import FacebookLoginButton from 'src/components/UIComponents/Buttons/FacebookLoginButton'
import ProgressBar from './ProgressBar'
import ActionButton from '../UIComponents/Buttons/ActionButton'

export default {
  name: 'FormValidation',
  mixins: [validationMixin],
  components: { ActionButton, ProgressBar, FacebookLoginButton },
  data: () => ({
    formEmail: '',
    formPassword: '',
    sending: false,
    sendingShort: false,
    showError: false,
    errorMessage: '',
    showForgotPasswordDialog: false,
    showPasswordOkDialog: false,
    showFailDialog: false,
    showOkDialog: false,
    passwordResetErrorMessage: false,
    emailInput: '',
  }),
  validations: {
    formEmail: {
      required,
      email,
    },
    formPassword: {
      required,
    },
  },
  methods: {
    getValidationError(validation) {
      switch (validation) {
        case this.$v.formEmail: {
          if (!this.$v.formEmail.required) return this.$t('error.mailRequired')
          if (!this.$v.formEmail.email) return this.$t('error.mailInvalid')
          return ''
        }

        case this.$v.formPassword: {
          if (!this.$v.formPassword.required) return this.$t('error.passwordRequired')
          return ''
        }

        default: {
          return ''
        }
      }
    },
    getValidationClass(validation) {
      return {
        'md-invalid': validation.$invalid && validation.$dirty,
      }
    },
    clearForm() {
      this.$v.$reset()
      this.formEmail = null
      this.formPassword = null
    },
    saveUser() {
      this.sending = true
      this.$store.dispatch('login', {
        email: this.formEmail,
        password: this.formPassword,
      }).catch((error) => {
        this.sending = false
        this.showError = true
        this.errorMessage = error.message
      })
    },
    onLogin() {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.saveUser()
      }
    },
    onGoToRegister() {
      this.$router.push('/auth/register')
    },
    onFacebookLogin() {
      this.$store.dispatch('loginFacebook')
    },
    onForgotPassword() {
      this.showForgotPasswordDialog = true
    },
    onForgotPasswordOk() {
      this.sendingShort = true
      this.$store.dispatch('forgotPassword', {
        email: this.emailInput,
      }).then(() => {
        this.showForgotPasswordDialog = false
        this.showOkDialog = true
        this.sendingShort = false
      })
        .catch(() => {
          this.passwordResetErrorMessage = true
          this.sendingShort = false
        })
    },
  },
}
</script>
<style lang="scss">
    @import "src/assets/sass/variables";

    .to-register-container {
        margin-top: 4%;
        width: 100%;
        text-align: center;
    }

    .custom-actions {
        margin: 10px;
        .md-button {
            height: 40px;
        }

        .fb-button {
            margin-left: 6px;
        }
    }

    #forgot-password {
        cursor: pointer;
    }

    .error-message {
        color: red;
    }

    .md-error {
        color: red;
    }

    .password-reset-button {
        background-color: $review-primary-color !important;
        color: white !important;
    }

    .scrollable {
        overflow-x: hidden;
        overflow-y: auto;
        height: 100vh;
    }

    .agb {
        font-size: 14px;
        color: gray;
        text-align: center;
    }

</style>
