<template>
    <div>
        <md-dialog-alert
            :md-active.sync="showConfirmationDialog"
            :md-content="$t('settings.notifications.saved')"
            :md-confirm-text="$t('message.goOn')"/>

        <md-content class="md-layout md-alignment-center">
            <h1 v-if=newUser class="md-layout-item md-size-100">{{$t('settings.notifications.emailVerified')}}</h1>
            <p class="md-layout-item md-size-100">{{$t('settings.notifications.description')}}</p>

            <div class="md-layout md-alignment-center md-layout-item md-size-100">
                <md-switch v-for="(subscription, index) in tmpSubscriptions"
                           :key="index + 1"
                           :model="subscription.hasSubscribed"
                           @change="onChange(subscription)"
                           class="md-layout-item md-primary md-size-50">
                    {{getLabel(subscription)}}
                </md-switch>
            </div>

            <md-button class="md-layout-item md-raised md-accent md-size-30 md-small-size-50 md-xsmall-size-80" @click="onSaveClicked">{{$t('message.save')}}</md-button>
        </md-content>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import NotificationSubscriptionHelper from '@/components/helper/NotificationSubscriptionHelper'

export default {
  name: 'MailSubscriptions',
  data() {
    return {
      tmpSubscriptions: [],
      showConfirmationDialog: false,
    }
  },
  computed: {
    ...mapGetters([
      'availableSubscriptions',
      'guestNotificationSubscriptions',
      'isLoggedIn',
    ]),
    userId() {
      return this.$route.params.id
    },
    newUser() {
      return this.$route.query.newUser === 'true'
    },
  },
  methods: {
    getLabel(subscription) {
      return NotificationSubscriptionHelper.getLabel(subscription)
    },
    onChange(subscriptionToChange) {
      this.tmpSubscriptions.forEach((subscription) => {
        if (subscriptionToChange.name === subscription.name) {
          subscription.hasSubscribed = !subscription.hasSubscribed
        }
      })
      this.$forceUpdate()
    },
    onSaveClicked() {
      let activeSubscriptions = JSON.parse(JSON.stringify(this.tmpSubscriptions))
      activeSubscriptions = activeSubscriptions.filter(subscription => subscription.hasSubscribed)
      activeSubscriptions.forEach(subscription => delete subscription.hasSubscribed)
      this.$store.dispatch('updateNotificationSubscriptions', {
        userId: this.userId,
        subscriptions: activeSubscriptions,
      }).then(() => {
        if (this.isLoggedIn) {
          this.$store.dispatch('fetchCurrentUser')
        }
        this.showConfirmationDialog = true
      })
    },
  },
  mounted() {
    const activeSubscriptions = this.availableSubscriptions.filter(subscription => subscription.name !== 'basic')
    activeSubscriptions.forEach(subscription => subscription.hasSubscribed = true)
    this.tmpSubscriptions = activeSubscriptions

    this.$store.dispatch('fetchGuestNotificationSubscriptions', this.userId)
  },
  watch: {
    guestNotificationSubscriptions(newValue) {
      if (this.newUser) return
      const activeSubscriptions = this.availableSubscriptions.filter(subscription => subscription.name !== 'basic')
      activeSubscriptions.forEach(subscription => subscription.hasSubscribed = !!newValue.find(userSubscription => userSubscription.name === subscription.name))
      this.tmpSubscriptions = activeSubscriptions
    },
    showConfirmationDialog(newValue) {
      if (!newValue) {
        this.$router.replace('/auth/login')
      }
    },
  },
}
</script>

<style scoped lang="scss">
    @import "src/assets/sass/variables";

    .md-content {
        width: 100%;
        text-align: center;
    }
    .md-button {
        background-color: $review-accent-color !important;
    }
    .md-layout-item {
        margin-top: 30px;
    }

</style>
