<template>
    <md-content class="onboarding-wrapper md-layout md-alignment-center">
        <router-view/>
    </md-content>
</template>

<script>
export default {
  name: 'Onboarding',
}
</script>

<style scoped lang="scss">
    @import "../../assets/sass/variables.scss";

    .onboarding-wrapper {
        min-height: 100vh;
        background-color: $review-primary-color !important;
    }
</style>
