<template>
    <md-dialog :md-active.sync="show">
        <md-dialog-title>{{$t('payment.dialog.title')}}</md-dialog-title>
        <md-dialog-content>
            <p>{{$t('payment.dialog.viaPhone')}}</p>
            <a href="tel:+494022864369" >
                <p>
                    +49 40 22864369
                </p>
            </a>
            <p>{{$t('payment.dialog.viaMail')}}</p>
            <a href="mailto:support@respondo.app" >
                <p>
                    support@respondo.app
                </p>
            </a>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button class="md-primary" @click="onOkClicked">{{$t('message.ok')}}</md-button>
        </md-dialog-actions>
    </md-dialog>
</template>

<script>
export default {
  props: {
    show: {
      type: Boolean,
      default: false,
    },
  },
  name: 'PaymentHelpDialog',
  methods: {
    onOkClicked() {
      this.$emit('closed')
    },
  },
}
</script>

<style scoped>

</style>
