<template>
    <div>
        <payment-help-dialog
            :show="showHelpDialog"
            @closed="onHelpClosed"/>

        <div class="payment-container md-layout md-alignment-center">
            <div class="md-layout-item md-size-60 md-small-size-100">
                <h3 class="md-layout-item md-size-100">{{paymentHeadline}}</h3>
                <p class="md-layout-item md-size-100">{{$t('payment.description')}}
                <p class="md-layout-item md-size-100">{{paymentDescription2}}</p>
                <input class="md-layout-item" type="checkbox" id="checkbox" v-model="agbAccepted">
                <label class="md-layout-item" for="checkbox">{{$t('payment.confirmation1')}}
                    <router-link to="/terms-of-service">{{$t('terms.tos')}}</router-link>
                  {{$t('payment.confirmation2')}}</label>
                <action-button
                    :disabled="!agbAccepted"
                    class="md-layout-item md-size-100"
                    @click="onClickedCheckout">
                    {{$t('payment.pay')}}
                </action-button>
                <md-divider class="md-layout-item md-size-100"></md-divider>
                <div class="additional-options md-layout-item md-size-100 md-layout">
                    <div class="md-layout-item md-size-100">
                        <p>{{$t('payment.questions')}}&emsp;</p>
                        <md-button @click="onHelpClicked">{{$t('payment.contact')}}</md-button>
                    </div>
                    <div class="md-layout-item md-size-100">
                        <p>{{$t('payment.wrongAccount')}}&emsp;</p>
                        <md-button @click="onContinueWithOtherAccount">{{$t('payment.changeAccount')}}</md-button>
                    </div>
                    <div class="md-layout-item md-size-100">
                        <p>{{$t('payment.voucher')}}&emsp;</p>
                        <md-button :disabled="!agbAccepted" @click="onClickedCheckout">{{$t('payment.enterVoucher')}}</md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { HookListener } from '@/components/store/modules/hooks'
import ActionButton from 'src/components/UIComponents/Buttons/ActionButton'
import PaymentHelpDialog from 'src/components/GeneralViews/PaymentHelpDialog'
import { EventName, EventType } from '../store/modules/event'

export default {
  name: 'Payment',
  data: () => ({
    agbAccepted: false,
    showHelpDialog: false,
  }),
  props: {
    trial: {
      type: Boolean,
      default: false,
    },
  },
  components: {
    ActionButton, PaymentHelpDialog,
  },
  computed: {
    ...mapGetters([
      'getBasicPaymentPlan',
      'hasCancelledPayment',
    ]),
    paymentHeadline() {
      return this.checkoutTestPlan
        ? this.$t('payment.titleTest', { period: this.testPlanPeriod, price: this.testPlanPrice })
        : this.$t('payment.titleTest', { price: this.testPlanPrice })
    },
    paymentDescription2() {
      return this.checkoutTestPlan ? this.$t('payment.conditionTest', { period: this.testPlanPeriod, price: this.testPlanPrice, basicPrice: this.basicPlanPrice })
        : this.$t('payment.conditionBasic', { price: this.basicPlanPrice })
    },
    testPlan() {
      if (this.$route.params.planLabel) {
        return this.$store.getters.getStartPlanByLabel(this.$route.params.planLabel)
      } if (this.trial) {
        return this.$store.getters.getStartPlanByLabel('respondo-starter')
      }
      return null
    },
    checkoutTestPlan() {
      return !!this.testPlan && !this.hasCancelledSubscription
    },
    testPlanPrice() {
      return this.$t(this.testPlan.priceLabel)
    },
    testPlanPeriod() {
      return this.$t(this.testPlan.timeLabel)
    },
    basicPlanPrice() {
      return this.$t(this.getBasicPaymentPlan.priceLabel)
    },
    hasCancelledSubscription() {
      return this.hasCancelledPayment
    },
  },
  methods: {
    onClickedCheckout() {
      this.checkoutTestPlan ? this.subscribeForTestPlan() : this.subscribeForPlan()
    },
    subscribeForTestPlan() {
      this.$store.dispatch('checkoutNewPlanWithTestplan', this.testPlan.id).then(() => {
        this.onPaymentFulfilled()
      })
    },
    subscribeForPlan() {
      this.$store.dispatch('checkoutNewPlan', this.getBasicPaymentPlan.id).then(() => {
        this.onPaymentFulfilled()
      })
    },
    onPaymentFulfilled() {
      this.trackHasFulfilledPaymentEvent()
      const listener = new HookListener({
        hookId: HookListener.Identifier.SubscriptionStatus,
        handler: (event) => {
          this.$router.replace('/app/locations')
        },
      })
      this.$store.commit('addHookListener', listener)
      this.$emit('continue')
    },
    onContinueWithOtherAccount() {
      this.$store.dispatch('logout').then(() => {
        this.$router.replace('/auth/login')
      })
    },
    onHelpClicked() {
      this.showHelpDialog = true
    },
    onHelpClosed() {
      this.showHelpDialog = false
    },
    trackSiteEvent() {
      this.$nextTick(() => {
        const id = this.testPlan ? this.testPlan.id ? this.testPlan.id : this.$route.path : this.$route.path
        if (!id) return
        this.$ga.event('payment', 'seen-payment-site', id)
      })
    },
    trackHasFulfilledPaymentEvent() {
      const id = this.testPlan ? this.testPlan.id ? this.testPlan.id : this.$route.path : this.$route.path
      if (!id) return
      this.$ga.event('payment', 'subscribed', id)
    },
  },
  mounted() {
    this.$store.dispatch('writeEvent', { name: EventName.Payment, type: EventType.Visit })
    this.trackSiteEvent()
  },
}
</script>

<style scoped lang="scss">
    .other-account {
        * {
            font-size: 10px;
        }
        p {
            text-align: center;
        }
    }

    .content {
        margin: 5px
    }

    .md-divider {
        margin-top: 55px;
        margin-bottom: 15px;
    }

    .payment-container {
        margin: 12px 8px;
    }

    .additional-options {
        font-size: 0.6em;
        div {
            float: left;
            * {
                font-size: 1.4em;
                margin: 0;
                display: inline;
                height: 40px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
            }

        }
    }
</style>
