<template>
    <div>
        <md-progress-bar md-mode="indeterminate" />
    </div>
</template>

<script>

export default {
  name: 'ProgressBar',
}

</script>

<style lang="scss">
    @import "../../assets/sass/variables";

    .md-progress-bar-fill {
        background-color: $review-accent-color;
    }


</style>
