<template>
    <div>
        <form novalidate class="md-layout">
            <md-card class="md-layout-item md-size-100 md-small-size-100">
                <md-card-header>
                    <div class="md-title">{{$t('registration.register')}}</div>
                </md-card-header>

                <md-card-content>
                    <registration-dialog ref="dialog" :sending="sending" @enterkey="onRegistration"/>
                </md-card-content>

                <progress-bar v-if="sending" />

                <div class="custom-actions md-layout md-alignment-center">
                    <p class="agb md-layout-item md-size-80">{{$t('registration.confirmation1')}}
                        <router-link to="/terms-of-service">{{$t('terms.tos')}}</router-link>
                      {{$t('registration.confirmation2')}}</p>

                    <action-button @click.prevent="onRegistration"
                               type="submit"
                               class="md-layout-item md-size-50 md-small-size-90"
                               :disabled="sending"
                               data-cy="registration-button">{{$t('registration.register')}}</action-button>
                </div>

                <div class="to-login-container">
                    <p>{{$t('registration.alreadyAccount')}}</p>
                    <md-button @click.native="onGoToLogin" :disabled="sending" data-cy="login-button">{{$t('terms.login')}}</md-button>
                </div>
            </md-card>
        </form>
    </div>
</template>

<script>
import Tooltip from 'src/components/GeneralViews/Tooltip'
import ActionButton from 'src/components/UIComponents/Buttons/ActionButton'
import { mapGetters } from 'vuex'
import RegistrationDialog from '../UIComponents/Dialogs/RegistrationDialog'
import ProgressBar from './ProgressBar'

export default {
  name: 'FormValidation',
  components: {
    RegistrationDialog, ProgressBar, Tooltip, ActionButton,
  },
  data: () => ({
    sending: false,
  }),
  computed: {
    ...mapGetters([
      'getCreateLocationAfterRegistration',
    ]),
  },
  methods: {
    saveUser() {
      const self = this
      this.sending = true
      const input = this.getDialog().getInput()
      this.$store.dispatch('register', {
        email: input.email,
        password: input.password,
      }).then(() => {
        if (this.getCreateLocationAfterRegistration) {
          self.$router.push('/onboarding/connector')
        }
      }).catch((error) => {
        this.sending = false
        this.$store.dispatch('showError', { message: error.message })
      })
    },
    onRegistration() {
      if (this.getDialog().isValidInput()) this.saveUser()
    },
    onGoToLogin() {
      this.$router.push('/auth/login')
    },
    getDialog() {
      return this.$refs.dialog
    },
  },
}
</script>

<style lang="scss" scoped>
    @import "src/assets/sass/variables";

.progress-bar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
.to-login-container {
    margin-top: 4%;
    width: 100%;
    text-align: center;
}

    .custom-actions {
        margin: 10px;
        .md-button {
            height: 40px;
        }

        .fb-button {
            margin-left: 6px;
        }
    }

    .scrollable {
        overflow-x: hidden;
        overflow-y: auto;
        height: 100vh;
    }

    .agb {
        font-size: 14px;
        color: gray;
        text-align: center;
    }

</style>
