<template>
    <div>
        <div class="md-layout settings-layout md-alignment-top-center">
            <div class="md-layout-item md-size-70 md-small-size-100">
                <md-list class="md-layout">
                    <settings-list-item v-for="(section, index) in sections" :key="index + 1"
                                        class="md-layout-item md-size-100 md-layout">
                        <component :is="section" class="md-layout-item md-size-100"/>
                    </settings-list-item>
                </md-list>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import ChangeEmailSection from '../Dashboard/Views/Settings/ChangeEmailSection.vue'
import ChangeAccountsSection from '../Dashboard/Views/Settings/ChangeAccountsSection.vue'
import ChangePasswordSection from '../Dashboard/Views/Settings/ChangePasswordSection.vue'
import ChangePaymentSection from '../Dashboard/Views/Settings/ChangePaymentSection.vue'
import ChangeLocationsSection from '../Dashboard/Views/Settings/ChangeLocationsSection.vue'
import ChangeNotificationsSection from '../Dashboard/Views/Settings/ChangeNotificationsSection.vue'
import SettingsListItem from '../Dashboard/Views/Settings/SettingsListItem.vue'
import { EventName, EventType } from '../store/modules/event'
import CacheSection from '../Dashboard/Views/Settings/CacheSection.vue'
import WidgetSection from '../Dashboard/Views/Settings/WidgetSection.vue'

export default {
  name: 'DialogPrompt',
  components: {
    SettingsListItem,
    ChangeLocationsSection,
    ChangePaymentSection,
    ChangePasswordSection,
    ChangeEmailSection,
    ChangeNotificationsSection,
    ChangeAccountsSection,
    WidgetSection,
  },
  computed: {
    ...mapGetters([
      'canModifyAccounts',
    ]),
    sections() {
      return this.canModifyAccounts ? [
        ChangeEmailSection,
        ChangeAccountsSection,
        ChangePasswordSection,
        ChangePaymentSection,
        ChangeLocationsSection,
        WidgetSection,
        ChangeNotificationsSection,
        CacheSection,
      ] : [
        ChangeEmailSection,
        ChangePasswordSection,
        ChangePaymentSection,
        ChangeLocationsSection,
        WidgetSection,
        ChangeNotificationsSection,
        CacheSection,
      ]
    },
  },
  created() {
    this.$store.commit('setHeadline', { text: this.$t('menu.settings') })
    this.$store.dispatch('writeEvent', { name: EventName.Settings, type: EventType.Visit })
  },
}
</script>

<style scoped lang="scss">
    @import "../../assets/sass/variables";

    .settings-layout {
        height: $content-height;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .edit-icon {
        margin-left: 25px;
    }

    .no-connection {
        margin-left: 15px;
    }

    .setting-line {
        width: 100%;
        .text-div {
            margin-top: 15px;
        }
    }

    .md-list-item-text * {
        width: unset;
    }

    .md-divider {
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .distance-from-top {
        padding-top: 0px;
    }

    .onclick {
        cursor: pointer;
    }

    @media (max-width: 767px) {
        #email-address {
            font-size: 12px;
        }
    }

    .delete-button {
        color: red !important;
        background-color: white;
        width: 100px !important;
        height: 17px;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    .add-button {
        color: green !important;
        background-color: white;
        width: 100px !important;
        height: 17px;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    .representation-text {
        height: 28px;
    }

</style>

<style lang="scss">
    .left-aligned-content {
        justify-content: left;
        padding-left: 0;
        margin-left: 0;
        .md-ripple {
            padding-left: 0;
            justify-content: left !important;
        }
    }

    .confirm-dialog {
        .md-dialog-actions {
            .md-button:nth-child(2) {
                color: red !important;
            }
        }
        .md-dialog-content {
            &::after {
                content: '\A\A';
                white-space: pre;
            }
        }
    }
</style>
