<template>
    <md-dialog v-bind="$attrs" :md-fullscreen="false">
        <md-dialog-title>{{ title }}</md-dialog-title>
        <md-dialog-content>
            <div>{{content}}</div>
            <md-field>
                <md-input
                    v-model="inputValue"
                    :placeholder="inputPlaceholder"
                    @keydown.enter.native="onConfirm"/>
            </md-field>
        </md-dialog-content>

        <md-dialog-actions>
            <md-button class="md-primary" @click="onCancel">{{ cancelText }}</md-button>
            <md-button class="md-primary" :disabled="isValidInput()" @click="onConfirm">{{ confirmText }}</md-button>
        </md-dialog-actions>
    </md-dialog>
</template>

<script>
export default {
  name: 'SingleInputDialog',
  props: {
    title: String,
    inputMinlength: Number,
    inputMaxlength: Number,
    inputPlaceholder: [String, Number],
    content: String,
    confirmText: {
      type: String,
    },
    cancelText: {
      type: String,
    },
  },
  data: () => ({
    inputValue: '',
  }),
  methods: {
    onCancel() {
      this.clearInputField()
      this.$emit('update:mdActive', false)
    },
    isValidInput() {
      return this.inputValue.length < this.inputMinlength || this.inputValue.replace(/\s/g, '').length === 0
    },
    onConfirm() {
      this.$emit('update:mdActive', false)
      this.$emit('on-confirm', this.inputValue)
      this.clearInputField()
    },
    clearInputField() {
      this.inputValue = ''
    },
  },
  watch: {
    inputValue() {
      return this.isValidInput()
    },
  },
}
</script>

<style scoped lang="scss">

</style>
