<template>
    <md-content class="landing-wrapper  md-layout md-alignment-top-center">
        <div class="md-layout-item md-size-100">
            <landing-page/>
        </div>
    </md-content>
</template>

<script>
import LandingPage from './Start/LandingPage'

export default {
  name: 'Start',
  components: {
    LandingPage,
  },
}
</script>

<style scoped lang="scss">
    @import "../../assets/sass/paper/variables";

    .landing-wrapper {
        height: 100vh;
        background-color: lighten(#14AFCC, 35%);
        .md-button {
            text-transform: none;
            &:not([disabled]) {
                background-color: $review-primary-color !important;
                color: white !important;
            }
        }
        .md-card {
            margin-top: 40px;
            max-height: 90vh;
            overflow-y: scroll;
        }
        .md-subheader {
            text-transform: capitalize;
        }
    }
</style>
