<template>
    <div class="md-layout">
        <div v-if="isOwnPage" class="md-layout md-layout-item md-size-100 md-alignment-center">
            <landing-page-header></landing-page-header>
        </div>

        <md-content class="md-layout md-layout-item md-alignment-top-center md-size-100">
            <div v-if="isOwnPage" class="md-layout md-layout-item md-size-100 md-alignment-center">
                <h4 class="md-layout-item">{{$t('terms.tosFull')}}</h4>
            </div>
            <vue-markdown class="content md-layout-item md-size-90">{{content}}</vue-markdown>
            <div class="md-layout-item md-layout md-size-100 md-alignment-center">
                <md-button id="back-button2" @click.prevent="$router.go(-1)"
                           class="md-layout-item md-size-15 md-small-size-35 md-raised">
                  {{$t('message.back')}}
                </md-button>
            </div>
            <div v-if="isOwnPage" class="md-layout md-layout-item md-size-100 md-alignment-center">
                <landing-footer class="footer md-layout-item md-size-100"/>
            </div>
        </md-content>
    </div>
</template>


<script>
import VueMarkdown from 'vue-markdown'
import { mapGetters } from 'vuex'
import LandingPageHeader from './LandingPageHeader.vue'
import LandingFooter from './LandingPage/LandingFooter.vue'

export default {
  name: 'TermsOfService',
  components: {
    LandingFooter,
    VueMarkdown,
    LandingPageHeader,
  },
  computed: {
    scrollClass() {
      return this.isOwnPage ? 'scrollable' : 'scrollable-with-header'
    },
    isOwnPage() {
      return this.$route.fullPath === '/terms-of-service'
    },
    ...mapGetters({
      content: 'getTos',
    }),
  },
  created() {
    this.$store.commit('setHeadline', { text: this.$t('terms.tos') })
  },
}
</script>

<style scoped lang="scss">
    @import "../../assets/sass/variables";

    .md-content {
        height: 100vh;
        overflow: scroll;
        padding-bottom: 10px;
        padding-top: 30px;
        .footer {
            margin-top: 1vh;
            height: 7vh !important;
            margin-bottom: 0;
            margin-right: 0;
        }
    }

    .main-panel .md-content {
        height: 90vh;
    }

    h4 {
        text-align: center;
    }

    #back-button {
        padding-bottom: 20px;
        background-color: $review-primary-color;
        color: white;
    }

</style>

<style lang="scss">

</style>
