<template>
    <div>
        <md-dialog-alert
            :md-active.sync="showDialog"
            :md-content="message"
            md-confirm-text="OK" />
        <div v-if="tooltipsEnabled">
            <md-icon class="md-small-hide md-primary" v-tooltip="{content: message,placement: 'bottom',offset:10, delay:400}">info</md-icon>
            <md-icon class="small-layout-icon md-primary">info</md-icon>
        </div>
    </div>
</template>

<script>
export default {
  data() {
    return {
      showDialog: false,
      message: '',
      tooltipsEnabled: true,
    }
  },
  props: ['id'],
  created() {
    this.message = this.$t(this.$store.getters.getTooltipTextById(this.id).message)
    this.tooltipsEnabled = this.$store.getters.isTooltipsEnabled
  },
  mounted() {
    const self = this
    $('.small-layout-icon').unbind().click(() => {
      self.showDialog = true
    })
  },
}
</script>

<style lang="scss">
    @import "../../assets/sass/variables";

    .small-layout-icon {
        @include bigger-than-small-screen {
            display: none;
            min-height: 0;
            height: 0;
            padding: 50px;
        }
    }

    .tooltip {
        display: block !important;
        z-index: 10000;

        .tooltip-inner {
            background: $review-primary-color;
            color: white;
            border-radius: 16px;
            padding: 5px 10px 4px;
        }

        .tooltip-arrow {
            width: 0;
            height: 0;
            border-style: solid;
            position: absolute;
            margin: 5px;
            border-color: $review-primary-color;
            z-index: 1;
        }

        &[aria-hidden='true'] {
             visibility: hidden;
             opacity: 0;
             transition: opacity .15s, visibility .15s;
         }

        &[aria-hidden='false'] {
             visibility: visible;
             opacity: 1;
             transition: opacity .15s;
        }
    }
</style>
