<template>
  <div class="welcome">
    <div class="md-layout md-alignment-center">
      <h1 class="md-layout-item md-size-50 md-small-size-90">{{$t('onboarding.start.welcome')}}</h1>
    </div>
    <div class="md-layout md-alignment-center">
      <action-button class="md-layout-item md-size-50 md-small-size-90" @click="onContinueClicked">{{$t('message.goOn')}}</action-button>
    </div>
  </div>
</template>

<script>
import ActionButton from '../UIComponents/Buttons/ActionButton.vue'

export default {
  name: 'Welcome',
  components: { ActionButton },
  methods: {
    continueToApp() {
      this.$router.replace('/app')
    },
    onContinueClicked() {
      this.continueToApp()
    },
  },
  mounted() {
    window.setTimeout(() => {
      this.continueToApp()
    }, 3000)
  },
}
</script>

<style scoped lang="scss">

  @import "../../../src/assets/sass/variables";

  .welcome {
    background-color: $review-primary-color;
    height: 100vh;
    width: 100%;
  }

  h1 {
    padding-top: 20px;
    color: white;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    @include small-screen {
      padding-top: 8px;
      text-align: center;
      font-size: 25px;
      line-height: 35px;
    }
  }

  .md-button {
    margin-bottom: 50px;
    height: 50px;
    @include small-screen {
      height: 40px;
    }
  }

</style>
