<template>
    <div>
        <md-dialog id="contact-dialog" class="contact-dialog" :md-fullscreen="false" :md-active.sync="showContactDialog"
                   data-cy="contact-dialog">
          <md-dialog-content>
            <business-contact-form
              v-on:contactSubmissionFinished="onContactSubmissionConfirmed()"/>
          </md-dialog-content>
        </md-dialog>

        <md-dialog-alert
            :md-active.sync="showOkDialog"
            :md-content="$t('landing.contact')"
            :md-confirm-text="$t('message.ok')"/>

        <div class="scrollable" id="landingpage">

            <landing-page-header>
                <template slot="mailIcon">
                    <md-button class="md-small-hide" @click="onShowContactClicked()">
                        <img :src="mailIcon" id="mail-icon"/>
                    </md-button>
                </template>
            </landing-page-header>

            <div id="landing-content" class="md-layout">
                <!-- swiper -->
                <swiper :options="swiperOption">
                    <swiper-slide>
                        <slider-page :slide="slides[0]"/>
                    </swiper-slide>
                    <swiper-slide>
                        <slider-page-video/>
                    </swiper-slide>
                    <swiper-slide>
                        <slider-page :slide="slides[1]"/>
                    </swiper-slide>
                    <swiper-slide>
                        <slider-page :slide="slides[2]"/>
                    </swiper-slide>
                    <div class="swiper-pagination swiper-pagination-white" slot="pagination"></div>
                    <div class="swiper-button-prev swiper-button-white" slot="button-prev"></div>
                    <div class="swiper-button-next swiper-button-white" slot="button-next"></div>
                </swiper>
            </div>
            <div class="md-layout">
                <landing-footer class="md-layout-item md-size-100 landing-footer" data-cy="footer-section"/>
            </div>
        </div>
    </div>
</template>

<script>
import MailIcon from '@/assets/landingpage/Email.svg'
import RespondoLogoOnly from '@/assets/respondo-logo-only.svg'
import LandingFooter from '../../GeneralViews/LandingPage/LandingFooter.vue'
import SliderPageMultipleOptions from './SliderPageMultipleOptions.vue'
import BusinessContactForm from '../ContactForm/BusinessContactForm.vue'
import 'swiper/dist/css/swiper.css'
import { swiper, swiperSlide } from 'vue-awesome-swiper'
import SliderPage from '../../GeneralViews/LandingPage/SliderPage.vue'
import ReviewIphone from '@/assets/landingpage/reviewIphone.png'
import ReviewLaptop from '@/assets/landingpage/desktop-respondo.png'
import ReviewStatistics from '@/assets/landingpage/desktop-statistics.png'
import LandingPageHeader from '../../GeneralViews/LandingPageHeader.vue'
import SliderPagePricing from '../../GeneralViews/LandingPage/SliderPagePricing.vue'
import SliderPageVideo from './SliderPageVideo.vue'

export default {
  name: 'Landingpage',
  computed: {
    mailIcon() {
      return MailIcon
    },
    respondoLogoOnly() {
      return RespondoLogoOnly
    },
  },
  components: {
    SliderPageVideo,
    SliderPage,
    LandingFooter,
    SliderPagePricing,
    BusinessContactForm,
    swiper,
    swiperSlide,
    LandingPageHeader,
  },
  data() {
    return {
      swiperOption: {
        slidesPerView: 1,
        spaceBetween: 30,
        loop: false,
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
      },
      showContactDialog: false,
      showOkDialog: false,
      slides: [
        {
          order: 1,
          image: ReviewIphone,
          title: this.$t('landing.slide.one.title'),
          text: this.$t('landing.slide.one.text'),
        },
        {
          order: 2,
          image: ReviewLaptop,
          title: this.$t('landing.slide.two.title'),
          text: this.$t('landing.slide.two.text'),
        },
        {
          order: 3,
          image: ReviewStatistics,
          title: this.$t('landing.slide.three.title'),
          text: this.$t('landing.slide.three.text'),
        },
      ],
    }
  },
  methods: {
    onShowContactClicked() {
      this.showContactDialog = true
    },
    onContactSubmissionConfirmed() {
      this.showContactDialog = false
      this.showOkDialog = true
    },
  },
  mounted() {
    const offset = $('nav').height()
    $('#landing-content').css('margin-top', offset)
  },
}
</script>

<style scoped lang="scss">
    @import "../../../assets/sass/variables";

    #landingpage {
        overflow-x: hidden;
        overflow-y: auto;
        height: 100vh;
    }

    #more-infos-button {
        @include small-screen {
            font-size: 12px;
        }
    }

    nav {
        margin-left: 20px;
        position: fixed;
        z-index: 10;
        background-color: white;
        h1 {
            font-weight: 500;
            font-size: 30px;
            color: $review-primary-color;
            margin-top: 6px;
        }
        img {
            padding-left: 8px;
        }
        .active {
            color: $review-primary-color;
        }
    }

    #mail-icon {
        height: 30px;
    }

    /*Slider*/
    #landing-content {
        height: 90vh;
        background-color: $review-primary-color !important;
    }

    .footer {
        height: 10vh !important;
    }

    .swiper-pagination-bullet {
        color: white !important;
        opacity: unset !important;
    }

    .swiper-pagination-bullet-active {
        background: $review-accent-color !important;
    }

</style>
