 <template>
    <simple-contact-form/>
</template>

<script>
import SimpleContactForm from '../ContactForm/SimpleContactForm'

export default {
  name: 'LandingSectionContact',
  components: { SimpleContactForm },
}
</script>

<style>
</style>
