<template>
    <div class="footer md-layout md-gutter md-alignment-center">
        <md-button to="/imprint" class="md-layout-item md-size-20 md-small-size-30" data-cy="imprint-button">{{ $t('terms.imprint') }}</md-button>
        <md-button to="/terms-of-service" class="md-layout-item md-size-20 md-small-size-30" data-cy="agb-button">{{ $t('terms.tos') }}</md-button>
        <small class="md-layout-item md-size-20 md-small-size-30">© Copyright {{this.getCurrentYear}}</small>
    </div>
</template>

<script>
export default {
  name: 'LandingFooter',
  computed: {
    getCurrentYear() {
      return new Date().getFullYear()
    },
  },
}
</script>

<style scoped lang="scss">
    .footer {
        height: 100%;
        width: 100%;
        background-color: white !important;
        .md-button, small{
            color: black !important;
        }
    }
</style>
