<template>
    <div class="md-layout md-alignment-center-center">
        <img :src="image" class="md-layout-item md-size-100"/>
        <action-button class="md-layout-item md-size-80" @click="$emit('click')" data-cy="start-now-button">
            {{text}}
        </action-button>
    </div>
</template>

<script>
import ActionButton from 'src/components/UIComponents/Buttons/ActionButton'

export default {
  name: 'SliderPageOption',
  props: ['image', 'text'],
  components: {
    ActionButton,
  },
}
</script>

<style scoped lang="scss">
    @import "../../../assets/sass/variables.scss";

    img {
        height: 50px;
    }

    .md-button {
        margin-top: 30px;
        margin-bottom: 30px;
        height: 50px;
        text-align: center;
    }

</style>
