<template>
    <base-slider-page :slide="slide">
        <div class="md-layout md-alignment-center video">
            <div id="respondo-slide-video" class="md-layout-item md-size-90 md-small-size-75 md-xsmall-size-70"/>
        </div>
    </base-slider-page>
</template>

<script>
import BaseSliderPage from './BaseSliderPage'

export default {
  name: 'SliderPageVideo',
  components: { BaseSliderPage },
  computed: {
    slide() {
      return {
        title: this.$t('landing.slide.video.title'),
        text: this.$t('landing.slide.video.text'),
      }
    },
  },
  mounted() {
    const selector = '#respondo-slide-video'
    const width = $(selector).width()
    const height = width / 16 * 9
    $(selector).height(height)
    this.$nextTick(() => {
      $(selector).html(`<iframe id="respondo-slide-video-iframe" width="${width}" height="${height}" src="https://www.youtube.com/embed/aUtck-ojKKU?rel=0&showinfo=0&mute=1" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>`)
      this.$nextTick(() => {
        $('#respondo-slide-video-iframe').height(height)
      })
    })
  },
}
</script>

<style scoped lang="scss">
    @import "../../../assets/sass/variables.scss";

    .video {
        @include small-screen {

            @media only screen and (max-height: 750px) and (max-width: 450px) {
                padding-top: 150px;
            }

            @media only screen and (max-height: 750px) and (max-width: 450px) {
                padding-top: 100px;
            }
        }
    }
</style>
