<template>
    <div class="page md-layout md-alignment-center-center">
        <div class="left-section md-layout md-alignment-top-center md-layout-item md-small-size-90 md-size-40">
            <div class="image-container md-layout-item md-size-100 md-small-size-90 md-xsmall-size-90">
                <pricing-plan-item class="plan-item md-layout-item md-size-100"
                                   :plan="standardPlan"
                                   :show-button="false"
                                   :show-highlighting="false"
                                   :white-background="true"/>
            </div>
        </div>
        <div class="md-layout-item md-small-hide md-size-5"></div>
        <div class="fix-at-bottom md-layout md-layout-item md-small-size-80 md-size-40 md-alignment-center-center">
            <h1 class="md-layout-item md-size-100">{{$t('landing.slide.pricing.title')}}</h1>
            <p class="md-small-hide">{{$t('landing.slide.pricing.text')}}</p>
            <div class="button-layouter md-layout-item md-size-100 md-layout md-alignment-center-left">
                <action-button class="md-layout-item md-small-size-60 md-size-40" to="/onboarding/start"
                               data-cy="start-now-button">
                    {{$t('message.startNow')}}
                </action-button>
            </div>
        </div>
    </div>

</template>

<script>
import { mapGetters } from 'vuex'
import PricingPlanItem from '@/components/GeneralViews/LearnMore/PricingPlanItem'
import ActionButton from 'src/components/UIComponents/Buttons/ActionButton'

export default {
  name: 'SliderPagePricing',
  components: {
    PricingPlanItem,
    ActionButton,
  },
  computed: {
    ...mapGetters({
      plans: 'getOrderedPricingPlans',
    }),
    standardPlan() {
      return this.plans[0]
    },
  },
}
</script>

<style scoped lang="scss">
    @import "../../../assets/sass/variables.scss";

    .plan-item {
        margin-top: 50px;
    }

    .page {
        padding-top: 30px;
    }

    .button-layouter {
        justify-content: flex-start;
        @include small-screen {
            justify-content: center;
        }
    }

    .fix-at-bottom {
        @include small-screen {
            position: fixed;
            bottom: 0;
            width: 100%;
            margin-bottom: 30px;
        }
    }

    h1 {
        padding-top: 20px;
        color: white;
        font-weight: bold;
        font-size: 50px;
        line-height: 61px;
        @include small-screen {
            padding-top: 8px;
            text-align: center;
            font-size: 25px;
            line-height: 35px;
        }
    }

    p {
        padding-top: 20px;
        color: white;
        font-size: 25px;
        font-weight: 500;
        letter-spacing: 1.13px;
        line-height: 35px;
        @include small-screen {
            text-align: center;
            font-size: 18px;
            line-height: 25px;
            padding-top: 10px;
        }
    }

    .md-button {
        margin-bottom: 50px;
        height: 50px;
        @include small-screen {
            height: 40px;
        }
    }

    @include small-screen {

        @media only screen and (max-height: 750px) {
            .image-container {
                text-align: center;
            }
            img {
                height: 250px;
            }
        }

        @media only screen and (max-height: 568px) {
            h1 {
                padding-top: 0px;
                font-size: 15px;
                line-height: 20px;
            }
            p {
                font-size: 10px;
                line-height: 15px;
            }
        }
    }

</style>
