<template>
    <base-slider-page :slide="slide">
        <div class="image-container md-layout-item md-size-100 md-small-size-90 md-xsmall-size-90">
            <img id="review-iphone" :src="slide.image"/>
        </div>
    </base-slider-page>
</template>

<script>
import BaseSliderPage from './BaseSliderPage'

export default {
  name: 'SliderPage',
  props: ['slide'],
  components: {
    BaseSliderPage,
  },
}
</script>
<style/>
