<template>
    <div>
        <md-dialog :md-active.sync="showContactDialog" class="contact-dialog" data-cy="contact-dialog">
          <md-dialog-content>
            <business-contact-form
              v-on:contactSubmissionFinished="onContactSubmissionConfirmed()"></business-contact-form>
          </md-dialog-content>
        </md-dialog>

        <md-dialog-alert
            :md-active.sync="showOkDialog"
            :md-content="$t('landing.contact')"
            :md-confirm-text="$t('message.ok')"/>

        <div class="md-layout md-alignment-center-center">
            <div class="md-layout-item md-small-size-80 md-size-60">
                <div class="md-layout md-layout-item md-alignment-center-center">
                    <h1 class="md-layout-item md-size-100">{{ $t('landing.slide.multiple.title') }}</h1>
                    <p class="md-layout-item md-size-100">{{ $t('landing.slide.multiple.text') }}</p>
                </div>
                <div class="md-layout md-layout-item md-alignment-center-center">
                    <slider-page-option v-for="option in options"
                                        :key="option.order"
                                        :image="option.image"
                                        :text="option.text"
                                        @click="onClick(option)"
                                        :class="`md-layout-item md-size-33 ${option.shouldHideOnSmallScreen ? 'md-small-hide' : 'md-small-size-80'}`"/>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Rocket from '@/assets/landingpage/Rocket.svg'
import Info from '@/assets/landingpage/Info.svg'
import ContactIcon from '@/assets/landingpage/Contact.svg'
import BusinessContactForm from '../ContactForm/BusinessContactForm.vue'
import SliderPageOption from './SliderPageOption.vue'

export default {
  name: 'SliderPageFour',
  computed: {
    rocketIcon() {
      return Rocket
    },
    infoIcon() {
      return Info
    },
    contactIcon() {
      return ContactIcon
    },
  },
  components: {
    SliderPageOption,
    BusinessContactForm,
  },
  data() {
    return {
      showContactDialog: false,
      showOkDialog: false,
      options: [
        {
          order: 1,
          image: Rocket,
          text: this.$t('message.startNow'),
          onClick: (component) => {
            component.$router.push('/onboarding/start')
          },
          shouldHideOnSmallScreen: true,
        },
        {
          order: 2,
          image: Info,
          text: this.$t('landing.slide.multiple.more'),
          onClick: (component) => {
            component.$router.push('/more')
          },
          shouldHideOnSmallScreen: false,
        },
        {
          order: 3,
          image: ContactIcon,
          text: this.$t('terms.contact'),
          onClick: (component) => {
            component.onShowContactClicked()
          },
          shouldHideOnSmallScreen: true,
        },
      ],
    }
  },
  methods: {
    onShowContactClicked() {
      this.showContactDialog = true
    },
    onContactSubmissionConfirmed() {
      this.showContactDialog = false
      this.showOkDialog = true
    },
    onClick(option) {
      option.onClick(this)
    },
  },
}
</script>

<style scoped lang="scss">
    @import "../../../assets/sass/variables.scss";

    h1 {
        padding-top: 20px;
        color: white;
        font-weight: bold;
        font-size: 50px;
        line-height: 61px;
        text-align: center;
        @include small-screen {
            font-size: 35px;
            line-height: 45px;
            padding-top: 10px;
        }
        @include xsmall-screen {
            font-size: 25px;
            line-height: 35px;
            padding-top: 5px;
        }
    }

    p {
        padding-top: 20px;
        padding-bottom: 20px;
        color: white;
        font-size: 25px;
        font-weight: 500;
        letter-spacing: 1.13px;
        line-height: 35px;
        text-align: center;
        @include small-screen {
            font-size: 25px;
            line-height: 35px;
            padding-bottom: 10px;
            padding-top: 10px;
        }
        @include xsmall-screen {
            font-size: 20px;
            line-height: 25px;
        }

    }

</style>

<style>
  .contact-dialog .md-dialog-container {
    overflow-y: scroll;
  }
</style>
