<template>
    <notifications group="reauthenticate-access" position="bottom left">
        <template slot="body" slot-scope="props">
            <div class="notification-wrapper md-layout">
                <h3 class="title md-layout-item md-size-100">
                  {{$t('error.reauthenticate.platformTitle', { platform: props.item.title })}}
                </h3>
              <div class="md-layout-item md-size-100">{{getReauthenticationText(props.item)}}</div>
                <md-button @click="onClick" class="md-layout-item md-size-100">{{$t('error.reauthenticate.resolve')}}</md-button>

                <md-dialog-confirm
                    :md-active.sync="showDialog"
                    :md-content="getConfirmationText(props.item)"
                    :md-confirm-text="$t('message.ok')"
                    :md-cancel-text="$t('message.cancel')"
                    @md-confirm="onConfirmInfoDialog(props.item)"/>
            </div>
        </template>
    </notifications>
</template>

<script>
import { capitalize } from '../helper/StringHelper'
import TranslationHelper from '../helper/TranslationHelper'
import {FacebookErrorCodes} from "../api/Facebook";

export default {
  name: 'ReauthenticationNotifications',
  data() {
    return {
      showDialog: false,
    }
  },
  computed: {
    dialogText() {
      return ''
    },
  },
  methods: {
    onClick() {
      this.showDialog = true
    },
    onConfirmInfoDialog(item) {
      this.$emit('action-click', item.data.error)
    },
    getConfirmationText(item) {
      const { platform } = item.data.error
      if (!item || !item.data || !item.data.account || !item.data.account.name) {
        return this.$t('error.reauthenticate.login', { platform: capitalize(platform) })
      }
      const name = (platform === 'google') ? item.data.account.accountName : item.data.account.name
      return this.$t('error.reauthenticate.loginFor', { platform: capitalize(platform), name })
    },
    getReauthenticationText(item) {
      if (item.data.error.code === FacebookErrorCodes.MISSING_PERMISSIONS) {
        return this.getDeclinedPermissionsText(item.data.error)
      }
      const { text } = item
      if (TranslationHelper.isTranslationSnippet(text)) {
        return this.$t(text)
      }
      return text
    },
    getDeclinedPermissionsText(invalidPermissionError) {
      const { declinedPermissions } = invalidPermissionError
      let additionalInfo = this.$t('error.reauthenticate.facebook.missingPermissions')
      declinedPermissions.forEach((permission, index) => {
        if (index === 0) additionalInfo += ` ${permission.permission}`
        else additionalInfo = `${additionalInfo}, ${permission.permission}`
      })
      additionalInfo = `${additionalInfo}.`
      return additionalInfo
    },
  },
}
</script>

<style lang="scss" scoped>
    @import "../../assets/sass/variables";

    .notification-wrapper {
        padding: 8px;
        background-color: $warning-color;
        color: white;
        border-left: darken($warning-color, 15%) solid 8px;

        button {
            background-color: white !important;
            color: $warning-color !important;
        }
    }
</style>
