<template>
    <div class="loading-container">
        <div class="ball"/>
        <span>{{$t('terms.loading')}}</span>
    </div>
</template>

<script>
export default {
  name: 'SplashScreen',
}
</script>

<style scoped lang="scss">
    @import "src/assets/sass/paper/variables";

    @mixin animation($str) {
        -webkit-animation: $str;
        -moz-animation: $str;
        animation: $str;
    }

    $size: 1em;
    $color: #2592e1;

    $duration: 2000ms;
    $type: linear;

    .loading-container {
        width: $size * 6;
        margin: $size * 2 auto;
        text-align: center;
        position: fixed;
        top: 34%;
        left: 45%;

        .ball {
            width: $size;
            height: $size;
            margin: 0 auto;
            border-radius: $size;
            background: $color;
            @include animation(load $duration $type infinite);
        }

        span {
            display: block;
            margin: $size / 2 0 0 0;
            color: $color;
            text-transform: uppercase;
            font-family: 'Roboto', sans-serif;
            @include animation(pulse $duration $type infinite);
        }
    }

    @-webkit-keyframes pulse {
        0%, 100% { opacity: 1; }
        50% { opacity: 0.25; }
    }

    @keyframes pulse {
        0%, 100% { opacity: 1; }
        50% { opacity: 0.25; }
    }

    @-webkit-keyframes load {
        0%, 100% { -webkit-transform: scale(1) translateX(0); transform: scale(1) translateX(0); }
        25% { -webkit-transform: scale(0.25) translateX(-$size * 6.5); transform: scale(0.25) translateX(-$size * 6.5); }
        50% { -webkit-transform: scale(0.15) translateX(0); transform: scale(0.15) translateX(0); }
        75% { -webkit-transform: scale(0.25) translateX($size * 6.5); transform: scale(0.25) translateX($size * 6.5); }
    }

    @keyframes load {
        0%, 100% { -webkit-transform: scale(1) translateX(0); transform: scale(1) translateX(0); }
        25% { -webkit-transform: scale(0.25) translateX(-$size * 6.5); transform: scale(0.25) translateX(-$size * 6.5); }
        50% { -webkit-transform: scale(0.15) translateX(0); transform: scale(0.15) translateX(0); }
        75% { -webkit-transform: scale(0.25) translateX($size * 6.5); transform: scale(0.25) translateX($size * 6.5); }
    }
</style>
