<template>
    <md-card class="card md-layout md-alignment-top-center">
        <div class="md-layout-item md-size-90">
            <h4 class="md-layout-item md-size-100">{{blogEntry.title}}</h4>
            <p class="preview-text md-layout-item md-size-100">{{blogEntry.previewText}}</p>
        </div>
        <md-button :to="`/blog/${blogEntry.order}`" class="more-button" data-cy="blog-button">Weiterlesen</md-button>
    </md-card>
</template>

<script>

export default {
  name: 'BlogPreviewCard',
  props: ['blogEntry'],
}
</script>

<style scoped lang="scss">
    .preview-text {
        height: 150px;
        overflow-wrap: break-word;
        overflow: hidden;
        &::after {
            content: "...";
        }
    }

    .more-button {
        position: absolute;
        bottom: 0;
    }
</style>
