<template>
    <div class="card matchingHeights">
        <div class="content">
            <div class="row">
                <div class="col-xs-5">
                    <div class="icon-big text-center">
                        <i :class="icon"></i>
                    </div>
                </div>
                <div class="col-xs-7">
                    <div class="numbers">
                        <p>{{name}}</p>
                        <div>{{number}}</div>
                    </div>
                </div>
            </div>
            <div class="footer pull-bottom">
                <hr/>
                <div class="stats">
                    <slot name="footer">{{footer}}</slot>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
  name: 'stats-card',
  props: ['icon', 'name', 'number', 'footer'],
}
</script>
<style>
.card .stats {
    color: #a9a9a9;
    font-weight: 300;
}

.card .numbers {
    font-size: 2em;
    text-align: right;
}

.card .numbers p {
    margin: 0;
    font-size: 16px;
    line-height: 1.4em;
}
</style>
