<template>
    <settings-section-content icon="cached"
                              :title="$t('settings.cache.title')"
                              :tooltip="null">
      <div class="md-layout md-alignment-top-left">
        <md-button class="md-layout-item md-size-60 md-small-size-100 md-raised"
                   @click="onClearCache()">
          {{$t('settings.cache.empty')}}
        </md-button>
      </div>
    </settings-section-content>
</template>

<script>
import Vue from 'vue'
import { mapActions } from 'vuex'
import SettingsSectionContent from './SettingsSectionContent.vue'

export default {
  name: 'CacheSection',
  components: { SettingsSectionContent },
  methods: {
    onClearCache() {
      this.clearCache().then(() => {
        Vue.notify({
          title: this.$t('settings.cache.title'),
          text: this.$t('settings.cache.success'),
          type: 'success',
          duration: 2000,
        })
      })
    },
    ...mapActions(['clearCache']),
  },
}
</script>

<style scoped>

</style>
