<template>
    <settings-section-content icon="lock"
                              :title="$t('terms.password')"
                              :tooltip="isPasswordUser ? null : 'settings-facebook-password'">
        <div class="md-layout md-alignment-top-left">
            <p class="md-layout-item md-size-100">••••••••</p>
            <md-button v-if="isPasswordUser" class="md-layout-item md-size-60 md-small-size-100 md-raised"
                       @click="password.active = true">{{$t('settings.password.changePassword')}}
            </md-button>
        </div>
        <dialog-prompt-password
            :md-active.sync="password.active"
            @:md-confirm="showPasswordOkDialog = true; password.active = false"
            :md-title="$t('settings.password.changePassword')"
            :placeholder-old-password="$t('settings.password.oldPassword')"
            :placeholder-new-password="$t('settings.password.newPassword')"
            :placeholder-new-password-again="$t('terms.passwordRepeat')"
            :md-cancel-text="$t('message.cancel')"
            :md-confirm-text="$t('message.save')"/>
        <md-dialog-alert
            :md-active.sync="showPasswordOkDialog"
            :md-content="$t('settings.password.passwordConfirmed')"
            :md-confirm-text="$t('message.ok')"/>
    </settings-section-content>
</template>

<script>
import FirebaseApp from 'src/components/api/Firebase'
import DialogPromptPassword from './DialogPromptPassword'
import SettingsSectionContent from '@/components/Dashboard/Views/Settings/SettingsSectionContent'


export default {
  name: 'ChangePasswordSection',
  components: {
    SettingsSectionContent,
    DialogPromptPassword,
  },
  computed: {
    getUsersEmailAddress() {
      return FirebaseApp.auth().currentUser.email
    },
    isPasswordUser() {
      const user = FirebaseApp.auth().currentUser
      return !!user.providerData.find(provider => provider.providerId === 'password')
    },
  },
  data() {
    return {
      password: {
        active: false,
        value: null,
      },
      showPasswordOkDialog: false,
    }
  },
}
</script>

<style scoped>

</style>
