<template>
    <settings-section-content icon="alarm"
                              :title="$t('settings.notifications.title')"
                              :tooltip="null">
        <div class="md-layout md-alignment-top-left">
            <md-switch v-for="(subscription, index) in subscriptions"
                       :key="index + 1"
                       :model="subscription.hasSubscribed"
                       @change="onChange(subscription)"
                       class="md-layout-item md-primary md-size-100">
                {{getLabel(subscription)}}
            </md-switch>
        </div>
    </settings-section-content>
</template>

<script>
import SettingsSectionContent from '@/components/Dashboard/Views/Settings/SettingsSectionContent'
import { mapGetters, mapActions } from 'vuex'
import NotificationSubscriptionHelper from '@/components/helper/NotificationSubscriptionHelper'

export default {
  name: 'ChangeNotificationsSection',
  components: {
    SettingsSectionContent,
  },
  computed: {
    ...mapGetters([
      'notificationSubscriptions',
    ]),
    subscriptions() {
      return this.notificationSubscriptions.filter(subscription => !this.isDisabled(subscription))
    },
  },
  methods: {
    ...mapActions({
      subscribe: 'subscribeToMessages',
      unsubscribe: 'unsubscribeFromMessage',
    }),
    getLabel(subscription) {
      return this.$t(NotificationSubscriptionHelper.getLabel(subscription))
    },
    isDisabled(subscription) {
      return subscription.name === 'basic'
    },
    onChange(subscription) {
      if (subscription.hasSubscribed) {
        this.unsubscribe(subscription)
      } else {
        this.subscribe([subscription])
      }
    },
  },
}
</script>

<style lang="scss">

</style>
