<template>
    <settings-section-content icon="account_circle"
                              :title="$t('settings.accounts.title')"
                              :tooltip="null">
        <div class="md-layout md-alignment-top-left">
            <div class="md-layout-item md-size-50">Google</div>
            <delete-button
                class="md-layout-item md-size-50"
                @click="onDeleteButtonClicked">
                {{$t('settings.accounts.deleteButton')}}
            </delete-button>
        </div>
    </settings-section-content>

</template>

<script>
import Vue from 'vue'
import SettingsSectionContent from './SettingsSectionContent.vue'
import DeleteButton from '../../../UIComponents/Buttons/DeleteButton.vue'

export default {
  name: 'ChangeAccountsSection',
  components: {
    SettingsSectionContent,
    DeleteButton,
  },
  methods: {
    onDeleteButtonClicked() {
      this.$store.dispatch('unlinkProvider', { providerId: 'google.com' }).then(() => {
        Vue.notify({
          title: 'Google',
          text: this.$t('settings.accounts.success'),
          type: 'success',
          duration: 3000,
        })
      }).catch(() => {
        Vue.notify({
          title: 'Google',
          text: this.$t('settings.accounts.fail'),
          type: 'error',
          duration: 3000,
        })
      })
    },
  },
}
</script>

<style scoped>

</style>
