<template>
    <settings-section-content icon="mail"
                              :title="$t('terms.email')"
                              :tooltip="isPasswordUser ? null : 'settings-facebook-mail'">
        <div class="md-layout md-alignment-top-left">
            <p class="md-layout-item md-size-100">{{getUsersEmailAddress}}</p>
            <md-button class="md-layout-item md-size-60 md-small-size-100 md-raised"
                       @click="isPasswordUser ? email.active = true : onSetEmailButtonClicked()">
                {{isPasswordUser ? $t('settings.email.changeMail') : $t('settings.email.addMail')}}
            </md-button>
        </div>
        <dialog-prompt-email
            :md-active.sync="email.active"
            @:md-confirm="showEmailOkDialog = true; email.active = false"
            :md-title="$t('settings.email.changeMail')"
            :placeholder-password="$t('terms.password')"
            :placeholder-new-mail-address="$t('settings.email.newMail')"
            :md-cancel-text="$t('message.cancel')"
            :md-confirm-text="$t('message.save')"/>
        <md-dialog-alert
            :md-active.sync="showEmailOkDialog"
            :md-content="$t('settings.email.mailConfirmed')"
            :md-confirm-text="$t('message.cancel')"/>
        <md-dialog :md-active.sync="showSetEmailDialog">
            <onboarding-email @continue="setEmailDialogFinished"/>
        </md-dialog>
    </settings-section-content>
</template>

<script>
import FirebaseApp from 'src/components/api/Firebase'
import DialogPromptEmail from './DialogPromptEmail'
import OnboardingEmail from 'src/components/GeneralViews/Onboarding/OnboardingEmail'
import SettingsSectionContent from '@/components/Dashboard/Views/Settings/SettingsSectionContent'

export default {
  name: 'ChangeEmailSection',
  components: {
    SettingsSectionContent,
    DialogPromptEmail,
    OnboardingEmail,
  },
  computed: {
    getUsersEmailAddress() {
      return FirebaseApp.auth().currentUser.email
    },
    isPasswordUser() {
      const user = FirebaseApp.auth().currentUser
      return !!user.providerData.find(provider => provider.providerId === 'password')
    },
  },
  data() {
    return {
      email: {
        active: false,
        value: null,
      },
      showEmailOkDialog: false,
      showSetEmailDialog: false,
    }
  },
  methods: {
    onSetEmailButtonClicked() {
      this.showSetEmailDialog = true
    },
    setEmailDialogFinished() {
      this.showSetEmailDialog = false
      this.$forceUpdate()
    },
  },
}
</script>

<style scoped>

</style>
