<template>
    <settings-section-content icon="link"
                              :title="$t('settings.connections.title')"
                              :tooltip="null">
        <div class="md-layout md-alignment-top-left">
            <md-button class="md-layout-item md-size-60 md-small-size-100 md-raised"
                       v-if="locationsAvailable"
                       @click="onEditRepresentationsClicked">
                {{editRepresentations ? $t('message.finish') : $t('message.edit') }}
            </md-button>
            <ul class="md-layout-item md-size-100 md-layout md-alignment-top-center">
                <settings-location-list-item v-for="location in locations"
                                             :key="location.id"
                                             :location="location"
                                             :edit-representations="editRepresentations"
                                             class="md-layout-item md-size-100"/>
            </ul>
        </div>


    </settings-section-content>
</template>

<script>
import { mapGetters } from 'vuex'
import IconResolver from '../../../helper/IconResolver'
import SettingsSectionContent from './SettingsSectionContent.vue'
import SettingsLocationListItem from './SettingsLocationListItem.vue'

export default {
  name: 'ChangeLocationsSection',
  components: {
    SettingsLocationListItem,
    SettingsSectionContent,
  },
  computed: {
    ...mapGetters({
      locations: 'getLocationsForCurrentUser',
      platforms: 'getAllPlatforms',
    }),

    locationsAvailable() {
      return this.locations.length > 0
    },
  },
  data() {
    return {
      showDeleteStatisticsOkDialog: false,


      representationToDelete: null,

      editRepresentations: false,
      iconResolver: IconResolver,
    }
  },
  methods: {
    onEditRepresentationsClicked() {
      this.editRepresentations = !this.editRepresentations
    },
  },
}
</script>

<style scoped>
    ul {
        padding-inline-start: 0;
    }
</style>
