<template>
    <settings-section-content icon="payment" :title="$t('settings.payment.title')" tooltip="settings-payment">
        <div class="md-layout md-alignment-top-left">
            <md-button class="md-layout-item md-size-60 md-small-size-100 md-raised"
                       @click="onChangePaymentData">
                {{$t('settings.payment.change')}}
            </md-button>
        </div>
    </settings-section-content>
</template>

<script>
import SettingsSectionContent from './SettingsSectionContent.vue'

export default {
  name: 'ChangePaymentSection',
  components: {
    SettingsSectionContent,
  },
  methods: {
    onChangePaymentData() {
      this.$store.dispatch('openPaymentPortal')
    },
  },
}
</script>

<style scoped>

</style>
