<template>
    <md-dialog v-bind="$attrs" :md-fullscreen="false" @md-opened="setInputFocus">
        <md-dialog-title v-if="mdTitle">{{ mdTitle }}</md-dialog-title>
        <md-dialog-content>
            <div style="color: red" v-if="hasErrormessage">{{errorMessage}}</div>

            <md-field>
                <md-input
                    ref="inputOldPassword"
                    type="password"
                    v-model="inputValueOldPassword"
                    :placeholder="placeholderOldPassword"
                    @keydown.enter.native=""/>
            </md-field>
            <md-field>
                <md-input
                    v-model="inputValueNewPassword"
                    type="password"
                    :placeholder="placeholderNewPassword"
                    @keydown.enter.native="" style="float: none;"/>
            </md-field>
            <md-field>
                <md-input
                    v-model="inputValueNewPasswordAgain"
                    type="password"
                    :placeholder="placeholderNewPasswordAgain"
                    @keydown.enter.native="onConfirm"/>
            </md-field>
        </md-dialog-content>

        <progress-bar v-if="sending"/>

        <md-dialog-actions>
            <md-button class="md-primary" @click="onCancel">{{ mdCancelText }}</md-button>
            <md-button class="md-primary" @click="onConfirm">{{ mdConfirmText }}</md-button>
        </md-dialog-actions>
    </md-dialog>
</template>

<script>
import ProgressBar from '../../../GeneralViews/ProgressBar'

export default {
  name: 'MdDialogPrompt',
  components: { ProgressBar },
  props: {
    mdTitle: String,

    placeholderOldPassword: [String, Number],
    placeholderNewPassword: [String, Number],
    placeholderNewPasswordAgain: [String, Number],

    mdConfirmText: {
      type: String,
      default: 'Ok',
    },
    mdCancelText: {
      type: String,
      default: 'Cancel',
    },
  },
  data: () => ({
    inputValueOldPassword: null,
    inputValueNewPassword: null,
    inputValueNewPasswordAgain: null,
    errorMessage: null,
    sending: false,
  }),
  computed: {
    hasErrormessage() {
      return this.errorMessage !== null && this.errorMessage !== ''
    },
  },
  methods: {
    onCancel() {
      this.clearInputFields()
      this.$emit('md-cancel')
      this.$emit('update:mdActive', false)
    },
    onConfirm() {
      this.sending = true
      this.errorMessage = null

      if (
        !this.inputValueNewPassword
                    || !this.inputValueNewPasswordAgain
                    || (this.inputValueNewPassword === '' && this.inputValueNewPasswordAgain === '')
      ) {
        this.errorMessage = this.$t('error.invalidInput')
        this.sending = false
        return
      }
      if (this.inputValueNewPassword !== this.inputValueNewPasswordAgain) {
        this.errorMessage = this.$t('error.inputNotMatch')
        this.sending = false
        return
      }
      if (this.inputValueNewPassword.length < 8) {
        this.errorMessage = this.$t('error.inputTooShort')
        this.sending = false
        return
      }


      this.$store.dispatch('changePassword', {
        oldPassword: this.inputValueOldPassword,
        newPassword: this.inputValueNewPassword,
      }).then(() => {
        this.$emit('md-confirm')
        this.sending = false
        this.clearInputFields()
      }).catch(() => {
        this.errorMessage = this.$t('error.passwordWrong')
        this.sending = false
        this.clearInputFields()
      })
    },
    setInputFocus() {
      window.setTimeout(() => {
        this.$refs.inputOldPassword.$el.focus()
      }, 50)
    },
    clearInputFields() {
      this.inputValueOldPassword = null
      this.inputValueNewPassword = null
      this.inputValueNewPasswordAgain = null
    },
  },
}
</script>
