<template>
    <md-dialog v-bind="$attrs" :md-fullscreen="false" @md-opened="setInputFocus">
        <md-dialog-title >{{ mdTitle }}</md-dialog-title>
        <md-dialog-content>
            <div style="color: red" v-if="hasErrormessage">{{errorMessage}}</div>

            <md-field>
                <md-input
                    ref="inputPassword"
                    type="password"
                    v-model="inputValuePassword"
                    :placeholder="placeholderPassword"
                    @keydown.enter.native=""/>
            </md-field>
            <md-field>
                <md-input
                    v-model="inputValueNewMailAddress"
                    :placeholder="placeholderNewMailAddress"
                    @keydown.enter.native="onConfirm" style="float: none;"/>
            </md-field>
        </md-dialog-content>

        <progress-bar v-if="sending"/>

        <md-dialog-actions>
            <md-button class="md-primary" @click="onCancel">{{ mdCancelText }}</md-button>
            <md-button class="md-primary" @click="onConfirm" :disabled="sending">{{ mdConfirmText }}</md-button>
        </md-dialog-actions>
    </md-dialog>
</template>

<script>
import ProgressBar from '../../../GeneralViews/ProgressBar'

export default {
  name: 'MdDialogPrompt',
  components: { ProgressBar },
  props: {
    mdTitle: String,

    placeholderPassword: [String, Number],
    placeholderNewMailAddress: [String, Number],

    mdConfirmText: {
      type: String,
    },
    mdCancelText: {
      type: String,
    },
  },
  data: () => ({
    inputValuePassword: null,
    inputValueNewMailAddress: null,
    errorMessage: null,
    sending: false,
  }),
  computed: {
    hasErrormessage() {
      return this.errorMessage !== null && this.errorMessage !== ''
    },
  },
  methods: {
    onCancel() {
      this.clearInputFields()
      this.$emit('md-cancel')
      this.$emit('update:mdActive', false)
    },
    onConfirm() {
      this.sending = true

      if (!this.inputValuePassword || !this.inputValueNewMailAddress) {
        this.errorMessage = this.$t('error.missingInputs')
        this.sending = false
        return
      }

      if (this.inputValueNewMailAddress.length < 8) {
        this.errorMessage = this.$t('error.invalidInput')
        this.sending = false
        return
      }
      this.errorMessage = null

      this.$store.dispatch('changeEmailAddress', {
        password: this.inputValuePassword,
        newMailAddress: this.inputValueNewMailAddress,
      }).then(() => {
        this.$emit('md-confirm')
        this.sending = false
        this.clearInputFields()
      }).catch(() => {
        this.errorMessage = this.$t('error.passwordMailInvalid')
        this.sending = false
        this.clearInputFields()
      })
    },
    setInputFocus() {
      window.setTimeout(() => {
        this.$refs.inputPassword.$el.focus()
      }, 50)
    },
    clearInputFields() {
      this.inputValuePassword = null
      this.inputValueNewMailAddress = null
    },
  },
}
</script>
