<template>
    <div class="md-layout-item md-size-100 md-layout">
        <md-list-item class="md-layout md-layout-item md-size-100 md-alignment-top-left">
            <slot class="md-layout-item md-size-100"/>
        </md-list-item>
        <md-divider class="md-inset md-layout-item md-size-100"/>
    </div>
</template>

<script>
export default {
  name: 'SettingsListItem',
}
</script>

<style scoped>

</style>
