<template>
    <li class="md-layout md-alignment-top-left">
        <div class="md-layout-item md-size-10 md-layout md-alignment-center-left">
            <representation-icon :representation="representation" class="md-layout-item md-size-100"/>
        </div>
        <div :class="`md-layout-item md-layout md-alignment-top-left ${dynamicSizeClass}`">
            <div class="md-layout-item md-small-size-5"/>
            <h5 class="md-layout-item md-size-95">{{representation.platform.toUpperCase()}}</h5>
            <p v-if="hasRepresentationName" class="md-layout-item md-size-100">{{getRepresentationName}}</p>
        </div>
        <div v-if="!canReply" class="md-layout-item md-size-10 md-small-size-15 md-layout md-alignment-center-left">
          <delete-button @click="onRepresentationWarningClicked"
                         class="md-layout-item md-size-60">
            <md-icon>warning</md-icon>
          </delete-button>
        </div>
        <div class="md-layout-item md-size-30 md-small-size-45 md-layout md-alignment-top-right">
            <delete-button v-if="editRepresentations"
                           @click="onDeleteRepresentationClicked"
                           class="md-layout-item md-size-60">
                <md-icon>delete_forever</md-icon>
            </delete-button>
        </div>


        <md-dialog-confirm
            :md-active.sync="showDeleteRepresentationOkDialog"
            :md-title="$t('terms.attention')"
            :md-content="$t('settings.connections.deleteRepresentationQuestion')"
            :md-confirm-text="$t('settings.connections.yesDelete')"
            :md-cancel-text="$t('message.cancel')"
            @md-confirm="onDeleteRepresentationConfirmed"
            class="confirm-dialog"/>

        <md-dialog-confirm
            :md-active.sync="showDeleteStatisticsTooDialog"
            :md-title="$t('terms.attention')"
            :md-content="$t('settings.connections.deleteStatsQuestion')"
            :md-confirm-text="$t('settings.connections.yesDelete')"
            :md-cancel-text="$t('settings.connections.onlyRepresentation')"
            @md-confirm="onDeleteStatisticsConfirmed"
            @md-cancel="onDeleteStatisticsCanceled"
            class="confirm-dialog"/>

        <md-dialog-alert
            :md-active.sync="showDeleteRepresentationDoneDialog"
            :md-content="$t('settings.connections.deleteRepresentationSuccess')"
            :md-confirm-text="$t('message.ok')"/>

        <platform-explanation-dialog
            :md-active.sync="showExplanationDialog"
            :platform-name="representation.platform"
            @confirmed="showExplanationDialog = false"
            class="confirm-dialog"/>
    </li>
</template>

<script>
import RepresentationIcon from '../../../UIComponents/Icons/RepresentationIcon.vue'
import DeleteButton from '../../../UIComponents/Buttons/DeleteButton.vue'
import { EventName, EventType } from '../../../store/modules/event'
import PlatformExplanationDialog from '../Representation/PlatformExplanationDialog.vue'
import RepresentationHelper from '../../../helper/RepresentationHelper'

export default {
  name: 'SettingsRepresentationListItem',
  components: { PlatformExplanationDialog, DeleteButton, RepresentationIcon },
  props: {
    representation: {
      type: Object,
      required: true,
    },
    location: {
      type: Object,
      required: true,
    },
    editRepresentations: {
      type: Boolean,
      default() {
        return false
      },
    },
  },
  data() {
    return {
      showDeleteRepresentationOkDialog: false,
      showDeleteStatisticsTooDialog: false,
      showDeleteRepresentationDoneDialog: false,
      showExplanationDialog: false,
    }
  },
  computed: {
    getRepresentationName() {
      return this.representation ? this.representation.info ? this.representation.info.name : null : null
    },
    hasRepresentationName() {
      return !!this.getRepresentationName
    },
    dynamicSizeClass() {
      return (this.editRepresentations || !this.canReply) ? 'md-size-45' : 'md-size-90'
    },
    canReply() {
      return RepresentationHelper.canReply(this.representation.platform, this.representation)
    },
  },
  methods: {
    onRepresentationWarningClicked() {
      this.showExplanationDialog = true
    },
    onDeleteRepresentationClicked() {
      this.showDeleteRepresentationOkDialog = true
    },
    onDeleteStatisticsConfirmed() {
      return this.deleteRepresentation().then(() => this.deleteStatistics().then(() => {
        this.showDeleteRepresentationDoneDialog = true
        return true
      }))
    },
    onDeleteStatisticsCanceled() {
      return this.deleteRepresentation().then(() => {
        this.showDeleteRepresentationDoneDialog = true
        return true
      })
    },
    deleteStatistics() {
      if (!this.representation || !this.representation.id) return
      return this.$store.dispatch('deleteStatisticsForRepresentation', this.representation)
    },
    deleteRepresentation() {
      if (!this.representation) return
      const payload = {
        representation: this.representation,
        location: this.location,
      }
      this.$store.dispatch('writeEvent', {
        name: EventName.DeleteRepresentationStart,
        type: EventType.Action,
        data: { representationId: this.representation.id },
      })
      return this.$store.dispatch('deleteRepresentation', payload)
    },
    onDeleteRepresentationConfirmed() {
      this.showDeleteStatisticsTooDialog = true
    },
  },
}
</script>

<style scoped lang="scss">
    $space: 10px;
    li {
        padding-top: $space;
        padding-bottom: $space;
    }

    h5 {
        font-size: 1.0em;
        margin-bottom: 0 !important;
        margin-top: 0;
    }
</style>
