<template>
    <div class="section-content md-layout md-alignment-top-right">
        <md-icon class="top-offset md-layout-item md-size-20 md-small-size-10">{{icon}}</md-icon>
        <div class="top-offset md-layout-item md-size-20 md-small-size-30"><b>{{title}}</b></div>
        <div class="md-layout-item md-small-size-60"/>
        <div class="md-layout-item md-size-50 md-small-size-80">
            <slot/>
        </div>
        <div class="md-layout-item md-size-5"/>
        <div class="md-layout-item md-size-5 md-layout md-alignment-top-center">
            <tooltip class="top-offset md-layout-item" v-if="!!tooltip" :id="tooltip"/>
        </div>
    </div>
</template>

<script>
import Tooltip from 'src/components/GeneralViews/Tooltip'

export default {
  name: 'SettingsSectionContent',
  components: {
    Tooltip,
  },
  props: {
    title: {
      type: String,
    },
    icon: {
      type: String,
    },
    tooltip: {
      type: String,
      default() {
        return null
      },
    },
  },
}
</script>

<style scoped lang="scss">
    $space: 40px;
    .section-content  {
        padding-bottom: $space;
        padding-top: $space;
        .md-button {
            width: auto !important;
            margin-left: 0;
        }
    }
    .top-offset {
        padding-top: 8px;
    }
</style>
