<template>
  <li class="md-layout md-alignment-top-left">
    <h5 :class="`md-layout-item md-size-50 md-small-size-100`">{{location.name}}</h5>

    <ul v-if="hasRepresentations"
      class="md-layout-item md-size-100 md-layout md-alignment-top-center">
      <settings-representation-list-item
          v-for="representation in representations"
          :key="representation.id"
          :representation="representation"
          :location="location"
          :edit-representations="editRepresentations"
          class="representation-item md-layout-item md-size-100"/>
    </ul>
    <div v-else class="md-layout md-layout-item md-size-100 md-alignment-top-right">
        <p class="md-layout-item md-size-90">{{$t('settings.connections.noConnections')}}</p>
    </div>
    <md-button v-if="editRepresentations && !hasAllRepresentations"
               class="md-raised md-primary md-layout-item md-size-45 md-small-size-100"
               :to="`connector/${location.id}`">
      {{$t('settings.connections.addConnection')}}
    </md-button>
    <delete-button v-if="editRepresentations"
                   @click="onDeleteLocationClicked"
                   class="delete-button md-layout-item md-size-45 md-small-size-100">
      {{$t('settings.connections.deleteLocation')}}
    </delete-button>
    <md-dialog-alert
        :md-active.sync="showDeleteLocationDoneDialog"
        :md-content="$t('settings.connections.deleteSuccess')"
        :md-confirm-text="$t('message.ok')"/>
    <md-dialog-confirm
        :md-active.sync="showDeleteLocationOkDialog"
        :md-title="$t('terms.attention')"
        :md-content="getOnLocationDeleteText"
        :md-confirm-text="$t('settings.connections.yesDelete')"
        :md-cancel-text="$t('message.cancel')"
        @md-confirm="onDeleteLocationConfirmed"
        class="confirm-dialog"/>
    <md-dialog-confirm
        :md-active.sync="showDeleteStatisticsOkDialog"
        :md-title="$t('terms.attention')"
        :md-content="$t('settings.connections.deleteStatsQuestion')"
        :md-confirm-text="$t('settings.connections.yesDelete')"
        :md-cancel-text="$t('settings.connections.onlyLocation')"
        @md-confirm="onDeleteStatisticsConfirmed"
        @md-cancel="onDeleteStatisticsCanceled"
        class="confirm-dialog"/>
  </li>
</template>

<script>
import { mapGetters } from 'vuex'
import DeleteButton from '../../../UIComponents/Buttons/DeleteButton.vue'
import SettingsRepresentationListItem from './SettingsRepresentationListItem.vue'
import { EventName, EventType } from '../../../store/modules/event'

export default {
  name: 'SettingsLocationListItem',
  components: { SettingsRepresentationListItem, DeleteButton },
  computed: {
    ...mapGetters({
      locations: 'getLocationsForCurrentUser',
      platforms: 'getAllPlatforms',
    }),
    representations() {
      return this.location ? this.location.representations ? this.location.representations : [] : []
    },
    hasAllRepresentations() {
      return this.representations.length === this.platforms.length
    },
    hasRepresentations() {
      return this.representations.length > 0
    },
    getOnLocationDeleteText() {
      let message = this.$t('settings.connections.deleteQuestion', { location: this.location ? this.location.name : '' })
      if (this.locations.length !== 1) {
        message = `${message} ${this.$t('settings.connections.price')}`
      }
      return message
    },
  },
  props: {
    location: {
      type: Object,
    },
    editRepresentations: {
      type: Boolean,
      default() {
        return false
      },
    },
  },
  data() {
    return {
      showDeleteLocationOkDialog: false,
      showDeleteStatisticsOkDialog: false,
      showDeleteLocationDoneDialog: false,
    }
  },
  methods: {
    onDeleteLocationClicked() {
      this.showDeleteLocationOkDialog = true
    },
    onDeleteLocationConfirmed() {
      this.showDeleteStatisticsOkDialog = true
    },
    deleteLocation() {
      this.$store.dispatch('writeEvent', {
        name: EventName.DeleteLocationStart,
        type: EventType.Action,
        data: { locationId: this.location.id },
      })
      return this.$store.dispatch('deleteLocation', this.location)
    },
    deleteStatistics() {
      return this.$store.dispatch('deleteStatisticsForLocation', this.location)
    },
    onDeleteStatisticsConfirmed() {
      return this.deleteStatistics().then(() => this.deleteLocation().then(() => {
        this.showDeleteLocationDoneDialog = true
        return true
      }))
    },
    onDeleteStatisticsCanceled() {
      return this.deleteLocation().then(() => {
        this.showDeleteLocationDoneDialog = true
        return true
      })
    },
  },
}
</script>

<style scoped lang="scss">
  @import "../../../../assets/sass/variables";

  $dividerBorder: $dividerColor solid 1px;

  .representation-item {
      &:not(:last-child) {
          border-bottom: $dividerBorder;
      }
      &:first-child {
          border-top: $dividerBorder;
      }
  }

  .md-primary {
      background-color: $review-primary-color !important;
      margin-left: 0;
  }

  ul {
      padding-bottom: 20px;
  }

  h5 {
      margin-top: 10px;
  }

</style>
