<template>
  <div>
    <settings-section-content icon="widgets"
                              :title="$t('settings.widget.title')"
                              :tooltip="null">
      <div class="md-layout md-alignment-top-left">
        <action-button class="md-layout-item md-size-45 md-small-size-100 add-widget-button" @click="onAddWidgetClicked">{{$t('settings.widget.addWidget')}}</action-button>
        <md-button class="md-layout-item md-size-45 md-small-size-100 md-raised" @click="onShowExampleClicked">{{$t('settings.widget.explain')}}</md-button>
      </div>

      <div v-if="widgetsAvailable">
        <widget-item v-for="widget in widgets"
                     :key="widget.id"
                     :widget="widget"
                     ref="widgetItem"
                     @show-snippet="showSnippet"
                     @edit-widget="onEditWidgetClicked"/>
      </div>
      <div v-else>
        {{$t('settings.widget.noWidget')}}
      </div>
    </settings-section-content>

    <choice-dialog v-if="showChoiceDialog"
                   :headline="$t('settings.widget.restaurant.title')"
                   :description="$t('settings.widget.restaurant.description')"
                   :active="showChoiceDialog"
                   @confirmed="onChoiceDialogConfirmed"
                   @cancel="onChoiceDialogCanceled"
                   :choices="choiceDialogChoices"
                   :isMultipleSelectionAllowed="false"
                   :confirmText="$t('message.goOn')"/>

    <widget-position-dialog v-if="showPositionDialog"
                            :active="showPositionDialog"
                            :default-position="currentWidgetConfiguration.position"
                            @confirmed="onPositionDialogConfirmed"
                            @cancel="onPositionDialogCanceled"/>

    <widget-color-dialog v-if="showColorDialog"
                         :active="showColorDialog"
                         :default-color="currentWidgetConfiguration.color"
                         @confirmed="onColorDialogConfirmed"
                         @cancel="onColorDialogCanceled"/>

    <widget-snippet-dialog v-if="showSnippetDialog"
                           :active="showSnippetDialog"
                           :snippet="currentSnippet"
                           @confirmed="onSnippetDialogConfirmed"/>

    <md-dialog-alert
      :md-active.sync="showNoLocationDialog"
      :md-content="$t('settings.widget.noLocation')"
    />

    <widget-example-dialog
      v-if="showExampleDialog"
      :active="showExampleDialog"
      @confirmed="onExampleDialogConfirmed"
    />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import SettingsSectionContent from './SettingsSectionContent.vue'
import ActionButton from '../../../UIComponents/Buttons/ActionButton.vue'
import WidgetItem from './WidgetItem.vue'
import ChoiceDialog from '../../../UIComponents/Dialogs/ChoiceDialog.vue'
import WidgetPositionDialog from './Widget/WidgetPositionDialog.vue'
import WidgetColorDialog from './Widget/WidgetColorDialog.vue'
import WidgetSnippetDialog from './Widget/WidgetSnippetDialog.vue'
import { EventName, EventType } from '../../../store/modules/event'
import WidgetExampleDialog from './Widget/WidgetExampleDialog.vue'

export default {
  name: 'WidgetSection',
  components: {
    WidgetExampleDialog,
    WidgetSnippetDialog,
    WidgetColorDialog,
    WidgetPositionDialog,
    ChoiceDialog,
    WidgetItem,
    ActionButton,
    SettingsSectionContent,
  },
  data() {
    return {
      showExampleDialog: false,
      showNoLocationDialog: false,
      showChoiceDialog: false,
      choiceDialogChoices: null,
      showPositionDialog: false,
      showColorDialog: false,
      showSnippetDialog: false,
      currentSnippet: null,
      currentWidgetConfiguration: {},
    }
  },
  computed: {
    ...mapGetters({
      widgets: 'getWidgets',
      locations: 'getLocationsForCurrentUser',
    }),
    widgetsAvailable() {
      return this.widgets.length > 0
    },
    availableLocations() {
      return this.locations.filter(location => location.representations.length > 0)
    },
    locationsAvailable() {
      return this.availableLocations.length > 0
    },
  },
  methods: {
    onAddWidgetClicked() {
      if (!this.locationsAvailable) {
        this.showNoLocationDialog = true
        return
      }
      this.currentWidgetConfiguration = null
      const choices = this.availableLocations
        .map(location => ({
          id: location.id,
          label: location.name,
        }))
      this.showChoiceDialog = true
      this.choiceDialogChoices = choices
    },
    onChoiceDialogConfirmed(selection) {
      this.showChoiceDialog = false
      this.currentWidgetConfiguration = {
        locationId: selection.id,
      }
      this.$nextTick(() => {
        this.showPositionDialog = true
      })
    },
    onChoiceDialogCanceled() {
      this.showChoiceDialog = false
      this.currentWidgetConfiguration = null
    },
    onPositionDialogConfirmed(selection) {
      this.showPositionDialog = false
      this.currentWidgetConfiguration.position = selection
      this.$nextTick(() => {
        this.showColorDialog = true
      })
    },
    onPositionDialogCanceled() {
      this.showPositionDialog = false
      this.currentWidgetConfiguration = null
    },
    onColorDialogConfirmed(selection) {
      this.showColorDialog = false
      this.currentWidgetConfiguration.color = selection

      this.addWidget()
    },
    onColorDialogCanceled() {
      this.showColorDialog = false
      this.currentWidgetConfiguration = null
    },
    addWidget() {
      this.$store.dispatch('addWidget', this.currentWidgetConfiguration).then((result) => {
        // JSON.parse(JSON.stringify()) necessary because of object structure
        this.$store.dispatch('writeEvent', {
          name: EventName.CreateWidget,
          type: EventType.Action,
          data: JSON.parse(JSON.stringify(result)),
        })
        this.showSnippet(result.id)
      })
    },
    showSnippet(widgetId) {
      this.$store.dispatch('fetchWidgetSnippet', widgetId).then((snippet) => {
        this.currentSnippet = snippet
        this.showSnippetDialog = true
      })
    },
    onSnippetDialogConfirmed() {
      this.showSnippetDialog = false
    },
    onShowExampleClicked() {
      this.showExampleDialog = true
    },
    onExampleDialogConfirmed() {
      this.showExampleDialog = false
    },
    onEditWidgetClicked(widgetId) {
      this.currentWidgetConfiguration = this.widgets.find(widget => widget.id === widgetId)
      this.showPositionDialog = true
    },
  },
}
</script>

<style scoped>

  .add-widget-button {
    margin-bottom: 30px;
  }

</style>
