<template>
  <div>
    <md-card class="widget-card md-layout md-alignment-left">
      <p class="md-layout-item md-size-100"><b>{{getTitle}}</b></p>
      <p class="md-layout-item md-size-100">{{getPosition}}</p>
      <div class="md-layout-item md-size-100 md-layout">
        <p class="md-layout-item">{{getColor}}</p>
        <div :class="colorDisplayClass"></div>
      </div>
      <div class="md-layout-item md-size-100 md-layout md-alignment-left">
        <md-button class="md-layout-item md-small-size-100 md-raised"
                   @click="onShowCodeClicked">
          {{$t('settings.widget.showSnippet')}}
        </md-button>
        <md-button class="md-layout-item md-small-size-100 md-raised"
                   @click="onEditWidgetClicked">
          {{$t('message.edit')}}
        </md-button>
        <delete-button class="md-layout-item md-small-size-100"
                       @click="onDeleteWidgetClicked">
          {{$t('message.delete')}}
        </delete-button>
      </div>
    </md-card>
    <md-dialog-confirm
      :md-active.sync="showConformationDialog"
      :md-content="confirmationMessage"
      :md-confirm-text="$t('message.yes')"
      :md-cancel-text="$t('message.no')"
      @md-confirm="onConfirm"/>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import DeleteButton from '../../../UIComponents/Buttons/DeleteButton.vue'
import { EventName, EventType } from '../../../store/modules/event'

export default {
  name: 'WidgetItem',
  components: { DeleteButton },
  props: {
    widget: {
      type: Object,
    },
  },
  data() {
    return {
      showConformationDialog: false,
    }
  },
  computed: {
    ...mapGetters(['getLocationById', 'getWidgetPositionById']),
    getTitle() {
      return this.getLocationById(this.widget.locationId).name
    },
    getPosition() {
      const position = this.$t(this.getWidgetPositionById(this.widget.position).description)
      return this.$t('settings.widget.positionText', { position })
    },
    getColor() {
      return this.$t('settings.widget.colorText', { color: this.widget.color })
    },
    colorDisplayClass() {
      return `item-${this.widget.id} color-display`
    },
    confirmationMessage() {
      return this.$t('settings.widget.delete', { location: this.getTitle })
    },
  },
  methods: {
    onShowCodeClicked() {
      this.$emit('show-snippet', this.widget.id)
    },
    onDeleteWidgetClicked() {
      this.showConformationDialog = true
    },
    onEditWidgetClicked() {
      this.$emit('edit-widget', this.widget.id)
    },
    onConfirm() {
      this.$store.dispatch('deleteWidget', this.widget).then(() => {
        // JSON.parse(JSON.stringify()) necessary because of object structure
        this.$store.dispatch('writeEvent', {
          name: EventName.DeleteWidget,
          type: EventType.Action,
          data: JSON.parse(JSON.stringify(this.widget)),
        })
      })
    },
    setColor() {
      $(`.item-${this.widget.id}`).css('background-color', this.widget.color)
    },
  },
  mounted() {
    this.setColor()
  },
  updated() {
    this.setColor()
  },
}
</script>

<style scoped>

  .widget-card {
    padding: 10px;
    margin-bottom: 10px;
    overflow: hidden;
  }

  .color-display {
    height: 25px !important;
    width: 25px !important;
    border: black 1px solid;
  }

</style>
