<template>
    <md-card-actions class="md-layout md-alignment-bottom-center spanned-actions">
        <span class="md-layout md-layout-item md-alignment-bottom-center md-size-95">
            <slot/>
        </span>
    </md-card-actions>
</template>

<script>
export default {
  name: 'SpannedActions',
}
</script>

<style scoped lang="scss">
    @import "src/assets/sass/mixins";

    span{
        @include media-smaller('small') {
            position: absolute;
            bottom: 0;
            margin-bottom: 8px;
        }
    }
</style>
