<template>
    <div class="md-layout md-alignment-top-center">
        <md-card class="md-layout-item md-size-80 md-small-size-100">
            <md-card-header class="md-layout md-alignment-top-center">
                <h1 class="md-layout-item md-size-65 md-small-size-100">
                    {{$t('onboarding.start.title')}}
                </h1>
            </md-card-header>
            <md-card-content>
                <p>
                    {{$t('onboarding.start.welcome')}}
                    <br/><br/>
                    {{$t('onboarding.start.firstStep')}}
                    <br/><br/>
                  {{$t('onboarding.start.connect')}}
                </p>

                <p class="agb">{{$t('onboarding.start.confirmation1')}}
                    <router-link to="/terms-of-service">
                        <b>{{$t('terms.tos')}}</b>
                    </router-link>
                  {{$t('onboarding.start.confirmation2')}}
                </p>
            </md-card-content>
            <spanned-actions>
                <action-button class="md-layout-item md-size-35 md-small-size-100" @click="onButtonClicked">{{$t('onboarding.start.button')}}</action-button>
            </spanned-actions>
        </md-card>
    </div>
</template>

<script>
import ActionButton from 'src/components/UIComponents/Buttons/ActionButton'
import SpannedActions from '../../UIComponents/Dialogs/CardComponents/SpannedActions'

export default {
  name: 'OnboardingWelcome',
  components: { SpannedActions, ActionButton },
  methods: {
    onButtonClicked() {
      this.$emit('continue')
    },
  },
}
</script>

<style scoped>

    .agb {
        margin-top: 100px;
    }

    h1, p {
        text-align: center;
    }
    h1 {
        margin: 0 0 20px;
        font-size: 2.8em;
    }

</style>
