<template>
    <div class="md-layout md-alignment-top-center">
        <md-card class="md-layout-item md-size-80 md-small-size-100">
            <md-card-header class="md-layout md-alignment-top-center">
                <h1 class="md-layout-item md-size-65 md-small-size-100">
                    {{hasTempRepresentations ? $t('onboarding.connector.morePlatforms') : $t('onboarding.connector.choosePlatform')}}
                </h1>
                <p class="md-layout-item md-size-65 md-small-size-100">
                    {{hasTempRepresentations ?
                    $t('onboarding.connector.addPlatform', { location: tempLocation.name}) : $t('onboarding.connector.addLocation')}}
                </p>
            </md-card-header>
            <md-card-content class="md-layout md-alignment-top-center">
                <location-connector class="md-layout-item md-size-50 md-small-size-75 md-xsmall-size-100"
                                    @continue="onContinue"
                                    ref="connector"/>
            </md-card-content>
        </md-card>
    </div>
</template>

<script>
import LocationConnector from '@/components/Dashboard/Views/Representation/LocationConnector'
import { mapGetters } from 'vuex'

export default {
  name: 'OnboardingConnector',
  components: { LocationConnector },
  computed: {
    ...mapGetters({
      tempLocation: 'getTemporaryLocation',
    }),
    hasTempRepresentations() {
      return this.tempLocation ? this.tempLocation.representations ? this.tempLocation.representations.length > 0 : false : false
    },
  },
  methods: {
    onContinue() {
      this.$emit('continue')
    },
    saveLocationAndRepresentations() {
      this.$refs.connector.saveLocationAndRepresentations()
    },
  },
}
</script>

<style scoped>
    h1, p {
        text-align: center;
    }
    h1 {
        margin: 0 0 20px;
        font-size: 2.8em;
    }
</style>
