<template>
    <div class="md-layout md-alignment-top-center">
        <md-card class="md-layout-item md-size-80 md-small-size-100">
            <md-card-header class="md-layout md-alignment-top-center">
                <h1 class="md-layout-item md-size-65 md-small-size-100">
                    {{$t('onboarding.account.title')}}
                </h1>
            </md-card-header>
            <md-card-content>
                <p v-if="hasOnlyFacebookProvider">{{$t('onboarding.account.noFacebook')}}</p>
                <p>{{$t('onboarding.account.credentials')}}</p>
                <registration-dialog ref="dialog" :sending="isSending" @enterkey="onConnect"/>
            </md-card-content>

            <progress-bar v-if="isSending" />

            <spanned-actions>
                <md-button
                    class="md-layout-item md-size-35 md-small-size-100 md-raised"
                    @click="onConnect"
                    :disabled="isSending">{{$t('onboarding.account.register')}}</md-button>
            </spanned-actions>
        </md-card>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import ProgressBar from 'src/components/GeneralViews/ProgressBar'
import { isPathOf } from 'src/routes/router'
import SpannedActions from '../../UIComponents/Dialogs/CardComponents/SpannedActions'
import RegistrationDialog from '../../UIComponents/Dialogs/RegistrationDialog'

export default {
  name: 'OnboardingEmail',
  components: { SpannedActions, RegistrationDialog, ProgressBar },
  data() {
    return {
      isSending: false,
    }
  },
  computed: {
    ...mapGetters(['isLoggedIn', 'hasOnlyFacebookProvider']),
    isOnboardingPath() {
      return isPathOf(this.$route.path, 'onboarding')
    },
  },
  methods: {
    onConnect() {
      if (this.getDialog().isValidInput()) this.connectUser()
    },
    connectUser() {
      this.isSending = true
      const input = this.getDialog().getInput()
      if (this.isLoggedIn) {
        this.$store.dispatch('linkWithEmail', input).then(() => {
          this.connectionFinished()
        }).catch((error) => {
          this.isSending = false
          console.error(error)
          this.$store.dispatch('showError', error)
        })
      } else {
        this.$store.dispatch('register', {
          email: input.email,
          password: input.password,
        }).then(() => {
          this.connectionFinished()
        }).catch((error) => {
          this.isSending = false
          this.$store.dispatch('showError', { message: error.message })
        })
      }
    },
    connectionFinished() {
      if (this.isOnboardingPath) {
        this.$emit('continue')
      } else {
        this.$store.dispatch('unlinkProvider', { providerId: 'facebook.com' })
        this.$router.push('/app')
      }
    },
    getDialog() {
      return this.$refs.dialog
    },
  },
}
</script>

<style scoped lang="scss">
    @import "src/assets/sass/variables";
    @import "src/assets/sass/mixins";

    .md-raised {
        background-color: $review-primary-color !important;
        color: white !important;
    }

    .spanned-actions .md-button {
        @include media-smaller('small') {
            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }
    }

    h1, p {
        text-align: center;
    }
    h1 {
        margin: 0 0 20px;
        font-size: 2.8em;
    }
</style>
