<template>
    <div class="onboarding">
        <landing-page-header :show-default-buttons="false"/>
        <div id="onboarding-content" class="md-layout">
            <md-steppers md-sync-route :md-active-step.sync="active" md-linear md-alternative :md-vertical="isSmallScreen">
                <md-step id="start" to="/onboarding/start" :md-label="$t('onboarding.steps.start')" :md-editable="false" :md-done.sync="start">
                    <onboarding-welcome @continue="setFinished('start', 'connector')"/>
                </md-step>

                <md-step id="connector" to="/onboarding/connector" :md-label="$t('onboarding.steps.location')" :md-editable="false" :md-done.sync="connector">
                    <onboarding-connector @continue="setFinished('connector', 'register')" ref="connector"/>
                </md-step>

                <md-step id="register" to="/onboarding/register" :md-label="$t('onboarding.steps.account')" :md-editable="false" :md-done.sync="register">
                    <onboarding-email @continue="setFinished('register', 'payment')"/>
                </md-step>

                <md-step id="payment" to="/onboarding/payment" :md-label="$t('onboarding.steps.subscription')" :md-editable="false" :md-done.sync="payment">
                    <onboarding-payment :trial="true" @continue="setFinished('payment')"/>
                </md-step>
            </md-steppers>
        </div>
    </div>
</template>

<script>
import OnboardingEmail from './OnboardingEmail.vue'
import OnboardingPayment from './OnboardingPayment.vue'
import OnboardingConnector from './OnboardingConnector.vue'
import OnboardingWelcome from './OnboardingWelcome.vue'
import LandingPageHeader from '../LandingPageHeader.vue'

export default {
  name: 'Onboarding',
  components: {
    OnboardingConnector, OnboardingEmail, OnboardingPayment, LandingPageHeader, OnboardingWelcome,
  },
  data: () => ({
    active: 'start',
    start: false,
    connector: false,
    register: false,
    payment: false,
  }),
  methods: {
    setFinished(finished, next) {
      this[finished] = true
      if (finished === 'register') this.$refs.connector.saveLocationAndRepresentations()
      if (finished === 'payment') this.onboardingFinished()

      if (next) this.$router.replace(`/onboarding/${next}`)
    },
    onboardingFinished() {
      this.$router.push('/registration-done')
    },
  },
  computed: {
    isSmallScreen() {
      return window.innerWidth < 945
    },
  },
  mounted() {
    const offset = $('nav').height()
    $('#onboarding-content').css('margin-top', offset)
  },
  destroyed() {
    this.$store.commit('clearTemporaryLocation')
  },
}
</script>

<style scoped lang="scss">
    @import "../../../assets/sass/variables.scss";

    .onboarding {
        overflow-x: hidden;
        overflow-y: auto;
        height: 100vh;
        background-color: $review-light-color;
    }

    #onboarding-content {
    }

    .md-stepper {
        background-color: $review-light-color;
    }
</style>
