<template>
    <div class="md-layout md-alignment-top-center">
        <md-card class="md-layout-item md-size-80 md-small-size-100">
            <md-card-content>
                <payment :trial="true" @continue="onContinue"/>
            </md-card-content>
        </md-card>
    </div>
</template>

<script>
import Payment from 'src/components/GeneralViews/Payment'

export default {
  name: 'OnboardingPayment',
  components: { Payment },
  methods: {
    onContinue() {
      this.$emit('continue')
    },
  },
}
</script>

<style scoped>

    h1, p {
        text-align: center;
    }
    h1 {
        margin: 0 0 20px;
        font-size: 2.8em;
    }

</style>
