<template>
    <md-icon :md-src="platformIcon" :class="`md-icon icon-${platformObject.name} ${connectedClass}`"/>
</template>

<script>
import { mapGetters } from 'vuex'
import IconResolver from '../../helper/IconResolver'

export default {
  name: 'PlatformIcon',
  props: {
    platformName: {
      type: String,
      default() {
        return ''
      },
    },
    platform: {
      type: Object,
    },
    connected: {
      type: Boolean,
      default() {
        return true
      },
    },
  },
  computed: {
    ...mapGetters([
      'getAllPlatforms',
    ]),
    platformObject() {
      if (this.platform) return this.platform

      return this.getAllPlatforms.find(platform => platform.name === this.platformName)
    },
    connectedClass() {
      return this.connected ? 'connected' : 'not-connected'
    },
    platformIcon() {
      return IconResolver.getPlatformIcon(this.platformObject)
    },
  },
}
</script>

<style lang="scss">
  @import '../../../assets/sass/variables.scss';

    .md-icon.md-theme-default.md-icon-image.not-connected svg {
        fill: #ddd !important;
    }

    .md-icon.md-theme-default.md-icon-image.connected.icon-facebook svg {
        fill: $facebookColor !important;
    }

    .md-icon.md-theme-default.md-icon-image.connected.icon-instagram svg {
        fill: $instagramColor !important;
    }

    .md-icon.md-theme-default.md-icon-image.connected.icon-yelp svg {
        fill: $yelpColor;
    }

    .md-icon.md-theme-default.md-icon-image.connected.icon-google svg {
        fill: $googleColor !important;
    }

    .md-icon.md-theme-default.md-icon-image.connected.icon-tripadvisor svg {
        fill: $tripadvisorColor !important;
    }

    .md-icon.md-theme-default.md-icon-image.connected.icon-opentable svg {
        fill: $opentableColor !important;
    }
</style>
