<template>
    <platform-icon :platform="getPlatformForRepresentation(this.representation)"
                   :connected="true"/>
</template>

<script>
import LocationMixin from 'src/components/mixin/LocationMixin'
import PlatformIcon from './PlatformIcon'

export default {
  name: 'RepresentationIcon',
  mixins: [LocationMixin],
  components: {
    PlatformIcon,
  },
  props: {
    representation: {
      type: Object,
    },
  },
}
</script>

<style scoped>

</style>
