<template>
    <div>
        <md-icon v-if="success">done</md-icon>
    </div>
</template>

<script>
export default {
  name: 'SuccessIcon',
  props: {
    success: {
      type: Boolean,
      default() {
        return false
      },
    },
  },
}
</script>

<style scoped lang="scss">
    @import "../../../assets/sass/variables";

    .md-icon {
        color: $starGreenColor !important;
    }
</style>
