<template>
    <div>
        <single-input-dialog
            :md-active.sync="showAddPrompt"
            :title="$t('location.dialog.title')"
            :input-placeholder="$t('location.dialog.placeholder')"
            :input-minlength=3
            :content="addLocationText"
            :cancel-text="$t('message.cancel')"
            :confirm-text="addLocationOk"
            @on-confirm="onAddLocation"
        />

        <md-button
            v-if="locationsAvailable"
            class="md-icon-button floating-button"
            @click="showAddPrompt = true"
            data-cy="add-button"
            data-v-step="3">
            <md-icon class="md-size-x add-icon">add</md-icon>
        </md-button>
        <div class="location-layout">
            <div class="md-layout md-gutter md-alignment-top-center">
                <div class="md-layout-item md-size-90 md-layout" id="location-grid">
                    <location-card class="md-layout-item md-small-size-100 md-size-30 location-tile"
                                   v-for="(location, index) in locations"
                                   :data-v-step="index === 0 ? '2' : false"
                                   :key="location.id"
                                   :location="location"
                                   :review-average="reviewAverageForLocationById(location.id)"
                                   :unseen-count="unseenCountForLocationById(location.id)"
                                   :total-count="totalCountForLocationById(location.id)"
                                   :rating-trend="trendForLocationById(location.id)"
                                   :last-review="lastReview(location.id)"/>
                </div>
            </div>
            <md-empty-state
                v-if="!locationsAvailable"
                :md-label="$t('location.noLocations')"
                :md-description="$t('location.addLocation')"
                class="empty-state"
                data-cy="empty-state">
                <md-button class="md-icon-button md-raised floating-button-emptystate" @click="showAddPrompt = true">
                    <md-icon class="md-size-x add-icon">add</md-icon>
                </md-button>
            </md-empty-state>
        </div>
        <location-intro-tour/>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import StatisticsHelper from '../../../helper/StatisticsHelper'
import DateHelper from '../../../helper/DateHelper'
import { EventName, EventType } from '../../../store/modules/event'
import LocationCard from './LocationGridCard.vue'
import LocationIntroTour from './LocationIntroTour.vue'
import SingleInputDialog from '../../../GeneralViews/SingleInputDialog.vue'

export default {
  data: () => ({
    showAddPrompt: false,
  }),
  components: {
    SingleInputDialog,
    LocationIntroTour,
    LocationCard,
  },
  computed: {
    ...mapGetters({
      locations: 'getLocationsForCurrentUser',
      reviews: 'getReviewsForCurrentUser',
    }),
    locationsAvailable() {
      return this.locations.length > 0
    },
    subscriptionUpgradeNecessary() {
      return this.locations.length > 0
    },
    addLocationText() {
      if (this.subscriptionUpgradeNecessary) {
        const locations = this.$tc('location.dialog.locations', this.locations.length)
        return this.$t('location.dialog.text', { locations, cost: this.newSubscriptionPrice })
      }
      return ''
    },
    newSubscriptionPrice() {
      return `${(this.locations.length + 1) * 10.0},00€`
    },
    addLocationOk() {
      return this.subscriptionUpgradeNecessary
        ? this.$t('location.dialog.agree')
        : this.$t('message.finish')
    },
  },
  created() {
    this.$store.commit('setHeadline', { text: this.$t('menu.locations') })
    this.$store.dispatch('writeEvent', { name: EventName.Location, type: EventType.Visit })
  },
  methods: {
    onAddLocation(data) {
      this.$store.dispatch('writeEvent', { name: EventName.CreateLocationStart, type: EventType.Action, data })
      this.$store.dispatch('createLocation', { name: data }).then((locationData) => {
        this.$router.push(`/app/connector/${locationData.id}`)
      })
    },
    reviewAverageForLocationById(id) {
      const locationReviews = this.reviews.filter(review => review.locationId === id)
      return StatisticsHelper.getAverage(locationReviews)
    },
    unseenCountForLocationById(id) {
      const locationReviews = this.reviews.filter(review => review.locationId === id)
      const unseenReviews = locationReviews.filter(review => !review.state
        || review.state === 'unseen'
        || review.state === 'changed')
      return unseenReviews.length
    },
    totalCountForLocationById(id) {
      const locationReviews = this.reviews.filter(review => review.locationId === id)
      return locationReviews.length
    },
    oldAverageForLocationById(id) {
      return this.locations.filter(location => location.id === id)[0].avgRatingOld
    },
    trendForLocationById(id) {
      const currentAverage = this.reviewAverageForLocationById(id)
      const oldAverage = this.oldAverageForLocationById(id)
      if (currentAverage && oldAverage) {
        const diff = currentAverage - oldAverage
        // eslint-disable-next-line no-restricted-globals
        if (isNaN(diff)) {
          return '---'
        }
        return diff.toFixed(2)
      }
      return '---'
    },
    lastReview(locationId) {
      const reviewListAll = this.reviews
        .filter(review => review.locationId === locationId)
        .sort((review1, review2) => {
          const date2 = DateHelper.getDateFromTimestamp(review2.created)
          const date1 = DateHelper.getDateFromTimestamp(review1.created)
          return date2 - date1
        })
      const reviewListUnseen = reviewListAll.filter(review => !review.state
        || review.state === 'unseen'
        || review.state === 'changed')

      const noText = this.$t('review.card.noText')
      if (reviewListUnseen.length > 0) {
        const unseenReviewWithText = reviewListUnseen.find(review => review.text !== noText)
        return unseenReviewWithText || reviewListUnseen[0]
      }
      if (reviewListAll.length > 0) {
        const reviewWithText = reviewListAll.find(review => review.text !== noText)
        return reviewWithText || reviewListAll[0]
      }
      return null
    },
  },
}
</script>

<style scoped lang="scss">
    @import "../../../../assets/sass/variables";

    $xsmall: 600px;
    $bigger-than-xsmall: 601px;
    //Xsmall devices
    @mixin xsmall-screen {
        @media (max-width: #{$xsmall}) {
            @content;
        }
    }

    @mixin bigger-than-xsmall-screen {
        @media (min-width: #{$bigger-than-xsmall}) {
            @content;
        }
    }

    #location-grid {
        .location-tile {
            margin-right: 30px;
            margin-top: 20px;
            margin-bottom: 30px;
            @include xsmall-screen {
                margin-left: 0;
            }
            @include bigger-than-xsmall-screen {
                &:nth-child(2n + 1) {
                    margin-left: 0;
                }
            }
        }
    }

    .floating-button {
        background: $review-primary-color !important;
        position: absolute;
        bottom: 40px;
        right: 40px;
        z-index: 100;
    }

    .add-icon {
        color: white !important;
    }

    .floating-button-emptystate {
        background: $review-primary-color !important;
        position: center;
    }

    .empty-state {
        top: 100px;
    }

    .location-layout {
        height: $content-height;
        overflow-x: hidden;
        overflow-y: scroll;
    }
</style>
