<template>
    <router-link tag="div" :to="{ path: 'connector/'+location.id}">
        <platform-icon :platform="platform" :connected="active"/>
    </router-link>
</template>

<script>
import PlatformIcon from '../../../UIComponents/Icons/PlatformIcon.vue'
import IconMixin from '../../../mixin/IconMixin'

export default {
  name: 'LocationPlatformItem',
  components: { PlatformIcon },
  props: ['location', 'platform', 'active'],
  mixin: [IconMixin],
}

</script>

<style lang="scss">
    .md-icon.md-theme-default.md-icon-image {
        margin: 5px;
    }
</style>
