<template>
    <md-card class="location-card" md-with-hover>
        <router-link tag="div" :to="`reviews/${location.id}`" data-cy="location-card">
            <md-card-media-cover>
                <md-card-media md-ratio="16:9">
                </md-card-media>
                <md-card-area>
                    <md-card-header>
                    <span class="md-layout">
                        <div class="md-layout-item md-size-90 md-title"
                             data-cy="location-card-title">{{location.name}}</div>
                    </span>
                    </md-card-header>
                    <div class="card-infos">
                        <location-review-trend
                            :ratingTrend="ratingTrend"
                            :reviewAverage="reviewAverage"
                            :totalCount="totalCount"
                            :unseenCount="unseenCount">
                        </location-review-trend>
                        <hr class="md-small-hide"/>
                        <location-preview-text
                            :reviewerName="reviewerName"
                            :lastReview="lastReview"
                            :reviewDate="reviewDate">
                        </location-preview-text>
                    </div>
                </md-card-area>
            </md-card-media-cover>
        </router-link>
        <md-card-actions class="desktop-actions">
            <md-button :to="`connector/${location.id}`"
                       class="md-layout-item md-primary"
                       align="center"
                       data-v-step="1"
                       data-cy="location-action">
                {{hasLocationPresentations
              ? $t('location.connectPlatforms')
              : $t('location.connectPlatform')}}
            </md-button>
            <md-button :to="`reviews/${location.id}`"
                       v-if="hasLocationPresentations"
                       class="to-reviews-button md-raised md-primary md-layout-item">{{$t('location.toReviews')}}</md-button>
        </md-card-actions>
        <md-card-actions class="md-layout mobile-actions">
            <md-button :to="`connector/${location.id}`"
                       class="md-layout-item md-size-100 md-primary"
                       align="center"
                       data-v-step="1"
                       data-cy="representation-text">
                {{hasLocationPresentations
              ? $t('location.connectPlatforms')
              : $t('location.connectPlatform')}}
            </md-button>
            <md-button :to="`reviews/${location.id}`"
                       v-if="hasLocationPresentations"
                       class="to-reviews-button md-raised md-primary md-size-100 md-layout-item">
              {{$t('location.toReviews')}}
            </md-button>
        </md-card-actions>
    </md-card>
</template>

<script>
import { mapGetters } from 'vuex'
import LocationMixin from '../../../mixin/LocationMixin'
import DateHelper from '../../../helper/DateHelper'
import LocationPreviewText from './LocationPreviewText.vue'
import LocationReviewTrend from './LocationReviewTrend.vue'
import ReviewHelper from '../../../helper/ReviewHelper'
import { capitalize } from '../../../helper/StringHelper'
import IconMixin from '../../../mixin/IconMixin'

export default {
  name: 'LocationGridCard',
  components: {
    LocationReviewTrend,
    LocationPreviewText,
  },
  props: ['location', 'reviewAverage', 'unseenCount', 'totalCount', 'ratingTrend', 'lastReview'],
  computed: {
    ...mapGetters({
      platforms: 'getAllPlatforms',
    }),
    reviewerName() {
      if (!this.lastReview) return null
      const reviewerName = ReviewHelper.getReviewerName(this.lastReview)
      return reviewerName || this.$t('review.card.unknown', { platform: capitalize(this.lastReview.platform) })
    },
    reviewDate() {
      return this.lastReview ? DateHelper.getDateFromTimestamp(this.lastReview.created).toLocaleDateString() : ''
    },
  },
  mixins: [LocationMixin, IconMixin],
  mounted() {
    $('.location-card .md-card-media-cover').hover(
      (event) => {
        $(event.currentTarget).parent().parent().find('.to-reviews-button')
          .addClass('hovered')
      },
      (event) => {
        $(event.currentTarget).parent().parent().find('.to-reviews-button')
          .removeClass('hovered')
      },
    )
  },
}
</script>

<style scoped lang="scss">
    @import "../../../../assets/sass/variables";

    .invisible-step {
        width: 50%;
        position: absolute;
        height: 8px;
        background-color: transparent;
        right: 0;
        bottom: 4px;
    }

    .md-card-actions .md-button:not(.md-raised){
        color: black !important;
    }

    .md-layout {
        color: black;
        padding: 0 !important;
    }

    .md-card-media-cover .md-card-area {
        bottom: unset;
        top: 0;
    }

    .md-card-media {
        background-color: $gridCardBackgroundColor;
    }

    .md-card {
        cursor: pointer;
        overflow-x: hidden;
    }

    .card-infos {
        padding-left: 16px;
        padding-right: 10px;
    }

    hr {
        border-color: $gridcardBorderColor;
        margin: 0 !important;
        margin-bottom: 5px !important;
    }

    .md-card-header {
        padding-bottom: 0 !important;
    }

    .location-card .to-reviews-button {
        background-color: $review-accent-color !important;
        &.hovered {
            background-color: $review-primary-color !important;
        }
    }

    @include small-screen {
        .desktop-actions {
            display: none;
        }
        .mobile-actions {
            display: flex;
        }
    }

    @include bigger-than-small-screen {
        .desktop-actions {
            display: flex;
        }
        .mobile-actions {
            display: none;
        }
    }
</style>
