<template>
    <v-tour :name="tourName"
            :steps="steps"
            :callbacks="callbacks"
            :options="options"/>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'LocationIntroTour',
  data() {
    return {
      tourName: 'LocationIntroTour',
      options: {
        startTimeout: 500,
        labels: {
          buttonSkip: this.$t('message.skip'),
          buttonPrevious: this.$t('message.back'),
          buttonNext: this.$t('message.goOn'),
          buttonStop: this.$t('message.finish'),
        },
      },
      steps: [
        {
          target: '[data-v-step="0"]',
          content: this.$t('walkthrough.location.welcome'),
        },
        {
          target: '[data-v-step="1"]',
          content: this.$t('walkthrough.location.connect'),
          params: {
            placement: 'right',
            enableScrolling: false,
            modifiers: {
              preventOverflow: {
                boundariesElement: document.getElementsByTagName('body')[0],
              },
            },
          },
        },
        {
          target: '[data-v-step="2"]',
          content: this.$t('walkthrough.location.reviews'),
          params: {
            placement: 'right',
          },
        },
        {
          target: '[data-v-step="3"]',
          content: this.$t('walkthrough.location.location'),
          params: {
            placement: 'left',
          },
        },
        {
          target: '[data-v-step="4"]',
          content: this.$t('walkthrough.location.menu'),
        },
      ],
      callbacks: {
        onStop: this.onHasSeenIntroTour,
      },
    }
  },
  computed: {
    ...mapGetters([
      'hasSeenLocationIntroduction',
    ]),
    shouldShowIntroTour() {
      return !this.hasSeenLocationIntroduction
    },
  },
  methods: {
    onHasSeenIntroTour() {
      this.$store.commit('setHasSeenLocationIntroduction', true)
    },
    startIntroTour() {
      this.$tours[this.tourName].start()
    },
  },
  mounted() {
    if (this.shouldShowIntroTour) this.startIntroTour()
  },
}
</script>

<style scoped>

</style>
