<template>
    <div class=" md-layout md-small-hide" data-cy="last-review-text">
        <div class="review-preview-text" v-if="!!lastReview && !! lastReview.text">
            <b>{{reviewerName}}</b> {{$t('location.wroteAt')}} {{reviewDate}}
            <br/>
            <div v-if="!!lastReview.text" class="truncate">
                {{lastReview.text}}
            </div>
        </div>
        <div v-else>
            {{$t('location.noReviews')}}
        </div>
    </div>
</template>

<script>
export default {
  name: 'LocationPreviewText',
  props: {
    lastReview: {
      text: String,
    },
    reviewerName: String,
    reviewDate: String,
  },
}
</script>

<style scoped lang="scss">
    .review-preview-text {
        width: 100%;
        font-size: 14px;
    }

    .truncate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
