<template>
    <div class="md-layout">
        <div class="md-layout-item md-size-50" data-cy="reviews-text">
            <p>{{$t('location.total')}}: {{totalCount}}<br/>{{$t('terms.unread')}}: {{unseenCount}}</p>
        </div>
        <div class="md-layout md-layout-item md-size-50">
            <div class="md-layout-item md-size-100" data-cy="review-average-text">
                <md-icon>star</md-icon>
                {{typeof reviewAverage === 'number' ? reviewAverage : reviewAverage}}
            </div>
            <div class="md-layout-item md-size-50"
                :title="$t('review.card.trend')">
                <md-icon v-if="ratingTrend > 0">trending_up</md-icon>
                <md-icon v-else-if="ratingTrend < 0">trending_down</md-icon>
                <md-icon v-else-if="ratingTrend === 0">trending_flat</md-icon>
                <md-icon v-else>trending_up</md-icon>
                {{typeof ratingTrend === 'number' ? ratingTrend + '%' : ratingTrend}}
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'LocationReviewTrend',
  props: {
    ratingTrend: undefined,
    reviewAverage: undefined,
    totalCount: Number,
    unseenCount: Number,
  },
}
</script>

<style scoped lang="scss">
    .star {
        width: 84px;
    }
</style>
