<template>
  <div>
    <h3>{{userId}}</h3>
    <direct-task-card
      v-for="task in directTasksSorted"
      :key="task.id"
      :task="task"
      :quick-replies="quickRepliesForUser"
    />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import DirectTaskCard from './DirectTaskCard.vue'
import DateHelper from '../../../helper/DateHelper'

export default {
  name: 'DirectTasks',
  components: { DirectTaskCard },
  props: ['directTasks', 'userId'],
  computed: {
    ...mapGetters([
      'adminQuickReplies',
    ]),
    directTasksSorted() {
      let tasks = [...this.directTasks]
      tasks = tasks.sort((left, right) => DateHelper.getDateFromTimestamp(right.created) - DateHelper.getDateFromTimestamp(left.created))
      return tasks
    },
    quickRepliesForUser() {
      return this.adminQuickReplies[this.userId]
    },
  },
  created() {
    this.$store.dispatch('fetchQuickRepliesForUser', { userId: this.userId })
  },
}
</script>

<style scoped>

</style>
