<template>
  <div>
    <md-card class="md-layout">
      <div class="header md-layout-item md-size-100 md-layout">
        <p class="md-layout-item md-size-100 test"><md-icon>{{stateIcon}}</md-icon><b>{{stateDisplay}}</b></p>
        <md-button v-if="buttonAvailable" class="md-layout-item md-size-30 md-raised" @click="buttonClicked">{{buttonCaption}}</md-button>
        <md-button v-if="reminderAvailable" class="md-layout-item md-size-30 md-raised" @click="reminderButtonClicked">Remind User</md-button>
        <md-button class="md-layout-item md-size-30" @click="noReplyButtonClicked">No reply</md-button>
      </div>
      <div class="body md-layout-item md-size-100">
        Location: {{task.locationName}}<br>
        Platform: {{platform}}<br>
        Task created: {{createdDate}}<br>
        Task replied: {{repliedDate}}<br><br>
        Details:
      </div>
      <review-card :review="task.review"/>
    </md-card>

    <template-dialog v-if="showTemplateDialog"
                     :active="showTemplateDialog"
                     :snippet="notificationText"
                     @confirmed="onTemplateDialogConfirmed"/>

    <template-dialog v-if="showReminderDialog"
                     :active="showReminderDialog"
                     :snippet="reminderText"
                     @confirmed="onReminderDialogConfirmed"/>

    <template-dialog v-if="showConfirmationDialog"
                     :active="showConfirmationDialog"
                     :snippet="confirmationText"
                     @confirmed="onConfirmationDialogConfirmed"/>

    <template-dialog v-if="showUrlDialog"
                     :active="showUrlDialog"
                     :snippet="replyUrl"
                     @confirmed="onReplyDialogConfirmed"/>

    <reply-dialog v-if="showReplyDialog"
                  :active="showReplyDialog"
                  :task="task"
                  :choices="replyChoices"
                  @confirmed="onReplyDialogConfirmed"/>
  </div>
</template>

<script>
import DateHelper from '../../../helper/DateHelper'
import { capitalize } from '../../../helper/StringHelper'
import ReviewHelper from '../../../helper/ReviewHelper'
import { TaskEnum } from '../../../helper/constants'
import ReviewCard from '../ReviewCard.vue'
import TemplateDialog from './TemplateDialog.vue'
import ReplyDialog from './ReplyDialog.vue'
import { findFittingReply } from '../../../helper/QuickReplyHelper'

export default {
  name: 'DirectTaskCard',
  components: { ReplyDialog, TemplateDialog, ReviewCard },
  props: ['task', 'quickReplies'],
  data() {
    return {
      showTemplateDialog: false,
      showReminderDialog: false,
      showReplyDialog: false,
      showUrlDialog: false,
      showConfirmationDialog: false,
    }
  },
  computed: {
    stateDisplay() {
      switch (this.task.state) {
        case TaskEnum.new: return 'New'
        case TaskEnum.user_notified: return 'User is notified'
        case TaskEnum.reply_received: return 'User sent reply'
        case TaskEnum.reply_sent: return 'Review is replied'
        case TaskEnum.reply_confirmation: return 'Confirmation is sent'
        case TaskEnum.no_reply: return 'Ignored'
        default: return 'New'
      }
    },
    stateIcon() {
      switch (this.task.state) {
        case TaskEnum.new: return 'fiber_new'
        case TaskEnum.user_notified: return 'warning'
        case TaskEnum.reply_received: return 'warning'
        case TaskEnum.reply_sent: return 'send'
        case TaskEnum.reply_confirmation: return 'check'
        case TaskEnum.no_reply: return 'check'
        default: return 'fiber_new'
      }
    },
    reminderAvailable() {
      return (this.task.state === TaskEnum.user_notified)
    },
    buttonAvailable() {
      return (this.task.state !== TaskEnum.reply_confirmation)
    },
    date() {
      return DateHelper.getFormattedDateForReview(this.task.review)
    },
    createdDate() {
      return DateHelper.getDateFromTimestamp(this.task.created).toLocaleString()
    },
    repliedDate() {
      return this.task.replied ? DateHelper.getDateFromTimestamp(this.task.replied).toLocaleString() : '---'
    },
    platform() {
      return capitalize(this.task.review.platform)
    },
    reviewerName() {
      const reviewerName = ReviewHelper.getReviewerName(this.task.review)
      return reviewerName || this.$t('review.card.unknown', { platform: capitalize(this.review.platform) })
    },
    replyUrl() {
      if (!!this.task.review.url && this.task.review.url.length > 0) {
        return this.task.review.url
      }
      return 'No Url available'
    },
    rating() {
      if (this.task.review.ratingType === 'positive') {
        return '*Positive Empfehlung*'
      } if (this.task.review.ratingType === 'negative') {
        return '*Negative Empfehlung*'
      } if (this.task.review.rating) {
        return `*${this.task.review.rating} Stern(e)*`
      }
      return ''
    },
    comment() {
      if (this.task.review.text && this.task.review.text.length > 0) {
        return `${this.task.review.text}.`
      }
      return 'Es wurde kein Kommentar hinterlegt.'
    },
    buttonCaption() {
      switch (this.task.state) {
        case TaskEnum.new: return 'Notify user'
        case TaskEnum.user_notified: return 'Reply to review'
        case TaskEnum.reply_received: return 'Reply to review'
        case TaskEnum.reply_sent: return 'Send confirmation'
        case TaskEnum.reply_confirmation: return 'Job done'
        default: return '!?'
      }
    },
    notificationText() {
      return `Hallo, du hast eine neue Bewertung über ${this.platform} für ${this.task.locationName} erhalten, am *${this.date}*.\n\n${this.rating}\n*${this.reviewerName}*: ${this.comment}\n\n\nMöchtest du darauf antworten? ${this.replyChoicesText}\n\nWenn nicht, dann antworte bitte mit *Nein*.`
    },
    reminderText() {
      return `Hallo, du hast eine unbeantwortete Bewertung über ${this.platform} für ${this.task.locationName} erhalten, am *${this.date}*.\n\n${this.rating}\n*${this.reviewerName}*: ${this.comment}\n\n\nMöchtest du darauf antworten? ${this.replyChoicesText}\n\nWenn nicht, dann antworte bitte mit *Nein*.`
    },
    confirmationText() {
      return 'Danke für deine Antwort! Wir haben deine Wahl schon direkt gepostet.'
    },
    replyChoicesText() {
      if (!this.quickReplyForReview || !this.quickReplyForReview.texts || this.quickReplyForReview.texts.length === 0) {
        return 'Wenn ja ...\n\n Verfasse bitte eine Antwort '
      }
      let choicesText = 'Wenn ja …\n\n'
      this.replyChoices.forEach((text, index) => {
        if (text.length > 0) {
          choicesText += `Antworte mit *${index + 1}* für: ${text}\n\n`
        }
      })
      choicesText += 'Oder verfasse eine eigene Antwort '
      return choicesText
    },
    replyChoices() {
      if (!this.quickReplyForReview || !this.quickReplyForReview.texts || this.quickReplyForReview.texts.length === 0) {
        return []
      }
      return this.quickReplyForReview.texts
    },
    quickReplyForReview() {
      return this.quickReplies ? findFittingReply(this.quickReplies, this.task.review) : null
    },
  },
  methods: {
    buttonClicked() {
      switch (this.task.state) {
        case TaskEnum.new: {
          this.showTemplateDialog = true
          break
        }
        case TaskEnum.user_notified: {
          this.$store.dispatch('updateDirectTaskState', this.task)
          this.openReply()
          break
        }
        case TaskEnum.reply_received: {
          this.openReply()
          break
        }
        case TaskEnum.reply_sent: {
          this.showConfirmationDialog = true
          break
        }
        default: {
          // Do nothing
        }
      }
    },
    openReply() {
      if (this.task.review.platform === 'facebook' || this.task.review.platform === 'instagram' || this.task.review.platform === 'google') {
        this.showReplyDialog = true
      } else {
        this.showUrlDialog = true
      }
    },
    reminderButtonClicked() {
      this.showReminderDialog = true
    },
    noReplyButtonClicked() {
      this.$store.dispatch('dontReplyDirectTask', this.task)
    },
    onTemplateDialogConfirmed() {
      this.showTemplateDialog = false
      this.$store.dispatch('updateDirectTaskState', this.task)
    },
    onReminderDialogConfirmed() {
      this.showReminderDialog = false
    },
    onReplyDialogConfirmed() {
      this.showReplyDialog = false
      this.showUrlDialog = false
      this.$store.dispatch('updateDirectTaskState', this.task)
      this.$store.dispatch('updateDirectTaskRepliedDate', this.task)
      this.showConfirmationDialog = true
    },
    onConfirmationDialogConfirmed() {
      this.showConfirmationDialog = false
      this.$store.dispatch('updateDirectTaskState', this.task)
    },
  },
}
</script>

<style scoped>

  .md-card {
    margin-top: 20px;
  }

  .header {
    background-color: darkgrey;
    padding: 10px;
  }

  .body {
    padding: 10px;
  }

</style>
