<template>
  <md-dialog :md-active.sync="active">
    <md-dialog-title>
      Reply
    </md-dialog-title>
    <md-content class="dialog-content">
      <div v-for="(choice, index) in choices" :key="index + 1">
        <md-radio v-model="selectedChoice" :value="choice">{{choice}}</md-radio>
      </div>
      <md-field :md-clearable="true" class="md-layout-item md-size-100 response-field">
        <md-textarea :placeholder="$t('review.card.answerPlaceholder')" v-model="replyText"></md-textarea>
      </md-field>
    </md-content>
    <md-dialog-actions>
      <md-button class="md-primary" @click="onSendClick">Send</md-button>
    </md-dialog-actions>
  </md-dialog>
</template>

<script>
export default {
  name: 'ReplyDialog',
  data() {
    return {
      replyText: '',
      selectedChoice: null,
    }
  },
  props: {
    active: {
      type: Boolean,
    },
    task: {
      type: Object,
    },
    choices: {
      type: Array,
      default() {
        return []
      },
    },
  },
  methods: {
    onSendClick() {
      this.$store.dispatch('replyOnDirectTask', {
        task: this.task,
        text: this.replyText,
      })
        .then(() => this.$emit('confirmed'))
        .catch(() => alert('Error while reply'))
    },
  },
  watch: {
    selectedChoice(newValue) {
      this.replyText = newValue
    },
  },
}
</script>

<style scoped lang="scss">

  @import "../../../../assets/sass/variables.scss";

  .dialog-content {
    height: 100%;
    padding-left: 25px;
    padding-right: 25px;
    overflow-y: scroll !important;
  }

  .md-dialog {
    flex-flow: row;
  }

  .response-field {
    background: white;
  }

</style>
