<template>
  <md-dialog :md-active.sync="active">
    <md-dialog-title>
      Template
    </md-dialog-title>
    <md-content class="dialog-content">
      <p class="snippet" v-html="cleanedSnippet"></p>
    </md-content>
    <md-dialog-actions>
      <md-switch :model="whatsappSnippet" class="md-layout-item md-primary" @change="onChangeSnippet">WhatsApp/Email</md-switch>
      <md-button v-if="whatsappSnippet" @click="onCopyButtonClicked"><md-icon>file_copy</md-icon>Copy</md-button>
      <md-button class="md-primary" @click="onConfirm">{{$t('message.ok')}}</md-button>
    </md-dialog-actions>
  </md-dialog>
</template>

<script>
export default {
  name: 'TemplateDialog',
  props: {
    snippet: String,
    active: Boolean,
  },
  data() {
    return {
      whatsappSnippet: true,
    }
  },
  computed: {
    cleanedSnippet() {
      const snippet = unescape(this.snippet).replace(/\n/g, '<br />')
      if (this.whatsappSnippet) return snippet

      // Identify text parts within '*' and surround with <b> tag
      return snippet.split('*').reduce((result, part, index) => {
        // eslint-disable-next-line no-param-reassign
        result += (index % 2 !== 0) ? `<b>${part}</b>` : part
        return result
      })
    },
  },
  methods: {
    onConfirm() {
      this.$emit('confirmed')
    },
    onCopyButtonClicked() {
      this.$copyText(this.snippet)
    },
    onChangeSnippet() {
      this.whatsappSnippet = !this.whatsappSnippet
    },
  },
}
</script>

<style scoped lang="scss">

  @import "../../../../assets/sass/variables.scss";

  .dialog-content {
    height: 100%;
    padding-left: 25px;
    padding-right: 25px;
    overflow-y: scroll !important;
  }

  .md-dialog {
    flex-flow: row;
  }

  .snippet {
    padding: 10px;
    border: 2px solid black;
    color: black;
    font-style: oblique;
  }

</style>
