<template>
    <div>
        <router-view/>
    </div>
</template>

<style lang="scss">
    @import "/assets/sass/variables";
    @import "assets/sass/paper/variables";
    @import "~vue-material/dist/theme/engine";

    @include md-register-theme("default", (
        primary: $review-primary-color,
        accent: $review-accent-color
    ));
    @import "~vue-material/dist/theme/all";

    .md-app {
        height: 100vh;
        border: 1px solid rgba(#000, .12);
    }

    // Demo purposes only
    .md-drawer {
        width: 230px;
        max-width: calc(100vw - 125px);
    }
</style>

<script>
export default {
  created() {
    this.$store.dispatch('checkInitialLoginStatus').then(({ isLoggedIn }) => {
      if (isLoggedIn) {
        this.$router.replace('/user')
        this.$store.dispatch('fetchUsers')
        this.$store.dispatch('fetchContactRequests')
        this.$store.dispatch('fetchLocations')
        this.$store.dispatch('listenOnAllCrawlerTasks')
        this.$store.dispatch('fetchDirectUsers').then(() => this.$store.dispatch('listenOnDirectTasks'))
      }
    })
  },
}
</script>
