<template>
    <div>
        <div v-if="!needsSplashScreen">
            <div v-if="isAppRoute" :class="{'nav-open': $sidebar.showSidebar}">
                <router-view :style="{height: windowHeight}"/>
                <side-bar type="navbar" :sidebar-links="$sidebar.sidebarLinks"
                          :sidebar-actions="$sidebar.sidebarActions"/>
            </div>
            <router-view v-else/>
        </div>
        <splash-screen v-else/>

        <md-dialog :md-active="getCurrentError.active">
            <md-dialog-title>
              {{errorTitle}}
            </md-dialog-title>
            <md-dialog-content>{{errorMessage}}</md-dialog-content>

            <md-dialog-actions>
                <md-button class="md-primary" @click="onErrorConfirmed">{{$t('message.ok')}}</md-button>
            </md-dialog-actions>
        </md-dialog>

        <notifications/>
        <reauthentication-notifications v-show="isAppRoute"
                                        @action-click="reauthenticate"/>
    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import moment from 'moment'
import Vue from 'vue'
import SplashScreen from './components/UIComponents/SplashScreen.vue'
import { isPathOf } from './routes/router'
import { HookId, HookListener } from './components/store/modules/hooks'
import FacebookErrorMixin from './components/mixin/CredentialErrorMixin'
import ReauthenticationNotifications from './components/UIComponents/ReauthenticationNotifications.vue'
import { loadLanguageAsync } from './main'
import TranslationHelper from './components/helper/TranslationHelper'

export default {
  data() {
    return {
      windowHeight: 0,
      authorizationCheckTimer: 0,
      backendTimer: 0,
      /**
       * We need to store this information to start the token refresh when app is online again.
       * */
      appHasBeenOffline: false,
    }
  },
  computed: {
    ...mapGetters([
      'isLoggedIn',
      'isUnknown',
      'getCurrentError',
      'hasRequestedSubscriptionStatus',
    ]),
    isAppRoute() {
      return isPathOf(this.$route.path, 'app')
    },
    needsSplashScreen() {
      if (this.isUnknown) return true
      // When we know about the login status (isUnkown = false) we can show the login screen
      // when the user is logged out
      // Otherwise: we have to wait for the subscription status requested from chargebee
      if (isPathOf(this.$route.path, 'onboarding')) return false
      return this.isLoggedIn && !this.hasRequestedSubscriptionStatus
    },
    errorTitle() {
      const { title } = this.getCurrentError
      if (title) {
        return TranslationHelper.isTranslationSnippet(title) ? this.$t(title) : title
      }
      return this.$t('message.error')
    },
    errorMessage() {
      const { message } = this.getCurrentError
      return TranslationHelper.isTranslationSnippet(message) ? this.$t(message) : message
    },
  },
  components: {
    ReauthenticationNotifications,
    SplashScreen,
  },
  mixins: [FacebookErrorMixin],
  methods: {
    onLogout() {
      this.$store.dispatch('logout')
    },
    onErrorConfirmed() {
      this.$store.dispatch('errorConfirmed')
    },
    ...mapActions([
      'onHookEvent',
      'checkLoginStatus',
      'hasSubscriptions',
    ]),
    initAuthorizationCheck() {
      this.authorizationCheckTimer = window.setTimeout(() => {
        this.$store.dispatch('isAuthorizationValid')
        this.initAuthorizationCheck()
      }, 1000 * 60)
    },
    initBackendAvailableCheck() {
      this.backendTimer = window.setTimeout(() => {
        this.$store.dispatch('isBackendAvailable')
        this.initBackendAvailableCheck()
      }, 1000 * 15)
    },
  },
  mounted() {
    const locale = TranslationHelper.currentLocale()
    loadLanguageAsync(locale)
    moment.locale(locale)
    const self = this
    this.$nextTick(() => {
      window.addEventListener('resize', () => {
        self.windowHeight = window.innerHeight
      })
    })

    window.addEventListener('online', () => {
      if (this.appHasBeenOffline) {
        this.appHasBeenOffline = false
        this.$store.dispatch('isAuthorizationValid')
        this.initAuthorizationCheck()
      }
    })
    window.addEventListener('offline', () => {
      this.appHasBeenOffline = true
    })
  },
  created() {
    document.title = 'Respondo'
    this.$store.dispatch('onHookEvent', { hookId: HookId.VueStart })
    this.$store.dispatch('checkLoginStatus')
    this.$store.dispatch('isBackendAvailable')
    this.initBackendAvailableCheck()
    const loginListener = new HookListener({
      hookId: HookListener.Identifier.LoginStatus,
      /**
       *
       * @param {HookEvent} event
       */
      handler: (event) => {
        if (event.payload.isLoggedIn) {
          this.$store.dispatch('hasSubscriptions')
          this.$store.dispatch('unlinkProviders')
          this.initAuthorizationCheck()
        } else if (this.authorizationCheckTimer) {
          window.clearTimeout(this.authorizationCheckTimer)
        }
      },
    })
    this.$store.commit('addHookListener', loginListener)
    const subscriptionListener = new HookListener({
      hookId: HookListener.Identifier.SubscriptionStatus,
      /**
       *
       * @param {HookEvent} event
       */
      handler: (event) => {
        if (event.payload.activeSubscriptionsResult) {
          if (this.unhealthyGoogleCredential) {
            this.onError({ platform: 'google' })
          }
          return Promise.all(
            this.$store.dispatch('fetchLocations'),
            this.$store.dispatch('fetchQuickReplies'),
            this.$store.dispatch('fetchWidgets'),
            this.$store.dispatch('listenToReplyTasks'),
          )
        }
        return Promise.resolve
      },
    })
    this.$store.commit('addHookListener', subscriptionListener)
    const locationListener = new HookListener({
      hookId: HookListener.Identifier.LocationFetch,
      /**
       *
       * @param {HookEvent} event
       */
      handler: event => this.$store.dispatch('fetchRepresentationsForAllLocations', event.payload.locations)
        .then(() => this.$store.dispatch('fetchRepresentationCredentials').catch((error) => {
          if (error.platform === 'facebook' || error.platform === 'instagram') {
            this.onError(error)
          }
        }).finally(() => {
          this.$store.dispatch('onHookEvent', { hookId: HookId.RepresentationFetch })
          return this.$store.dispatch('startListeningForCrawlerTasks')
        })),
    })
    this.$store.commit('addHookListener', locationListener)
    const representationListener = new HookListener({
      hookId: HookListener.Identifier.RepresentationFetch,
      handler: () => Promise.all([
        this.$store.dispatch('fetchReviews'),
        this.$store.dispatch('syncApiReviews'),
      ]),
    })
    this.$store.commit('addHookListener', representationListener)

    // Register listener for crawler callbacks
    const crawlerSuccessListener = new HookListener({
      hookId: HookListener.Identifier.CrawlerSuccess,
      /**
       *
       * @param {HookEvent} event
       */
      handler: (event) => {
        const { location, platform } = event.payload
        Vue.notify({
          title: `${location.name} - ${platform.displayName}`,
          text: this.$t('task.importFinished', { location: location.name, platform: platform.displayName }),
          type: 'success',
          duration: 10000,
        })
      },
    })
    this.$store.commit('addHookListener', crawlerSuccessListener)
    const crawlerErrorListener = new HookListener({
      hookId: HookListener.Identifier.CrawlerError,
      /**
       *
       * @param {HookEvent} event
       */
      handler: (event) => {
        const { location, platform, errorCode } = event.payload
        if (!errorCode) {
          this.$store.dispatch('showErrorMessage', this.$t('task.crawlerGeneralError', { location: location.name, platform: platform.displayName }))
        } else {
          let message = ''
          switch (errorCode) {
            case 1: {
              message = this.$t('task.crawlerIncompleteError', { location: location.name, platform: platform.displayName })
              break
            }
            case 2: {
              message = this.$t('task.crawlerNoReviewsError', { location: location.name, platform: platform.displayName })
              break
            }
            default: message = this.$t('task.crawlerGeneralError', { location: location.name, platform: platform.displayName })
          }
          this.$store.dispatch('showErrorMessage', message)
        }
      },
    })
    this.$store.commit('addHookListener', crawlerErrorListener)
    const crawlerProgressListener = new HookListener({
      hookId: HookListener.Identifier.CrawlerProgress,
      /**
       *
       * @param {HookEvent} event
       */
      handler: (event) => {
        const { location, platform, representationId } = event.payload
        this.$store.commit('addProgressTask', {
          id: representationId,
          title: `${location.name} - ${platform.displayName}`,
          text: this.$t('task.import', { location: location.name, platform: platform.displayName }),
        })
      },
    })
    this.$store.commit('addHookListener', crawlerProgressListener)
  },
}
</script>

<style lang="scss">
    @import "/assets/sass/variables";
    @import "assets/sass/paper/variables";
    @import "~vue-material/dist/theme/engine";

    @include md-register-theme("default", (
        primary: $review-primary-color,
        accent: $review-accent-color
    ));
    @import "~vue-material/dist/theme/all";

    html {
        height: 100%;
        overflow-y: hidden;
        overflow-x: hidden;
        background-color: white !important;
    }

    body {
        height: 100%;
        background-color: white;
    }

    h1 {
        font-family: 'Maven Pro', sans-serif;
        font-weight: bold;
    }

    .v-step {
        background-color: $review-accent-color !important;
        z-index: 100;
        .v-step__arrow {
            border-color: $review-accent-color !important;
        }
        &[x-placement^=bottom] .v-step__arrow{
            border-left-color: transparent !important;
            border-right-color: transparent!important;
            border-top-color: transparent!important;
        }
        &[x-placement^=top] .v-step__arrow{
            border-left-color: transparent !important;
            border-right-color: transparent!important;
            border-bottom-color: transparent!important;
        }
        &[x-placement^=left] .v-step__arrow{
            border-top-color: transparent !important;
            border-right-color: transparent!important;
            border-bottom-color: transparent!important;
        }
        &[x-placement^=right] .v-step__arrow{
            border-top-color: transparent !important;
            border-left-color: transparent!important;
            border-bottom-color: transparent!important;
        }
        .v-step__content, .v-step__button {
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 1.13px;
            line-height: 35px;
            @include small-screen {
                text-align: center;
                font-size: 14px;
                line-height: 25px;
                padding-top: 10px;
            }
        }
        .v-step__content {
            padding: 30px;
        }
        .v-step__buttons {
            width: 100%;
        }
        .v-step__button {
            height: unset;
            margin: 0 0 10px;
            width: 45%;
            &:hover {
                color: $review-accent-color !important;
            }
            &:last-child {
                margin-left: 5%;
            }
            /*
            Special layout for 3 buttons
            How to count elements? Credits goes out to this dude here:
            https://stackoverflow.com/questions/8720931/can-css-detect-the-number-of-children-an-element-has
             */
            &:first-child:nth-last-child(3) {
                width: 45%;
                &:first-child {
                    width: 95%;
                }
            }
        }
    }

    .md-button {
        text-transform: none;
    }

    .md-switch.md-checked:not(.md-disabled) {
        .md-switch-container {
            .md-switch-thumb {
                background-color: $review-primary-color !important;
            }
        }
    }

    .md-switch.md-checked.md-disabled {
        .md-switch-container {
            background-color: lightgray !important;
            .md-switch-thumb {
                background-color: gray !important;
            }
        }
    }

</style>
