<template>
    <md-button
        class="md-primary md-raised login-button"
        v-bind="$attrs"
        v-on="$listeners">
        <slot/>
    </md-button>
</template>

<script>
export default {
  name: 'ActionButton',

}
</script>

<style scoped lang="scss">

    @import "src/assets/sass/variables";

    .md-button {
        border-radius: 3px;
        &:not([disabled]){
            background-color: $review-accent-color !important;
        }
    }

</style>
