<template>
    <md-button class="md-raised" @click="$emit('click')">
        <slot/>
    </md-button>
</template>

<script>
export default {
  name: 'DeleteButton',
}
</script>

<style scoped>
    .md-button {
        background-color: white !important;
        color: red !important;
    }
</style>
