<template>
    <md-button @click.prevent="onClick()">
        <md-icon :md-src="icon"></md-icon>
        <small>{{$t('login.facebook')}}</small>
    </md-button>
</template>

<script>
import facebookLogo from '@/assets/platforms/facebook-negative.svg'

export default {
  name: 'FacebookLoginButton',
  computed: {
    icon() {
      return facebookLogo
    },
  },
  methods: {
    onClick() {
      this.$emit('on-facebook-login')
    },
  },
}
</script>

<style scoped lang="scss">
    @import "src/assets/sass/variables";
    $facebookContentHeight: 40px;
    .md-button{
        background: $facebookColor;
        color: white;
        height: $facebookContentHeight;
        text-align: center;
        .md-icon{
            color: white !important;
            float: left;
            padding-right: 4px;
        }
        small{
            display: block;
            padding-top: 5px;
            font-size: 14px;
            font-weight: 500;
            color: white !important;
        }
    }
</style>
