<template>
    <md-button class="md-icon-button md-raised floating-button">
        <router-link v-bind:to="{ path: path}">
            <md-icon class="md-size-2x">add</md-icon>
        </router-link>
    </md-button>
</template>

<script>
export default {
  props: ['path'],
}
</script>

<style scoped>
.floating-button {
    position: fixed;
    right: 40px;
    bottom: 40px;
}
</style>
