<template/>

<script>
import { mapGetters } from 'vuex'
import LocationMixin from 'src/components/mixin/LocationMixin'

const CancelledByUserMessage = 'Cancelled by user'

export default {
  name: 'BasePlatformConnector',
  mixins: [LocationMixin],
  props: {
    platform: {
      type: Object,
      default: null,
    },
    location: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      dialogHeadline: null,
      dialogDescription: null,
      showDialog: false,
      dialogChoices: [],
      onConfirm: () => {},
      onCancel: () => {},
    }
  },
  computed: {
    ...mapGetters(['isLoggedIn']),
  },
  methods: {
    start() {
      console.error('This method needs to be overwritten. (BasePlatformConnector.start())')
    },
    importReviews() {
      console.error('This method needs to be overwritten. (BasePlatformConnector.importReviews())')
    },
    onCancelConnection(error = 'User cancelled connection.') {
      this.$emit('cancel', error)
    },
    showChoiceDialog(title, description, choices) {
      this.dialogHeadline = title
      this.dialogDescription = description
      this.dialogChoices = choices
      this.showDialog = true
      return new Promise((resolve, reject) => {
        this.onConfirm = (selection) => {
          resolve(selection)
        }
        this.onCancel = () => {
          reject(new Error(CancelledByUserMessage))
        }
      })
    },
    getRepresentationsExternalIds(locations) {
      const externalIds = []
      locations.forEach((location) => {
        if (location.representations) {
          location.representations.forEach((representation) => {
            externalIds.push(representation.externalId)
          })
        }
      })
      return externalIds
    },
  },
}
</script>

<style scoped>

</style>
