<template>

</template>

<script>
import { mapGetters } from 'vuex'
import BasePlatformConnector from './BasePlatformConnector'

const CancelledByUserMessage = 'Cancelled by user'

export default {
  name: 'BaseFacebookPlatformConnector',
  extends: BasePlatformConnector,
  computed: {
    ...mapGetters(['getTemporaryFacebookCredentials', 'getFacebookCredentials']),
    choiceDialogDescription() {
      return this.location.name
        ? this.$t('connector.platform.descriptionLocationName', { platform: this.platformDisplayName, location: this.location.name })
        : this.$t('connector.platform.descriptionNoLocationName', { platform: this.platformDisplayName })
    },
    platformDisplayName() {
      return this.platform ? this.platform.displayName : ''
    },
  },
  methods: {
    start() {
      this.$store.commit('setContinueConnectionAfterLogin', true)
      this.resolveCredential().then((response) => {
        const newToken = response.new
        const { credential } = response
        if (newToken) {
          return this.$store.dispatch('requestLongLivingAccessToken', { credential }).then(newCredential => this.$store.dispatch('requestFacebookAccount', { credential: newCredential }).then((result) => {
            newCredential.account = result.data
            // Check if account already exists
            if (!this.getTemporaryFacebookCredentials.find(credential => credential.account.id === newCredential.account.id)) {
              this.$store.commit('addTemporaryCredential', newCredential)
            } else {
              const error = new Error(this.$t('error.facebookConnect'))
              error.isUserFriendly = true
              return Promise.reject(error)
            }
          }).then(() => this.selectPage(newCredential).then((selection) => {
            selection.credentialId = newCredential.id
            this.$emit('on-representation-selected', selection)
            this.showDialog = false
          })))
        }
        return this.selectPage(credential).then((selection) => {
          selection.credentialId = credential.id
          this.$emit('on-representation-selected', selection)
          this.showDialog = false
        })
      }).catch((error) => {
        this.showDialog = false
        if (error.message !== CancelledByUserMessage) {
          this.$store.dispatch('showError', { code: error.code, message: error.message, isUserFriendly: error.isUserFriendly })
        }
        this.onCancelConnection(error)
      })
    },
    resolveCredential() {
      const facebookCredentials = this.getTemporaryFacebookCredentials
      if (facebookCredentials.length === 0) {
        return this.requestFacebookCredential()
      }
      const choices = facebookCredentials.map(token => ({ label: token.account.name, id: token.id }))
      choices.push({ label: this.$t('connector.anotherAccount', { platform: this.platformDisplayName }), id: '1' })
      return this.showChoiceDialog(`${this.platformDisplayName}`, this.$t('connector.platform.title', { platform: this.platformDisplayName }), choices).then((selectedAccount) => {
        if (selectedAccount.id === '1') return this.requestFacebookCredential()
        return Promise.resolve({ credential: facebookCredentials.find(credential => credential.id === selectedAccount.id) })
      })
    },
    requestFacebookCredential() {
      return this.$store.dispatch('requestFacebookCredential').then(credential => Promise.resolve({ credential, new: true }))
    },
    selectPage(credential) {
      return this.fetchPages(credential).then((result) => {
        const pages = result.choices
        const { pageDenied } = result
        if (!pages || pages.length === 0) {
          const error = !pageDenied
            ? Error(this.$t('connector.platform.noPagesAvailable', { platform: this.platformDisplayName }))
            : Error(this.$t('connector.platform.noPagesFurther', { platform: this.platformDisplayName }))
          error.isUserFriendly = true
          throw error
        }

        return this.showChoiceDialog(
          this.$t('connector.connectPage', { platform: this.platformDisplayName }),
          this.choiceDialogDescription,
          pages.map(page => ({
            label: page.label,
            id: page.id,
          })),
        ).then(selectedPage => pages.find(page => page.id === selectedPage.id))
      })
    },
    fetchPages(credential) {
      console.error('This method needs to be overwritten. (BaseFacebookPlatformConnector.fetchPages)')
    },
  },
}
</script>

<style scoped>

</style>
