<template>
    <div class="md-layout md-alignment-top-center">
        <location-connector ref="locationconnector" class="md-layout-item md-size-40 md-medium-size-50 md-small-size-75 md-xsmall-size-100"/>
    </div>
</template>

<script>
import LocationConnector from './LocationConnector.vue'

export default {
  name: 'Connector',
  components: { LocationConnector },
}
</script>

<style scoped>

</style>
