<template>
    <md-dialog :md-active.sync="active">
        <md-dialog-title>{{$t('connector.crawler.addPlatform')}}</md-dialog-title>
        <md-dialog-content>
            <span>{{dialogText}}</span>

            <md-field :class="getValidationClass($v.locationUrl)">
                <md-input
                    type="url"
                    v-model="locationUrl"
                    :placeholder="placeholder"/>
                <span class="md-error">{{getValidationError($v.locationUrl)}}</span>
            </md-field>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button class="md-primary" @click="onCancel">{{$t('message.cancel')}}</md-button>
            <md-button class="md-primary" @click="onConfirm">{{$t('message.finish')}}</md-button>
        </md-dialog-actions>
    </md-dialog>
</template>

<script>

import { required, url } from 'vuelidate/lib/validators'
import { validationMixin } from 'vuelidate'
import platform from '../../../store/modules/platform'

export default {
  mixins: [validationMixin],
  props: {
    platform: {
      type: Object,
      default: null,
    },
    active: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      locationUrl: null,
    }
  },
  computed: {
    hasPlatform() {
      return !!this.platform
    },
    dialogText() {
      return this.hasPlatform ? this.$t('connector.crawler.enterAddress', { platform: this.platform.displayName }) : ''
    },
    placeholder() {
      return this.hasPlatform ? this.platform.baseUrl : ''
    },
  },
  validations: {
    locationUrl: {
      required,
      url,
      matchesRegex: (input, vm) => !!input && !!input.match(vm.platform.regex),
    },
  },
  methods: {
    onConfirm() {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.$emit('confirmed', {
          url: this.locationUrl,
        })
      }
    },
    onCancel() {
      this.$emit('close')
    },
    getValidationError(validation) {
      switch (validation) {
        case this.$v.locationUrl: {
          if (!this.$v.locationUrl.required) return this.$t('connector.crawler.addressRequiredError')
          if (!this.$v.locationUrl.matchesRegex) return this.$t('connector.crawler.addressRegexError', { url: this.platform.baseUrl })
          return ''
        }

        default: {
          return ''
        }
      }
    },
    getValidationClass(validation) {
      return {
        'md-invalid': validation.$invalid && validation.$dirty,
      }
    },
  },
}
</script>

<style scoped>

</style>
