<template>
    <div>
        <choice-dialog :headline="choiceHeadline"
                       :description="choiceDescription"
                       :active="showSelectionDialog"
                       @confirmed="onConfirmChoiceDialog"
                       @close="onCancelChoiceDialog"
                       :choices="choices"
                       :isMultipleSelectionAllowed="false">
            <md-button @click="onInsertManually" slot="additional-action">{{$t('connector.crawler.urlManual')}}</md-button>
        </choice-dialog>

        <loading-dialog :show="isSending"
                        :title="loadingTitle"
                        :description="loadingDescription"/>

        <crawler-url-dialog :active="showUrlDialog"
                            :platform="platform"
                            @confirmed="onConfirmUrlDialog"
                            @close="onCancelUrlDialog"/>

        <crawler-location-dialog :active="showLocationDialog"
                                 :given-location-name="locationName"
                                 @confirmed="onConfirmLocationDialog"
                                 @close="onCancelLocationDialog"
                                 data-cy="crawler-dialog"/>

      <platform-explanation-dialog
        v-if="showExplanationDialog"
        :md-active.sync="showExplanationDialog"
        :platform-name="platform.name"
        @confirmed="showExplanationDialog = false"
        class="confirm-dialog"/>

    </div>
</template>

<script>

import { mapGetters } from 'vuex'
import BasePlatformConnector from './BasePlatformConnector.vue'
import LoadingDialog from '../../../GeneralViews/LoadingDialog.vue'
import ChoiceDialog from '../../../UIComponents/Dialogs/ChoiceDialog.vue'
import CrawlerLocationDialog from './CrawlerLocationDialog.vue'
import CrawlerUrlDialog from './CrawlerUrlDialog.vue'
import PlatformExplanationDialog from './PlatformExplanationDialog.vue'

export default {
  name: 'CrawlerPlatformConnector',
  components: {
    LoadingDialog, ChoiceDialog, CrawlerLocationDialog, CrawlerUrlDialog, PlatformExplanationDialog
  },
  extends: BasePlatformConnector,
  data() {
    return {
      showInfoDialog: false,
      showSelectionDialog: false,
      showLocationDialog: false,
      showExplanationDialog: false,
      showUrlDialog: false,
      askForLocationName: false,
      locationUrl: null,
      locationName: null,
      locationNameGiven: false,
      locationCity: null,
      query: null,
      isSending: false,
    }
  },
  computed: {
    hasPlatform() {
      return !!this.platform
    },
    choiceHeadline() {
      return this.hasPlatform ? this.$t('connector.crawler.choiceTitle', { platform: this.platform.displayName }) : ''
    },
    choiceDescription() {
      return this.hasPlatform ? this.$t('connector.crawler.choiceDescription', {location: this.locationName, platform: this.platform.displayName}) : ''
    },
    loadingDescription() {
      return this.hasPlatform ? this.$t('connector.crawler.searchDescription', { platform: this.platform.displayName }) : ''
    },
    loadingTitle() {
      return this.hasPlatform ? this.$t('connector.crawler.searchTitle', { platform: this.platform.displayName }) : ''
    },
    choices() {
      if (!this.relevantSearchResults || this.relevantSearchResults.length === 0) return []
      return this.relevantSearchResults.map(result => ({
        label: result.title,
        id: encodeURI(result.link),
      }))
    },
    relevantSearchResults() {
      if (!this.platform) return []
      return this.getSearchResultsByPlatform(this.platform)
    },
    ...mapGetters([
      'getAllGoogleSearchResults',
    ]),
    searchResults() {
      const encodedQuery = encodeURIComponent(this.query)
      const results = this.getAllGoogleSearchResults[encodedQuery]
      return results || null
    },
  },
  methods: {
    start() {
      if (this.location.name) {
        this.locationName = this.location.name
        this.locationNameGiven = true
      }

      this.showLocationDialog = true
    },
    onConfirmChoiceDialog(selectedChoice) {
      this.showSelectionDialog = false
      this.locationUrl = decodeURI(selectedChoice.id)
      this.startCrawler()
    },
    onCancelChoiceDialog() {
      this.showSelectionDialog = false
      this.onCancelConnection('Cancelled by user')
    },
    onConfirmUrlDialog(payload) {
      this.showUrlDialog = false
      this.locationUrl = payload.url
      this.startCrawler()
    },
    onCancelUrlDialog() {
      this.showUrlDialog = false
      this.onCancelConnection('Cancelled by user.')
    },
    onConfirmLocationDialog(payload) {
      this.showLocationDialog = false
      this.locationName = payload.name
      this.query = `${payload.name} ${payload.city} ${this.platform.name}`
      this.startSearch(this.query)
    },
    onCancelLocationDialog() {
      this.showLocationDialog = false
      this.onCancelConnection('Cancelled by user.')
    },
    startSearch(query) {
      this.isSending = true
      const encodedQuery = encodeURIComponent(query)
      return this.$store.dispatch('requestGoogleSearchResults', encodedQuery).then(() => {
        this.showSelectionDialog = true
        this.isSending = false
      })
    },
    getSearchResultsByPlatform(platform) {
      return this.getSearchResultsByPlatformName(platform)
    },
    getSearchResultsByPlatformName(platform) {
      const results = this.searchResults
      if (!results) return null
      return results.filter(resultItem => this.isRelated(resultItem, platform))
    },
    isRelated(resultItem, platform) {
      return resultItem.link.match(platform.regex)
    },
    onInsertManually() {
      this.showSelectionDialog = false
      this.showUrlDialog = true
    },
    startCrawler() {
      this.showExplanationDialog = true
      this.$emit('on-representation-selected', {
        name: this.locationName,
        url: this.locationUrl,
      })
    },
    importReviews(representation, location, userId) {
      const crawlPayload = {
        representationId: representation.id,
        startUrl: representation.url,
        locationId: location.id,
        userId,
        platform: representation.platform,
      }
      return this.$store.dispatch('requestCrawlerReviews', crawlPayload)
    },
  },
}
</script>

<style scoped>

</style>
