<template>
    <md-dialog :md-active.sync="active">
        <md-dialog-title>{{$t('connector.crawler.addPlatform')}}</md-dialog-title>
        <md-dialog-content>

            <span>{{$t('connector.crawler.locationName')}}</span>

            <md-field :class="getValidationClass($v.locationName)">
                <md-input v-if="locationNameGiven"
                    type="name"
                    v-model="locationName"
                    :placeholder="$t('connector.crawler.namePlaceholder')"
                    disabled/>
                <md-input v-else
                          type="name"
                          v-model="locationName"
                          :placeholder="$t('connector.crawler.namePlaceholder')"/>
                <span class="md-error">{{getValidationError($v.locationName)}}</span>
            </md-field>

            <span>{{$t('connector.crawler.cityName')}}</span>

            <md-field :class="getValidationClass($v.locationCity)">
                <md-input
                    type="name"
                    v-model="locationCity"
                    :placeholder="$t('connector.crawler.cityPlaceholder')"/>
                <span class="md-error">{{getValidationError($v.locationCity)}}</span>
            </md-field>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button class="md-primary" @click="onCancel">{{$t('message.cancel')}}</md-button>
            <md-button class="md-primary" @click="onConfirm">{{$t('message.goOn')}}</md-button>
        </md-dialog-actions>
    </md-dialog>
</template>

<script>

import { required } from 'vuelidate/lib/validators'
import { validationMixin } from 'vuelidate'

export default {
  mixins: [validationMixin],
  props: {
    active: {
      type: Boolean,
      default: false,
    },
    givenLocationName: {
      type: String,
      default: null,
    },
  },
  data() {
    return {
      locationName: null,
      locationCity: null,
    }
  },
  validations: {
    locationName: {
      required,
    },
    locationCity: {
      required,
    },
  },
  computed: {
    locationNameGiven() {
      return !!this.givenLocationName
    },
  },
  methods: {
    onConfirm() {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.$emit('confirmed', {
          name: this.locationName,
          city: this.locationCity,
        })
      }
    },
    onCancel() {
      this.$emit('close')
    },
    getValidationError(validation) {
      switch (validation) {
        case this.$v.locationName: {
          if (!this.$v.locationName.required) return this.$t('connector.crawler.nameError')
          return ''
        }

        case this.$v.locationCity: {
          if (!this.$v.locationCity.required) return this.$t('connector.crawler.cityError')
          return ''
        }

        default: {
          return ''
        }
      }
    },
    getValidationClass(validation) {
      return {
        'md-invalid': validation.$invalid && validation.$dirty,
      }
    },
  },
  watch: {
    givenLocationName(newValue) {
      this.locationName = newValue
    },
  },

}
</script>

<style scoped>

</style>
