<template>
    <div>
        <choice-dialog v-if="showDialog"
                       :headline="dialogHeadline"
                       :description="dialogDescription"
                       :active="showDialog"
                       @confirmed="onConfirm"
                       @close="onCancel"
                       :choices="dialogChoices"
                       :isMultipleSelectionAllowed="false"/>
    </div>
</template>

<script>
import ChoiceDialog from 'src/components/UIComponents/Dialogs/ChoiceDialog'
import Vue from 'vue'
import BaseFacebookPlatformConnector from './BaseFacebookPlatformConnector'

export default {
  name: 'FacebookPlatformConnector',
  extends: BaseFacebookPlatformConnector,
  components: {
    ChoiceDialog,
  },
  methods: {
    fetchPages(credential) {
      return this.$store.dispatch('requestFacebookPages', { credential }).then((response) => {
        const currentExternalIds = this.getRepresentationsExternalIds(this.getLocationsForCurrentUser)
        const choices = []
        const promises = []
        let pageDenied = false
        response.forEach((page) => {
          promises.push(this.$store.dispatch('requestFacebookLocations', {
            accessToken: page.access_token,
            id: page.id,
          }).then((response) => {
            if (currentExternalIds.indexOf(page.id) < 0 && !page.store_number) {
              const choice = {
                label: page.name,
                accessToken: page.access_token,
                platform: 'facebook',
                id: page.id,
              }
              choices.push(choice)
            } else {
              pageDenied = true
            }

            response.data.forEach((location) => {
              if (currentExternalIds.indexOf(location.id) < 0) {
                const choice = {
                  label: location.name_with_location_descriptor,
                  accessToken: location.access_token,
                  platform: 'facebook',
                  id: location.id,
                }
                choices.push(choice)
              } else {
                pageDenied = true
              }
            })
            // see http://goo.gl/rRqMUw
            return response
          }))
        })
        return Promise.all(promises).then(() => ({ choices, pageDenied }))
      })
    },
    importReviews(representation, location, userId) {
      this.$store.commit('addProgressTask', {
        id: representation.id,
        title: `${location.name} - Facebook`,
        text: this.$t('task.import', { location: location.name, platform: 'Facebook' }),
      })
      const finishedText = this.$t('task.importFinished', { location: location.name, platform: 'Facebook' })
      return this.$store.dispatch('requestFacebookReviews', location).then(() => {
        window.setTimeout(() => {
          this.$store.commit('removeProgressTask', {
            id: representation.id,
          })
          Vue.notify({
            title: `${location.name} - Facebook`,
            text: finishedText,
            type: 'success',
            duration: 10000,
          })
          this.$store.dispatch('fetchReviews', true)
        }, 15 * 1000)
      })
    },
  },
}
</script>

<style scoped>

</style>
