<template>
    <div>
        <choice-dialog v-if="showDialog"
                       :headline="dialogHeadline"
                       :description="dialogDescription"
                       :active="showDialog"
                       @confirmed="onConfirm"
                       @close="onCancel"
                       :choices="dialogChoices"
                       :isMultipleSelectionAllowed="false"/>
    </div>
</template>

<script>
import ChoiceDialog from 'src/components/UIComponents/Dialogs/ChoiceDialog'
import Vue from 'vue'
import { mapGetters, mapActions } from 'vuex'
import BasePlatformConnector from './BasePlatformConnector'

const CancelledByUserMessage = 'Cancelled by user'

export default {
  name: 'GooglePlatformConnector',
  extends: BasePlatformConnector,
  components: {
    ChoiceDialog,
  },
  computed: {
    ...mapGetters([
      'getTemporaryGoogleCredentials',
    ]),
    choiceDialogDescription() {
      return this.location.name
        ? this.$t('connector.platform.descriptionLocationName', { platform: this.platformDisplayName, location: this.location.name })
        : this.$t('connector.platform.descriptionNoLocationName', { platform: this.platformDisplayName })
    },
    platformDisplayName() {
      return this.platform ? this.platform.displayName : ''
    },
  },
  methods: {
    ...mapActions({
      requestAccounts: 'requestGoogleMyBusinessAccounts',
    }),
    start() {
      this.resolveCredential().then((response) => {
        const { credential } = response
        const newToken = response.new
        if (newToken) {
          return this.requestAccountInformation(credential).then((account) => {
            credential.account = account
            if (!this.getTemporaryGoogleCredentials.find(oldCredential => oldCredential.account.name === credential.account.name)) {
              this.$store.commit('addTemporaryCredential', credential)
            } else {
              const error = new Error(this.$t('error.googleConnect'))
              error.isUserFriendly = true
              return Promise.reject(error)
            }
            return this.selectLocation(credential).then((selection) => {
              selection.credentialId = credential.id
              this.$emit('on-representation-selected', selection)
              this.showDialog = false
            })
          })
        }
        return this.selectLocation(credential).then((selection) => {
          selection.credentialId = credential.id
          this.$emit('on-representation-selected', selection)
          this.showDialog = false
        })
      }).catch((error) => {
        this.showDialog = false
        if (error.message !== CancelledByUserMessage) {
          this.$store.dispatch('showError', { code: error.code, message: error.message, isUserFriendly: error.isUserFriendly })
        }
        this.onCancelConnection(error)
      })
    },
    resolveCredential() {
      const googleCredentials = this.getTemporaryGoogleCredentials
      if (googleCredentials.length === 0) {
        return this.requestGoogleCredential()
      }
      const choices = googleCredentials.map(credential => ({ label: credential.account.accountName, id: credential.id }))
      choices.push({ label: this.$t('connector.anotherAccount'), id: '1' })
      return this.showChoiceDialog(`${this.platformDisplayName}`, this.$t('connector.platform.title', { platform: this.platform.name }), choices).then((selectedAccount) => {
        if (selectedAccount.id === '1') return this.requestGoogleCredential()
        return Promise.resolve({ credential: googleCredentials.find(credential => credential.id === selectedAccount.id) })
      })
    },
    requestGoogleCredential() {
      return this.$store.dispatch('requestGoogleCredential').then(credential => Promise.resolve({ credential, new: true }))
    },
    selectLocation(credential) {
      return this.$store.dispatch('requestGoogleMyBusinessLocations', { credential }).then((locations) => {
        if (!locations || locations.length === 0) {
          const error = Error(this.$t('connector.platform.noPagesAvailable', { platform: this.platformDisplayName }))
          error.isUserFriendly = true
          throw error
        }

        // Otherwise we wouldn't see fake locations in dev mode
        const activeLocations = process.env.NODE_ENV === 'development' ? locations : locations.filter(location => !location.locationState.isDisconnected)

        return this.showChoiceDialog(
          this.$t('connector.connectPage', { platform: this.platformDisplayName }),
          this.choiceDialogDescription,
          activeLocations.map(location => ({
            label: location.locationName,
            id: location.name,
          })),
        ).then(selectedGoogleLocation => locations.find(location => location.name === selectedGoogleLocation.id))
      })
    },
    requestAccountInformation(credential) {
      return this.requestAccounts({ credential }).then(accounts => this.getPersonalAccount(accounts))
    },
    getPersonalAccount(accounts) {
      if (accounts.length === 1) return accounts[0]
      return accounts.find(account => account.type === 'PERSONAL')
    },
    importReviews(representation, location, userId) {
      this.$store.commit('addProgressTask', {
        id: representation.id,
        title: `${location.name} - Google`,
        text: this.$t('task.import', { location: location.name, platform: 'Google' }),
      })
      const finishedText = this.$t('task.importFinished', { location: location.name, platform: 'Google' })
      return this.$store.dispatch('requestGoogleMyBusinessReviews', location).then(() => {
        window.setTimeout(() => {
          this.$store.commit('removeProgressTask', {
            id: representation.id,
          })
          Vue.notify({
            title: `${location.name} - Google`,
            text: finishedText,
            type: 'success',
            duration: 10000,
          })
          this.$store.dispatch('fetchReviews', true)
        }, 15 * 1000)
      })
    },
  },
}
</script>

<style/>
