<template>
    <div>
        <choice-dialog v-if="showDialog"
                       :headline="dialogHeadline"
                       :description="dialogDescription"
                       :active="showDialog"
                       @confirmed="onConfirm"
                       @close="onCancel"
                       :choices="dialogChoices"
                       :isMultipleSelectionAllowed="false"/>
    </div>
</template>

<script>
import ChoiceDialog from 'src/components/UIComponents/Dialogs/ChoiceDialog'
import Vue from 'vue'
import BaseFacebookPlatformConnector from './BaseFacebookPlatformConnector'

export default {
  name: 'InstagramPlatformConnector',
  extends: BaseFacebookPlatformConnector,
  components: {
    ChoiceDialog,
  },
  methods: {
    fetchPages(credential) {
      return this.$store.dispatch('requestInstagramPages', { credential }).then((pages) => {
        const currentExternalIds = this.getRepresentationsExternalIds(this.getLocationsForCurrentUser)
        const choices = []
        const promises = []
        pages.forEach((page) => {
          if (page.instagram_business_account && page.instagram_business_account.id) {
            promises.push(this.$store.dispatch('requestInstagramPageName', {
              credential,
              id: page.instagram_business_account.id,
            }).then((accountDetails) => {
              if (currentExternalIds.indexOf(accountDetails.id) < 0) {
                const choice = {
                  label: accountDetails.username,
                  accessToken: credential.accessToken,
                  platform: 'instagram',
                  id: accountDetails.id,
                }
                choices.push(choice)
              }
            }))
          }
        })

        return Promise.all(promises).then(() => ({ choices }))
      })
    },
    importReviews(representation, location, userId) {
      this.$store.commit('addProgressTask', {
        id: representation.id,
        title: `${location.name} - Instagram`,
        text: this.$t('task.import', { location: location.name, platform: 'Instagram' }),
      })
      const finishedText = this.$t('task.importFinished', { location: location.name, platform: 'Instagram' })
      return this.$store.dispatch('requestInstagramReviews', location).then(() => {
        window.setTimeout(() => {
          this.$store.commit('removeProgressTask', {
            id: representation.id,
          })
          Vue.notify({
            title: `${location.name} - Instagram`,
            text: finishedText,
            type: 'success',
            duration: 10000,
          })
          this.$store.dispatch('fetchReviews', true)
        }, 15 * 1000)
      })
    },
  },
}
</script>

<style scoped>

</style>
