<template>
    <div class="md-layout md-alignment-top-center">
        <platform-list
            class="md-layout-item md-size-100"
            ref="platformList"
            :platforms="platforms"
            :location="location"
            @on-representation-selected="onRepresentationSelected"/>

        <action-button
            v-if="isCancelButtonVisible"
            class="md-layout-item md-size-45"
            @click="onCancelButtonClicked"
            data-cy="cancel-button">{{$t('message.cancel')}}
        </action-button>

        <action-button
            class="md-layout-item md-size-45"
            :disabled="!isSaveButtonEnabled"
            @click="onSaveButtonClicked"
            data-cy="finish-button">{{$t('message.save')}}
        </action-button>


    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import LocationMixin from '../../../mixin/LocationMixin'
import { isPathOf } from '../../../../routes/router'
import { isEqualLocation } from '../../../helper/LocationHelper'
import ActionButton from '../../../UIComponents/Buttons/ActionButton.vue'
import PlatformList from './PlatformList.vue'
import { EventName, EventType } from '../../../store/modules/event'
import { HookListener } from '../../../store/modules/hooks'

export default {
  name: 'LocationConnector',
  data() {
    return {
      windowHeight: 0,
    }
  },
  components: {
    PlatformList, ActionButton,
  },
  mixins: [LocationMixin],
  computed: {
    ...mapGetters([
      'getLocationsForCurrentUser',
      'getTemporaryLocation',
      'getContinueConnectionAfterLogin',
      'getCurrentConnectionPlatform',
      'isLoggedIn',
      'getCurrentUserId',
      'getCreateLocationAfterRegistration',
      'getCredentials',
    ]),
    locationId() {
      return this.$route.params.id
    },
    storedLocation() {
      return this.getLocationsForCurrentUser.find(
        location => location.id === this.locationId,
      )
    },
    storedCredentials() {
      return this.getCredentials
    },
    hasStoredLocation() {
      return !!this.storedLocation
    },
    location() {
      return this.getTemporaryLocation
    },
    hasTemporaryLocation() {
      return !!this.location
    },
    isSaveButtonEnabled() {
      if (!this.hasStoredLocation) return this.location ? !!this.location.representations && this.location.representations.length > 0 : false
      return !isEqualLocation(this.storedLocation, this.location)
    },
    isCancelButtonVisible() {
      return !this.isOnboardingPath
    },
    isMainPath() {
      return isPathOf(this.$route.path, 'app')
    },
    isOnboardingPath() {
      return isPathOf(this.$route.path, 'onboarding')
    },
  },
  methods: {
    onRepresentationSelected(payload) {
      this.$store.dispatch('addTemporaryRepresentation', payload)
    },
    onCancelButtonClicked() {
      this.$router.back()
    },
    mainFinish() {
      this.$store.commit('clearTemporaryLocation')
      this.$router.back()
    },
    handleSaveMain() {
      if (this.hasStoredLocation) {
        // TODO: is createRepresentationsWithoutIds correct here? since we're in main
        // we can produce the representation id based on the location
        this.$store.dispatch('createRepresentationsWithoutIds', this.location).then((representations) => {
          Promise.all(representations.map((representation) => {
            this.$refs.platformList.importReviews(representation, this.storedLocation, this.getCurrentUserId)
          })).then(this.mainFinish)
        })
      } else {
        this.createLocationAndAddRepresentations().then(this.mainFinish)
      }
    },
    handleSaveOnboarding() {
      this.$store.commit('setCreateLocationAfterRegistration', true)
      this.$emit('continue')
    },
    // Should be accessed externally
    saveLocationAndRepresentations() {
      this.createLocationAndAddRepresentations().then(() => {
        this.$store.commit('clearTemporaryLocation')
      })
    },
    onSaveButtonClicked() {
      if (this.isMainPath) this.handleSaveMain()
      else if (this.isOnboardingPath) this.handleSaveOnboarding()
    },
    createLocationAndAddRepresentations() {
      return this.$store.dispatch('createLocationAndRepresentations').then((representations) => {
        const location = this.getLocationsForCurrentUser.find(location => location.id === representations[0].locationId)
        return Promise.all(
          representations.map(representation => this.$refs.platformList.importReviews(representation, location, this.getCurrentUserId)),
        )
      })
    },
  },
  created() {
    this.$store.dispatch('writeEvent', {
      name: EventName.LocationConnector,
      type: EventType.Visit,
      data: { locationId: this.locationId },
    })
    // Check if location already exists
    if (!this.hasTemporaryLocation) {
      if (this.isOnboardingPath || (this.isMainPath && !this.locationId)) {
        this.$store.commit('setTemporaryLocation', {})
      } else if (this.isMainPath) {
        if (this.storedLocation) this.$store.commit('setTemporaryLocation', JSON.parse(JSON.stringify(this.storedLocation)))
        else {
          const representationListener = new HookListener({
            hookId: HookListener.Identifier.RepresentationFetch,
            handler: () => {
              this.$store.commit('setTemporaryLocation', JSON.parse(JSON.stringify(this.storedLocation)))
            },
          })
          this.$store.commit('addHookListener', representationListener)
        }

        if (this.storedCredentials) {
          this.storedCredentials.forEach((credential) => {
            this.$store.commit('addTemporaryCredential', credential)
          })
        } else {
          const userListener = new HookListener({
            hookId: HookListener.Identifier.UserFetch,
            handler: () => {
              this.storedCredentials.forEach((credential) => {
                this.$store.commit('addTemporaryCredential', credential)
              })
            },
          })
          this.$store.commit('addHookListener', userListener)
        }
      }
    }

    if (this.hasTemporaryLocation) {
      this.$store.commit('setHeadline', { text: this.location.name })
    }
  },
  mounted() {
    // Refs become accessible first after mounted()
    if (this.getContinueConnectionAfterLogin) {
      this.$refs.platformList.onPlatformClick(this.getCurrentConnectionPlatform)
    }

    if (this.getCreateLocationAfterRegistration) {
      this.createLocationAndAddRepresentations().then(() => {
        this.$store.commit('clearTemporaryLocation')
        this.$router.push('/app')
      })
    }
  },
  beforeDestroy() {
    if (this.isMainPath) {
      this.$store.commit('clearTemporaryLocation')
    }
  },
  watch: {
    location(newValue) {
      if (newValue && newValue.name) this.$store.commit('setHeadline', { text: newValue.name })
    },
  },
}
</script>

<style scoped lang="scss">
    @import "../../../../assets/sass/variables";

    .md-button {
        margin-top: 50px;
        &:not([disabled]){
            background-color: $review-primary-color !important;
        }
    }

    .representation-layout {
        height: $content-height;
        overflow-x: hidden;
        overflow-y: scroll;
    }
</style>
