<template>
    <md-list class="md-size-50 md-small-size-70 md-xsmall-size-100 md-layout md-gutter md-alignment-center">
        <md-list-item v-for="platform in platforms"
                      :key="platform.id"
                      class="md-layout-item md-size-100 md-list-item md-layout md-alignment-top-center"
                      @click="onPlatformClick(platform)"
                      data-cy="platform-item">

            <platform-icon class="md-layout-item md-size-20"
                           :platform="platform"
                           :connected="isPlatformConnected(platform)"/>
            <div class="md-layout-item md-size-60 md-layout">
                <p class="md-list-item-text md-layout-item md-size-100">
                    {{platform.name.toUpperCase()}}
                </p>
                <p class="md-list-item-text md-layout-item md-size-100"
                   v-if="isPlatformConnected(platform) && representationForPlatform(platform).info && representationForPlatform(platform).info.name">
                    {{representationForPlatform(platform).info.name}}
                </p>
            </div>
            <success-icon class="md-layout-item md-size-20" :success="isPlatformConnected(platform)" data-cy="success-icon"/>
        </md-list-item>
        <google-connector style="display: none"
                                   ref="googleConnector"
                                   @confirm="showConnectorComponent=false"
                                   @cancel="showConnectorComponent=false"
                                   :location="location"
                                   :platform="currentSelectedPlatform"
                                   @on-representation-selected="onRepresentationSelected"/>
        <facebook-connector v-show="showConnectorComponent && currentSelectedPlatform.name === 'facebook'"
                                     ref="facebookConnector"
                                     @confirm="showConnectorComponent=false"
                                     @cancel="showConnectorComponent=false"
                                     :location="location"
                                     :platform="currentSelectedPlatform"
                                     @on-representation-selected="onRepresentationSelected"/>
        <instagram-connector v-show="showConnectorComponent && currentSelectedPlatform.name === 'instagram'"
                            ref="instagramConnector"
                            @confirm="showConnectorComponent=false"
                            @cancel="showConnectorComponent=false"
                            :location="location"
                            :platform="currentSelectedPlatform"
                             @on-representation-selected="onRepresentationSelected"/>
        <crawler-connector v-show="showConnectorComponent && currentSelectedPlatform.type === 'crawler'"
                                    ref="crawlerConnector"
                                    @confirm="showConnectorComponent=false"
                                    @cancel="showConnectorComponent=false"
                                    :location="location"
                                    :platform="currentSelectedPlatform"
                                    @on-representation-selected="onRepresentationSelected"/>
        <md-dialog-confirm
            :md-active.sync="showInfoDialog"
            :md-content="$t(platformInfo)"
            :md-confirm-text="$t('message.goOn')"
            :md-cancel-text="$t('message.cancel')"
            @md-confirm="onConfirmInfoDialog"/>
    </md-list>
</template>

<script>
import PlatformIcon from 'src/components/UIComponents/Icons/PlatformIcon'
import CrawlerConnector from './CrawlerPlatformConnector'
import FacebookConnector from './FacebookPlatformConnector'
import GoogleConnector from './GooglePlatformConnector'
import InstagramConnector from './InstagramPlatformConnector'
import { mapGetters } from 'vuex'
import SuccessIcon from '@/components/UIComponents/Icons/SuccessIcon'

export default {
  name: 'PlatformList',
  data() {
    return {
      showConnectorComponent: false,
      currentSelectedPlatform: null,
      showInfoDialog: false,
    }
  },
  components: {
    SuccessIcon,
    CrawlerConnector,
    FacebookConnector,
    GoogleConnector,
    InstagramConnector,
    PlatformIcon,
  },
  props: {
    platforms: {
      type: Array,
      default: [],
    },
    location: {
      type: Object,
      default: null,
    },
  },
  computed: {
    ...mapGetters([
      'getAllPlatforms',
    ]),
    platformInfo() {
      return this.currentSelectedPlatform ? this.currentSelectedPlatform.info : ''
    },
  },
  methods: {
    onPlatformClick(platform) {
      if (this.isPlatformConnected(platform)) return
      this.currentSelectedPlatform = platform

      if (platform.info) {
        this.showInfoDialog = true
      } else {
        this.startPlatformConnector()
      }
    },
    startPlatformConnector() {
      this.$store.commit('setCurrentConnectionPlatform', this.currentSelectedPlatform)
      this.showConnectorComponent = true
      this.getPlatformRef(this.currentSelectedPlatform).start()
    },
    onConfirmInfoDialog() {
      this.startPlatformConnector()
    },
    importReviews(representation, location, userId) {
      const platform = this.getAllPlatforms.find(platform => platform.name === representation.platform)
      this.getPlatformRef(platform).importReviews(representation, location, userId)
    },
    getPlatformRef(platform) {
      return platform.type === 'crawler'
        ? this.$refs.crawlerConnector
        : this.$refs[`${platform.name}Connector`]
    },
    isPlatformConnected(platform) {
      return !!this.representationForPlatform(platform)
    },
    representationForPlatform(platform) {
      if (!this.location || !this.location.representations) return false
      return this.location.representations.find(representation => representation.platform === platform.name)
    },
    onRepresentationSelected(representation) {
      this.$emit('on-representation-selected', {
        representation,
        platform: this.currentSelectedPlatform,
      })
    },
  },
}
</script>

<style scoped lang="scss">
    .md-list-item {
        text-align: center;
        .md-list-item-text {
            text-align: center;
        }
    }
</style>
