<template>
  <md-dialog v-bind="$attrs" v-on="$listeners">
    <md-dialog-title>{{$t('settings.connections.directReply.title')}}</md-dialog-title>
    <md-content class="dialog-content">
      <div class="md-layout md-gutter md-alignment-top-center">
        <p class="md-layout-item md-size-100">{{$t('settings.connections.directReply.description')}}</p>
        <br>
        <br>
        <br>
        <p v-for="(step, index) in representation.steps"
           :key="index"
           class="md-layout-item md-size-100">{{index + 1}}. {{$t(step)}}</p>
      </div>
      <br>
      <div v-if="hasImages" class="md-layout md-gutter">
        <img v-for="(image, index) in representation.images"
             :key="index"
             :src="image"
             class="md-layout-item md-size-30"
             v-img/>
      </div>
    </md-content>
    <md-dialog-actions>
      <md-button class="md-primary" @click="onConfirm">{{$t('message.ok')}}</md-button>
    </md-dialog-actions>
  </md-dialog>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'PlatformExplanationDialog',
  props: {
    platformName: String,
  },
  computed: {
    ...mapGetters([
      'getAllPlatforms',
    ]),
    representation() {
      return this.getAllPlatforms.find(platform => platform.name === this.platformName)
    },
    hasImages() {
      return this.representation.images && this.representation.images.length > 0
    },
  },
  methods: {
    onConfirm() {
      this.$emit('confirmed')
    },
  },
}
</script>

<style scoped>

  .dialog-content {
    height: 100%;
    padding-left: 25px;
    padding-right: 25px;
    overflow-y: scroll !important;
  }

  .md-dialog {
    flex-flow: row;
  }

</style>
