$header-height: 64px !default;
$content-height: calc(100vh - #{$header-height}) !default;

//$review-primary-color: #dd2475;
//$review-accent-color: #f04c37;

$review-primary-color: #2592e1;
$review-accent-color: #1570DB;
$review-light-color: #96C8E8;
//$review-accent-color: darken($review-primary-color, 30%);
$review-background-blue: #4096DB;

$facebookColor: #4267b2;
$instagramColor: #000;
$yelpColor: #cd1f20;
$googleColor: #ed372c;
$tripadvisorColor: #009c75;
$opentableColor: #da3743;

$warning-color: red;

$starGreenColor: #31B404;
$starOrangeColor: #F39C12;
$starRedColor: #CC0000;

$dividerColor: rgba(0, 0, 0, 0.12);
$gridCardBackgroundColor: #f4f3f4;
$gridcardBorderColor: #D8D8D8;


// screen layout sizes
$xsmall: 600px;
$small: 960px;
$medium: 1280px;
$large: 1920px;
$xlarge: calc(1px + #{$large});
$bigger-than-small: calc(1px + #{$small});

//small devices
@mixin small-screen {
    @media (max-width: #{$small}) {
        @content;
    }
}

@mixin xsmall-screen {
    @media (max-width: #{$xsmall}) {
        @content;
    }
}

@mixin medium-screen {
    @media (max-width: #{$medium}) {
        @content
    }
}

@mixin small-and-below {
    @media (max-width: #{$small}) {
        @content;
    }
}

@mixin bigger-than-small-screen {
    @media (min-width: #{$bigger-than-small}) {
        @content;
    }
}

//ReviewCard sizes
$reviewcard-left: 206px;
