<template>
    <div>
        <md-button class="md-primary" to="/actions/update-reviews">Update reviews</md-button>
        <md-button class="md-primary" to="/actions/delete-reviews">Delete reviews</md-button>
        <md-button class="md-primary" to="/actions/generic-send">Generic request</md-button>
        <md-button class="md-primary" to="/actions/resyncing-representation">Resync representation</md-button>
        <md-button class="md-primary" to="/actions/send-newsletter">Send newsletter</md-button>
        <md-divider/>
        <router-view class="md-layout"/>
    </div>
</template>

<script>
export default {
  name: 'AdminActions',
}
</script>

<style scoped>

</style>
