<template>
    <div>
        <h2>{{headerText(request)}}</h2>
        <label-value-item label="First name" :value="request.firstName"/>
        <label-value-item label="Last name" :value="request.lastName"/>
        <label-value-item label="Email" :value="request.email"/>
        <label-value-item label="Phone" :value="request.phone"/>
        <label-value-item label="Wished time" :value="wishedTime(request)"/>
        <label-value-item label="Created" :value="request.timestamp"/>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import moment from 'moment'
import LabelValueItem from '@/components/Admin/Views/LabelValueItem'

export default {
  name: 'ContactRequestDetail',
  components: { LabelValueItem },
  computed: {
    contactRequestId() {
      return this.$route.params.id
    },
    ...mapGetters([
      'locations',
      'users',
      'contactRequests',
    ]),
    request() {
      return this.contactRequests.find(request => request.id === this.contactRequestId)
    },
  },
  methods: {
    headerText(request) {
      let salutation = request.firstName ? `${request.firstName} ` : ''
      salutation = salutation + request.lastName ? `${request.lastName} ` : ''
      salutation = salutation + request.lastName ? `${request.lastName} ` : ''
      return `Contact requested from ${salutation} at ${request.timestamp}`
    },
    wishedTime(request) {
      if (!request.date || request.date.length === 0) return 'At any time'
      const dayPart = moment(request.date.toDate()).format('DD.MM.YYYY')
      if (!request.time || !request.time.HH || request.time.HH.length === 0) return `At the ${dayPart}. No specific time was chosen.`
      return `At ${dayPart} ${request.time.HH}:${request.time.mm}`
    },
  },
}
</script>

<style scoped>

</style>
