<template>
    <md-card class="md-layout">
        <div class="md-layout-item md-size-80 md-layout">
            <div class="md-layout-item md-size-100">{{text}}</div>
        </div>
        <div class="md-layout-item md-size-20 md-layout md-alignment-center-right">
            <router-link class="md-layout-item" :to="{ path: '/contact-request/'+contactRequest.id}">
                <md-button>
                    <md-icon>arrow_right</md-icon>
                </md-button>
            </router-link>

        </div>
    </md-card>
</template>

<script>
export default {
  name: 'ContactRequestCard',
  props: {
    contactRequest: {
      type: Object,
      required: true,
    },
  },
  computed: {

  },
}
</script>

<style scoped>

</style>
