<template>
    <div>
        <h2>{{getHeaderText(task)}}</h2>
        <p class="p-error" v-if="!!task.error">Fehlercode: {{task.error.code}}. Message: {{task.error.message}}</p>
        <div row class="md-layout md-gutter">
            <md-button :to="`/user/${getUserForTask(task).id}`" class="md-layout-item md-primary md-size-30">{{getUserForTask(task).email}}</md-button>
            <md-button :to="getLocationTo(task)" class="md-layout-item md-primary md-size-30" :disabled="isLocationDeleted(task)">{{getLocationForTask(task) ? getLocationForTask(task).name : 'Deleted location'}}</md-button>
            <md-button target="_blank" :href="task.startUrl" class="md-layout-item md-primary md-size-30">Website</md-button>
        </div>
        <label-value-item label="Created" :value="created"/>
        <label-value-item label="id" :value="task.id"/>
        <label-value-item label="locationId" :value="task.locationId"/>
        <label-value-item label="Progress reviews" :value="task.progress"/>
        <label-value-item label="URL" :value="task.startUrl"/>
        <label-value-item label="State" :value="task.state"/>
        <label-value-item label="UserId" :value="task.userId"/>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import LabelValueItem from '@/components/Admin/Views/LabelValueItem'
import moment from 'moment'

export default {
  name: 'CrawlerTaskDetail',
  components: { LabelValueItem },
  computed: {
    taskId() {
      return this.$route.params.id
    },
    ...mapGetters([
      'crawlerTasks',
      'locations',
      'users',
    ]),
    task() {
      return this.crawlerTasks.find(task => task.id === this.taskId)
    },
    created() {
      return moment(this.task.created).format('DD.MM.YYYY h:mm:ss')
    },
  },
  methods: {
    getHeaderText(task) {
      const location = this.getLocationForTask(task)
      const locationText = location ? location.name : `Deleted location (id: ${task.locationId})`
      return `${task.platform} - ${locationText}`
    },
    getLocationForTask(task) {
      return this.locations.find(location => location.id === task.locationId)
    },
    isLocationDeleted(task) {
      return !this.getLocationForTask(task)
    },
    getUserForTask(task) {
      return this.users.find(user => user.id === task.userId)
    },
    getLocationTo(task) {
      const location = this.getLocationForTask(task)
      if (!location) return null
      return `/location/${location.id}`
    },
  },
}
</script>

<style scoped>
    .p-error {
        color: red;
    }
</style>
