<template>
    <md-card>
        <md-card-header>
            <div class="md-title">Crawler status</div>
        </md-card-header>

        <md-card-content>
            <h4>During the last synchronisation {{countDoneCrawlerTasks}} of {{countCrawlerTasks}} did run successfully.</h4>
            <h5>The following tasks did fail</h5>
            <info-card v-for="task in notDoneCrawlerTasks"
                       :key="task.id"
                       :header="getHeaderText(task)"
                       :description="task.startUrl"
                       :path="`/crawler-task/${task.id}`"/>
            <h5 v-if="countZeroProgressCrawlerTasks">The following tasks succeeded but progressed 0 reviews.</h5>
            <info-card v-for="task in zeroProgressCrawlerTasks"
                       :key="task.id"
                       :header="getHeaderText(task)"
                       :description="task.startUrl"
                       :path="`/crawler-task/${task.id}`"/>
        </md-card-content>
    </md-card>
</template>

<script>
import { mapGetters } from 'vuex'
import InfoCard from '@/components/Admin/Views/InfoCard'

export default {
  name: 'CrawlerStatusCard',
  components: { InfoCard },
  computed: {
    ...mapGetters([
      'crawlerTasks',
      'doneCrawlerTasks',
      'notDoneCrawlerTasks',
      'zeroProgressCrawlerTasks',
      'locations',
    ]),
    countCrawlerTasks() {
      return this.crawlerTasks.length
    },
    countDoneCrawlerTasks() {
      return this.doneCrawlerTasks.length
    },
    countZeroProgressCrawlerTasks() {
      return this.zeroProgressCrawlerTasks.length
    },
  },
  methods: {
    getHeaderText(task) {
      const location = this.getLocationForTask(task)
      const locationText = location ? location.name : `Deleted location (id: ${task.locationId})`
      return `${task.platform} - ${locationText}`
    },
    getLocationForTask(task) {
      return this.locations.find(location => location.id === task.locationId)
    },
  },
}
</script>

<style scoped>

</style>
