<template>
  <form novalidate class="md-layout" @submit.prevent="send">
    <md-card class="md-list-item md-size-100">
      <md-card-header>
        <div class="md-title">Delete Reviews</div>
      </md-card-header>
      <md-card-content>
        <div class="md-layout md-gutter">
          <div class="md-layout-item md-size-100">
            <md-field>
              <label for="userId">userId</label>
              <md-input name="userId" id="userId" v-model="userId"/>
            </md-field>
          </div>
          <div class="md-layout-item md-size-100">
            <md-field>
              <label for="before">before</label>
              <md-input type="date" name="before" id="before" v-model="before"/>
            </md-field>
          </div>
          <div class="md-layout-item md-size-100">
            <md-field>
              <label for="after">after</label>
              <md-input type="date" name="after" id="after" v-model="after"/>
            </md-field>
          </div>
        </div>
      </md-card-content>

      <md-card-actions>
        <md-button class="md-primary" @click="onSend">Löschen</md-button>
      </md-card-actions>
    </md-card>
  </form>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'DeleteReviews',
  data() {
    return {
      userId: null,
      before: null,
      after: null,
    }
  },
  methods: {
    onSend() {
      const input = prompt('Do you really want to delete reviews? Then type \'Yes, i am sure\'')
      if (input !== 'Yes, i am sure') {
        return
      }
      this.send()
    },
    send() {
      const data = {
        userId: this.userId,
        after: this.after ? (new Date(this.after)).toISOString() : null,
        before: this.before ? (new Date(this.before)).toISOString() : null,
      }
      this.bulkDeleteReviews(data).then(() => {
        alert('Bulk deletion was successful')
      }).catch((e) => {
        alert(e)
      })
    },
    ...mapActions([
      'bulkDeleteReviews',
    ]),
  },
}
</script>

<style scoped>

</style>
