<template>
  <div class="md-layout">
    <direct-tasks
      v-for="userId in directUserIds"
      :key="userId"
      :user-id="userId"
      :direct-tasks="tasksForUser(userId)"
      class="md-layout-item md-size-45"
      />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import DirectTasks from './direct/DirectTasks.vue'

export default {
  name: 'Direct',
  components: { DirectTasks },
  computed: {
    ...mapGetters([
      'directUsers',
      'directTasks',
    ]),
    directUserIds() {
      return this.directUsers.map(user => user.userId)
    },
  },
  methods: {
    tasksForUser(userId) {
      return this.directTasks.filter(task => task.userId === userId)
    },
  },
}
</script>

<style scoped>

</style>
