<template>
    <md-card class="md-layout">
        <md-icon class="md-layout-item md-size-10">{{typeIcon}}</md-icon>
        <div class="md-layout-item md-size-90 md-layout">
            <b class="md-layout-item md-size-100">{{event.name}}</b>
            <div class="md-layout-item md-size-100">{{timestampDisplay}}</div>
            <div class="md-layout-item md-size-100">{{dataDisplay}}</div>
        </div>
    </md-card>
</template>

<script>
import DateHelper from '../../helper/DateHelper'

export default {
  name: 'EventCard',
  props: {
    event: {
      type: Object,
      required: true,
    },
  },
  computed: {
    typeIcon() {
      if (this.event.type === 'visit') {
        return 'visibility'
      } if (this.event.type === 'action') {
        return 'touch_app'
      } if (this.event.type === 'error') {
        return 'error'
      }

      return 'priority_high'
    },
    dataDisplay() {
      return this.event.data ? JSON.stringify(this.event.data) : ''
    },
    timestampDisplay() {
      return DateHelper.getDateFromTimestamp(this.event.timestamp).toLocaleString()
    },
  },
}
</script>

<style scoped>

    .md-card {
        margin: 5px;
        padding: 5px;
    }

</style>
