<template>
    <form novalidate class="md-layout md-layout-item md-size-100" @submit.prevent="send">
        <md-card class="md-list-item md-size-100">
            <md-card-header>
                <div class="md-title">Generic Request</div>
            </md-card-header>
            <md-card-content>
                <div class="md-layout md-gutter">
                    <div class="md-layout-item md-size-100">
                        <md-field>
                            <label for="endpoint">Endpoint</label>
                            <md-input name="endpoint" id="endpoint" v-model="endPoint"/>
                        </md-field>
                    </div>
                </div>
            </md-card-content>
            <md-card-actions>
                <md-button class="md-primary" @click="send">Senden</md-button>
            </md-card-actions>
        </md-card>
    </form>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'GenericRequest',
  data() {
    return {
      endPoint: '',
    }
  },
  methods: {
    send() {
      this.genericSend(this.endPoint).then((request) => {
        alert(JSON.stringify(request))
      }).catch((e) => {
        alert(JSON.stringify(e))
      })
    },
    ...mapActions([
      'genericSend',
    ]),
  },
}
</script>

<style scoped>

</style>
