<template>
  <md-card class="md-layout">
    <div class="md-layout-item md-size-80 md-layout">
      <b class="md-layout-item md-size-100">{{header}}</b>
      <div class="md-layout-item md-size-100">{{description}}</div>
    </div>
    <div class="md-layout-item md-size-20 md-layout md-alignment-center-right">
      <router-link class="md-layout-item" :to="path" v-if="!!path">
        <md-button>
          <md-icon>arrow_right</md-icon>
        </md-button>
      </router-link>

    </div>
  </md-card>
</template>

<script>
export default {
  name: 'InfoCard',
  props: {
    header: {
      type: String,
      default: '',
    },
    description: {
      type: String,
      default: '',
    },
    path: {
      type: String,
      default: '',
    },
  },
}
</script>

<style scoped>

  .md-card {
    margin: 5px;
    padding: 5px;
  }

</style>
