<template>
    <div class="md-layout md-alignment-center-left">
        <div class="md-layout-item md-size-20">
            <h5>{{label}}</h5>
        </div>
        <div class="md-layout-item md-size-80">
            <p>{{value}}</p>
        </div>
    </div>
</template>

<script>
export default {
  name: 'LabelValueItem',
  props: [
    'label',
    'value',
  ],
}
</script>

<style scoped>

</style>
