<template>
    <md-card>
        <md-card-header>
            <div class="md-title">The latest 3 contact requests</div>
        </md-card-header>

        <md-card-content>
            <info-card v-for="request in requests"
                       :key="request.id"
                       :header="headerText(request)"
                       :description="request.timestamp"
                       :path="`/contact-request/${request.id}`"/>
        </md-card-content>
    </md-card>
</template>

<script>
import { mapGetters } from 'vuex'
import ContactRequestCard from '@/components/Admin/Views/ContactRequestCard'
import InfoCard from '@/components/Admin/Views/InfoCard'

export default {
  name: 'LastContactRequestsCard',
  components: { InfoCard, ContactRequestCard },
  computed: {
    ...mapGetters({
      requests: 'lastThreeContactRequests',
    }),
  },
  methods: {
    headerText(request) {
      let salutation = request.firstName ? `${request.firstName} ` : ''
      salutation = salutation + request.lastName ? `${request.lastName} ` : ''
      salutation = salutation + request.lastName ? `${request.lastName} ` : ''
      return `Contact requested from ${salutation} at ${request.timestamp}`
    },
  },
}
</script>

<style scoped>
    .md-card-content * {
        margin-bottom: 4px;
    }
</style>
