<template>
    <div>
        <h2>Location Detail</h2>
        <label-value-item label="Id" :value="location.id"/>
        <label-value-item label="Name" :value="location.name"/>
        <label-value-item label="User" :value="''"/>
            <md-button :to="`/user/${getUserForLocation(location).id}`" class="md-primary">{{getUserForLocation(location).email}}</md-button>
        <label-value-item label="Representations" :value="''"/>
            <info-card v-for="representation in location.representations"
                       :header="representation.platform"
                       :description="getDescriptionForRepresentation(representation)"
                       :path="`/review/${representation.id}`"
                       :key="representation.id"/>
        <label-value-item label="Reviews" :value="reviewCount"/>
            <info-card v-for="info in reviewInfo"
                       :header="info.header"
                       :description="info.description"
                       :path="''"
        />
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import InfoCard from './InfoCard.vue'
import LabelValueItem from './LabelValueItem.vue'

export default {
  name: 'LocationDetail',
  components: { InfoCard, LabelValueItem },
  computed: {
    locationId() {
      return this.$route.params.id
    },
    location() {
      return this.locations.find(location => this.locationId === location.id)
    },
    reviewsAvailable() {
      return Reflect.ownKeys(JSON.parse(JSON.stringify(this.adminReviews))).length > 0
    },
    reviews() {
      if (!this.reviewsAvailable) {
        return []
      }

      return this.adminReviews[this.locationId] ? this.adminReviews[this.locationId] : []
    },
    reviewCount() {
      if (!this.reviewsAvailable) {
        return 'Keine Reviews vorhanden'
      }
      return this.reviews.length
    },
    reviewInfo() {
      const reviewInfo = []
      if (!this.reviewsAvailable) {
        return reviewInfo
      }

      this.location.representations.forEach((representation) => {
        const repReviews = this.reviews.filter(review => review.platform === representation.platform)
        reviewInfo.push({
          header: representation.platform,
          description: `${repReviews.length} Reviews`,
        })
      })

      return reviewInfo
    },
    ...mapGetters([
      'locations',
      'adminReviews',
      'users',
    ]),
  },
  methods: {
    getDescriptionForRepresentation: (representation) => {
      let text = representation.type === 'api' ? representation.info.name : representation.url
      if (representation.externalReviewCount) {
        text = `${text} - ext reviews: ${representation.externalReviewCount}`
      }
      return text
    },
    getUserForLocation(location) {
      return this.users.find(user => user.id === location.userId)
    },
  },
  created() {
    this.$store.dispatch('fetchReviewsForLocation', { locationId: this.locationId })
  },
}
</script>

<style scoped>

</style>
