<template>
    <div>
        <form novalidate class="md-layout md-alignment-center" @submit.prevent="login">
            <md-card class="md-layout-item md-size-50 md-small-size-100">
                <md-card-header>
                    <div class="md-title">Login</div>
                </md-card-header>

                <md-card-content>
                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-field>
                                <label for="email">Email</label>
                                <md-input name="email" id="email" autocomplete="email" v-model="email"/>
                            </md-field>
                            <md-field>
                                <label for="password">Password</label>
                                <md-input type="password" autocomplete="current-password" name="password" id="password" v-model="password"/>
                            </md-field>
                            <md-button type="submit" class="md-primary">Login</md-button>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </form>
    </div>
</template>

<script>
export default {
  name: 'Login',
  data() {
    return {
      email: null,
      password: null,
    }
  },
  methods: {
    login() {
      this.$store.dispatch('login', {
        email: this.email,
        password: this.password,
      }).then(() => {
        this.$router.replace('/user')
      }).catch((error) => {
        alert(error.message)
      })
    },
  },

}
</script>

<style scoped>

</style>
