<template>
    <md-card>
        <md-card-header>
            <div class="md-title">{{title}}</div>
        </md-card-header>

        <md-card-content>
            <info-card v-for="user in userData"
                       :header="getHeader(user)"
                       :description="user.id"
                       :path="`/user/${user.id}`"
                       :key="user.id"/>
        </md-card-content>
    </md-card>
</template>

<script>
import { mapGetters } from 'vuex'
import moment from 'moment'
import InfoCard from './InfoCard.vue'

export const ModeEnum = Object.freeze({
  newUsers: 1,
  trialUsers: 2,
})

export default {
  name: 'NewUsersCard',
  components: { InfoCard },
  props: ['mode'],
  computed: {
    ...mapGetters([
      'users',
    ]),
    title() {
      switch (this.mode) {
        case ModeEnum.newUsers: return 'New users in the last 8 days'
        case ModeEnum.trialUsers: return 'Users in trial period'
        default: return ''
      }
    },
    userData() {
      switch (this.mode) {
        case ModeEnum.newUsers: return this.createdUsersInLastDays(this.users, 8)
        case ModeEnum.trialUsers: return this.createdUsersInLastDays(this.users, 14)
        default: return []
      }
    },
  },
  methods: {
    getHeader(user) {
      const created = moment(user.metadata.creationTime)
      const formattedDate = created.format('DD.MM HH:mm')
      return `${user.email} - created: ${formattedDate}`
    },
    creationMoment(user) {
      return moment(user.metadata.creationTime)
    },
    createdUsersInLastDays(users, days) {
      return users.filter((user) => {
        const created = this.creationMoment(user)
        const duration = moment.duration(moment().diff(created))
        return duration.asDays() < days
      }).sort((left, right) => {
        const leftCreation = this.creationMoment(left)
        const rightCreation = this.creationMoment(right)
        return leftCreation.diff(rightCreation) * -1
      })
    },
  },
}
</script>

<style scoped>

</style>
