<template>
    <div>
        <h1>Nix gefunden</h1>
        <p>Hey lieber Respondo-Admin. Irgendwie bist du in der Leere gelandet. Hmmm....</p>
    </div>
</template>

<script>
export default {
  name: 'AdminNotFoundPage',
}
</script>

<style scoped>

</style>
