<template>
  <div>
    <h2>Representation Reviews</h2>
    <label-value-item label="Id" :value="representationId"/>
    <label-value-item label="Location" :value="''"/>
    <md-button :to="`/location/${locationId}`" class="md-primary">{{location.name}}</md-button>

    <review-card v-for="review in reviews"
               :key="review.id"
               :review="review"/>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import ReviewCard from './ReviewCard.vue'
import LabelValueItem from './LabelValueItem.vue'
import DateHelper from "../../helper/DateHelper";

export default {
  name: 'RepresentationReviews',
  components: { ReviewCard, LabelValueItem },
  computed: {
    ...mapGetters([
      'locations',
      'adminReviews',
    ]),
    representationId() {
      return this.$route.params.id
    },
    locationId() {
      return this.representationId.split('_')[1]
    },
    location() {
      return this.locations.find(location => location.id === this.locationId)
    },
    reviews() {
      return this.adminReviews[this.locationId]
        .filter(review => review.representationId === this.representationId)
        .sort((review1, review2) => (DateHelper.getDateFromTimestamp(review2.created) - DateHelper.getDateFromTimestamp(review1.created)))
        .splice(0, 10)
    },
  },
}
</script>

<style scoped>

</style>
