<template>
    <form novalidate class="md-layout" @submit.prevent="send">
        <md-card class="md-list-item md-size-100">
            <md-card-header>
                <div class="md-title">Resync representation</div>
            </md-card-header>
            <md-card-content>
                <div class="md-layout md-gutter">
                    <div class="md-layout-item md-size-100">
                        <md-field>
                            <label for="userId">userId</label>
                            <md-input name="userId" id="userId" v-model="userId"/>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-size-100">
                        <md-field>
                            <label for="userId">locationId</label>
                            <md-input name="locationId" id="locationId" v-model="locationId"/>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-size-100">
                        <md-field>
                            <label for="userId">representationId</label>
                            <md-input name="representationId" id="representationId" v-model="representationId"/>
                        </md-field>
                    </div>
                </div>
            </md-card-content>
            <md-card-actions>
                <md-button class="md-primary" @click="send">Senden</md-button>
            </md-card-actions>
        </md-card>
    </form>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'ResyncRepresentation',
  data() {
    return {
      userId: null,
      locationId: null,
      representationId: null,
    }
  },
  methods: {
    send() {
      const data = {
        userId: this.userId,
        locationId: this.locationId,
        representationId: this.representationId,
      }
      this.resyncRepresentation(data).then(() => {
        alert('Resyncing was successful')
      }).catch((e) => {
        alert(e)
      })
    },
    ...mapActions([
      'resyncRepresentation',
    ]),
  },
}
</script>

<style scoped>

</style>
