<template>
  <md-card class="md-layout">
    <div class="md-layout-item md-size-80 md-layout">
      <div class="header md-layout-item md-size-100"><b>{{review.reviewer.name}}</b></div>
      <div class="review-id md-layout-item md-size-100">{{review.id}}</div>
      <div class="md-layout-item md-size-100">{{review.text}}</div>
      <div class="md-layout-item md-size-100">{{created}}</div>
      <div class="md-layout-item md-size-100">{{review.state}}</div>
      <div class="md-layout-item md-size-100">{{review.response}}</div>
    </div>
  </md-card>
</template>

<script>
import DateHelper from '../../helper/DateHelper'

export default {
  name: 'ReviewCard',
  props: ['review'],
  computed: {
    created() {
      return DateHelper.getFormattedDateForReview(this.review)
    },
  }
}
</script>

<style scoped>

  .md-card {
    margin: 5px;
    padding: 5px;
  }

  .review-id {
    margin-top: 10px;
  }

</style>
