<template>
  <form novalidate class="md-layout" @submit.prevent="send">
    <md-card class="md-list-item md-size-100">
      <md-card-header>
        <div class="md-title">Send newsletter</div>
      </md-card-header>
      <md-card-content>
        <div class="md-layout md-gutter">
          <div class="md-layout-item md-size-100">
            <md-field>
              <label>templateId</label>
              <md-input v-model="templateId"/>
            </md-field>
          </div>
        </div>
      </md-card-content>
      <md-card-actions>
        <md-button class="md-primary" @click="send">Senden</md-button>
      </md-card-actions>
    </md-card>
  </form>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'SendNewsletter',
  data() {
    return {
      templateId: null,
    }
  },
  methods: {
    send() {
      const data = {
        templateId: this.templateId,
      }
      this.sendNewsletter(data).then(() => {
        alert('Send newsletter was successful')
      }).catch((e) => {
        alert(e)
      })
    },
    ...mapActions([
      'sendNewsletter',
    ]),
  },
}
</script>

<style scoped>

</style>
