<template>
    <div>
        <h2>Status</h2>
        <new-users-card class="status-card md-primary offset" :mode="1"/>
        <new-users-card class="status-card md-primary offset" :mode="2"/>
        <last-contact-requests-card class="status-card md-primary offset"/>
        <crawler-status-card class="status-card md-primary offset"/>
    </div>
</template>

<script>
import NewUsersCard from './NewUsersCard.vue'
import LastContactRequestsCard from './LastContactRequestsCard.vue'
import CrawlerStatusCard from './CrawlerStatusCard.vue'

export default {
  components: { CrawlerStatusCard, LastContactRequestsCard, NewUsersCard },
}
</script>

<style scoped lang="scss">
    @import "../../../assets/sass/variables";

    .offset {
        margin-bottom: 20px;
    }

    .status-card.md-primary {
        background-color: $review-primary-color !important;
    }

    .status-card.md-accent {
        background-color: $review-accent-color !important;
    }
</style>
