<template>
    <form novalidate class="md-layout" @submit.prevent="send">
        <md-card class="md-list-item md-size-100">
            <md-card-header>
                <div class="md-title">Update Reviews</div>
            </md-card-header>
            <md-card-content>
                <div class="md-layout md-gutter">
                    <div class="md-layout-item md-size-100">
                        <md-field>
                            <label for="userId">userId</label>
                            <md-input name="userId" id="userId" v-model="userId"/>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-size-100">
                        <md-field>
                            <label for="state">state</label>
                            <md-select name="state" id="state" md-dense v-model="state">
                                <md-option value="seen">seen</md-option>
                                <md-option value="unseen">unseen</md-option>
                            </md-select>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-size-100">
                        <md-field>
                            <label for="before">before</label>
                            <md-input type="date" name="before" id="before" v-model="before"/>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-size-100">
                        <md-field>
                            <label for="after">after</label>
                            <md-input type="date" name="after" id="after" v-model="after"/>
                        </md-field>
                    </div>
                </div>
            </md-card-content>

            <md-card-actions>
                <md-button class="md-primary" @click="send">Senden</md-button>
            </md-card-actions>
        </md-card>
    </form>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'UpdateReviews',
  data() {
    return {
      userId: null,
      before: null,
      after: null,
      state: null,
    }
  },
  methods: {
    send() {
      const data = {
        userId: this.userId,
        state: this.state,
        after: this.after ? (new Date(this.after)).toISOString() : null,
        before: this.before ? (new Date(this.before)).toISOString() : null,
      }
      this.bulkUpdateReviews(data).then(() => {
        alert('Bulk update was successful')
      }).catch((e) => {
        alert(e)
      })
    },
    ...mapActions([
      'bulkUpdateReviews',
    ]),
  },
}
</script>

<style scoped>

</style>
