<template>
  <md-card class="md-layout">
    <div class="md-layout-item md-size-80 md-layout">
      <div class="header md-layout-item md-size-100"><b>{{header}}</b></div>
      <div class="description md-layout-item md-size-100"><md-icon>perm_identity</md-icon> {{description}}</div>
      <div class="md-layout-item md-size-100"><md-icon>calendar_today</md-icon> {{created}}</div>
      <div class="md-layout-item md-size-100"><md-icon>watch_later</md-icon> {{lastActive}}</div>
    </div>
    <div class="md-layout-item md-size-20 md-layout md-alignment-center-right">
      <router-link class="md-layout-item" :to="path" v-if="!!path">
        <md-button>
          <md-icon>arrow_right</md-icon>
        </md-button>
      </router-link>
    </div>
  </md-card>
</template>

<script>
export default {
  name: 'InfoCard',
  props: {
    header: {
      type: String,
      default: '',
    },
    description: {
      type: String,
      default: '',
    },
    path: {
      type: String,
      default: '',
    },
    created: {
      type: String,
      default: '',
    },
    lastActive: {
      type: String,
      default: '',
    },
  },
}
</script>

<style scoped>

  .md-card {
    margin: 5px;
    padding: 5px;
  }

  .description {
    margin-top: 10px;
  }

</style>
