<template>
  <div>
    <md-progress-spinner v-if="isLoadingUsers" md-mode="indeterminate"></md-progress-spinner>

    <div class="md-layout">
      <md-field md-clearable class="md-layout-item md-size-50">
        <label>Search for user</label>
        <md-input v-model="searchText"></md-input>
      </md-field>

      <md-switch :model="showColors" @change="onChangeColor" class="md-layout-item md-size-10">Farben</md-switch>
      <md-switch :model="onlyMetro" @change="onChangeMetro" class="md-layout-item md-size-10">Nur Metro</md-switch>

      <md-menu class="md-layout-item md-size-20" :md-active="showSortMenu" md-direction="bottom-start">
        <md-button md-menu-trigger @click="showSortMenu = true">
          {{sortMenuTitle}}
        </md-button>
        <md-menu-content>
          <md-menu-item @click="sortMode = 0">{{sortMenuString(0)}}</md-menu-item>
          <md-menu-item @click="sortMode = 1">{{sortMenuString(1)}}</md-menu-item>
          <md-menu-item @click="sortMode = 2">{{sortMenuString(2)}}</md-menu-item>
          <md-menu-item @click="sortMode = 3">{{sortMenuString(3)}}</md-menu-item>
          <md-menu-item @click="sortMode = 4">{{sortMenuString(4)}}</md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>

    <user-card v-for="user in filteredUsers"
               :header="userName(user)"
               :description="user.id"
               :created="created(user)"
               :last-active="lastActive(user)"
               :path="`/user/${user.id}`"
               :key="user.id"
               :class="getClass(user)"/>

  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import moment from 'moment'
import UserCard from './UserCard.vue'
import DateHelper from '../../helper/DateHelper'

export default {
  data() {
    return {
      searchText: '',
      /**
       0 - userId asc (default)
       1 - created desc
       2 - created asc
       3 - last active desc
       4 - last active asc
       */
      sortMode: 0,
      onlyMetro: false,
      showColors: false,
      showSortMenu: false,
    }
  },
  components: { UserCard },
  computed: {
    ...mapGetters([
      'users',
      'isLoadingUsers',
    ]),
    filteredUsers() {
      let { users } = this
      users = users.filter(user => this.userName(user).includes(this.searchText) || user.uid.includes(this.searchText))
      if (this.onlyMetro) {
        users = users.filter(user => user.isMetro)
      }
      switch (this.sortMode) {
        case 1:
          users = users.sort((user1, user2) => (DateHelper.getDateFromTimestamp(user2.metadata.creationTime) - DateHelper.getDateFromTimestamp(user1.metadata.creationTime)))
          break
        case 2:
          users = users.sort((user1, user2) => (DateHelper.getDateFromTimestamp(user1.metadata.creationTime) - DateHelper.getDateFromTimestamp(user2.metadata.creationTime)))
          break
        case 3:
          users = users.sort((user1, user2) => (DateHelper.getDateFromTimestamp(user2.lastActiveTime) - DateHelper.getDateFromTimestamp(user1.lastActiveTime)))
          break
        case 4:
          users = users.sort((user1, user2) => (DateHelper.getDateFromTimestamp(user1.lastActiveTime) - DateHelper.getDateFromTimestamp(user2.lastActiveTime)))
          break
        default:
          break
      }
      return users
    },
    sortMenuTitle() {
      return this.sortMenuString(this.sortMode)
    },
  },
  methods: {
    userName(user) {
      return user.email ? user.email : user.displayName
    },
    created(user) {
      return DateHelper.getFormattedDateForTimestamp(user.metadata.creationTime)
    },
    lastActive(user) {
      return user.lastActiveTime ? DateHelper.getFormattedDateForTimestamp(user.lastActiveTime) : ''
    },
    sortMenuString(id) {
      switch (id) {
        case 0: return 'UserId aufsteigend'
        case 1: return 'Erstellt absteigend'
        case 2: return 'Erstellt aufsteigend'
        case 3: return 'Zuletzt aktiv absteigend'
        case 4: return 'Zuletzt aktiv aufsteigend'
        default: return 'UserId aufsteigend'
      }
    },
    onChangeMetro() {
      this.onlyMetro = !this.onlyMetro
    },
    onChangeColor() {
      this.showColors = !this.showColors
    },
    getClass(user) {
      if (!this.showColors) {
        return ''
      }
      if (!user.lastActiveTime) {
        return 'red'
      }
      const timeDiff = moment(user.lastActiveTime).diff(moment(), 'day')
      if (timeDiff <= -30) {
        return 'red'
      } if (timeDiff <= -14) {
        return 'yellow'
      }
      return 'green'
    },
  },
}
</script>

<style scoped>

  .red {
    background-color: #ff000077;
  }

  .yellow {
    background-color: #ffff0077;
  }

  .green {
    background-color: #00ff0077;
  }

</style>
