<template>
    <div>
        <md-dialog-prompt
            :md-active.sync="showPipedriveIdPrompt"
            @md-confirm="onNewPipedriveId"
            md-title="Pipedrive Id"
            md-input-placeholder="Id"
            md-confirm-text="Submit" />

        <h2>User Detail</h2>
        <label-value-item label="User-Id" :value="user.id"/>
        <label-value-item label="Email" :value="user.email"/>
        <label-value-item label="Created" :value="user.metadata.creationTime"/>
        <label-value-item label="Last Login" :value="user.metadata.lastSignInTime"/>
        <label-value-item label="Last active time" :value="timestampDisplay(user.lastActiveTime)"/>
        <label-value-item label="Pipedrive Id" :value="user.pipedriveId"/>
            <md-button @click="onPipedriveButtonClicked" class="md-primary">Change</md-button>
        <label-value-item label="Email subscriptions" :value="''"/>
            <info-card v-for="(subscription, index) in user.subscriptions"
                       :header="subscription.name"
                       :description="subscription.type"
                       :key="index + 1"/>
        <label-value-item label="Chargebee" :value="''"/>
            <md-button :href="chargebeeLink" target="_blank" class="md-primary">Link</md-button>
        <label-value-item label="Locations" :value="''"/>
            <info-card v-for="location in locationsPerUser"
                :header="location.name"
                :description="location.id"
                :path="`/location/${location.id}`"
                :key="location.id"/>
        <label-value-item label="Events" :value="''"/>
            <event-card v-for="event in eventsPerUser"
                       :event="event"
                       :key="event.id"/>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import InfoCard from 'src/components/Admin/Views/InfoCard'
import EventCard from 'src/components/Admin/Views/EventCard'
import LabelValueItem from 'src/components/Admin/Views/LabelValueItem'
import DateHelper from '../../helper/DateHelper'

export default {
  name: 'UserDetail',
  components: { InfoCard, EventCard, LabelValueItem },
  data() {
    return {
      showPipedriveIdPrompt: false,
    }
  },
  computed: {
    uid() {
      return this.$route.params.id
    },
    user() {
      return this.users.find(user => this.uid === user.id)
    },
    locationsPerUser() {
      return this.locations.filter(location => this.uid === location.userId)
    },
    eventsAvailable() {
      return Reflect.ownKeys(JSON.parse(JSON.stringify(this.adminEvents))).length > 0
    },
    eventsPerUser() {
      if (!this.eventsAvailable || !this.adminEvents[this.uid]) {
        return []
      }
      return this.adminEvents[this.uid].sort((a, b) => a.timestamp - b.timestamp)
    },
    chargebeeLink() {
      return `https://${process.env.CHARGEBEE_SITE}.chargebee.com/customers?view_code=all&Customers.search=${this.uid}`
    },
    ...mapGetters([
      'users',
      'locations',
      'adminEvents',
    ]),
  },
  methods: {
    timestampDisplay(timestamp) {
      return timestamp ? DateHelper.getDateFromTimestamp(timestamp).toLocaleString() : 'n/a'
    },
    onPipedriveButtonClicked() {
      this.showPipedriveIdPrompt = true
    },
    onNewPipedriveId(value) {
      this.$store.dispatch('updatePipedriveId', { userId: this.uid, pipedriveId: value })
    },
  },
  created() {
    this.$store.dispatch('fetchEventsForUser', { userId: this.uid })
  },
}
</script>

<style scoped>

</style>
